[2021-10-14 21:35] pixelzoom opened #724 "Dev test: Normal Modes 1.0.0-dev.5"
@KatieWoe, @kathy-phet, @DianaTavares, normal-modes/1.0.0-dev.5 is ready for light dev testing.

This test is the beginning of the QA process for an eventual "prototype" release.

Document issues in https://github.com/phetsims/normal-modes/issues and link to this issue.

[Link to 1.0.0-dev.5]( https://phet-dev.colorado.edu/html/normal-modes/1.0.0-dev.5/phet/normal-modes_en_phet.html)

Assigning @k

[2021-10-18 15:20] #723 closed, assigned to pixelzoom, kathy-phet, arouinfar

[2021-10-18 15:44] DianaTavares commented on #724
I played with the sim, clicking in all the buttons, and the user can do crazy things, but the same happens with the flash sim. The masses can move anywhere and super fast. But the sim works and can be used as a prototype.

I leave it going crazy for several minutes and the sim never breaks. The masses can go outside the screen, but they come back. I don't find a big issue to stop the sim from goin

[2021-10-18 17:04] chrisklus opened #726 "Dev Test: Science Workshop OAS"
@DianaTavares, @kathy-phet, @KatieWoe, the "Science Workshop for the Caribbean" is ready for dev testing. The plan is for this to be used for a workshop starting on Wednesday 10/20, so we are attempting to publish it by tomorrow night (10/19). This is not going to be linked publicly on the website, as it is only going to be used for a conference. Please document issues in https://github.com/phetsi

[2021-10-18 23:54] pixelzoom opened #727 "RC test: Geometric Optics 1.0.0-rc.1"
@KatieWoe @kathy-phet @arouinfar @ariel-phet, geometric-optics/1.0.0-rc.1 is ready for RC-lite testing.

Document issues in https://github.com/phetsims/geometric-optics/issues and link to this issue.

This is an RC-lite test, for an eventual prototype publication.  It is general only, no PhET-iO, no a11y.

Assigning to @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General RC

[2021-10-19 22:45] KatieWoe commented on #726
QA has tested most of the things I think it can tonight

[2021-10-20 15:55] KatieWoe commented on #658
@liam-mulhall I believe this is done

[2021-10-21 00:30] ariel-phet commented on #724
Worked with @pixelzoom on a couple of quick refinements, I am going to pause dev testing for now since it will likely make most sense to test a new dev version with the refinements baked in.

[2021-10-21 17:22] #720 closed, assigned to kathy-phet, mattpen

[2021-10-21 18:38] #702 closed

[2021-10-27 19:18] pixelzoom opened #728 "Test Matrix spreadsheet shows > 100% for "Test Completion"."
I noticed this when looking at the Test Matrix for Geometric Optics, sheet "1.0.0-rc.1-lite".   See the screenshot below. "Test Completion" is 120.00% for Keyboard Nav, and 114.29% for Voicing.  This makes me wonder about the validity of the other "Test Completion" percentages.

Is there a problem with a computation in this spreadsheet, and/or the template spreadsheet?

<img width="727" alt="scree

[2021-10-27 19:20] #728 closed, assigned to KatieWoe

[2021-10-27 21:15] jessegreenberg opened #729 "RC Test: Gravity Force Lab: Basics 1.1.0-rc.3"
@emily-phet, @terracoda, @KatieWoe, gravity-force-lab-basics/1.1.0-rc.3 is ready for RC testing. This is a spot check RC following 1.1.0-rc.2. This version includes accessibility features but does not include PhET-iO. Issues to verify are listed under the "Accessibility" section. I tried to add a notes in some issues for how to verify. If anything isn't clear please let me know.

In addition to th

[2021-10-29 19:19] jbphet opened #730 "RC Spot Check: Greenhouse Effect 1.0.2-rc.1"
@KatieWoe, @kathy-phet, @arouinfar, @jbphet, greenhouse-effect/1.0.2-rc.1 is ready for RC testing.

This is an RC spot-check for PhET and PhET-iO brands.  It should be a super-quick RC test, since the only thing that
really needs to be verified is that the sim loads okay on MacOS Catalina + Safari 15.  See the "Issues to Verify"
section for more on this.

Document and new issues in https://github.

[2021-10-29 19:26] KatieWoe commented on #730
- [ ] Tester = , Platform = , Time =
- [ ] Tester = , Platform = , Time =
- [ ] Tester = , Platform = , Time =
- [ ] Tester = , Platform = , Time =

[2021-10-29 22:04] KatieWoe commented on #719
QA is done

[2021-10-29 23:23] mattpen commented on #719
Thanks @KatieWoe

[2021-10-29 23:23] #719 closed

[2021-10-31 17:13] pixelzoom commented on #727
Prototype 1.0.0 has been published.  Closing.

[2021-10-31 17:13] #727 closed

[2021-11-01 16:15] jbphet commented on #721
Thanks team!  I'll finish addressing the individual issues listed above and prep the next RC.  Closing.

[2021-11-01 16:15] #721 closed

[2021-11-01 19:51] KatieWoe commented on #715
Calling QA here

[2021-11-01 19:52] KatieWoe commented on #716
Calling QA here. https://github.com/phetsims/qa/issues/715 was more thorough, so I feel good about this as well.

[2021-11-01 21:25] jbphet opened #731 "RC Test: Balloons and Static Electricity 1.5.0-rc.3"
@emily-phet, @kathy-phet, and @arouinfar: balloons-and-static-electricity/1.5.0-rc.3 is ready for RC testing.  This is
the third RC to be published from the 1.5 branch, and is intended to address the issues found during the testing
of the preceding RCs.  The focus should therefore be on verifying that the listed issues are fixed, and that no new
problems have been introduced.  Please document issu

[2021-11-01 21:27] KatieWoe commented on #731
Changing label to RC-lite due to description. I'll make a test matrix with fewer tests done

[2021-11-01 21:46] pixelzoom commented on #724
In Slack, @KatieWoe said:

So I've published a new dev version, 1.0.0-dev.5.

Assigning @ariel-phet again, because this version contains the changes that he requested for the prototype.

[2021-11-02 18:20] ariel-phet commented on #724
Tested https://phet-dev.colorado.edu/html/normal-modes/1.0.0-dev.5/phet/normal-modes_en_phet.html mainly for physics and correctness  (looks like QA is catching good usability and such bugs).

I think for the purposes of a prototype it is in good shape. Just as a note, I think to truly take this sim to the finish line one day, the top priorities would be:
1. Constraints on the horizontal initial d

[2021-11-02 21:17] KatieWoe commented on #729
QA is done

[2021-11-02 21:24] KatieWoe commented on #724
QA is done

[2021-11-02 21:52] kathy-phet commented on #724
Don’t wait for me on this one. Just proceed off everyone else’s testing.

Sent from my iPhone

[2021-11-03 18:08] KatieWoe commented on #724
I did a quick memory test and things look good:
<img width="350" alt="memtest" src="https://user-images.githubusercontent.com/41024075/140167716-be6a9c9c-a70a-40aa-ae45-5b99c62f3e63.png">

[2021-11-03 18:11] pixelzoom commented on #724
Thanks QA and sim team. Onward to RC testing...

[2021-11-03 18:11] #724 closed

[2021-11-03 18:38] pixelzoom opened #732 "Dev test: Equality Explorer 1.1.0-dev.4"
@KatieWoe @kathy-phet @amanda-phet, equality-explorer/1.1.0-dev.4 is ready for light dev testing.

Document issues in https://github.com/phetsims/equality-explorer/issues and link to this issue.

This is a dev-lite test, which will be followed by a full RC test cycle.  The goal is to republish the sim with these new features, which should be specifically tested:

- [x] https://github.com/phetsims/

[2021-11-03 19:35] pixelzoom opened #733 "RC test: Normal Modes 1.0.0-rc.1"
@KatieWoe @kathy-phet @arouinfar @ariel-phet, normal-modes/1.0.0-rc.1 is ready for prototype testing. This simulation will be put on the website as a prototype and will likely have more bugs than a publication-ready simulation.

Document issues in https://github.com/phetsims/normal-modes/issues and link to this issue. **Issues should focus on base usability and pedagogy.**

Assigning to @kathy-phe

[2021-11-05 15:41] ariel-phet commented on #733
I looked over all the implemented changes, everything is looking nice, looking forward to QA's run through the sim

[2021-11-05 21:50] KatieWoe commented on #732
QA is done

[2021-11-08 19:15] KatieWoe commented on #731
QA is done

[2021-11-08 20:05] pixelzoom commented on #732
Since QA is done, I'm assuming this should be assigned to me, so I've self assigned.

phetsims/equality-explorer#169 and phetsims/equality-explorer#171 are awaiting review. Then we can proceed with RC testing.  So I'll close this issue.

[2021-11-08 20:05] #732 closed

[2021-11-08 20:39] pixelzoom commented on #733
In https://github.com/phetsims/normal-modes/issues/79 we found that this sim does not support mutlitouch, and behaves very badly.  I also learned that dev-lite testing does not include multitouch, and was therefore seems like an inappropriate choice to have made for testing this prototype in https://github.com/phetsims/qa/issues/724.

@KatieWoe does RC-lite testing include multitouch testing?

[2021-11-08 20:43] KatieWoe commented on #733
@pixelzoom It depends on what is requested for the RC-lite. In this case, since it is for a prototype, we are using the test matrix linked in the issue and an iPad is included.

[2021-11-09 01:22] jbphet opened #734 "RC Spot Check: Balloons and Static Electricity 1.5.0-rc.4"
@emily-phet, @kathy-phet, and @arouinfar: balloons-and-static-electricity/1.5.0-rc.4 is ready for RC testing.  This is
the fourth RC to be published from the 1.5 branch, and is intended to address a couple of issues found during the
previous RC test.  This can be a pretty light test, since this sim has had a fair amount of testing for this release
already.  Please document issues in https://github

[2021-11-09 16:29] KatieWoe commented on #734
- [ ] Tester = , Platform = , Time =
- [ ] Tester = , Platform = , Time =

[2021-11-09 18:05] KatieWoe commented on #734
QA is done with spot check

[2021-11-09 18:25] pixelzoom opened #735 "RC test: Equality Explorer 1.1.0-rc.1"
@KatieWoe @kathy-phet @amanda-phet, Equality Explorer 1.1.0-rc.1 is ready for RC testing.

Document issues in https://github.com/phetsims/equality-explorer/issues and link to this issue

This is a full RC test for general features only (no PhET-iO, no a11y).

Assigning to @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Cl

[2021-11-09 18:34] jbphet commented on #731
Thanks team.  I'll close this, follow up on the related issues, and roll the next RC.

[2021-11-09 19:18] samreid opened #736 "Dev Test: Circuit Construction Kit: AC 1.0.0-dev.48"
@KatieWoe, @arouinfar, @ariel-phet, @kathy-phet, simulation-name/1.0.0-dev.48 is ready for dev testing. I'm not aware of any deadlines or clients for this version. Document issues in https://github.com/phetsims/circuit-construction-kit-common/issues and link to this issue. This is a general dev test to find any bugs, including but not limited to user experience, model correctness, etc.

This versi

[2021-11-09 20:42] KatieWoe commented on #736
I did a quick memory test to see if there were any leaks. @samreid do these results look ok?
<img width="344" alt="memtest" src="https://user-images.githubusercontent.com/41024075/141001192-892fc4be-1001-4d43-9811-3ac14e4080c2.png">

[2021-11-09 20:45] samreid commented on #736
That looks like trouble, thanks!  I'll open an issue for investigation.  At the moment, this is not worrisome enough to pause testing (but I'll let you know if I discover otherwise).

[2021-11-10 15:20] jessegreenberg commented on #729
Thanks much QA team, Ill proceed with the publication.

[2021-11-10 15:31] #729 closed

[2021-11-11 17:43] jonathanolson commented on #716
Thanks!

[2021-11-11 17:43] #716 closed

[2021-11-11 17:43] jonathanolson commented on #715
Thanks!

[2021-11-11 17:43] #715 closed, assigned to jonathanolson, kathy-phet

[2021-11-11 19:00] KatieWoe commented on #733
QA is done

[2021-11-11 20:25] pixelzoom commented on #733
Thanks QA team. We'll need another RC spot-check, and I'll get that going.

Closing.

[2021-11-11 20:25] #733 closed

[2021-11-11 20:36] pixelzoom opened #737 "RC test: Normal Modes 1.0.0-rc.2"
@KatieWoe @kathy-phet @arouinfar @ariel-phet, normal-modes/1.0.0-rc.2 is ready for prototype testing. This simulation will be put on the website as a prototype and will likely have more bugs than a publication-ready simulation.

This is an RC spot-check for a small set of "Issues to Verify".

Document issues in https://github.com/phetsims/normal-modes/issues and link to this issue. **Issues should

[2021-11-11 22:17] KatieWoe commented on #737
- [ ] Tester = , Platform = , Time =
- [ ] Tester = , Platform = , Time =
- [ ] Tester = , Platform = , Time =

[2021-11-12 12:29] kathy-phet commented on #736
@samreid - Should we end this test now and let you fix these issues, then send it back through for another dev test? This seems like a nice collection and there has been ~8 hours of testing.

@KatieWoe - Maybe just having someone bang on it for an hour on iOS would help make sure we don't have a special iOS problem.

[2021-11-12 16:16] samreid commented on #736
That sounds good, can we do the same for chromebook?  Are we testing on android at this time?

Another dev test sounds good. I don't know how to judge whether we should end this dev test now.  How much longer would it take if we didn't stop it now?  How much of the sim has been explored?  Whether QA needs to get to other tasks could also be a determining factor.

[2021-11-13 00:35] jonathanolson opened #738 "Dev test: Density 1.0.0-dev.19"
@kathy-phet, @arouinfar, density/1.1.0-dev.19 is ready for dev testing. Document issues in https://github.com/phetsims/density/issues and link to this
issue.

Assigning @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General Dev Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- If there is sound, make sure it works.
- Make sure you can't lose anything.

[2021-11-13 14:57] kathy-phet commented on #736
These bugs are substantial enough to cause other potential bugs when fixed. So let's put the time in the next dev, after these bugs are fixed, since this will need to do another full dev test.

[2021-11-13 14:58] kathy-phet commented on #736
So just a hour or so more on iOS please.

[2021-11-15 20:22] KatieWoe commented on #737
QA is done

[2021-11-15 21:01] pixelzoom commented on #737
Thansks QA team.  We're ready for prototype publication.  Closing.

[2021-11-15 21:01] #737 closed

[2021-11-15 22:50] KatieWoe commented on #736
QA is done

[2021-11-15 23:39] samreid commented on #736
Thanks, all discovered issues have been closed or assigned to the milestone.  We aren't quite ready to schedule the next dev test, but perhaps I'll make a placeholder card.  Closing.

[2021-11-15 23:39] #736 closed

[2021-11-16 13:28] Nancy-Salpepi commented on #735
Memory test results:
<img width="529" alt="Screen Shot 2021-11-16 at 8 25 48 AM" src="https://user-images.githubusercontent.com/87318828/141993808-56c9e789-2342-41a3-b000-6001ece70aa7.png">

[2021-11-16 23:07] markgammon opened #739 "Iterative improvement of testing issue/spreadsheet templates"

[2021-11-16 23:10] markgammon opened #740 "Update QA Book"

[2021-11-16 23:12] markgammon opened #741 "Deepen understanding of A11y"

[2021-11-16 23:13] markgammon opened #742 "Debrief / feedback in QA / Dev process improvements (bidirectional)"

[2021-11-16 23:16] KatieWoe commented on #726
Closing for @chrisklus

[2021-11-16 23:16] #726 closed

[2021-11-19 18:47] KatieWoe commented on #735
QA is done

[2021-11-19 19:28] pixelzoom commented on #735
Thanks QA team.  We'll need another RC spot-check. I'll leave this issue self-assigned until that's under way.

[2021-11-20 03:39] pixelzoom opened #743 "RC test: Equality Explorer 1.1.0-rc.2"
@KatieWoe @kathy-phet @amanda-phet, Equality Explorer 1.1.0-rc.2 is ready for RC testing.

Document issues in https://github.com/phetsims/equality-explorer/issues and link to this issue

This is an RC spot-check for "Issues to Verify".  This release is general features only (no PhET-iO, no a11y).

Assigning to @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General RC Test</b>

[2021-11-20 03:42] pixelzoom commented on #735
1.1.0-rc.2 has been published. Closing.

[2021-11-20 03:42] #735 closed

[2021-11-22 15:35] KatieWoe commented on #743
- [ ] Tester = , Platform = , Time =
- [ ] Tester = , Platform = , Time =
- [ ] Tester = , Platform = , Time =

[2021-11-22 22:11] KatieWoe commented on #743
QA is done

[2021-11-22 22:57] pixelzoom commented on #743
Thanks @KatieWoe. Onward to publication.

[2021-11-22 22:57] #743 closed

[2021-11-23 21:28] KatieWoe commented on #738
QA is done

[2021-11-23 21:51] samreid opened #744 "Dev Test: gravity-and-orbits/1.6.0-dev.1/phet-io with TypeScript"
@KatieWoe, gravity-and-orbits/1.6.0-dev.1/phet-io/ is ready for dev testing. This is an internal test to see how PhET-iO
is going with TypeScript. Document issues in https://github.com/phetsims/gravity-and-orbits/issues and link to this
issue.  If other QA tasks come into the queue, this can be deprioritized.  We will not be making an RC from this, so perhaps it is more of a "lite" test.

Assignin

[2021-11-24 20:07] jonathanolson opened #745 "RC Test: Molecule Shapes 1.4.0-rc.1"
@kathy-phet, @arouninfar, molecule-shapes/1.4.0-rc.1 is ready for RC testing. Document issues in https://github.com/phetsims/molecule-shapes/issues and link to this
issue.

Assigning to @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- Test all possible forms of input.
  - Test all mouse/trackpa

[2021-11-24 20:07] jonathanolson opened #746 "RC Test: Molecule Shapes: Basics 1.4.0-rc.1"
@kathy-phet, @arouninfar, molecule-shapes-basics/1.4.0-rc.1 is ready for RC testing. Document issues in https://github.com/phetsims/molecule-shapes-basics/issues and link to this
issue.

Assigning to @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- Test all possible forms of input.
  - Test all

[2021-11-24 23:10] KatieWoe commented on #745
PhET-Brand Memory Test:
<img width="350" alt="mainphet" src="https://user-images.githubusercontent.com/41024075/143323741-d49f5607-427c-4e4a-8924-8b6e11b2f468.png">
PhET-iO Memory Test:
<img width="352" alt="mainio" src="https://user-images.githubusercontent.com/41024075/143323754-6e6e4975-411d-4a9a-8d12-fa0b5f7d1282.png">

[2021-11-24 23:48] KatieWoe commented on #746
PhET Brand Memory Test:
<img width="355" alt="basicsphet" src="https://user-images.githubusercontent.com/41024075/143326366-bfb410b7-91e5-4cc6-b0a9-cc239c28c79d.png">
PhET-iO Memory Test:
<img width="350" alt="basicsio" src="https://user-images.githubusercontent.com/41024075/143326394-f759dffd-e081-4604-b448-3391580b2c2a.png">

[2021-11-30 18:58] samreid opened #747 "Dev Lite: Circuit Construction Kit: AC 1.0.0-dev.53"
@kathy-phet @arouinfar @KatieWoe @markgammon, circuit-construction-kit-ac/1.0.0-dev.53 (and virtual lab) is ready for light dev testing. Document issues in https://github.com/phetsims/circuit-construction-kit-common/issues and link to this issue. We are working to get CCK AC published as quickly as possible, so this is probably high priority.

We previously had one dev test in https://github.com/p

[2021-12-01 17:49] KatieWoe commented on #747
QA is done

[2021-12-01 21:08] KatieWoe commented on #745
When using `?showPointerAreas` on iPadOS 15, the sim crashed and reloaded after a few minutes of use. Since this hasn't happened without the parameter, I'll only make an issue if you want one @jonathanolson

[2021-12-02 01:03] zepumph commented on #709
I see, I didn't know this was complete. I'll pick things up over in https://github.com/phetsims/phet-io/issues/1591. Thanks QA!

[2021-12-02 01:04] #709 closed

[2021-12-02 20:52] samreid commented on #747
@ariel-phet requested testing on a chromebook before we begin RC testing.

[2021-12-02 21:15] jonathanolson commented on #738
Thanks!

[2021-12-02 21:15] #738 closed

[2021-12-02 21:23] jonathanolson commented on #745
Crashes seem worthy of an issue.

[2021-12-02 23:16] KatieWoe commented on #747
I tested a few circuits on our lowest performing chromebook and performance seemed ok.

[2021-12-03 02:24] samreid commented on #747
Thanks, I'll create an RC test soon.  Closing.

[2021-12-03 02:24] #747 closed

[2021-12-03 15:47] samreid opened #748 "RC.1 Test: Circuit Construction Kit AC and AC Virtual Lab"
@arouinfar @KatieWoe @markgammon @kathy-phet, circuit-construction-kit-ac/1.0.0-rc.1 and circuit-construction-kit-ac-virtual-lab/1.0.0-rc.1 are
ready for RC testing. This has been a high priority sim for a long time and I expect it will be tested at high priority.
Document issues in https://github.com/phetsims/circuit-construction-kit-common/issues and link to this
issue.

We previously had one de

[2021-12-03 22:03] KatieWoe commented on #748
Base sim memory test:
<img width="345" alt="basicmem" src="https://user-images.githubusercontent.com/41024075/144678561-50e12f11-6061-4588-84e0-088212becf59.png">
Virtual Lab memory test:
<img width="347" alt="vlmem" src="https://user-images.githubusercontent.com/41024075/144678601-6d76e98e-b17b-496a-aff4-c83a1f2c3c27.png">

[2021-12-06 19:52] KatieWoe commented on #748
Performance note, things did lag a bit on the Android app, but it was still useable.

[2021-12-07 20:16] Nancy-Salpepi opened #749 "Current value doesn't update when wire resistivity is changed in pause mode"
**Test device**
Chromebook (and Macbook Air)

**Operating System**
94.0.4606.124

**Browser**
chrome

**Problem description**
For https://github.com/phetsims/qa/issues/748
This is a minor issue, but it is an inconsistency:

On the lab screen and in the virtual lab, when the sim is paused and I change the value of an element in the circuit (battery voltage, resistivity of bulb/resistor etc), the va

[2021-12-07 20:18] samreid commented on #749
Thanks, I'll transfer this issue using the "Transfer issue" button.

[2021-12-07 20:21] Nancy-Salpepi commented on #748
Another performance note: Movement (eg. flow of electrons, stopwatch) is definitely slower with the Chromebook, but the sim never crashed.

[2021-12-07 20:25] KatieWoe commented on #748
QA is done

[2021-12-07 22:59] samreid commented on #748
@arouinfar and I discussed the discovered issues, and marked them for the milestone as appropriate.  https://github.com/phetsims/circuit-construction-kit-common/milestone/2. We will need an RC.2 at least.  Closing.

[2021-12-07 22:59] #748 closed

[2021-12-08 19:34] KatieWoe commented on #745
QA is done

[2021-12-08 20:41] jonathanolson commented on #745
Thanks!

[2021-12-08 20:41] #745 closed

[2021-12-08 23:36] liam-mulhall opened #750 "PhET Desktop App Test: New Sims"
# Background

The last time the app was built was several months ago. The app available for download on the website is lacking the sims that have been published since then. In https://github.com/phetsims/weddell/issues/80, @oliver-phet told us that a user requested an updated version of the PhET app with new sims.

# Instructions

Technically, these app files are release candidates (hence the labe

[2021-12-08 23:42] liam-mulhall commented on #750
The app files aren't on Bayes yet. I will comment when they are there.

[2021-12-09 01:07] liam-mulhall commented on #750
The app files are up: https://bayes.colorado.edu/dev/weddell/dist/2021-12-08/.

[2021-12-09 23:38] KatieWoe commented on #746
QA is done

[2021-12-10 17:10] jonathanolson opened #751 "Dev Test: Density 1.0.0-dev.20"
@arouinfar, @kathy-phet, density/1.0.0-dev.20 is ready for dev testing. Document issues in https://github.com/phetsims/density/issues and link to this
issue.

Assigning @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General Dev Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- If there is sound, make sure it works.
- Make sure you can't lose anything.

[2021-12-10 19:27] samreid opened #752 "RC.2 Circuit Construction Kit: AC and AC: Virtual Lab"
@KatieWoe @arouinfar @ariel-phet @kathy-phet circuit-construction-kit-ac/1.0.0-rc.2 and circuit-construction-kit-ac-virtual-lab/1.0.0-rc.2 are ready for RC testing.  This has been a high priority sim.  Document issues in https://github.com/phetsims/circuit-construction-kit-common/issues and link to this issue.

This is a mostly a spot check after the first RC.  None of the code changes seem platfo

[2021-12-13 22:02] KatieWoe commented on #752
QA is done

[2021-12-14 02:43] #752 closed

[2021-12-14 02:52] samreid opened #753 "RC.3 Circuit Construction Kit AC & AC: Virtual Lab"
@KatieWoe @arouinfar @ariel-phet @kathy-phet circuit-construction-kit-ac/1.0.0-rc.3 and circuit-construction-kit-ac-virtual-lab/1.0.0-rc.3 are ready for RC testing.  This has been a high priority sim.  Document issues in https://github.com/phetsims/circuit-construction-kit-common/issues and link to this issue.

This is a minor spot check to confirm one issue discovered in rc.2.  None of the code c

[2021-12-14 17:07] jessegreenberg commented on #753
Hello! This branch was recently patched for https://github.com/phetsims/scenery/issues/1309. Before a final publication, can we please spot check one more RC to verify that that fix is working in this build? Let me know if you have any questions.

[2021-12-14 17:23] samreid commented on #753
I tested https://phet-dev.colorado.edu/html/circuit-construction-kit-ac-virtual-lab/1.0.0-rc.3/phet/xhtml/circuit-construction-kit-ac-virtual-lab_all.xhtml and the sim did not crash when opening the about dialog.  Is that expected?

[2021-12-14 17:25] KatieWoe commented on #753
Yes. The sim should not crash.

[2021-12-14 17:27] KatieWoe commented on #751
QA is done

[2021-12-14 17:32] samreid commented on #753
From slack:

Sam Reid:house_with_garden:  13 minutes ago
I tested https://phet-dev.colorado.edu/html/circuit-construction-kit-ac-virtual-lab/1.0.0-rc.3/phet/xhtml/circuit-construction-kit-ac-virtual-lab_all.xhtml and the sim did not crash when opening the about dialog.  Is that expected?

Jesse Greenberg  6 minutes ago
OK, yes it is possible that CCK did not have this problem yet.

Sam Reid:house_

[2021-12-14 17:33] samreid commented on #753
I'll be creating RC.4 to spot check credits and XHTML about dialog changes, so I think testing RC.3 can be stopped.

[2021-12-14 17:48] #753 closed

[2021-12-14 18:32] samreid opened #754 "RC.4 CCK AC and AC Virtual Lab"
@KatieWoe @arouinfar @ariel-phet @kathy-phet circuit-construction-kit-ac/1.0.0-rc.4 and circuit-construction-kit-ac-virtual-lab/1.0.0-rc.4 are ready for RC testing.  This has been a high priority sim.  Document issues in https://github.com/phetsims/circuit-construction-kit-common/issues and link to this issue.

This is a minor spot check to check credits and the XHTML credits issue.

Assigning to

[2021-12-14 18:57] KatieWoe commented on #754
https://github.com/phetsims/qa/issues/753 Looks good

[2021-12-14 19:26] KatieWoe commented on #754
QA is done

[2021-12-14 19:55] jessegreenberg opened #755 "Maintenance testing for XHTML fix"
Patches have been applied for https://github.com/phetsims/scenery/issues/1309. This is to spot check that the patches were applied correctly and that nothing is broken by the fix.

To verify the fix, please open the About dialog in the XHTML version of the sim and make sure the sim doesn't crash. In addition, please play with each sim for 30-60 seconds to make sure nothing else is broken. I added

[2021-12-14 20:20] jessegreenberg commented on #754
I took at look at this version of CCK AC and CCK AC Virtual Lab, the scenery SHA looks good and includes the patch. The About dialog opens in XHTML. From the dev tools I tried setting content in the PDOM with a `<br>` and it worked without crashing.

[2021-12-14 20:46] samreid commented on #754
Thanks, closing.

[2021-12-15 15:41] KatieWoe commented on #755
QA is done

[2021-12-15 16:32] #746 closed

[2021-12-15 16:54] jessegreenberg commented on #755
Excellent, thanks @KatieWoe - Ill proceed with production deploys in https://github.com/phetsims/scenery/issues/1309. Closing.

[2021-12-15 16:54] #755 closed

[2021-12-15 18:15] KatieWoe commented on #750
QA is done

[2021-12-15 21:53] KatieWoe commented on #744
QA is done

[2021-12-16 02:28] samreid commented on #744
Thanks, closing.

[2021-12-16 02:28] #744 closed

[2021-12-21 00:08] markgammon opened #756 "Test issue"

[2021-12-21 00:09] #756 closed

[2021-12-21 00:10] markgammon opened #757 "Test issue"
This is a test item. Where does it go?

[2021-12-21 00:11] #757 closed

[2021-12-21 17:14] KatieWoe commented on #741
This was partially done in a meeting on 12/2/21. A follow up meeting to go over screen reader specifics should be planned for the 2022 year when enough people have time. This meeting will be much smaller in scale.

[2021-12-21 17:23] KatieWoe commented on #740
Recommendations are being recorded in this document: https://docs.google.com/document/d/1D5hVPlMy6IoJrfMtkMFc1TLRlRvapGfhPlT1u9XA6uY/edit
Work is being done periodically when QA work is light. Input is asked for from whole QA team.

[2021-12-22 19:25] jonathanolson opened #758 "RC Test: Density 1.0.0-rc.1"
@arouinfar, @kathy-phet, @DianaTavares, density/1.0.0-rc.1 is ready for RC testing. Document issues in https://github.com/phetsims/density/issues and link to this issue.

Assigning to @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- Test all possible forms of input.
  - Test all mouse/trackpad

[2022-01-04 01:06] Nancy-Salpepi commented on #758
@jonathanolson here are the results of the memory tests. I was not able to record data after the tenth heap snapshot--either the console would close automatically or error messages would appear in the console.( I tried more than once, but always got the same results.)

Density PhET Brand:
<img width="463" alt="Screen Shot 2022-01-03 at 7 29 07 PM" src="https://user-images.githubusercontent.com/873

[2022-01-04 21:13] jonathanolson commented on #751
Thanks!

[2022-01-04 21:13] #751 closed

[2022-01-04 22:10] KatieWoe commented on #758
@jonathanolson I saw some artifacts left behind when moving objects on the ipad in the Input Record and Playback wrapper. Do you want an issue made?
![77F9BEBD-3CD1-4215-9D5B-B0D52F693B9A](https://user-images.githubusercontent.com/41024075/148130602-913554ee-e5d5-4359-b22b-0c68927ac2e3.png)

https://user-images.githubusercontent.com/41024075/148130615-64fd4e3f-e5ee-402c-90d6-e8edb421e552.MOV

[2022-01-04 22:49] arouinfar commented on #758
@KatieWoe looks like you are seeing https://github.com/phetsims/density/issues/116 which we closed as wontfix.

[2022-01-04 23:27] KatieWoe commented on #758
Calling an end to QA here.

[2022-01-05 01:06] jonathanolson commented on #758
Thanks! I'm working on the issues.

[2022-01-05 01:06] #758 closed

[2022-01-06 23:14] KatieWoe commented on #740
Several updates have been made, and can be seen in the commit history of the QA book.

[2022-01-06 23:15] KatieWoe commented on #739
Basic training for the testing matrix procedures as they exist now was done on 1/6/22.

[2022-01-07 18:20] jonathanolson opened #759 "RC Test: Density 1.0.0-rc.3"
@arouinfar, @kathy-phet, @DianaTavares, density/1.0.0-rc.3 is ready for RC testing. Document issues in https://github.com/phetsims/density/issues and link to this
issue.

This is a spot check. Details about what's likely to break is in the Focus and Special Instructions.

Assigning to @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Te

[2022-01-07 18:20] KatieWoe opened #760 "Density 1.0.0-rc.3 Spot Check"
@kathy-phet , @KatieWoe , density/1.0.0-rc.3 is ready for RC testing. We want to try to publish in the next week or so as classes for many schools start. Document issues in https://github.com/phetsims/density/issues and link to this
issue. Please assign issues to @jonathanolson

This test is a spot-check rc

Assigning to @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General

[2022-01-07 18:22] KatieWoe commented on #760
Closing as duplicate

[2022-01-07 18:22] #760 closed

[2022-01-07 20:37] KatieWoe commented on #759
PhET-Brand Memory Test:
<img width="350" alt="phetbrandmem" src="https://user-images.githubusercontent.com/41024075/148604107-5288368f-cc62-4459-a8b2-26658f387b21.png">
PhET-iO-Brand Memory Test:
<img width="349" alt="iomem" src="https://user-images.githubusercontent.com/41024075/148604133-f345c78d-90f3-4648-b72e-dde1995d94a9.png">

[2022-01-08 05:02] liam-mulhall commented on #750
The new version of the app is now published. Closing this issue. Thanks, QA!

[2022-01-08 05:03] #750 closed

[2022-01-10 17:58] KatieWoe commented on #759
QA is done

[2022-01-10 18:47] chrisklus opened #761 "dev test: Number Play 1.0.0-dev.35 - Game screen"
@amanda-phet, @kathy-phet, @KatieWoe number-play/1.0.0-dev.35 Game screen is ready for dev testing. This will be part of a prototype release that is scheduled for the end of January. Please document issues in https://github.com/phetsims/number-play/issues and link to this issue.

Assigning @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General Dev Test</b></summary>

<h3>What

[2022-01-11 03:31] jonathanolson commented on #759
Thanks!

[2022-01-11 03:31] #759 closed

[2022-01-11 19:46] KatieWoe commented on #761
QA is done

[2022-01-11 19:56] chrisklus commented on #761
Awesome, thanks so much yall!

[2022-01-12 23:37] liam-mulhall opened #762 "Dev-Lite Test: PhET Desktop App 2022-01-12"
# Background

I rewrote the scripts that deploy the app to Bayes and phet-server. I rebuilt the Mac and Windows versions of the app and deployed them to Bayes using the new script, so it seems like the script that deploys to Bayes works. However, in order for me to test the script that deploys to phet-server, we need to make sure the rebuilt app isn't somehow horribly broken first. (Otherwise we'd

[2022-01-13 18:59] oliver-phet commented on #712
Stale, closing.

[2022-01-13 18:59] #712 closed

[2022-01-13 19:02] oliver-phet commented on #611
@KatieWoe can this be closed? I know @Nancy-Salpepi has an M1 device.

[2022-01-13 19:17] KatieWoe commented on #611
Yes I believe it can. Thanks

[2022-01-13 19:17] #611 closed

[2022-01-13 19:50] samreid opened #763 "Double check Metacog round trip on balancing act"
Please test https://phet-io.colorado.edu/sims/balancing-act/1.2.7/wrappers/login/?wrapper=record&validationRule=validateAlphaNumeric&numberOfCharacters=7&metacog&publisher_id=29da48a1&key_name=balancing-act-1.2-stanford&widget_id=balancing-act-1.2-stanford&phetioEmitHighFrequencyEvents=false&stanford&screens=2 with username "phettest" and record a few minutes of data.  Describe broadly what action

[2022-01-14 00:02] liam-mulhall commented on #762
As mentioned in [this comment](https://github.com/phetsims/weddell/issues/83#issuecomment-1012626008), I need to rewrite the `get-assets` script in JavaScript, rebuild the app, test it myself, and then I might send it over to QA if it looks like the rewrite of `get-assets` fixed the issue of the metadata being out of sync with the app files. I'm going to call this test and start a new sanity check

[2022-01-14 00:02] #762 closed

[2022-01-14 17:48] KatieWoe commented on #763
I made a mistake on the first attempt.
On the second:
1. Turn marks on
2. Turn Force arrows on
3. Turn Mass label off
4. Scroll box right
5. Turn on ruler
5. Mystery box on 1 on right side
6. Scroll box left
7. Put 5 masses on 1.5 and 2 on left side
8. Test
9. Reset all
10. Put 20 masses on scale on both sides
11. Put mystery box on right side
12. test

Some steps may have been mis-recorded/rememb

[2022-01-14 19:44] KatieWoe commented on #763
Passing off to @samreid. Let me know if I should bring this back into the pipeline

[2022-01-14 19:45] samreid commented on #763
I tried to log in to metacog to request the data, but I got `{"error":"Missing authentication params."}`

[2022-01-19 19:21] mattpen opened #764 "Website: Prototype changes for Sim Pages and Filter Pages"
@KatieWoe the website sim pages and filter page could use some light testing regarding changes to highlight prototype sims. Document issues in https://github.com/phetsims/website-meteor/issues and link to this
issue.  Changes are described in https://github.com/phetsims/website-meteor/issues/409

Assigning @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>Test Summary</b></summa

[2022-01-20 19:49] samreid commented on #763
I was able to download the data from metacog, the error above seemed transient.

[2022-01-20 21:48] jbphet opened #765 "QA should get some devices that will support testing of haptics"
There are two initiatives right now that are creating Android-based apps that make use of vibratory haptics.  The first is the "Haptics Playground", which is being developed in [the quake repository](https://github.com/phetsims/quake).  The other is an app that will contain the Quadrilaterals simulation and will allow the use of haptics and speech-to-text capabilities, and for which there is not y

[2022-01-20 23:51] oliver-phet commented on #765
@KatieWoe Does QA already have any supported device? If not, what Android device might be most useful for QA beyond  haptics testing?

[2022-01-21 15:35] KatieWoe commented on #765
I don't believe we do. We have an Android tablet, but I believe that it doesn't support haptics from when we last checked. I would need to do some research into Android devices to list a specific model, but a tablet that supports the latest available OS would be best. The current tablet only supports Android 8.1

[2022-01-21 16:48] stemilymill commented on #765
My phone (samsung galaxy s21 ultra) seems to work with the patterns on http://www.hapticsjs.org/

[2022-01-21 18:34] samreid commented on #763
I reviewed the data and saw 2 sessions, both with userID phettest.  They were submitted at:
* Friday, January 14, 2022 10:30:18.309 AM
* Friday, January 14, 2022 10:44:14.561 AM

I see above that @KatieWoe submitted 2 sessions, and the first one had an error, so I'll check the 2nd one:

* There are 225 events
* The last event is at
* Friday, January 14, 2022 10:45:28.247 AM (about a minute and 15

[2022-01-21 18:34] #763 closed

[2022-01-21 20:44] samreid commented on #763
I described this test to the client.

[2022-01-22 17:26] pixelzoom opened #766 "Dev test: Function Builder 1.2.0-dev.6"
@amanda-phet @kathy-phet @KatieWoe _Function Builder_ 1.2.0-dev.6 is ready for dev testing.

The motivation for this release is Legends of Learning support. There are no PhET-iO or A11y features. A full dev test is required.

Note that _Function Builder: Basics_ dev test https://github.com/phetsims/qa/issues/767 should be done at the same time.

Document issues in https://github.com/phetsims/funct

[2022-01-22 17:32] pixelzoom opened #767 "Dev test: Function Builder: Basics 1.2.0-dev.2"
@amanda-phet @kathy-phet @KatieWoe _Function Builder: Basics_ 1.2.0-dev.2 is ready for dev testing.

The motivation for this release is Legends of Learning support. There are no PhET-iO or A11y features. A full dev test is required.

Note that _Function Builder: Basics_ is related to _Function Builder_. _Function Builder_ dev test https://github.com/phetsims/qa/issues/766 should be done at the sam

[2022-01-22 23:24] jonathanolson opened #768 "Dev test: Molecule Shapes 1.5.0-dev.3"
@arouninfar, @kathy-phet, molecule-shapes/1.5.0-dev.3 is ready for dev testing. Document issues in https://github.com/phetsims/molecule-shapes/issues and link to this
issue.

Assigning @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General Dev Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- If there is sound, make sure it works.
- Make sure you can't

[2022-01-22 23:25] jonathanolson opened #769 "Dev test: Molecule Shapes: Basics 1.5.0-dev.1"
@arouninfar, @kathy-phet, molecule-shapes-basics/1.5.0-dev.1 is ready for dev testing. Document issues in https://github.com/phetsims/molecule-shapes-basics/issues and link to this
issue.

Assigning @kathy-phet and @KatieWoe for prioritization.

<details>
<summary><b>General Dev Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- If there is sound, make sure it works.
- Make

[2022-01-24 15:36] KatieWoe commented on #764
QA is done

[2022-01-24 19:43] KatieWoe commented on #768
Memory Test:
<img width="350" alt="memtest" src="https://user-images.githubusercontent.com/41024075/150852978-15af728f-596f-4dae-9ceb-0a53648c4da6.png">
PhET-iO Memory Test:
<img width="353" alt="iomemtest" src="https://user-images.githubusercontent.com/41024075/150853008-7f27ef3a-9a98-47b0-815b-81e899b1f944.png">

[2022-01-24 21:31] KatieWoe commented on #769
Memory Test:
<img width="347" alt="basicmemtest" src="https://user-images.githubusercontent.com/41024075/150868159-570454eb-46af-41c2-995d-1ca06c021d89.png">
PhET-iO Memory Test:
<img width="350" alt="basiciomemtest" src="https://user-images.githubusercontent.com/41024075/150868220-befbde4f-2268-4908-834f-7471f9368c2f.png">

[2022-01-26 20:26] KatieWoe commented on #730
I checked the issue to verify and it looks ok. @jbphet if you want more testing let me know. Otherwise, back to you.

[2022-01-27 04:52] jonathanolson opened #770 "Maintenance spot check for build fix"
For the maintenance release https://github.com/phetsims/chipper/issues/1189.

I'd appreciate a 5-15 second test per sim below, to make sure nothing is horribly broken (and some sims had client guide updates that I had to fix, checking that the client guides load on phet-io sims would be helpful).

The patch should be fixing something that deals with how the simulations are built, so this should ca

[2022-01-27 15:47] KatieWoe commented on #768
QA is done

[2022-01-27 15:51] jonathanolson commented on #768
Thanks!

[2022-01-27 15:51] #768 closed

[2022-01-27 16:30] jbphet commented on #765
@KatieWoe said:

Perhaps, but as I mentioned in the opening comment, there is a list of devices that should work list in https://github.com/phetsims/quake/issues/4.

[2022-01-27 17:03] #730 closed

[2022-01-28 21:50] chrisklus opened #771 "dev test: Number Play 1.0.0-dev.45 - screens 1-3"
@amanda-phet, @kathy-phet, @KatieWoe number-play/1.0.0-dev.40 (screens 1-3) is ready for dev testing. This will be part of a prototype release that is scheduled end of next week. Please do not test the game screen, as it was recently tested and I haven't quite wrapped up the fixes over there. Please document issues in https://github.com/phetsims/number-play/issues and link to this issue.

Assignin

[2022-01-28 22:01] KatieWoe commented on #770
QA is done

[2022-01-31 11:58] chrisklus commented on #771
Ready to continue testing

[2022-01-31 16:40] jonathanolson commented on #770
Thanks!

[2022-01-31 16:40] #770 closed

[2022-02-01 01:52] samreid opened #772 "Dev test: Circuit Construction Kit: DC PhET-iO"
@arouinfar, @kathy-phet, @KatieWoe, circuit-construction-kit-dc/1.3.0-dev.14/phet-io/ is ready for dev testing. We will
share this with a client and working toward full publication this quarter. Document issues in https://github.com/phetsims/circuit-construction-kit-common/issues and link to this
issue. I put it at the bottom of Active Tests in the QA pipeline, but please reprioritize as appropria

[2022-02-01 02:01] samreid commented on #772
Also, it doesn't seem that @arouinfar has identified Featured vs All, so you may need to select "All" in studio for much of the testing.

[2022-02-01 16:42] pixelzoom commented on #767
Higher priority issues were added to the QA queue, and the dev version (1.2.0-dev.1) is now too old.  So please contact me when QA is ready to proceed, and I'll publish a fresh dev version.

[2022-02-01 16:42] pixelzoom commented on #766
Higher priority issues were added to the QA queue, and the dev version (1.2.0-dev.5) is now too old.  So please contact me when QA is ready to proceed, and I'll publish a fresh dev version.

[2022-02-02 21:54] Nancy-Salpepi commented on #740
Q1 changes to date:
The following sections were updated: memory leak testing, PhET-iO testing, screenshots, labels, terminology
Metadata Service Testing was added

[2022-02-03 16:15] KatieWoe commented on #771
QA is done

[2022-02-03 16:50] kathy-phet commented on #771
Thanks, QA!

[2022-02-03 22:43] KatieWoe commented on #769
QA is done

[2022-02-04 20:36] KatieWoe commented on #772
Memory test for PhET-iO:
<img width="347" alt="memtest" src="https://user-images.githubusercontent.com/41024075/152599580-02a01afc-6caf-4df0-84f7-5ceba16b0e03.png">

[2022-02-07 17:09] jonathanolson commented on #769
Thanks!

[2022-02-07 17:09] #769 closed

[2022-02-08 17:16] KatieWoe commented on #772
QA is done

[2022-02-08 17:48] pixelzoom commented on #766
@KatieWoe 1.2.0-dev.6 is now ready for testing.  I've adjusted the issue title and links accordingly.

[2022-02-08 17:51] pixelzoom commented on #767
@KatieWoe 1.2.0-dev.2 is now ready for testing. I've adjusted the issue title and links accordingly.

[2022-02-08 18:43] KatieWoe commented on #766
Memory test:
<img width="341" alt="memtestfunction" src="https://user-images.githubusercontent.com/41024075/153054549-cbd2de53-6e51-4e03-a55f-ea70e8888db5.png">

[2022-02-09 20:31] mattpen commented on #764
These changes were deployed, test is complete

[2022-02-09 20:31] #764 closed

[2022-02-09 21:09] mattpen opened #773 "Website: test new backend (phet-server2)"
The new backend server is ready and needs some tests to ensure everything is working correctly.  [ox-dev](https://ox-dev.colorado.edu/) is currently being served with phet-server2 as the backend for testing.  There are minimal or no code changes involved in this change, we just want to make sure everything is in an operational state. Document issues in https://github.com/phetsims/website/issues an

[2022-02-11 22:09] samreid commented on #772
Issues triaged and addressed, thanks everyone!  I'll create another dev version soon.  Closing.

[2022-02-11 22:09] #772 closed

[2022-02-11 22:13] samreid opened #774 "2nd Dev test: Circuit Construction Kit: DC PhET-iO"
This will be the 2nd dev test. First one was completed in https://github.com/phetsims/qa/issues/772.  The new URL for testing is:

https://phet-dev.colorado.edu/html/circuit-construction-kit-dc/1.3.0-dev.16/phet-io/

Addressed issues were reviewed in master.  Some of the discovered issues from https://github.com/phetsims/qa/issues/772 were postponed to a future milestone.

Should I copy/paste the

[2022-02-11 22:14] KatieWoe commented on #774
@samreid Yes, please use either that template or a new one from the repo.

[2022-02-11 22:24] KatieWoe commented on #766
QA is done

[2022-02-11 22:24] KatieWoe commented on #767
QA is done

[2022-02-11 22:31] oliver-phet opened #775 "Move unfuddle 'Ideas for Future' to Google form suggestions"
We need to move each 'Idea for Future' from this Unfuddle Notebook to our consolidated Google form so that user suggestions can be evaluated from one source. There are a lot of suggestions, so this can certainly be a "chip away" task!

Steps:
1. For each "Page" within the 'Ideas for Future' unfuddle notebook, copy the submission into our [Sim Suggestion Google Form](https://docs.google.com/forms/d

[2022-02-11 22:32] oliver-phet commented on #775
@KatieWoe this can be a back-burner/chip away task for QA. I'll need to add unfuddle access for QA members who don't already have unfuddle accounts (or they can use the guest account).

[2022-02-11 22:34] KatieWoe commented on #775
Sounds good. I'll let you know when this comes up and any questions we have.

[2022-02-14 20:49] KatieWoe commented on #773
QA is done

[2022-02-15 22:58] mattpen commented on #773
Thanks @KatieWoe!

[2022-02-15 22:58] #773 closed

[2022-02-16 23:23] pixelzoom commented on #766
Status summarized in https://github.com/phetsims/function-builder/issues/139#issuecomment-1042401347.  Per @kathy-phet in https://github.com/phetsims/function-builder/issues/139#issuecomment-1036801766, we'll be doing another dev test after blocking issues are resolved.

Closing.

[2022-02-16 23:23] #766 closed

[2022-02-16 23:23] pixelzoom commented on #767
Status summarized in https://github.com/phetsims/function-builder/issues/139#issuecomment-1042401347.  Per @kathy-phet in https://github.com/phetsims/function-builder/issues/139#issuecomment-1036801766, we'll be doing another dev test after blocking issues are resolved.

Closing.

[2022-02-16 23:23] #767 closed

[2022-02-17 16:10] KatieWoe commented on #774
QA is done

[2022-02-17 18:24] pixelzoom opened #776 "Streamline the QA templates."
In 2/17/22 QA meeting, we discussed how QA templates can improved to streamline the proceed of filling them in, while still providing the info that QA needs. @pixelzoom and @KatieWoe will work together on streamlining the QA issue templates.

Suggestions include:

* Move stuff to the top that developers need to fill in.
* Provide links to: top-level deploy directory, all.html, wrapper index.
* 1 s

[2022-02-18 21:02] samreid commented on #774
Thanks!  I marked the open issues for the DC PhET-iO milestone.  Closing.

[2022-02-18 21:02] #774 closed

[2022-02-22 17:41] jbphet commented on #686
My conclusion after reading through the comments and looking at the recordings and trying it out myself is that the strobing and aliasing still exist, and I should leave the workaround in place, at least for now.  Thanks to the QA team for testing this.  Closing.

[2022-02-22 17:41] #686 closed

[2022-02-23 23:47] KatieWoe commented on #742
This meeting was done on 2/17/22. KW and CM will collaborate to make changes to templates in https://github.com/phetsims/qa/issues/776. Other decisions and notes are recorded in https://docs.google.com/document/d/1Yto3LhGOliO-Chxnx7X0m-FkhSRwe4J30uKHhmYkmuI/edit#heading=h.yixlphe3uius

[2022-02-23 23:47] KatieWoe commented on #739
KW and CM will collaborate to make changes to templates in https://github.com/phetsims/qa/issues/776.

[2022-02-24 19:50] zepumph opened #777 "QA coordination with PhET-iO batch sim release"
It was decided to re-release a whole batch of PhET-iO simulations after the quarter to leave space for TypeScript conversion over the next month. https://github.com/orgs/phetsims/projects/44 was created to organize this work. There are currently 14 simulations that are to go out during that publication. The goal of this issue is to make sure that QA is aware and prepared for this.

Here is the cur

[2022-02-24 20:06] KatieWoe commented on #777
Thank you for letting me know. Are these re-releases only for adding typescript? Will they be full rc, or lighter?

[2022-02-24 22:45] zepumph opened #778 "Regression test PhET splash screen"
Over in https://github.com/phetsims/joist/issues/781 we had to update it so that the black wasn't the background, but instead was a div that was on top of everything else (in z order), hiding the sim etc if anything was shown before the splash screen went away.

The splash screen is the black screen + logo + loading bar that we have a startup.

Basically I want to make sure that all devices are st

[2022-02-24 22:49] zepumph commented on #777
The release is to pick up many changes, mostly PhET-iO features, mostly about studio, and mostly all documented in https://github.com/orgs/phetsims/projects/44.

I believe the thought was a full release, so likely full RC tests, that said, they will all have the same common code shas, so as we find bugs, we will be able to apply fixes to all of them.

[2022-02-25 23:15] KatieWoe commented on #778
With Win 11 Firefox, the studio loading screen jumps around a bit. @zepumph let me know if you think this needs an issue.
![shiftingload](https://user-images.githubusercontent.com/41024075/155815514-1c6d7f14-abb3-495c-ad58-8e428b54e080.gif)

[2022-02-27 15:25] Nancy-Salpepi commented on #778
I still see what I originally reported in https://github.com/phetsims/phet-io/issues/1835 with MacOS 12.2.1 and Safari 15.3. (but not chrome).

Steps:
1. Generate html from Studio
2. Save and Open with Safari
* If you then reload the page, you won't see the flash
* If you press 'Preview Sim' from studio, you won't see the flash

* Oddly enough, I was able to produce this issue using MacOS 10.15.7

[2022-02-28 16:39] zepumph commented on #778
RE: https://github.com/phetsims/qa/issues/778#issuecomment-1051349638:

@KatieWoe, I just want to confirm here, this behavior is in the version I gave you, but not in other/published versions?

[2022-02-28 17:23] KatieWoe commented on #778
I looked at https://phet-dev.colorado.edu/html/natural-selection/1.4.3/phet-io/wrappers/studio/ and saw it there, but not quite as often.

[2022-03-01 17:43] pixelzoom commented on #776
@KatieWoe and I worked on revising rc-test-template-NEW.md.  We did this by editing a new copy at https://github.com/phetsims/qa/blob/master/issue-templates/rc-test-template-NEW.md.  We're pretty happy with this, and will previw it at 3/3/2022 dev meeting.  Then @KatieWoe will propagate similar changes to all of the issue templates.

[2022-03-01 18:53] KatieWoe commented on #739
Work was done with @pixelzoom on 3/1/22. Changes will be review during Dev meeting on 3/3/22 and, if approved, changes will be propagated to other templates.

[2022-03-01 18:56] pixelzoom commented on #739
@KatieWoe This issue looks like a duplicate of https://github.com/phetsims/qa/issues/776, and https://github.com/phetsims/qa/issues/776 seems to have more details.  Should we close this issue?

[2022-03-01 18:59] KatieWoe commented on #739
@pixelzoom This one was created to keep track of the QA quarterly goal and also involves changes I'll be making to the test matrices. That last part means I'd prefer to keep this one open. Thanks though.

[2022-03-02 20:05] KatieWoe commented on #778
QA is done

[2022-03-03 00:00] zepumph opened #779 "Replace dev:a11y and design:a11y labels with feature-specific labels"
Over in https://github.com/phetsims/special-ops/issues/213 we have made many label changes favoring feature names for the word `a11y`. We now have `voicing`, `sound`, `alt-input`, and `description` (`design:` and `dev:` for each).

QA has already been helping convert these over, but I realized I never made an issue.

See https://github.com/issues?q=is%3Aopen+is%3Aissue+user%3Aphetsims+label%3Adesi

[2022-03-03 17:14] JacquiHayes opened #780 "Data entry / research for Bett Conference in London March 22"
The Bett conference is one of the largest Ed Tech conferences in the world, and we are looking for potential partners who would like to or already integrate PhET into their educational product.

The task is to go through the list of exhibitors and enter the information into a google sheet.

Go to this website:
https://uk.bettshow.com/bett-suppliers-list-library-redirect

Use the filters at the top

[2022-03-03 23:56] pixelzoom commented on #776
3/3/2022 dev meeting.

@KatieWoe and I presented the new RC Test template to developers. They had some good feedback, which we incorporated in real time.  I verified that the links in the template are accurate.  So this pattern is ready to incorporate into other templates.

[2022-03-03 23:57] pixelzoom commented on #776
Slack:

[Kathryn Woessner](https://app.slack.com/team/UBLN0PWJU)  [4:44 PM](https://phetsims.slack.com/archives/DBQK9V6LF/p1646351062088989)
Kathy pointed out https://github.com/bdougie/variables-in-markdown/blob/master/README.md, which might make it easier for developers to fill out the links in the template. Let me know if it's a good idea.

[Chris Malley](https://app.slack.com/team/U6EMFARV2)

[2022-03-04 00:41] zepumph commented on #778
Ok thanks! The fact that it still occurs there makes me feel alright about it. Looks like everything else is in side issues. I'm going to close this.

[2022-03-04 00:41] #778 closed

[2022-03-07 02:00] chrisklus opened #781 "dev test: Center and Spread 1.0.0-dev.11"
<h1>Dev Test</h1>

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/center-and-spread/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/center-and-spread/1.0.0-dev.11)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/center-and-spread/1.0.0-dev.11/phet/center-and-spread_all_phet.html)
- [phet-io wrapper index](https://phet-dev.c

[2022-03-07 16:17] KatieWoe commented on #780
QA should be done. Let me know if you need anything else on this.

[2022-03-09 20:53] KatieWoe commented on #775
I believe QA is done here.

[2022-03-09 20:59] #775 closed

[2022-03-10 10:52] #780 closed

[2022-03-10 20:00] kathy-phet commented on #777
Hi QA team! This is the list of PhET-iO sims that we will want to move through QA over the course of Quarter 2. Some other sims will be mixed in as well, but I was hoping you could work together to roughly estimate the testing hours you think each of these will take, once any emergent major issues are found in the initial test sims. So based off sort of "smooth testing" for each of these sims:
phe

[2022-03-11 15:58] KatieWoe commented on #781
QA is done

[2022-03-11 22:30] oliver-phet opened #783 "Test flight latest iOS build (1079)"
The iOS App 1.3.3 (build 1079) is processing on App Store Connect. @KatieWoe, @kathy-phet please prioritize testing of this build.

Issues to verify:

- [x] https://github.com/phetsims/phet-ios-app/issues/602
- [x] It would also be good to open a few translated sims to ensure the app updates translations, as expected. https://github.com/phetsims/phet-ios-app/issues/487#issuecomment-536130460.

Her

[2022-03-15 16:33] KatieWoe commented on #783
Noting that this test flight does have the debug sections. It is useful for testing, but should not be included when the app is published.

[2022-03-15 20:56] KatieWoe commented on #783
Did a quick ~5 min check on iOS 14 and iOS 13. Things looked ok there.

[2022-03-15 21:59] jessegreenberg opened #784 "Improve notes about expected behaviors of pan and zoom in the qa-book"
More PhET-specific design decisions are being made so it would be good to write down the expected behavior. I think the QA handbook is currently our best documentation of how various accessibility features should behave.  Ill update what is there and then add a few things.

[2022-03-15 22:18] jessegreenberg commented on #784
Done in the above commit, that is good for now. Closing.

[2022-03-15 22:18] #784 closed

[2022-03-16 15:15] KatieWoe commented on #783
QA is done. However, https://github.com/phetsims/phet-ios-app/issues/487 was behaving pretty oddly. @oliver-phet it might be a good idea for us to pair to try and figure this out. Also, there wasn't translation testing beyond https://github.com/phetsims/phet-ios-app/issues/487 I believe, so let me know if that is needed/useful and we can take another look

[2022-03-16 23:37] jessegreenberg opened #785 "Feature test: Pan and Zoom"
It would be really helpful to do some testing of the Pan and Zoom feature. There were many changes to that code over the last two weeks. But mostly this will help make sure that this feature is behaving well for the sims that are going to be published next quarter and so we can triage things before taking RC SHAs.

Here is the list of sims for upcoming publications, can you please test Pan and Zoo

[2022-03-17 23:32] zepumph opened #786 "Update QA Book about input-based playback"
@KatieWoe today during PhET-iO meeting we decided to remove support for our current playback strategy. This means that you no longer need to test it either! See https://github.com/phetsims/phet-io/issues/1854 for details.

We still support the data stream, and recording the Metacog, but now we no longer support the playback wrapper.

It isn't totally clear that we no longer want to test the full c

[2022-03-18 20:46] pixelzoom opened #787 "RC-Lite test: Geometric Optics 1.1.0-rc.1"
<h1>RC-Lite Test</h1>

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/geometric-optics/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-rc.1)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-rc.1/phet/geometric-optics_all_phet.html)

<h3>Test Matricies</h3>

- [General Test Matrix

[2022-03-18 23:51] jbphet opened #788 "RC test: Balancing Act 1.1.27-rc.1"
<h1>RC Spot Check Test</h1>

This is a spot check of a maintenance release that is intended to fix a single issue.  Please see the issue list below and the information within the issue for more information.

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/balancing-act/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/balancing-act/1.1.

[2022-03-21 15:27] KatieWoe commented on #786
Clarification conversation from Slack:

Quick clarification for https://github.com/phetsims/qa/issues/786. We no longer test playback, but we do test that metacog can record. Does that apply to the record wrapper as well? Or is it also discontinued?
[Michael Kauzmann] [4:48 PM]
The record wrapper is still supported.
[Kathryn Woessner] [4:49 PM]
Ok, thanks. That's what I thought, but wanted to make

[2022-03-21 17:05] chrisklus opened #789 "RC-lite test: Center and Variability 1.0.0-rc.1"
<h1>RC-Lite Test</h1>

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/center-and-variability/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/center-and-variability/1.0.0-rc.1)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/center-and-variability/1.0.0-rc.1/phet/center-and-variability_all_phet.html)
- [phet-io wrapper index

[2022-03-21 17:07] #781 closed

[2022-03-21 18:45] KatieWoe commented on #786
Input and Playback Wrapper is also gone

[2022-03-22 16:48] KatieWoe commented on #788
QA is done

[2022-03-22 21:51] ariel-phet opened #790 "Consider increasing vertical range of "second point" slightly"
Found as part of testing https://github.com/phetsims/qa/issues/787 (Windows 11, Chrome)

It would be nice if the second point extended slightly further vertically downward in its range. On the penguin and the pencil it would be nice if the second point reached to the full extent of each of these objects. Currently it feels a little unsymmetric if you move the second point all the way to the end of

[2022-03-22 22:33] pixelzoom commented on #790
@arouinfar is this change OK with you?

[2022-03-22 22:42] pixelzoom commented on #790
I think @ariel-phet meant to create this issue in geometric-optics, not the qa repo. So I'll transfer it.

[2022-03-23 18:27] jbphet commented on #788
Thanks QA team!  I'll move forward with the publication of a maintenance release.  Closing.

[2022-03-23 18:27] #788 closed

[2022-03-28 18:52] KatieWoe commented on #787
Noting that older chromebook performance was fairly poor. Specifically the rays (especially many) would be slow propagating out. However, it is expected with this device and did not make the sim hard to use, so I don't think it is worth an issue, just a note.

[2022-03-28 18:58] KatieWoe commented on #787
QA is done

[2022-03-28 20:23] pixelzoom commented on #787
Thanks QA team.  We'll need another RC spot-check.  I'll get that going as soon as all issues have been addressed.

[2022-03-29 21:13] KatieWoe commented on #789
QA is done

[2022-03-30 00:55] chrisklus commented on #789
Awesome, thanks all!

[2022-03-30 15:10] zepumph opened #791 "Dev Test: Friction 1.6.0-dev.24"
<h1>Dev Test</h1>

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/friction/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/friction/1.6.0-dev.24)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/friction/1.6.0-dev.24/phet/friction_all_phet.html)
- [phet-io wrapper index](https://phet-dev.colorado.edu/html/friction/1.6.0-dev.

[2022-03-30 15:14] zepumph opened #792 "A couple thoughts about the QA test template"
Hey! I just made my first QA issue with the new dev test template (#791), and it was AWESOME. Thanks for the hard work there. I have two thoughts about potential improvements.

1. In the top comment section geared towards the dev, it could be really nice to have a line that is the template for the title of the issue, like:

This way, when we fill in all the other templates (with find/replace), thi

[2022-03-30 15:29] KatieWoe commented on #792
For 2, we mean things like keyboard navigation should be tested during this stage. This is a note for QA reminding them to include these features in testing rather than put them off, and that checking those boxes means everything has been tested on that platform except screen readers.

[2022-03-30 18:14] KatieWoe commented on #785
QA is done

[2022-03-31 02:26] pixelzoom commented on #776
@KatieWoe what's the status of this issue?  I see a few "NEW" templates in qa/issue-templates/.   Do they need to be reviewed, or can they be merged into the official templates?

[2022-03-31 17:47] jessegreenberg commented on #785
Awesome, thanks very much QA. This is a super helpful list of issues. Will be going through each.

[2022-03-31 18:34] #785 closed

[2022-03-31 19:26] pixelzoom opened #793 "RC test: Geometric Optics 1.1.0-rc.2"
<h1>RC Spot Check Test</h1>

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/geometric-optics/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-rc.2)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-rc.2/phet/geometric-optics_all_phet.html)

<h3>Test Matricies</h3>

General Test:

-

[2022-03-31 20:09] pixelzoom commented on #793
@KatieWoe We're probably going to promote this from a prototype version to a public version.   Since the first test was rc-lite, could you please test on platforms that you might have misses in that rc-lite testing.  Thanks!

[2022-03-31 20:55] pixelzoom commented on #787
Testing for 1.1.0-rc.2 has started, so closing this issue.

[2022-03-31 20:55] #787 closed

[2022-03-31 21:29] ariel-phet commented on #793
Self-assigning to do a bit of testing

[2022-03-31 22:52] KatieWoe commented on #791
Phet brand memory test:
<img width="362" alt="brandmemtest" src="https://user-images.githubusercontent.com/41024075/161162087-5a23582d-4764-4f23-b791-26a7d61fc424.png">
Phet-io brand memory test:
<img width="339" alt="iomem" src="https://user-images.githubusercontent.com/41024075/161162360-4f97081f-b7d1-4f28-8233-330bce0a63fe.png">

[2022-04-01 15:59] zepumph commented on #777
Hello QA! We have pushed this back ~1 month to get some more PhET-iO common code work complete first. There will likely be dev versions sent to you in the interim.

[2022-04-01 16:16] zepumph commented on #792
Can we be explicit then, like "all time minus screen-reader testing." There is a trend amongst the team to try to remove `a11y` from the project vernacular. Features are features, and there are lots of them (some of them the a11y-team made). This is the same sentiment that I'm sure you are aware of that caused the new templates to just have a bunch of feature checkboxes at the top.

What do you th

[2022-04-04 19:21] pixelzoom commented on #793
Unassigning @ariel-phet, he requested to be added to the next RC spot-check.

[2022-04-04 21:15] KatieWoe commented on #791
Metacog performance is quite low. On win 11 chrome there was noticeable lag. On iPad Safari I saw the behavior described in https://github.com/phetsims/friction/issues/278

[2022-04-04 21:55] KatieWoe commented on #792
Changes for Number 2 made above

[2022-04-04 22:30] #734 closed

[2022-04-04 23:04] chrisklus commented on #761
All issues have been fixed, closing.

[2022-04-04 23:04] #761 closed

[2022-04-04 23:13] zepumph commented on #717
Excellent! Thank you @KatieWoe  and all QA.

[2022-04-04 23:13] #717 closed

[2022-04-05 18:12] pixelzoom opened #794 "RC Spot-Check Test: Geometric Optics 1.1.0-rc.3"
<h1> RC Spot-Check Test</h1>

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/geometric-optics/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-rc.3)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/geometric-optics/1.1.0-rc.3/phet/geometric-optics_all_phet.html)

<h3>Test Matricies</h3>

General Test:

[2022-04-05 18:15] pixelzoom commented on #792
I see that you've added an <h1> tag to all of the templates, like:

This feels unnecessary and redundant.  The name of the sim and version are already in the issue title, and the issue label identifies the type of test.   If you want to provide a template for the issue title that we can cut-&-paste, that would be fine. But duplication like this is exactly what we were trying to eliminate.

[2022-04-05 18:18] pixelzoom commented on #793
1.1.0-rc.3 is published, so closing this issue.

[2022-04-05 18:18] #793 closed

[2022-04-05 18:23] KatieWoe commented on #792
Undone. If you guys decide what you want the first request to look like, let me know and I'll implement it. Until then, closing.

[2022-04-05 18:31] pixelzoom commented on #792
Let's get a cut-&-paste title into the template.

@KatieWoe do you want the title to include what type of test it is?

This could be as easy at converting this:

`<h1>RC Spot Check Test: {{SIM}} {{VERSION}}</h1>`

to an instruction in the "DEVELOPERS" comment:

`use this title: RC Spot Check Test: {{SIM}} {{VERSION}}`

[2022-04-05 18:34] KatieWoe commented on #792
I don't mind either way. I do want it to say RC, RC Spot Check, etc. But sim and version I'm willing to do whatever works best for everyone. But I'm not sure what that is and don't want to make a decision that not everyone agrees with

[2022-04-05 18:34] pixelzoom commented on #792
@KatieWoe said:

I linked them above.

[2022-04-05 18:35] pixelzoom commented on #792
Why do you need an `<h1>` head that says "RC Spot Check" it the issue title is "RC Spot Check: Geometric Optics 1.1.0-rc.3" ?

[2022-04-05 18:37] KatieWoe commented on #792
It's easier to see at a glance and less likely to be changed or omitted.

[2022-04-05 19:01] pixelzoom commented on #792
@KatieWoe and I discussed on Zoom.

She would like a header on the body of the issue, because her eye goes to the body, not the title.

In the above commits, I've added a title template (what @zepumph requested in 1. above) to the "DEVELOPER" comment block.  For example:

[code]

The title prefix matches the `<h1>` in the issue body.  So for the example above, the `<h1>` is:

`<h1>Dev-Lite Test</h

[2022-04-05 22:47] KatieWoe commented on #794
QA is done

[2022-04-06 00:45] pixelzoom commented on #794
Thanks QA.  We're ready from 1.1 production deploy.

Closing.

[2022-04-06 00:45] #794 closed

[2022-04-06 17:48] jessegreenberg commented on #785
These are the issues from this test that would be good to review with someone from the design team:

- https://github.com/phetsims/scenery/issues/1383
- https://github.com/phetsims/scenery/issues/1388
- https://github.com/phetsims/scenery/issues/1392

The rest are about the implementation or almost ready to close.

[2022-04-06 19:32] chrisklus opened #795 "RC test: Center and Variability 1.0.0-rc.2"
<h1>RC Test</h1>

**Mentions**: @amanda-phet @samreid

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/center-and-variability/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/center-and-variability/1.0.0-rc.2)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/center-and-variability/1.0.0-rc.2/phet/center-and-variability_all_phe

[2022-04-07 06:11] chrisklus commented on #789
A new RC test has been created, see https://github.com/phetsims/qa/issues/795. Closing.

[2022-04-07 06:11] #789 closed

[2022-04-07 22:14] KatieWoe commented on #776
Things are looking good with these changes. Closing

[2022-04-08 00:00] pixelzoom commented on #776
Reopening.  We still have NEW.md and old template files. @KatieWoe would you like me to merge them?

[2022-04-08 14:38] KatieWoe commented on #776
If you have a fast way to do it, that's fine. Otherwise I can do it when there's a lull in testing.

[2022-04-08 14:41] KatieWoe commented on #791
QA is done

[2022-04-10 19:50] pixelzoom commented on #776
I merge the NEW.md files into the "official" .md files for the issue templates.  @KatieWoe please review. If it looks OK, please close.

[2022-04-11 15:32] KatieWoe commented on #776
Everything looks good! Thanks @pixelzoom

[2022-04-11 15:32] #776 closed

[2022-04-11 16:58] pixelzoom opened #796 "RC Spot-Check Test: Geometric Optics 1.1.1-rc.1"
<h1>RC Spot-Check Test</h1>

**Mentions**: @arouinfar @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/geometric-optics/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/geometric-optics/1.1.1-rc.1/phet/)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/geometric-optics/1.1.1-rc.1/phet/geometric-optics_all_phet.html

[2022-04-11 20:43] amanda-phet commented on #795
We have a tight deadline for this test, so if possible please complete all PhET-iO testing by 4/12/22 4pm MT. Thank you!

[2022-04-12 20:52] KatieWoe commented on #795
QA is done

[2022-04-12 22:24] arouinfar commented on #796
The one issue that needed spot-checking has been closed. Is there more testing that needs to be done? It would be great to get this maintenance release out ASAP, as the published sim contains a pretty serious bug.

[2022-04-12 22:25] KatieWoe commented on #796
I think we're ready to close this one.

[2022-04-12 23:10] pixelzoom commented on #796
Thanks QA. 1.1.1 is published. Closing.

[2022-04-12 23:10] #796 closed

[2022-04-14 15:59] chrisklus opened #797 "RC Test: Number Play 1.0.0-rc.1"
<h1>RC Test</h1>

**Mentions**: @amanda-phet, @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/number-play/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/number-play/1.0.0-rc.1)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/number-play/1.0.0-rc.1/phet/number-play_all_phet.html)

<h3>Test Matricies</h3>

- [Gen

[2022-04-14 16:08] samreid commented on #795
Thanks, nice work everyone!  @chrisklus and I triaged the issues and published 1.0 as a prototype.  Closing.  Tagging @amanda-phet so she is aware.

[2022-04-14 16:08] #795 closed

[2022-04-15 16:20] KatieWoe commented on #742
This will be returned to in the future for a check in if needed.

[2022-04-15 21:33] pixelzoom opened #798 "Dev Test: Geometric Optics 1.2.0-dev.1"
<h1>Dev Test</h1>

**Mentions**: @arouinfar @kathy-phet @ariel-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/geometric-optics/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/geometric-optics/1.2.0-dev.1)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/geometric-optics/1.2.0-dev.1/phet/geometric-optics_all_phet.html)

[2022-04-15 21:38] pixelzoom opened #799 "Dev Test: Geometric Optics: Basics 1.2.0-dev.2"
<h1>Dev Test</h1>

**Mentions**: @arouinfar @kathy-phet @ariel-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/geometric-optics-basics/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/geometric-optics-basics/1.2.0-dev.2)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/geometric-optics-basics/1.2.0-dev.2/phet/geometric-o

[2022-04-15 22:50] KatieWoe commented on #797
Calling QA here. Fewer platforms were hit, but I think we hit everything important. QA credits include Nancy, Emily, and myself.

[2022-04-16 00:37] chrisklus commented on #797
Awesome, thanks so much for the quick turnaround @Nancy-Salpepi @stemilymill @KatieWoe !

[2022-04-18 16:48] chrisklus commented on #771
Another test was opened in https://github.com/phetsims/qa/issues/797#issuecomment-1100453733, closing.

[2022-04-18 16:48] #771 closed

[2022-04-18 20:43] KatieWoe commented on #799
On hold until a studio issue is addressed.

[2022-04-18 20:52] KatieWoe commented on #798
On hold for Studio bug

[2022-04-18 20:55] mattpen opened #800 "Dev Test: Android App 2.0.5"
<h1>Dev Test</h1>

**Mentions**: @oliver-phet @kathy-phet

<h3>App links</h3>

- [github repository for issues](https://github.com/phetsims/phet-android-app/issues)
- [play store entry](https://play.google.com/store/apps/details?id=edu.colorado.phet.androidApp)
  - This app will show version 2.0.4 if you are viewing the page with an account that is not listed in PhET's internal testers.  Contact @

[2022-04-18 21:29] pixelzoom commented on #799
@KatieWoe let’s proceed with QA, using ?phetioDebug with Studio.  We think that will allow useful testing to continue.   Be aware that there are blocking PhET-iO issues that are in various states of “in progress”, and you’re likely to encounter them.  Create sim-specific issues, and I’ll triage them as needed.

[2022-04-18 21:30] pixelzoom commented on #798
@KatieWoe let’s proceed with QA, using ?phetioDebug with Studio.  We think that will allow useful testing to continue.   Be aware that there are blocking PhET-iO issues that are in various states of “in progress”, and you’re likely to encounter them.  Create sim-specific issues, and I’ll triage them as needed.

[2022-04-18 22:44] KatieWoe commented on #799
Memory test for phet-brand:
<img width="332" alt="basicsmem" src="https://user-images.githubusercontent.com/41024075/163889012-6345ef47-e09b-48c1-b1b7-6e9890a49c1c.png">
Memory test for phet-io-brand:
<img width="349" alt="basiciomem" src="https://user-images.githubusercontent.com/41024075/163889035-a3240b96-20f2-4754-ab90-c2048a3446f4.png">

[2022-04-18 22:50] pixelzoom commented on #799
For comparison, previous memory tests were https://github.com/phetsims/geometric-optics-basics/issues/12 (brand=phet) and https://github.com/phetsims/geometric-optics-basics/issues/13 (brand=phet-io).

[2022-04-19 04:05] mattpen commented on #800
Assigning @KatieWoe and @kathy-phet for priority.

[2022-04-19 19:41] kathy-phet commented on #800
@KatieWoe - What devices do we have in house that we can use to test this app?

[2022-04-19 19:46] KatieWoe commented on #800
In house we have An android tablet that runs android 8 and can't seem to go beyond that. The latest is 12, and according to Matt the earliest our users run is 9, so we should probably get updated devices. However, @mattpen also mentioned on Slack that he thinks this test will require Chromebooks rather than android devices, and not to start until that is determined and this issue is updated. If we

[2022-04-19 19:59] mattpen commented on #800
I did some more digging and found that users could be using versions as early as 5 (Lollipop).

I recall that in the last test we tested Chromebooks and Android Phones.  I was suggesting that we don't need to test Android Tablets.  I updated the list, but it is still a little broad.

[2022-04-19 20:48] kathy-phet commented on #800
Let's start on the Chromebooks we have and Android Phones.

[2022-04-19 20:50] kathy-phet commented on #800
Also, it would be good to indicate which devices get tested ... so we have clarity when we look back at what was tested. @KatieWoe - Perhaps change this issue template to include device specs for testing to.

[2022-04-20 21:21] KatieWoe commented on #798
Performance in the textarea and state wrappers on iPad were fairly poor.

[2022-04-22 19:12] KatieWoe commented on #798
In studio there are two links (PhET-iO Guide, and Examples) that don't lead to anything. Is that intended?

[2022-04-22 21:04] KatieWoe commented on #798
QA is done

[2022-04-22 21:05] KatieWoe commented on #799
QA is done

[2022-04-24 19:22] pixelzoom commented on #798
@KatieWoe I see memory tests for GO:Basics in https://github.com/phetsims/qa/issues/799#issuecomment-1101828131, but no memory test for GO here.   GO should have at least a brand=phet-io memory test.   For reference, my brand=phet-io memory test was done in https://github.com/phetsims/geometric-optics/issues/373.

[2022-04-25 17:03] pixelzoom commented on #799
All issues have been addressed or are being tracked in other issues.  This sim is in good shape, ready for RC testing.

[2022-04-25 17:03] #799 closed

[2022-04-25 17:04] pixelzoom commented on #798
All issues have been addressed or are being tracked in other issues. This sim is in good shape, ready for RC testing.

@KatieWoe if the PhET-iO memory test looks OK, you can close this issue.

[2022-04-26 18:30] KatieWoe commented on #798
PhET-iO memory test:
<img width="341" alt="mem" src="https://user-images.githubusercontent.com/41024075/165367575-5cb20967-e43e-4586-b809-c8f93cc41375.png">

[2022-04-26 18:30] #798 closed

[2022-05-04 15:18] stemilymill commented on #800
Note on Talkback testing:

I was able to navigate around the app using talkback with no problem, but not able to do anything *in the sims* with talkback

[2022-05-04 15:21] mattpen commented on #800
That is the expected result! Thank you!

[2022-05-04 20:18] KatieWoe commented on #800
QA is done

[2022-05-04 20:28] ariel-phet commented on #800
I have one UX suggestion I will write in a separate issue, but things were running really beautifully on my phone

[2022-05-05 15:16] KatieWoe commented on #625
A new android device has been added to the tests devices.

[2022-05-05 15:51] KatieWoe commented on #625
Test matrix has been updated. Closing

[2022-05-05 15:51] #625 closed

[2022-05-06 02:50] chrisklus commented on #797
This RC was deployed to production, thanks all! Closing.

[2022-05-06 02:50] #797 closed

[2022-05-10 04:50] liam-mulhall opened #801 "Dev Lite Test: PhET Desktop App 2022-05-09"
@kathy-phet, @oliver-phet, and @KatieWoe, there's a new PhET desktop app build up: https://phet-dev.colorado.edu/weddell/dist/2022-05-09/. I had to upgrade electron from version 8 to version 18. That's a really big jump in version numbers, so we'd like a test before deploying.

QA, please:

- [ ] verify that all of the sims listed in https://github.com/phetsims/weddell/issues/83#issuecomment-10124

[2022-05-10 15:01] KatieWoe commented on #801
- [ ] Platform = , Time = , Tester =
- [ ] Platform = , Time = , Tester =
- [ ] Platform = , Time = , Tester =

[2022-05-10 18:55] RVieyra opened #802 "PhET Virtual Workshop Landing Page & Workshops"
@KatieWoe, I'd like to ask for your team's support for QA review of the new Virtual Workshop content, located both here at this landing page https://phet.colorado.edu/en/teaching-resources/virtual-workshop/ and also for each of the 5 workshops (hyperlinked to the big buttons on the landing page).

This content is live, but it is not yet linked to the main web page. It will eventually replace the "

[2022-05-16 22:11] KatieWoe commented on #802
QA is done

[2022-05-17 20:46] KatieWoe commented on #801
If you switch the app to list view, close the app, and reopen it, should it still be in list view?

[2022-05-17 21:01] oliver-phet commented on #801
Could be a nice feature, but not one that we've intentionally designed in to the app at this point.

[2022-05-17 21:47] KatieWoe commented on #801
What is the logic to the locale ordering? They seem to mostly be alphabetical, but not all. Spanish is right after English for example.

[2022-05-17 22:01] liam-mulhall commented on #801
The locale ordering is probably based on the locale code, e.g. en for English, es for Spanish.

[2022-05-18 17:15] Nancy-Salpepi commented on #801
@liam @oliver-phet
How accessible is the app supposed to be? Currently, I can tab through all of the sims, but that is it. I can't change the view, what types of sims are listed, locale, etc.
Is this something worth making an issue about?

[2022-05-18 17:37] liam-mulhall commented on #801
@Nancy-Salpepi, we haven't had the time/funding to make it accessible, so we don't expect it to be accessible.

[2022-05-18 20:25] mattpen opened #803 "Test: Android App 2.0.18"
# Android App QA Test

## Links and dates

- Sim release for testing the online update system: Forces and Motion Basics 2.3.19 or later
- Sim release for testing the offline update system: Forces and Motion Basics 2.3.18 *exactly*
- App Previous Version: 2.0.4
- App Test Version: 2.0.18
- Play Store: https://play.google.com/store/apps/details?id=edu.colorado.phet.androidApp
- Internal Test Page: h

[2022-05-18 20:30] mattpen commented on #803
Assigning @kathy-phet and @KatieWoe for prioritization.

[2022-05-18 20:32] mattpen commented on #803
It currently looks like this test is blocked because the production version has failed review ... I'm working with Google support on getting this up and running.

[2022-05-18 21:57] KatieWoe commented on #801
QA is done

[2022-05-19 15:27] pixelzoom opened #804 "Dev Test: Function Builder 1.2.0-dev.7"
<h1>Dev Test</h1>

**Mentions**: @amanda-phet @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/function-builder/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/function-builder/1.2.0-dev.7)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/function-builder/1.2.0-dev.7/phet/function-builder_all_phet.html)

<h3>Test

[2022-05-19 15:31] pixelzoom opened #805 "Dev Test: Function Builder: Basics 1.2.0-dev.3"
<h1>Dev Test</h1>

**Mentions**: @amanda-phet @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/function-builder-basics/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/function-builder-basics/1.2.0-dev.3)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/function-builder-basics/1.2.0-dev.3/phet/function-builder-basi

[2022-05-19 15:46] pixelzoom commented on #792
@KatieWoe can this issue be closed?

[2022-05-19 15:47] #792 closed

[2022-05-19 18:23] KatieWoe commented on #805
LoL tested on Win 11 Chrome. Things looked ok.

[2022-05-19 18:23] KatieWoe commented on #804
LoL tested on Win 11 Chrome. Things looked ok.

[2022-05-20 16:36] KatieWoe commented on #805
Memory Test:
<img width="341" alt="basicmemtest" src="https://user-images.githubusercontent.com/41024075/169573141-b527d4cc-6f66-474b-a4f3-a9fc8b39b708.png">

[2022-05-20 17:34] RVieyra commented on #802
Thanks to all who have found and resolved many of these bugs!

For all content-related materials (text, PDFs, etc.), I confirm that what is now on ox-dev is ready for publication (after other technical-related issues are closed).

[2022-05-20 18:57] zepumph opened #806 "Setup QA with new Metacog account for data recording and requests."
@KatieWoe, the next time you need to do a metacog recording download, will you please reach out to me for an updated process? There is a new UI that will most likely be very helpful to your testing.

[2022-05-20 18:57] zepumph commented on #806
I think it will be easiest to do this when you have a test to complete, and we can update documentation then as we discuss.

[2022-05-24 19:57] KatieWoe commented on #804
I'm calling QA here

[2022-05-24 19:57] KatieWoe commented on #805
I'm calling QA here.

[2022-05-26 21:07] pixelzoom opened #807 "RC Test: Function Builder 1.2.0-rc.1"
<h1>RC Test</h1>

**Mentions**: @amanda-phet @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/function-builder/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/function-builder/1.2.0-rc.1)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/function-builder/1.2.0-rc.1/phet/function-builder_en_phet.html)

<h3>Test Matr

[2022-05-26 21:25] pixelzoom opened #808 "RC Test: Function Builder: Basics 1.2.0-rc.1"
<h1>RC Test</h1>

**Mentions**: @amanda-phet @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/function-builder-basics/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/function-builder-basics/1.2.0-rc.1)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/function-builder-basics/1.2.0-rc.1/phet/function-builder-basics_

[2022-05-26 21:26] pixelzoom commented on #804
1.2 RC testing has begun, see #807. Closing.

[2022-05-26 21:26] #804 closed

[2022-05-26 21:26] pixelzoom commented on #805
1.2 RC testing has begun, see #808. Closing.

[2022-05-26 21:26] #805 closed

[2022-05-27 19:31] KatieWoe commented on #807
Memory test:
<img width="354" alt="memtest" src="https://user-images.githubusercontent.com/41024075/170777712-976b0a9c-d242-4e12-b6c5-23589df5df68.png">

[2022-05-27 19:46] KatieWoe commented on #808
Memory test:
<img width="350" alt="membasic" src="https://user-images.githubusercontent.com/41024075/170779901-16601e29-1dae-4914-ae95-b7127a4aa7a4.png">

[2022-06-06 19:33] zepumph commented on #779
We are really close on this one. All `a11y` labels are gone except dev:a11y, which has just 47 left. If you could do another push on this when you're bored that would be awesome. Thanks!

[2022-06-07 15:42] Luisav1 opened #809 "Dev Test: Build a Nucleus 1.0.0-betaDecay.11"
<h1>Dev Test</h1>

**Mentions**: @chrisklus @ariel-phet @arouinfar

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/build-a-nucleus/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/build-a-nucleus/1.0.0-betaDecay.11)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/build-a-nucleus/1.0.0-betaDecay.11/phet/build-a-nucleus_all_ph

[2022-06-07 19:45] marlitas opened #810 "Dev Test: Mean: Share and Balance 1.0.0-dev.4"
<h1>Dev Test</h1>

**Mentions**: @samreid @amanda-phet @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/mean-share-and-balance/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/mean-share-and-balance/1.0.0-dev.4)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/mean-share-and-balance/1.0.0-dev.4/phet/mean-share-and-

[2022-06-07 20:55] KatieWoe commented on #807
Calling QA here

[2022-06-07 20:55] KatieWoe commented on #808
Calling QA here

[2022-06-08 18:41] marlitas commented on #810
Thanks for giving me that space to upload the new fixed dev version. Ran through the sim, and all looks ready to go for QA!

[2022-06-08 20:50] jbphet opened #811 "Dev Test: Greenhouse Effect 1.1.0-dev.9"
<h1>Dev Test</h1>

**Mentions**: @arouinfar, @kathy-phet, @jessegreenberg

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/greenhouse-effect/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/greenhouse-effect/1.1.0-dev.9)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/greenhouse-effect/1.1.0-dev.9/phet/greenhouse-effect_all_p

[2022-06-10 13:28] #658 closed

[2022-06-10 16:41] mattpen opened #812 "Website: team-member related pages"
The admin page for managing Team Members and PhET Fellows has been ported to React and is available to test.  This also involved refactoring methods used in the Supporters admin so we should do a regression test for that page as well.

<h2>What To Test</h2>

1. https://ox-dev.colorado.edu/admin/team-members
  - Add a new team member of every type
  - Update a team member, testing every available f

[2022-06-10 17:01] mattpen commented on #812
Assigning to @KatieWoe for priority

[2022-06-10 21:41] pixelzoom opened #813 "RC Spot-Check Test: Function Builder 1.2.0-rc.2"
<h1>RC Spot-Check Test</h1>

**Mentions**: @amanda-phet @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/function-builder/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/function-builder/1.2.0-rc.2/phet/)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/function-builder/1.2.0-rc.2/phet/function-builder_all_phet.ht

[2022-06-10 21:43] pixelzoom opened #814 "RC Spot-Check Test: Function Builder: Basics 1.2.0-rc.2"
<h1>RC Spot-Check Test</h1>

**Mentions**: @amanda-phet @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/function-builder-basics/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/function-builder-basics/1.2.0-rc.2/phet/)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/function-builder-basics/1.2.0-rc.2/phet/functio

[2022-06-10 21:44] KatieWoe commented on #809
Calling QA here

[2022-06-10 21:46] pixelzoom commented on #807
Discussed with @KatieWoe and @jonathanolson. We'll do another RC spot-check to patch https://github.com/phetsims/function-builder/issues/150 (Screenshot crash).

Closing.

[2022-06-10 21:46] #807 closed

[2022-06-10 21:46] pixelzoom commented on #808
Discussed with @KatieWoe and @jonathanolson. We'll do another RC spot-check to patch https://github.com/phetsims/function-builder/issues/150 (Screenshot crash).

Closing.

[2022-06-10 21:46] #808 closed

[2022-06-13 19:17] KatieWoe commented on #814
QA is done with the spot check

[2022-06-13 19:18] KatieWoe commented on #813
QA is done with the spot check

[2022-06-13 20:25] pixelzoom commented on #813
Thanks QA team.  After updating QA credits for https://github.com/phetsims/function-builder/issues/141, I'll proceed with 1.2 production deploy. Closing.

[2022-06-13 20:25] #813 closed

[2022-06-13 20:25] pixelzoom commented on #814
Thanks QA team.  After updating QA credits for https://github.com/phetsims/function-builder/issues/141, I'll proceed with 1.2 production deploy. Closing.

[2022-06-13 20:25] #814 closed

[2022-06-13 20:58] KatieWoe commented on #811
Memory test:
<img width="345" alt="greenmem" src="https://user-images.githubusercontent.com/41024075/173444319-bb5c9c71-206a-474a-9cc8-ddf3473a0069.png">

[2022-06-13 21:25] KatieWoe commented on #810
Memory test:
<img width="347" alt="meanmem" src="https://user-images.githubusercontent.com/41024075/173448058-f5584781-8e03-4522-938d-08ae52d0ef5d.png">

[2022-06-14 21:21] RVieyra commented on #802
I believe we can close this particular issue. If not, please re-open. The remaining linked issues are separate issues, and are not high priority as I understand it.

[2022-06-14 21:21] #802 closed, assigned to RVieyra

[2022-06-14 21:21] RVieyra commented on #802
Thank you to all!

[2022-06-14 21:25] RVieyra opened #815 "PhET Virtual Workshop and Landing Page (SPANISH)"
Dear QA team,

I'd like to ask for your support to do a QA review of the Spanish version of the PhET Virtual Workshop and Landing Pages. I know I thought this might happen early last week, so please let me know when you might have time to schedule this into your flow.

Please don't worry about grammar (as it's in Spanish, as we've had at least 2-3 people go through it at this point). Some things I

[2022-06-15 21:52] KatieWoe commented on #812
I was unable to create a new team member (Director) in the first test. Bellow is the console error.
<img width="960" alt="failerror" src="https://user-images.githubusercontent.com/41024075/173936641-f67150ff-0a41-4317-a459-8eaa4155ec59.png">

[2022-06-15 22:26] mattpen commented on #812
I needed to run `GRANT USAGE, SELECT ON SEQUENCE team_member_id_seq to phet;` in the database.  I have a script to run these commands in production when we switch.  Creating new team members should work now.

[2022-06-16 20:32] mattpen commented on #800
This test is complete, superceded by https://github.com/phetsims/qa/issues/803

[2022-06-16 20:56] KatieWoe commented on #812
Part 1 Fully tested on Win 11 Chrome

[2022-06-16 21:20] #800 closed

[2022-06-17 16:41] KatieWoe commented on #812
Does anyone know why there are so many duplicates on the supporters page? Is this a bug? They seem duplicated to the point that they both seem to be in the same place on the edit page (you can only move Alpha Productions down, not move the second one up).
<img width="960" alt="alpha" src="https://user-images.githubusercontent.com/41024075/174340871-6867b870-db3a-4cd5-ab99-b31e7407e611.png">

[2022-06-18 05:38] mattpen commented on #812
That looks like a problem specific to ox-dev. I doubt this is a bug.

[2022-06-20 14:31] KatieWoe commented on #812
Is there an easy fix? It does make testing a bit hard.

[2022-06-20 16:59] jbphet commented on #811
Thanks QA team.  I'll follow up in the individually logged issues.  Closing this one.

[2022-06-20 16:59] #811 closed

[2022-06-20 17:04] mattpen commented on #812
Well, syncing is going to be difficult.  Part of this changeset included a mongo upgrade, which makes a database dump/restore difficult.  As long as you are on ox-dev, you can delete the duplicates.  Would that be ok - or is that a lot of work? (I'm aware of phetsims/website-meteor#473 and working on a fix today)

[2022-06-20 17:11] KatieWoe commented on #812
I can do that, though we can't delete anything right now due to https://github.com/phetsims/website-meteor/issues/473

[2022-06-22 10:45] RVieyra commented on #815
Hi, @KatieWoe! Does this mean that the QA review is complete? If so, thank you!

[2022-06-22 17:44] RVieyra commented on #815
Thank you! I will close this issue, but continue to monitor the related issues that have been assigned to specific developers and/or to me.

[2022-06-22 20:28] Nancy-Salpepi commented on #812
Just an FYI- Amy is going to update her twitter handle. The link currently takes you to an account that no longer exists.

[2022-06-23 16:53] zepumph opened #816 "Dev Test: Gravity and Orbits 1.6.0-dev.2"
<h1>Dev Test</h1>

**Mentions**: @kathy-phet @samreid @arouinfar

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/gravity-and-orbits/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-dev.2)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-dev.2/phet/gravity-and-orbits_all_phet.h

[2022-06-23 16:59] arouinfar commented on #816
QA -- please note that the client guides still have many pending updates, see https://github.com/phetsims/phet-io-sim-specific/issues/3

[2022-06-23 20:16] KatieWoe commented on #812
QA is done

[2022-06-24 18:08] jbphet opened #817 "Regression test score displays"
For https://github.com/phetsims/vegas/issues/102 I had to make some major changes to the code that displays the users' score in various games.  These score displays generally appear on the level selection buttons and/or the status bars in the games.  Here are a handful of screenshots that depict score displays in different settings to help clarify:

![image](https://user-images.githubusercontent.c

[2022-06-24 19:52] KatieWoe commented on #816
Memory Test:
<img width="351" alt="memtest" src="https://user-images.githubusercontent.com/41024075/175657972-c4f1e1ac-7ca1-4a41-936b-db4a666072f0.png">
PhET-iO Memory Test:
<img width="350" alt="memiotest" src="https://user-images.githubusercontent.com/41024075/175658017-ade20ca8-fa39-4910-83ea-336c32312738.png">

[2022-06-24 22:39] KatieWoe commented on #817
List of sims with scores on master:
- Area Builder
- Area Model Algebra
- Area Model Multiplication
- Arithmetic
- Balancing Act
- Balancing Chemical Equations
- Build a Fraction
- Build an Atom
- Equality Explorer
- Expression Exchange
- Fourier Making Waves
- Fraction Matcher
- Fractions Equality
- Fractions Intro
- Fractions Mixed Numbers
- Gene Expression Esentials?
- Graphing Lines
- Graphing

[2022-06-30 22:17] KatieWoe commented on #816
Some lag seen in the Data: textarea wrapper on iPadOS 15.

[2022-07-02 04:10] mattpen commented on #812
This was deployed to production! Closing.

[2022-07-02 04:10] #812 closed

[2022-07-05 22:22] KatieWoe commented on #816
Calling QA here.

[2022-07-06 16:46] samreid commented on #816
Thanks, all issues reviewed and assigned accordingly.  Closing.

[2022-07-06 16:46] #816 closed

[2022-07-06 23:51] pixelzoom opened #818 "Dev Test: Natural Selection 1.5.0-dev.1"
<h1>Dev Test</h1>

**Mentions**: @amanda-phet @kathy-phet @samreid @zepumph @arouinfar

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/natural-selection/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/natural-selection/1.5.0-dev.1/phet/)
- [sim: natural-selection_all_phet.html](https://phet-dev.colorado.edu/html/natural-selection/1.5

[2022-07-07 00:08] pixelzoom commented on #818
QA please note... According to @arouinfar, the client guides still have many pending updates, see https://github.com/phetsims/phet-io-sim-specific/issues/3.  So please skip the client guides for this dev test.

[2022-07-07 17:12] mattpen commented on #803
The block was cleared from the play store and this test can now proceed.  Assigning @kathy-phet and @KatieWoe for priority.

[2022-07-07 18:49] kathy-phet commented on #803
@mattpen - Is the new version live then? Or is this question for optimizing timing for making it live and testing right away?

[2022-07-08 18:31] jbphet opened #819 "Dev Lite Test: Greenhouse Effect 1.1.0-dev.10"
<h1>Dev-Lite Test</h1>

This is a dev lite test of the *first screen only* for the Greenhouse Effect sim.  This test is being done to make sure
that this screen is ready for a set of interviews that will be focused on interactive descriptions.  This is the
second dev test for this purpose, and several issues have been addressed based on the first dev test.

**Mentions**: @KatieWoe, @arouinfar, @ka

[2022-07-08 19:21] Nancy-Salpepi commented on #818
Memory Tests:
PhET brand
<img width="521" alt="Screen Shot 2022-07-08 at 2 56 04 PM" src="https://user-images.githubusercontent.com/87318828/178057130-c472d297-1fe8-471e-bfb9-5b2b209e9e9e.png">

PhET-iO brand
<img width="521" alt="Screen Shot 2022-07-08 at 3 19 45 PM" src="https://user-images.githubusercontent.com/87318828/178057177-374d1f1b-a291-4a98-84e2-e8b2b0a06945.png">

[2022-07-12 21:45] arouinfar commented on #819
@KatieWoe @Nancy-Salpepi @stemilymill

When testing with a screen reader, please compare the responses to the Activity Log in the a11y view. In particular, when changing the greenhouse gas concentration with the slider, there is a set of responses like this: (numbered in order of how they should be heard)
[code]
It's important to know if all of these statements get heard, or if they get cut off be

[2022-07-13 20:25] zepumph commented on #777
This has been fully communicated. Closing

[2022-07-13 20:25] #777 closed

[2022-07-13 20:41] pixelzoom commented on #818
Thanks QA team!

Summary:
* 0 sim-specific general issues
* 2 sim-specific PhET-iO issues
* 2 general PhET-iO issues
* 1 scenery layout issue

[2022-07-13 23:59] #818 closed

[2022-07-15 15:21] KatieWoe commented on #803
I had one instance where the app closed unexpectedly while trying to open a sim. It hasn't repeated itself, so it may be a one off. @mattpen let me know if you want to discuss further.

[2022-07-15 15:50] mattpen commented on #803
I'll keep an eye on the Crashes/ANR reports. It doesn't sound like its worth investigating further, unless it becomes reproducible.

[2022-07-15 22:45] KatieWoe commented on #803
Translation tests were done on Android 11 tablet. ChromeOS was tested more lightly due to https://github.com/phetsims/phet-android-app/issues/175. QA is done

[2022-07-18 18:41] mattpen commented on #803
Thanks @KatieWoe. Closing.

[2022-07-18 18:41] #803 closed

[2022-07-18 20:31] KatieWoe commented on #819
Calling QA here.

[2022-07-18 22:03] jonathanolson opened #820 "Dev Test: Density 1.1.0-dev.2"
<h1>Dev Test</h1>

**Mentions**: @arouinfar, @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/density/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/density/1.1.0-dev.2)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/density/1.1.0-dev.2/phet/density_all_phet.html)
- [phet-io wrapper index](https://phet-dev.colo

[2022-07-19 20:48] KatieWoe commented on #820
Memory Test:
<img width="348" alt="memtestden" src="https://user-images.githubusercontent.com/41024075/179845572-69715fad-a208-4e88-a91b-16421feaff21.png">
PhET-iO Memory Test:
<img width="347" alt="iomemden" src="https://user-images.githubusercontent.com/41024075/179845605-8dcfa919-f793-4acd-b058-1b3f9da1a37a.png">

[2022-07-21 17:25] arouinfar commented on #820
@KatieWoe @stemilymill @Nancy-Salpepi

When testing the "Get Value" and "Set Value" functionality in Studio, it would be good to focus on the example customizations described in the [Examples](https://phet-dev.colorado.edu/html/density/1.1.0-dev.2/phet-io/doc/guides/examples.html) doc. The doc includes instructions for how to customize the mass, volume, material, density, etc.  The process differs

[2022-07-22 23:22] marlitas opened #821 "Dev Test: Mean: Share and Balance 1.0.0-dev.6"
<h1>Dev Test</h1>

**Mentions**: @samreid @amanda-phet @kathy-phet
<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/mean-share-and-balance/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/mean-share-and-balance/1.0.0-dev.6)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/mean-share-and-balance/1.0.0-dev.6/phet/mean-share-and-b

[2022-07-25 22:50] KatieWoe commented on #820
I noticed artifacts and some lag when moving blocks in phet-io when the sim was in an iframe. Let me know if you want this in a specific issue.

https://user-images.githubusercontent.com/41024075/180887218-49790463-063a-41ca-a142-fd3b8459428b.MOV

[2022-07-26 14:29] KatieWoe commented on #820
QA is done

[2022-07-26 14:52] arouinfar commented on #820
If lag in the data stream wrapper is indicative of lag in a user-facing product, it could merit an issue, but I'll leave that up to @jonathanolson.

[2022-07-26 17:09] zepumph commented on #820
@KatieWoe, RE: https://github.com/phetsims/qa/issues/820#issuecomment-1194735374, can you please take a look at a change over in https://github.com/phetsims/phet-io-wrappers/issues/450 to see if that helps.

[2022-07-26 19:16] KatieWoe commented on #821
Memory test:
<img width="348" alt="mems" src="https://user-images.githubusercontent.com/41024075/181093010-c862b05f-7971-4202-9ba6-200e8dc33220.png">

[2022-07-28 17:02] KatieWoe commented on #810
Closing since dev.5 was released

[2022-07-28 17:02] #810 closed

[2022-07-29 05:05] kathy-phet opened #822 "Dev Test: Number Play 1.1.0-dev.1"
<h1>Dev Test</h1>

**Mentions**: @amanda-phet @chrisklus @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/number-play/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/number-play/1.1.0-dev.1)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/number-play/1.1.0-dev.1/phet/number-play_all_phet.html)

<h3>Test Matrix</h

[2022-07-29 15:16] Nancy-Salpepi commented on #822
Here is the doc with the query parameters:
https://github.com/phetsims/number-play/blob/master/js/common/NumberPlayQueryParameters.ts

[2022-07-29 15:19] KatieWoe commented on #821
Calling QA here.

[2022-07-29 17:30] jonathanolson commented on #820
Fixed a memory leak above (looks like it may have existed for a while).

[2022-08-01 22:44] #632 closed

[2022-08-02 12:33] Nancy-Salpepi commented on #740
2022 Q3 updates:
* Added directions for updating Android System Webview (so that app works properly on Chromebooks)

[2022-08-02 16:35] jbphet commented on #819
Thanks @KatieWoe and team.  We will follow up on the individual issues.  Closing.

[2022-08-02 16:35] #819 closed

[2022-08-02 21:50] Luisav1 opened #823 "Dev Test: Build a Nucleus 1.0.0-dev.14"
<h1>Dev Test</h1>

**Mentions**: @chrisklus @ariel-phet @arouinfar

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/build-a-nucleus/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/build-a-nucleus/1.0.0-dev.17)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/build-a-nucleus/1.0.0-dev.17/phet/build-a-nucleus_all_phet.html)

<h

[2022-08-03 15:02] KatieWoe commented on #822
QA is done

[2022-08-03 15:40] Nancy-Salpepi commented on #823
Nuclide Data Table: https://docs.google.com/spreadsheets/d/1kVfWNMYeXEo5dAzQUI5ZKyZwIlnLiQkd/edit#gid=1440307797

Nuclide Chart:
https://energyeducation.ca/simulations/nuclear/nuclidechart.html

[2022-08-03 15:42] KatieWoe commented on #823
Thanks Nancy!

[2022-08-03 15:44] Nancy-Salpepi commented on #823
I was going for a smile emoji not a laugh emoji! 🙂

[2022-08-03 16:25] Luisav1 commented on #809
Closing since I all issues were reviewed.

[2022-08-03 16:25] #809 closed

[2022-08-04 22:40] KatieWoe commented on #823
Minor thing, but let me know if you want an issue for it. I saw on the iPad that if a particle was flying off (such as an electron after B- decay) it would start to lag once it left the play area.

[2022-08-05 17:42] #783 closed

[2022-08-05 17:45] oliver-phet opened #824 "iOS App Test flight 1.3.3 (1081) RC Spot Check"
@KatieWoe can you please prioritize?

Issues to verify:
[Sim updates](https://github.com/phetsims/phet-ios-app/issues/618)
[Latter part of sim list](https://github.com/phetsims/phet-ios-app/issues/621)

This is a spot check.

Testers:
- [x] Tester = KW, Platform = iPadOS 15.6, Time = .25
- [x] Tester = NS , Platform = iPadOS 15.6, Time = 1.25
- [ ] Tester = , Platform = , Time =

[2022-08-05 21:46] KatieWoe commented on #823
Calling QA here.

[2022-08-06 13:45] Nancy-Salpepi commented on #779
@zepumph I see new issues opened with the label dev:ally in June/July 2022. Perhaps a general reminder is needed somewhere?

[2022-08-08 19:14] KatieWoe commented on #824
QA is done. Neither issue seems to be solved.

[2022-08-09 15:37] KatieWoe commented on #817
I think we can call QA here.

[2022-08-09 18:46] jbphet commented on #817
Thanks @KatieWoe and @Nancy-Salpepi.  Closing.

[2022-08-09 18:46] #817 closed

[2022-08-10 19:47] Luisav1 commented on #823
For the comment https://github.com/phetsims/qa/issues/823#issuecomment-1205838950, @KatieWoe yes please an issue for this would be great! @ariel-phet and I will investigate it as a performance issue but it would not block prototype publication.

[2022-08-10 23:35] jbphet opened #825 "Dev-Lite Test: Greenhouse Effect 1.1.0-dev.12"
<h1>Dev-Lite Test</h1>

This is a dev lite test of the *first screen only* for the Greenhouse Effect sim.  This test is being done to make sure
that the sim is ready for a set of interviews that will be focused on testing interactive description.  This is the
third dev test for this, and several issues have been addressed based on the first two dev tests.

**Mentions**: @KatieWoe, @arouinfar, @kat

[2022-08-10 23:37] jbphet commented on #825
Over Slack, @arouinfar said:

With this goal in mind, the QA team should probably view this as a pretty quick sanity test.  Please be in contact with @arouinfar for any more information, and assign the issue to her once completed.

[2022-08-11 16:15] jessegreenberg commented on #825
@Nancy-Salpepi verified that a new change added after dev.11 has fixed https://github.com/phetsims/greenhouse-effect/issues/192. I built a new dev version with this fix so that further testing can include it. Links for this issue have been updated to dev.12 to include the change.

[2022-08-11 22:26] Nancy-Salpepi commented on #825
Passing the baton over to you @arouinfar!

[2022-08-15 21:03] #824 closed

[2022-08-15 22:24] oliver-phet opened #826 "iOS App Test flight 1.3.3 (1084) RC Spot Check"
@KatieWoe can you please prioritize?

Issues to verify:
https://github.com/phetsims/phet-ios-app/issues/618

This is a spot check.

- [x] Tester = KW, Platform = iPadOS 15, Time = 2
- [x] Tester = NS, Platform = iPadOS 15.6 , Time = 1.5hrs
- [x] Tester = E2, Platform = iPadOS 15.1, Time = 1.5

[2022-08-15 22:42] arouinfar commented on #825
Thanks for the quick turnaround @Nancy-Salpepi! I ended up using dev.13 in the interview, and it went well.

[2022-08-15 22:42] #825 closed

[2022-08-16 15:22] KatieWoe commented on #826
Ready to go

[2022-08-17 15:37] KatieWoe commented on #826
Test of https://github.com/phetsims/phet-ios-app/issues/618 is done, but inconclusive. @oliver-phet let me know if you want to collaborate on more testing. Otherwise, QA is done with spot check

[2022-08-18 17:57] zepumph commented on #779
There are 47 labels left! We are close. I'll keep cranking away.

[2022-08-18 18:55] zepumph commented on #779
dev:a11y usages have been changed. I just deleted the label. Thanks all!

[2022-08-18 18:55] #779 closed

[2022-08-18 22:18] JacquiHayes opened #827 "Uploading Teacher Notes into MediaValet (Mastercard Foundation grant)"
(Instructions are also here: https://docs.google.com/document/d/1BlWwg6thJtTgKYgxZ8FMD4_48NJmlUZp_7Wb_AILK8k/edit?pli=1#heading=h.b51ndt10u0w5)

**_Tracking_**

I’ve set up this spreadsheet with all the simulations relevant to the university level.
https://docs.google.com/spreadsheets/d/1EXHNSlCI8Cxug-avm7L2Qu-KrDcf2f8V/edit#gid=679020387

I’ve already uploaded the document for 2 simulations (Geom

[2022-08-18 22:22] KatieWoe commented on #827
Please record time here:
- [ ] Tester = , Time =
- [ ] Tester = , Time =
- [ ] Tester = , Time =
- [ ] Tester = , Time =

[2022-08-19 20:43] Luisav1 opened #828 "RC-Lite Test: Build a Nucleus 1.0.0-rc.8"
<h1>RC-Lite Test</h1>

**Mentions**: @chrisklus @ariel-phet @arouinfar @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/build-a-nucleus/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/build-a-nucleus/1.0.0-rc.8)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/build-a-nucleus/1.0.0-rc.8/phet/build-a-nucleus_all_ph

[2022-08-22 22:09] JacquiHayes commented on #827
Thanks Nancy!

I saw that as well and deleted some older tests that I did.

On Tue, Aug 23, 2022 at 1:31 AM, Nancy Salpepi ***@***.***>
wrote:

[2022-08-23 16:53] Nancy-Salpepi commented on #827
Hi @JacquiHayes! Currently there aren't any teacher tips posted for Collision Lab on the website. Should I just post that sim as the cover page only?

[2022-08-23 21:37] #826 closed

[2022-08-23 21:40] oliver-phet opened #829 "iOS App Test flight 1.4.0 (1001) RC Spot Check"
Steve and I just found a likely culprit causing issues in the iOS app! I’m building a new testflight version now, hoping to have the issue posted later today. :crossed_fingers: (The cache this version was built ~8/3 so any new translations in the last week or so are fine to use as test candidates)

@KatieWoe can you please prioritize?

Issues to verify:
https://github.com/phetsims/phet-ios-app/iss

[2022-08-23 22:42] oliver-phet commented on #829
FYI since the version bumped, this is in Apple review (~24-48 hrs).

[2022-08-24 00:08] samreid opened #830 "Dev Test: Gravity and Orbits 1.6.0-dev.3"
<h1>Dev Test</h1>

**Mentions**: @arouinfar @zepumph @kathy-phet @KatieWoe

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/gravity-and-orbits/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-dev.3)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-dev.3/phet/gravity-and-orbits_

[2022-08-24 00:20] samreid commented on #830
@zepumph @kathy-phet @arouinfar would you like to add any other special instructions or focus for this dev test?

[2022-08-24 04:28] JacquiHayes commented on #827
Did you ask the designers whether the teacher tips are coming?

If not, then the cover page by itself is fine. Thanks!

Am Mi., 24. Aug. 2022 um 02:53 Uhr schrieb Nancy Salpepi <
***@***.***>:

[2022-08-24 18:35] zepumph opened #831 "Dev Test: Ratio and Proportion 1.2.0-dev.31"
<h1>Dev Test</h1>

**Mentions**: @emily-phet @terracoda @BLFiedler

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/ratio-and-proportion/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.31)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-dev.31/phet/ratio-and-proportio

[2022-08-25 21:12] KatieWoe commented on #829
Spot check done

[2022-08-25 21:15] #829 closed

[2022-08-26 16:34] KatieWoe commented on #828
Memory test:
<img width="347" alt="memnucleus" src="https://user-images.githubusercontent.com/41024075/186951010-81215dee-6ab4-4e0e-849b-baeb15f5a7ae.png">

[2022-08-26 17:58] Luisav1 commented on #823
All of the issues from here have been addressed or assigned to someone. Closing.

[2022-08-26 17:58] #823 closed

[2022-08-28 21:49] samreid opened #832 "Review and close stale automated-testing issues"
We have 112 open issues labeled for automated testing: https://github.com/issues?q=is%3Aissue+user%3Aphetsims+label%3Atype%3Aautomated-testing+is%3Aopen

Can you please look through them and see which can be closed?

UPDATE: Or we can just look through the unassigned ones, and request that the assigned developers each look through their own issues?

[2022-08-29 14:40] KatieWoe commented on #832
I'm ok with either. I'll start with unassigned ones.

[2022-08-29 20:59] KatieWoe commented on #828
QA is done

[2022-08-30 16:11] Nancy-Salpepi commented on #827
@JacquiHayes Collision Lab and Build a Molecule were uploaded without the Teacher Tips (unfortunately they weren't made yet).
Let me know if you see any issues!

[2022-08-31 07:56] JacquiHayes commented on #827
I logged in and it looks like all 63 relevant documents are there. Nice work!

[2022-08-31 07:56] #827 closed

[2022-09-02 17:44] KatieWoe commented on #831
Note: I had mentioned in discussions with some testers that testing should include screen reader + camera input. This is not the case. Testing should include voicing + camera input, as well as screen reader testing on it's own, and the other modes discussed.

[2022-09-02 22:12] KatieWoe commented on #830
Calling QA here

[2022-09-02 23:11] samreid commented on #830
Thanks everyone!  We have progress in all of the listed issue--we can track progress there.  Closing.

[2022-09-02 23:11] #830 closed

[2022-09-06 18:09] Nancy-Salpepi commented on #831
@zepumph I am seeing what I reported on the dev-public slack channel on 9/1 with the debug version of the sim. This error appears with mac + safari (not with chrome):
<img width="499" alt="Screen Shot 2022-09-06 at 1 44 42 PM" src="https://user-images.githubusercontent.com/87318828/188704255-e503c5e4-e6c1-4a6a-9689-dde38054508e.png">

I built a version on master and also got the error message ther

[2022-09-06 19:40] zepumph commented on #831
What version of safari are you on? Can you create an issue and paste in the slack messages into that issue, assigning me.

[2022-09-07 16:14] chrisklus opened #833 "RC Spot-Check: Build a Nucleus 1.0.0-rc.10"
<h1>RC Spot-Check Test</h1>

**Mentions**: @Luisav1, @kathy-phet, @ariel-phet, @KatieWoe

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/build-a-nucleus/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/build-a-nucleus/1.0.0-rc.10/)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/build-a-nucleus/1.0.0-rc.10/phet/build-a-nucle

[2022-09-08 15:03] KatieWoe commented on #833
Looks like QA is done!

[2022-09-08 20:22] chrisklus commented on #833
Thanks all!

[2022-09-09 21:03] KatieWoe opened #834 "Review usage and support of older MacOS"
MacOS 13 will likely be coming out in the next month or two. We currently support MacOS 10.13, 10.14, 10.15, 11, and 12. These are spread through our different devices on many partitions and it can be hard to install the new OS while still being able to test the old ones. 10.13 and 10.14 are no longer maintained by Apple according to what I've been able to find, so I think it would be good to thin

[2022-09-09 22:48] KatieWoe commented on #832
Unassigned issues have either been closed or reassigned for a second look.

[2022-09-09 23:00] pixelzoom commented on #832
@KatieWoe please skip the repos that I'm responsible for.  CT issues are already well-triaged, and it's not a good use of my time to have to reply to every CT issue, reopen, unassign, etc.

[2022-09-09 23:01] pixelzoom commented on #832
Ah, well... I didn't get to you in time, and you're done.  So I guess I'll reply to those issues.

[2022-09-12 15:48] stemilymill commented on #831
I was playing with the camera input on my personal computer (microsoft surface pro 6, win10 firefox) and noticed that there was significant lag between my hands moving and the sim hands moving. this computer isn't particularly powerful and does have some performance issues, but i thought it was worth mentioning.

[2022-09-12 22:37] KatieWoe commented on #831
When I turn voicing on or off in Studio it repeats itself. I.E. it says "Voicing off, voicing off" but it doesn't seem to do so in the main sim, or when the sim is launched. Is it worth an issue?

[2022-09-12 22:42] zepumph commented on #831
Yes please.

[2022-09-13 00:25] terracoda commented on #831
Is the sim in a wrapper or I frame in studio?

[2022-09-14 20:41] KatieWoe commented on #831
Calling QA here

[2022-09-16 19:42] marlitas commented on #821
Closing this dev test as done.

[2022-09-16 19:42] #821 closed

[2022-09-16 20:13] marlitas opened #835 "Dev Test: Mean Share and Balance 1.0.0-dev.8"
<h1>Dev Test</h1>

**Mentions**: @kathy-phet @samreid @amanda-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/mean-share-and-balance/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/mean-share-and-balance/1.0.0-dev.8)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/mean-share-and-balance/1.0.0-dev.8/phet/mean-share-and-

[2022-09-19 17:33] jbphet opened #836 "Get set up to test the Haptics Playground Android app"
We are currently working towards full publication of the Haptics Playground app (see https://github.com/phetsims/quake/issues/22) and would like to have QA do some testing on it prior to publication.  QA is probably not in a position at the moment to test this, since we need to have devices that support haptic vibration and we need to be able to load pre-publication versions of the app onto those

[2022-09-19 19:19] Nancy-Salpepi opened #837 "Prediction line doesn't show up clearly in screenshot"
**Test device**
MacBook Air m1 chip

**Operating System**
macOS 12.5.1

**Browser**
safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/821, screenshots don't properly depict the prediction line. It appears as a light gray line.

**Visuals**

<img width="691" alt="Screen Shot 2022-09-19 at 3 18 21 PM" src="https://user-images.githubusercontent.com/87318828/191097885-fb

[2022-09-19 21:17] KatieWoe commented on #836
There are two Android tablets in the office, but neither have haptics. @emily-phet has an Android phone that does have haptics, so she will need to be added to the list.

[2022-09-19 21:23] KatieWoe commented on #836
@emily-phet, @jbphet mentioned looking into getting more devices for testing for better coverage. What are your thoughts on this?

[2022-09-20 16:33] jbphet commented on #836
Here is link for the installing the latest test version: https://play.google.com/apps/internaltest/4701271652165855719.

[2022-09-20 20:10] KatieWoe commented on #836
I was able to download and install the app with the link just fine.

[2022-09-20 21:12] stemilymill commented on #836
I was also able to download and install the app

[2022-09-20 21:42] KatieWoe commented on #835
Memory Test:
<img width="353" alt="mem" src="https://user-images.githubusercontent.com/41024075/191370000-919d4174-c21c-4483-97a2-3b7bea85f5c5.png">

[2022-09-22 19:10] KatieWoe commented on #835
QA is done

[2022-09-27 17:27] samreid opened #838 "RC Test: Gravity and Orbits 1.6.0-rc.1"
<h1>RC Test</h1>

**Mentions**: @kathy-phet @arouinfar @KatieWoe

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/gravity-and-orbits/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-rc.1)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-rc.1/phet/gravity-and-orbits_all_phet.htm

[2022-09-27 17:30] samreid commented on #838
There is a known problem with RC.1 where query string machine prints "key=phetioDebug value=undefined" etc during startup.  This will be corrected with a cherry-pick of https://github.com/phetsims/query-string-machine/commit/03e27127517adb19fba52be93acd7db989d9d6e8

[2022-09-27 19:37] Nancy-Salpepi commented on #838
When hovering over the different scenes an outline now appears, which seems related to https://github.com/phetsims/sun/issues/772.

[2022-09-27 19:59] chrisklus commented on #822
Thanks! Closing.

[2022-09-27 19:59] #822 closed

[2022-09-27 22:40] KatieWoe commented on #838
Memory test:
<img width="348" alt="memtest" src="https://user-images.githubusercontent.com/41024075/192650134-cd246b92-d573-4fda-b29e-994956db01b1.png">
PhET-iO Memory test:
<img width="342" alt="memiotest" src="https://user-images.githubusercontent.com/41024075/192650206-8549f7f7-9bfd-4557-b191-38422765421e.png">

[2022-09-30 14:37] KatieWoe commented on #828
Closing

[2022-09-30 14:37] #828 closed

[2022-09-30 17:41] Nancy-Salpepi commented on #740
9/2022:
Updates to Studio and State wrappers to reflect language changes in studio wrapper and changes to preferences menu.

[2022-10-03 19:50] oliver-phet commented on #834
@KatieWoe MacOS 10.13 only represented 1.65% of MacOS users (.243% of all users) in the last 30 days. I'd say it's save to drop support of that platform -- though it may be best to wait until MacOS 13 is released.

[2022-10-04 00:34] KatieWoe opened #839 "Getting Jaron Started"
- [x] GitHub Email, GitHub Account, Join Organization
- [x] Add Jaron to the QA Team
- [x] Google Calendar
- [x] Add Schedule to Calendar
- [x] Google Drive RC folder
- [x] Timesheet set-up
- [x] Phases of Development
- [x] GitHub Workflow
- [x] How to Test & Tricks-of-the-Trade (simulation locations, query parameters, development tools, etc.)
- [x] Practice Creating an Issue
- [x] Introduce Test

[2022-10-04 15:35] KatieWoe commented on #838
Calling QA here.

[2022-10-04 17:58] jbphet commented on #836
I'm going to close this, since it seems like we're as set up as we're going to get, and will do the next steps in separate issues.

[2022-10-04 17:58] #836 closed

[2022-10-04 18:08] jbphet opened #840 "Figure out how to install alpha test version of Haptics Playground"
Through the Google Play Console, I have uploaded a version of Haptics Playground to what they refer to as an "Alpha Test Track".  I set up the same emails used for the "Internal Test" as testers.  I don't know exactly how the testers are supposed to install this version, since I've never done this before.  The version on my on S7 device seems to be up to date, but I don't know if that's because I

[2022-10-04 18:09] jbphet commented on #840
Once we know how to get this on the test devices, I'll set up a full QA test issue.

[2022-10-04 20:13] stemilymill commented on #840
Going to the play store directly and through the link you posted above, the most recent version of the app available to me is 1.0.0. I don't know if it might take more time for the new test version to become available

[2022-10-04 20:57] zepumph commented on #791
Thanks! Ready to close.

[2022-10-04 20:57] #791 closed

[2022-10-04 22:45] jonathanolson commented on #820
Thanks!

[2022-10-04 22:45] #820 closed

[2022-10-05 22:04] samreid commented on #838
Here are the shas to cherry pick

[code]

[2022-10-05 23:52] samreid opened #841 "RC Test: Gravity and Orbits 1.6.0-rc.3"
The issues in https://github.com/phetsims/qa/issues/838 have been cherry-picked and RC.3 has been published.  The scope and instructions from RC.3 are the same as in RC.1.  All links are the same, except replace "1" with "3" in the rc number.

**Mentions**: @kathy-phet @arouinfar @KatieWoe

The cherry-picks were modular, orthogonal and not too complex, so this should mostly be spot testing the iss

[2022-10-06 01:29] stemilymill commented on #840
I was able to download the new version using the link posted above, but not by searching the play store (as of 10/5/22 7:25 pm MT)

[2022-10-06 03:58] samreid commented on #838
New RC is up, closing this and we will continue there.

[2022-10-06 03:58] #838 closed

[2022-10-06 04:03] samreid commented on #841
I found 3 issues that failed to make it into both RC.1 and RC.2. therefore, I'd like to cancel this RC and work on making RC.3 with those fixes.  I'll tag the issues below.

[2022-10-06 04:17] samreid commented on #841
OK I published RC.3 and testing should happen in that version. Thanks!

[2022-10-07 20:25] KatieWoe commented on #841
Memory Test:
<img width="350" alt="mem" src="https://user-images.githubusercontent.com/41024075/194647094-694f4bfb-4ad5-41ec-9f0d-959607483ff1.png">
Memory Test for PhET-iO:
<img width="350" alt="memio" src="https://user-images.githubusercontent.com/41024075/194647132-96ca12f3-4962-4b22-a2d9-8ea69a91748a.png">

[2022-10-10 17:20] KatieWoe commented on #841
Calling QA here

[2022-10-10 19:46] #840 closed

[2022-10-10 19:59] jbphet opened #842 "Pre-release test: Haptics Playground 1.1.0 Android app"
The Android version of the Haptics Playground app is ready for its first round of alpha testing.  This app is intended to allow users to experiment with haptic vibration patterns on Android devices that support haptic vibration, i.e. devices that have the needed hardware for vibration.  However, the app can still be installed on devices that lack HW support, and the "Enable Sound" setting can be u

[2022-10-12 15:17] KatieWoe commented on #842
Calling QA here

[2022-10-17 18:39] JaronDroder opened #843 "Stuttering for sim when in studio wrapper"
### Test Device

Alien ware m15 r7

### Operating System

Windows 11
### Browser

Version 106.0.5249.119

### Problem Description
Seen in https://github.com/phetsims/qa/issues/838

Stuttering in simulation when set to fast on the studio wrapper (not present in actual sim, just in the studio wrapper)

### Steps to Reproduce
1.Open the studio wrapper for the Gravity and Orbits Simulation
2.Select th

[2022-10-17 18:39] #839 closed

[2022-10-18 00:02] samreid commented on #843
I think part of this may be explained by https://github.com/phetsims/qa/issues/843, I'll make a note there.

[2022-10-20 17:45] jonathanolson opened #844 "Dev Test: Molecule Shapes 1.5.0-dev.4"
<h1>Dev Test</h1>

**Mentions**: @arouinfar @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/molecule-shapes/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/molecule-shapes/1.5.0-dev.4)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/molecule-shapes/1.5.0-dev.4/phet/molecule-shapes_all_phet.html)
- [phet-io wrapp

[2022-10-20 17:46] jonathanolson opened #845 "Dev Test: Molecule Shapes: Basics 1.5.0-dev.2"
<h1>Dev Test</h1>

**Mentions**: @arouinfar @kathy-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/molecule-shapes-basics/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/molecule-shapes-basics/1.5.0-dev.2)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/molecule-shapes-basics/1.5.0-dev.2/phet/molecule-shapes-basics_all

[2022-10-24 22:17] jessegreenberg opened #846 "Unable to commit to the qa repo"
Pre-commit hooks are not passing in the qa repo at the moment. Something assumes that there is a package.json in this repo. Full error pasted below. @samreid confirmed the problem and asked to be assigned to this issue at high priority. Thank you!

[code]

[2022-10-25 02:48] samreid commented on #846
It seems it was an easy fix, closing.

[2022-10-25 02:48] #846 closed

[2022-10-25 14:07] Nancy-Salpepi commented on #844
@arouinfar @jonathanolson
Noting that the bond angle border looks lighter in screenshots for the full and basics versions. Seen on Mac + safari/chrome. Let me know if it warrants an issue.
<img width="588" alt="Screen Shot 2022-10-25 at 10 01 49 AM" src="https://user-images.githubusercontent.com/87318828/197794957-0accf413-7eb8-4047-a00c-dfaab2d0fca2.png">

[2022-10-26 05:09] samreid commented on #843
#843 was removed and @zepumph and I published a dev version at https://bayes.colorado.edu/dev/html/gravity-and-orbits/1.7.0-dev.1/phet-io/wrappers/studio/.  @JaronDroder can you please compare that performance you observed in 1.6.0-rc.1 on the same computer?

[2022-10-26 19:47] arouinfar commented on #844
The difference looks pretty minor to me. Best guess is that there was a scenery change sometime between the creation of the 1.2 branch (early 2019) and now that could explain this difference. I don't think it warrants an issue, though.

[2022-10-26 22:36] JaronDroder commented on #843
Just checked the new version and the problem's been fixed, thanks.

[2022-10-26 22:40] JaronDroder commented on #843
Checked the issue on the same device and the new version seems to have corrected the problem on my end, thanks!

[2022-10-27 00:27] #843 closed

[2022-10-28 22:20] KatieWoe commented on #845
Calling QA here

[2022-10-28 22:21] KatieWoe commented on #844
Calling QA here

[2022-10-31 21:09] pixelzoom opened #847 "Dev Test - Geometric Optics: Basics 1.2.0-dev.3"
<h1>Dev Test</h1>

**Mentions**: @arouinfar @kathy-phet @ariel-phet

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/geometric-optics-basics/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/geometric-optics-basics/1.2.0-dev.3)
- [geometric-optics-basics_all_phet.html](https://phet-dev.colorado.edu/html/geometric-optics-basics/1.2.0-dev

[2022-11-01 17:15] marlitas opened #848 "Prototype Test: Mean: Share and Balance 1.0.0-rc.1"
<h1>Prototype Test</h1>

**Mentions**: @kathy-phet, @amanda-phet, @samreid, @KatieWoe

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/mean-share-and-balance/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/mean-share-and-balance/1.0.0-rc.1)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/mean-share-and-balance/1.0.0-rc.1/phe

[2022-11-01 18:35] jbphet opened #849 "Pre-release test (2nd round): Haptics Playground 1.1.0 Android app"
In https://github.com/phetsims/qa/issues/842, the QA team tested the 1.1.0 version of the Android app.  We only had two devices that QA could use, and one of them didn't have haptics support.  The QA team therefore used the sound feature on this second device, but it didn't work very well, see https://github.com/phetsims/quake/issues/27.  I did some investigation of this, and was not able to find

[2022-11-01 20:25] KatieWoe commented on #848
Memory Test:
<img width="346" alt="mem" src="https://user-images.githubusercontent.com/41024075/199333977-2884d7e9-161c-4e86-baaa-d397df6cfee6.png">

[2022-11-01 20:29] #835 closed

[2022-11-07 22:28] samreid commented on #841
We decided to take all new SHAs for RC.4.  All problematic issues above marked for "cherry pick" should be tested.  The other open issues (not marked for cherry-pick) do not need to be fixed for RC.4.  Closing.

[2022-11-07 22:28] #841 closed

[2022-11-07 22:43] KatieWoe commented on #847
QA is done

[2022-11-07 22:49] pixelzoom commented on #847
Thanks QA team!

[2022-11-07 23:30] KatieWoe commented on #847
Forgot to comment this earlier. Here are the mem test results:
<img width="349" alt="memgeo" src="https://user-images.githubusercontent.com/41024075/200437380-313239af-c324-47fb-8e90-f28eaae6424d.png">

[2022-11-08 20:38] KatieWoe commented on #848
QA is done

[2022-11-09 00:49] samreid opened #850 "RC Test: Gravity and Orbits 1.6.0-rc.4"
<h1>RC Test</h1>

**Mentions**: @kathy-phet @arouinfar @KatieWoe

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/gravity-and-orbits/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-rc.4)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-rc.4/phet/gravity-and-orbits_all_phet.htm

[2022-11-09 17:31] KatieWoe commented on #834
Coming back to this now that MacOS 13 and iPadOS 16 are out. This was mentioned in https://github.com/phetsims/chipper/issues/1323 and seems to have been deferred at the time. I strongly support dropping MacOS 10.13 and iPadOS 13.
I updated the device we used for 10.13 to 10.15 in order to make room for the new MacOS. While I can probably get another device on 10.13 if we really want to keep suppo

[2022-11-09 18:26] jbphet commented on #849
Thanks QA team!  Closing this one, and I'll follow up on the specific issues referenced above.

[2022-11-09 18:26] #849 closed

[2022-11-09 20:52] KatieWoe commented on #850
Memory test:
![memory](https://user-images.githubusercontent.com/41024075/200939272-c71c014a-449e-40a1-b2b4-68a17960bfb9.png)
PhET-iO Memory test:
![iomemory](https://user-images.githubusercontent.com/41024075/200939309-2f19cae5-0269-410d-8704-43a4d6019909.png)

[2022-11-10 22:02] kathy-phet commented on #834
mac OS 10.13 was released September 25, 2017.
ipadOS 13 was released September 19, 2019.

[2022-11-10 22:39] oliver-phet commented on #834
Seems appropriate to drop iOS 13!
iOS stats (last 30 days):

ios | 12 | 31881 | 3.55%
-- | -- | -- | --
ios | 13 | 7169 | 0.80%
ios | 14 | 53658 | 5.97%
ios | 15 | 301607 | 33.56%
ios | 16 | 504294 | 56.12%

[2022-11-10 23:12] kathy-phet commented on #834
Yep - @KatieWoe and @oliver-phet - let's drop ios 13.

[2022-11-11 17:45] marlitas commented on #848
All issues addressed. Closing

[2022-11-11 17:45] #848 closed

[2022-11-11 18:06] marlitas opened #851 "RC.2 Spot Check: Mean: Share and Balance"
<h1>RC Spot-Check Test</h1>

**Mentions**: @kathy-phet, @KatieWoe, @samreid

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/mean-share-and-balance/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/mean-share-and-balance/1.0.0-rc.2)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/mean-share-and-balance/1.0.0-rc.2/phet/mean-sha

[2022-11-11 21:33] pixelzoom commented on #847
From 11/10/2022 meeting, the next steps are summarized in https://github.com/phetsims/geometric-optics-basics/issues/27#issuecomment-1311016617.

* address https://github.com/phetsims/geometric-optics-basics/issues/31 and https://github.com/phetsims/geometric-optics-basics/issues/33
* create 1.2 release branch and start the RC process

[2022-11-11 21:34] #847 closed

[2022-11-11 22:29] zepumph commented on #831
Thanks all! RC imminent.

[2022-11-11 22:30] #831 closed

[2022-11-11 22:42] zepumph opened #852 "RC Test: Ratio and Proportion 1.2.0-rc.1"
<h1>RC Test</h1>

**Mentions**: @emily-phet @terracoda @BLFiedler @jessegreenberg

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/ratio-and-proportion/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-rc.1)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/ratio-and-proportion/1.2.0-rc.1/phet/ratio-an

[2022-11-14 15:45] KatieWoe commented on #851
QA is done

[2022-11-14 16:21] #851 closed

[2022-11-14 16:28] marlitas opened #853 "RC.3 Spot Check: Mean: Share and Balance"
<h1>RC Spot-Check Test</h1>

**Mentions**: @kathy-phet @KatieWoe @samreid

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/mean-share-and-balance/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/mean-share-and-balance/1.0.0-rc.3)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/mean-share-and-balance/1.0.0-rc.3/phet/mean-share

[2022-11-14 16:45] kathy-phet opened #854 "Evaluate Safari bug for in PhET's published simulations"
Please do a quick check of published simulations at phet.colorado.edu, and look for the Safari bug (in Safari 16). This bug was seen in Geometric Optics (https://github.com/phetsims/scenery/issues/1503), Mean Share and Balance (https://github.com/phetsims/mean-share-and-balance/issues/122) and Gravity and Orbits (https://github.com/phetsims/gravity-and-orbits/issues/435).

Please test and answer t

[2022-11-14 18:25] Nancy-Salpepi commented on #854
in published waves intro, I see an artifact in the graph on the Water screen that is fixed in master.
<img width="605" alt="Screenshot 2022-11-14 at 1 22 04 PM" src="https://user-images.githubusercontent.com/87318828/201737303-753e4bae-a0d7-4e33-8425-55e7a9443585.png">

[2022-11-14 19:19] Nancy-Salpepi commented on #854
Artifacts in trig tour still seen on master:
<img width="527" alt="Screenshot 2022-11-14 at 2 15 33 PM" src="https://user-images.githubusercontent.com/87318828/201746330-fcf40ae7-9c68-4b96-992b-9a5acfc28e62.png">

Steps: slowly move red point on the circle--completing more than one 360 degree rotation.

[2022-11-14 19:26] jonathanolson commented on #854
I'm able to reproduce the trig tour bug, and I should be able to narrow it down quickly (it seems to be present when I take a snapshot of the SVG)

[2022-11-14 19:29] Nancy-Salpepi commented on #854
I also see one with States of Matter that is still present on master:
<img width="527" alt="Screenshot 2022-11-14 at 2 28 23 PM" src="https://user-images.githubusercontent.com/87318828/201748527-051146c2-9f4b-457d-baa4-d138b923d112.png">

[2022-11-14 19:38] Nancy-Salpepi commented on #854
Resistance in a Wire also showing artifacts on master
<img width="527" alt="Screenshot 2022-11-14 at 2 37 05 PM" src="https://user-images.githubusercontent.com/87318828/201750154-c24fc065-3e49-4dc0-9bb8-f92f3fca83f6.png">

To reproduce--adjust the Area.

[2022-11-14 19:51] jonathanolson commented on #854
Trig tour case is buggy with no workaround known yet. The clip area is showing the same issue, so it's leaking through some of the background (in this case, I'm showing the background at 0.1 opacity):

<img width="187" alt="image" src="https://user-images.githubusercontent.com/480878/201752285-c6140e2c-85e4-41d7-b835-2dc3dab56751.png">

Minimum reproducible example below (with the spiral image red

[2022-11-14 20:07] jonathanolson commented on #854
<img width="170" alt="image" src="https://user-images.githubusercontent.com/480878/201755307-2b865ad9-7aa8-4438-b8f1-ffd888723e88.png">

It's showing up... with `?rootRenderer=canvas`, with things confirmed as rendering in Canvas.

[2022-11-14 20:18] Nancy-Salpepi commented on #854
Artifacts in Projectile Motion on the Vectors screen look fixed on master.
<img width="278" alt="Screenshot 2022-11-14 at 3 14 49 PM" src="https://user-images.githubusercontent.com/87318828/201756987-40d15178-31d4-4bd0-b11d-9e0e75994d0e.png">

[2022-11-14 20:45] Nancy-Salpepi commented on #854
Artifacts on the Lab screen of Pendulum Lab and in Ohm's Law also look fixed on master
<img width="227" alt="Screenshot 2022-11-14 at 3 30 33 PM" src="https://user-images.githubusercontent.com/87318828/201760512-9aa05ff6-1170-42b8-949d-05c076ee0087.png">

<img width="396" alt="Screenshot 2022-11-14 at 3 42 19 PM" src="https://user-images.githubusercontent.com/87318828/201762010-696248bb-bde8-47ac-

[2022-11-14 21:54] jonathanolson commented on #854
<img width="493" alt="image" src="https://user-images.githubusercontent.com/480878/201775898-83f716f9-9596-4562-bf90-b05516a0fece.png">

Buggy case in Safari's technology preview too.

[code]

[2022-11-14 21:58] jonathanolson commented on #854
Some of the bugs look related to https://bugs.webkit.org/show_bug.cgi?id=114579.

[2022-11-14 22:07] kathy-phet commented on #854
@jonathanolson - What is your recommendation here? Is this something we should work around? Or is this a bug we report and on Safari to fix? Or both?

[2022-11-14 22:51] kathy-phet commented on #854
@Nancy-Salpepi - Please test on iPads/iPhones. Thanks!

[2022-11-14 23:15] Nancy-Salpepi commented on #854
The artifacts seen on master with the mac for Trig Tour, States of Matter and Resistance in a Wire are also seen on the iPad 9th generation with iPadOS 16. In order to see them on the iPad, you need to be zoomed in first.

@jonathanolson did you also want me to look at the sims that are fixed on master but show artifacts in published?

[2022-11-14 23:21] KatieWoe commented on #853
Calling QA here.

[2022-11-14 23:53] Nancy-Salpepi commented on #854
I will go back and take a look at the sims with issues tomorrow using mac/iPad + chrome.

[2022-11-15 13:57] Nancy-Salpepi commented on #854
I do see the same artifacts I reported earlier using iPadOS 16 and Chrome as well--Trig Tour, States of Matter, and Resistance in a Wire have artifacts on master. I don't see artifacts on States of Matter published because I can't zoom in.
I see the artifacts for Waves intro and Projectile motion on published but not on master.

I don't see any issues with mac + chrome.

[2022-11-15 16:02] marlitas commented on #853
Closing as completed! Thanks QA!

[2022-11-15 16:02] #853 closed

[2022-11-15 22:22] jbphet opened #855 "Beta test: Haptics Playground 1.1.1 Android app"
The Android version of the Haptics Playground app is ready for beta testing.  The previous (alpha) test was completed, and a couple of the issues were addressed.  I have provided @KatieWoe with a Samsung Android tablet that supports haptic vibration, so she should be able to test on that device for this round of testing.

As was noted in the previous testing issue, this testing is intended to be f

[2022-11-16 02:39] jonathanolson opened #856 "Performance comparison on Safari"
As part of https://github.com/phetsims/geometric-optics-basics/issues/31, I applied the patch https://github.com/phetsims/scenery/commit/8ebb1eb3aae93a70a746f841818228f943581bb7. I'm somewhat concerned this could lower performance in Safari (on some sims?)

@KatieWoe would you be able to check how performance feels on a few performance-critical (already kind of slow) simulations (ideally on iPad S

[2022-11-16 15:49] KatieWoe commented on #850
Calling QA here

[2022-11-16 19:05] Nancy-Salpepi commented on #856
I didn't notice any changes in performance. I was testing on an iPad 9th generation with iOS 16. I looked at the following sims: Energy Forms and Changes, Energy Skate Park, Gas Properties, Geometric Optics, Natural Selection, and Projectile Motion.
@KatieWoe is also looking at this issue.

[2022-11-16 19:06] KatieWoe commented on #856
I haven't seen any difference either. I focused on Geometric Optics and Geometric Optics Basics, and looked at both iOS 16 and iOS 14.

[2022-11-16 20:06] kathy-phet commented on #856
@KatieWoe @Nancy-Salpepi - Thank you!

@jonathanolson - We will leave both fixes in master then, and we will maintenance release the one fix you mentioned was easy to maintenance release!

I'll close this issue.

[2022-11-16 20:06] #856 closed

[2022-11-16 20:37] KatieWoe commented on #855
I've noticed that, turning on sound, the sound may be off the first time something is played. This is either after first turned on, or not having been used for awhile. For instance, the first buzz of a set may not play or buzzes may run together. The actual haptics don't seem to be impacted.

[2022-11-16 20:59] KatieWoe commented on #855
QA spot check is done. Checked on one device (the haptics capable tablet in the office). Check was fairly quick/light.

[2022-11-16 22:21] KatieWoe commented on #852
Memory test
<img width="349" alt="mem" src="https://user-images.githubusercontent.com/41024075/202307041-ce66f650-58a6-4100-ab39-553c0e880993.png">

[2022-11-17 04:14] samreid opened #857 "RC Test: Gravity and Orbits 1.6.0-rc.6"
<h1>RC Spot-Check Test</h1>

**Mentions**: @kathy-phet @arouinfar @KatieWoe

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/gravity-and-orbits/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-rc.6)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-rc.6/phet/gravity-and-orbits_a

[2022-11-17 04:17] #850 closed

[2022-11-17 19:30] jbphet commented on #855
I've seem similar behavior on our sims on all manner of devices.  I think that devices often turn off the amplifier that drives the speakers in order to save power when they are not being used, and it takes a bit of time for it to come on when sound is produced after a long idle time.  If my supposition is correct here, there isn't much the code can do about it.

[2022-11-17 19:31] jbphet commented on #855
Thanks for the testing QA team!  I'll close this issue and move forward with the next steps.

[2022-11-17 19:31] #855 closed

[2022-11-17 21:50] KatieWoe commented on #857
Calling QA here

[2022-11-17 23:29] samreid commented on #857
In phet-io meeting, we discussed https://github.com/phetsims/scenery/issues/1501 and agreed it is non-blocking for publication.

[2022-11-18 16:33] pixelzoom opened #858 "RC Test: Geometric Optics: Basics 1.2.0-rc.1"
<h1>RC Test</h1>

**Mentions**: @arouinfar @kathy-phet @ariel-phet @KatieWoe

<h3>Simulation links</h3>

- [GitHub repository for issues](https://github.com/phetsims/geometric-optics-basics/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/geometric-optics-basics/1.2.0-rc.1/)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/geometric-optics-basics/1.2.0-rc.1/phet/geo

[2022-11-18 21:46] pixelzoom commented on #858
Thanks @KatieWoe. That memory test looks reasonable - the heap size stabilizes, and we see it shrink at least once.  The heap sizes are large than the original memory tests that were done in https://github.com/phetsims/geometric-optics/issues/372. But I guess that's to be expected, since we've added so many things since then.

[2022-11-21 21:27] KatieWoe commented on #852
Sounds like a plan. Calling QA here.

[2022-11-26 20:22] jonathanolson opened #859 "Maintenance testing for ?allowLinks and fixes"
@kathy-phet I've deployed RCs for the maintenance relating to https://github.com/phetsims/joist/issues/830 and https://github.com/phetsims/gravity-and-orbits/issues/472. It also hits https://github.com/phetsims/perennial/issues/268, https://github.com/phetsims/chipper/issues/1044, https://github.com/phetsims/gravity-and-orbits/issues/479, https://github.com/phetsims/perennial/issues/254, https://g

[2022-11-28 21:15] Nancy-Salpepi commented on #740
2022 Q4 updates:
* updated PhET-iO test #19

[2022-11-29 16:22] jonathanolson commented on #859
@KatieWoe this is ready for testing. Let me know if there are any questions!

[2022-11-29 19:59] kathy-phet commented on #854
Testing on this is sufficient. We've done what we will do for now. Closing this test issue.

[2022-11-29 19:59] #854 closed

[2022-11-29 20:58] AgustinVallejo opened #860 "Dev Test: my-solar-system 1.0.0-dev.7"
<h1>Dev Test</h1>

**Mentions**: @kathy-phet @KatieWoe

<h3>Simulation links</h3>

- [github repository for issues](https://github.com/phetsims/my-solar-system/issues)
- [phet top level directory](https://phet-dev.colorado.edu/html/my-solar-system/1.0.0-dev.7)
- [sim: all_phet.html](https://phet-dev.colorado.edu/html/my-solar-system/1.0.0-dev.7/phet/my-solar-system_all_phet.html)

<h3>Test Matrix<

[2022-11-29 20:58] jonathanolson commented on #860
Also, the template said NOT to omit the phet-io and a11y features sections, but the sim shouldn't be tested for phet-io or a11y.

[2022-11-29 21:11] KatieWoe commented on #858
Calling QA here

[2022-11-30 00:17] pixelzoom commented on #858
Thanks QA team!

The common-code issues that were found have been determined to be non-blocking. They affect multiple sims and will be addressed via a future maintenance patch.   So we're ready to publish 1.2.0.

[2022-11-30 00:17] #858 closed

[2022-11-30 21:05] zepumph commented on #852
Thanks! I think we are pretty close to a new RC, I'm hoping by the end of the week.

[2022-11-30 21:05] #852 closed