[2019-10-23 15:21] KatieWoe commented on #443
| Platform | Subjective Performance | FPS |
| --- | --- | --- |
| iPhone iOS 12 | | |
| iPad iOS 10 | | |
| iPad iOS 11 | | |
| iPad iOS 12 | | |
| iPadOS 13 | | |
| iPadOS 13 App | | |
| Mac 10.10 Safari | | |
| Mac 10.11 Safari | | |
| Mac 10.11 Chrome | | |
| Mac 10.12 Safari | | |
| Mac 10.12 Chrome | | |
| Mac 10.13 Safari | | |
| Mac 10.13 Chrome | | |
| Mac 10.14 Safari | | |
| Mac 10.14 Ch

[2019-10-23 17:20] jonathanolson commented on #442
Thanks!

[2019-10-23 17:20] #442 closed

[2019-10-23 17:29] jonathanolson opened #444 "Maintenance testing for iPadOS highlighting behavior"
This should be the last maintenance testing that I know of before we can push production deploys out for maintenance for all of the iOS 13 / iPadOS 13 and iOS app fixes.

For the patches to https://github.com/phetsims/scenery/issues/1006, I'd like to have every sim that will go out for maintenance tested briefly to see if this highlight/selection erroneously occurs. If this seems too onerous (if i

[2019-10-23 17:42] pixelzoom opened #445 "RC test: Vector Addition 1.0.0-rc.1"
@KatieWoe, @arouinfar, vector-addition/1.0.0-rc.1 is ready for RC testing.

This release does not include PhET-iO or a11y.

Document issues in https://github.com/phetsims/vector-addition/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- Test all possible forms of i

[2019-10-23 17:52] pixelzoom opened #446 "RC test: Vector Addition: Equations 1.0.0-rc.1"
@KatieWoe, @arouinfar, vector-addition-equations/1.0.0-rc.1 is ready for RC testing.

This release does not include PhET-iO or a11y.

This sim consists of the _Equations_ screen from Vector Addition. So please document issues in https://github.com/phetsims/vector-addition/issues (not vector-addition-equations) and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summar

[2019-10-23 18:16] KatieWoe commented on #444
From Slack:

Since https://github.com/phetsims/QA/issues/444#issuecomment-545563721 is happening, should I continue testing?  It wasn't on the list of fixed sims. (edited)
Jonathan Olson 12:02 PM
How much testing is it taking to determine if it happens? I'm inclined to say "pause testing" so I can figure out how to fix that, but I'm also curious at seeing which sims exhibit the behavior
because FA

[2019-10-23 18:27] jessegreenberg commented on #444
I was able to get this to happen on my iPad - when I copy the selected text the content is "reset."

[2019-10-23 18:32] jessegreenberg commented on #444
Very sorry, its still the aria-live elements
![image](https://user-images.githubusercontent.com/6396244/67423008-7c921900-f5a1-11e9-9145-3ce58ee9dad8.png)

We currently block aria-live alerts unless accessibility is enabled. FAMB 2.3.16 predates that change and so common code alert content is going in these elements. And so we could either patch this for all published sims, or I could check the da

[2019-10-23 18:35] jonathanolson commented on #444
I think I'm going to try patching all sims (that have that div), so that things are consistent.

[2019-10-23 18:41] ariel-phet commented on #443
@KatieWoe the list above looks comprehensive

[2019-10-23 18:44] ariel-phet commented on #443
@KatieWoe do note, that I think all tests should be done with options "path" "velocity" and "force vectors" on

[2019-10-23 18:45] KatieWoe commented on #443
Ok.  I wasn't aware.  I'll need to redo above then.

[2019-10-23 18:49] ariel-phet commented on #445
This testing should definitely be done before #446, and then #446 should generally be able to just be a spot check (as mentioned in its issue instructions)

[2019-10-23 18:57] KatieWoe commented on #446
- [ ] Win 10 chrome
- [ ] Win 10 firefox
- [ ] Win 10 edge
---
- [ ] Mac 10.15 chrome
- [ ] Mac 10.15 safari
---
- [ ] Win 7 IE
- [ ] Mac 10.12 safari
---
- [ ] ChromeOS
- [ ] iPadOS 13

[2019-10-24 15:13] KatieWoe commented on #445
Memory Test results:
![memoryresults](https://user-images.githubusercontent.com/41024075/67499544-86b62500-f63e-11e9-9f5f-0457fa4927e8.png)

[2019-10-24 15:13] jonathanolson commented on #444
Ok, everything here should be patched, can we resume testing with the links below?

acid-base-solutions 1.2 (fix for iOS 13 Full Screen, see https://github.com/phetsims/phet-core/issues/64)

- [ ] [acid-base-solutions 1.2.24-rc.1](https://phet-dev.colorado.edu/html/acid-base-solutions/1.2.24-rc.1/acid-base-solutions_en.html)

area-builder 1.1 (https://github.com/phetsims/vibe/issues/39, fix for iO

[2019-10-24 15:26] KatieWoe commented on #446
Memory Test Results:
![memoryresults2](https://user-images.githubusercontent.com/41024075/67500685-4d7eb480-f640-11e9-9162-a66dc9bd20f2.png)

[2019-10-24 15:30] pixelzoom commented on #445
@KatieWoe Just out of curiosity, what's the time interval between snapshots?

[2019-10-24 15:31] KatieWoe commented on #445
1 minute.
Snapshot one is at the very start, snapshot two is one minute in, etc.

[2019-10-24 15:34] jonathanolson commented on #409
Thanks! RC'ing for a spot check due to maintenance patches.

[2019-10-24 15:34] #409 closed, assigned to jonathanolson

[2019-10-24 15:34] jonathanolson commented on #410
Thanks! RC'ing for a spot check due to maintenance patches.

[2019-10-24 15:34] #410 closed

[2019-10-24 15:34] jonathanolson commented on #411
Thanks! RC'ing for a spot check due to maintenance patches.

[2019-10-24 15:34] #411 closed

[2019-10-24 15:34] jonathanolson commented on #412
Thanks! RC'ing for a spot check due to maintenance patches.

[2019-10-24 15:34] #412 closed

[2019-10-24 15:34] jonathanolson commented on #413
Thanks! RC'ing for a spot check due to maintenance patches.

[2019-10-24 15:34] #413 closed

[2019-10-24 15:35] jonathanolson commented on #414
Thanks! RC'ing for a spot check due to maintenance patches.

[2019-10-24 15:35] #414 closed

[2019-10-24 15:35] jonathanolson commented on #432
Thanks! Have final testing in other maintenance release issues.

[2019-10-24 15:35] #432 closed

[2019-10-24 15:51] jonathanolson opened #447 "Maintenance testing for area-model 1.2 sims"
I'd like spot-checks for the following area-model 1.2 sims, to make sure that the recent maintenance patches work nicely (so they can be production deployed sometime):

- [ ] https://phet-dev.colorado.edu/html/area-model-algebra/1.2.0-rc.5/phet/area-model-algebra_en_phet.html
- [ ] https://phet-dev.colorado.edu/html/area-model-decimals/1.2.0-rc.5/phet/area-model-decimals_en_phet.html
- [ ] https:/

[2019-10-24 15:52] jonathanolson opened #448 "Maintenance testing for fractions sims"
I'd like spot-checks for the following fractions sims, to make sure that the recent maintenance patches work nicely (so they can be production deployed sometime):

- [ ] https://phet-dev.colorado.edu/html/fraction-matcher/1.2.0-rc.4/phet/fraction-matcher_en_phet.html
- [ ] https://phet-dev.colorado.edu/html/fractions-equality/1.1.0-rc.4/phet/fractions-equality_en_phet.html

This should include iOS

[2019-10-24 15:55] KatieWoe commented on #447
- [ ] Win 10 chrome
- [ ] Win 10 firefox
- [ ] Win 10 edge
---
- [ ] Mac 10.15 safari
---
- [ ] Win 7 IE
---
- [ ] ChromeOS
- [ ] iPadOS 13

[2019-10-24 15:55] KatieWoe commented on #448
- [ ] Win 10 chrome
- [ ] Win 10 firefox
- [ ] Win 10 edge
---
- [ ] Mac 10.15 safari
---
- [ ] Win 7 IE
---
- [ ] ChromeOS
- [ ] iPadOS 13

[2019-10-24 16:08] ariel-phet commented on #447
high priority since should be quick but after #445 (or concurrently with #445 if on the same platform)

[2019-10-24 16:08] ariel-phet commented on #448
high priority since should be quick but after #445 (or concurrently with #445 if on the same platform)

[2019-10-24 16:55] KatieWoe commented on #444
Looked on FAMB above quickly.  Still happens.  Not when pushing buttons anymore from what I can see, but if you hold down elsewhere or pick up something from the boxes and stay still it still happens.  Still says reset.
Will post video shortly.

[2019-10-24 17:01] jonathanolson commented on #444
Weird, the above list is showing incorrect versions... one second

[2019-10-24 17:09] jonathanolson commented on #444
Ok, this list should be fixed:

acid-base-solutions 1.2 (fix for iOS 13 Full Screen, see https://github.com/phetsims/phet-core/issues/64)

- [ ] [acid-base-solutions 1.2.24-rc.1](https://phet-dev.colorado.edu/html/acid-base-solutions/1.2.24-rc.1/acid-base-solutions_en.html)

area-builder 1.1 (https://github.com/phetsims/vibe/issues/39, fix for iOS 13 Full Screen, see https://github.com/phetsims/ph

[2019-10-24 20:18] zepumph opened #449 "Spot Check: Gravity Force Lab Basics 1.0.0-rc.4"
Previous RC: https://github.com/phetsims/QA/issues/441

@terracoda, @emily-phet, @jessegreenberg, @arouinfar gravity-force-lab-basics:1.0.0-rc.4 is ready for RC testing.

This is the fourth RC test. No sim specific changes have occurred since 2 rcs ago, save some MR patches. For this we only need to test the second item in https://github.com/phetsims/gravity-force-lab-basics/issues/186, which is p

[2019-10-25 20:05] #439 closed

[2019-10-25 20:17] SaurabhTotey opened #450 "Spot Check: Curve-Fitting 1.0.0-rc.6"
@KatieWoe, @amanda-phet, @ariel-phet, curve-fitting/1.0.0-rc.6 is ready for RC testing. This is the 3rd RC (but has rc.6 due to me having issues initially with deployment). The only things that have changed since the last RC were the credits and some maintenance patches. Document issues in https://github.com/phetsims/curve-fitting/issues and link to this issue.

Assigning to @ariel-phet for priori

[2019-10-25 20:42] KatieWoe commented on #444
QA is done

[2019-10-25 20:49] KatieWoe commented on #450
- [ ] Win 10 chrome
- [ ] Win 10 firefox
- [ ] Win 10 edge
---
- [ ] Mac 10.15 chrome
- [ ] Mac 10.15 safari
---
- [ ] Win 7 IE
- [ ] Mac 10.12 safari
---
- [ ] ChromeOS
- [ ] iPadOS 13

[2019-10-25 21:01] KatieWoe commented on #449
QA is done

[2019-10-25 21:56] zepumph commented on #449
Sounds great I'll publish now.

[2019-10-25 21:56] #449 closed

[2019-10-25 22:44] jonathanolson commented on #444
Sounds good, kicking off deploys. Thanks!

[2019-10-25 22:44] #444 closed

[2019-10-28 17:35] ariel-phet commented on #445
Moving to current top priority

[2019-10-30 19:32] #440 closed

[2019-10-31 23:03] KatieWoe commented on #445
QA is done here.  Hoping to finish equations sim tomorrow.

[2019-11-01 15:17] pixelzoom commented on #445
Thank you @KatieWoe and QA team!

[2019-11-01 17:45] KatieWoe commented on #446
QA is done

[2019-11-01 17:48] pixelzoom commented on #446
Thank you @KatieWoe and QA team.

[2019-11-01 19:34] KatieWoe commented on #447
QA is done

[2019-11-04 16:08] pixelzoom commented on #445
Issues to be verified, to be copy-pasted into next QA RC issue.

- [ ] [Toolbox arrow icons should have rectangular or more expanded pointer areas](https://github.com/phetsims/vector-addition/issues/250)
- [ ] [0 vector has larger pointer area](https://github.com/phetsims/vector-addition/issues/252)
- [ ] [Upside-down f vector when d vector and e vector cancel](https://github.com/phetsims/vector-a

[2019-11-04 16:09] pixelzoom commented on #446
Issues to be verified, to be copy-pasted into the next QA RC issue.

- [ ] [0 vector has larger pointer area](https://github.com/phetsims/vector-addition/issues/252)
- [ ] [Upside-down f vector when d vector and e vector cancel](https://github.com/phetsims/vector-addition/issues/260)
- [ ] [Assertion failed: Not handling arcs with start/end angles that show differences in-between browser handling]

[2019-11-04 20:21] pixelzoom opened #451 "RC test: Vector Addition 1.0.0-rc.2"
@KatieWoe, @arouinfar, vector-addition/1.0.0-rc.2 is ready for RC testing.

This release does not include PhET-iO or a11y.

Document issues in https://github.com/phetsims/vector-addition/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- Test all possible forms of i

[2019-11-04 20:21] pixelzoom commented on #445
The next RC has been published and is being tracked in https://github.com/phetsims/QA/issues/451.

Closing.

[2019-11-04 20:21] #445 closed

[2019-11-04 21:15] pixelzoom opened #452 "RC test: Vector Addition: Equations 1.0.0-rc.2"
@KatieWoe, @arouinfar, vector-addition-equations/1.0.0-rc.2 is ready for RC testing.

This release does not include PhET-iO or a11y.

This sim consists of the _Equations_ screen from Vector Addition. So please document issues in https://github.com/phetsims/vector-addition/issues (not vector-addition-equations) and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summar

[2019-11-04 21:15] #446 closed

[2019-11-04 21:16] pixelzoom commented on #446
The next RC has been published and is being tracked in #452.

Closing.

[2019-11-04 22:07] KatieWoe commented on #443
QA is done

[2019-11-04 22:10] KatieWoe commented on #448
QA is done

[2019-11-04 22:12] samreid commented on #443
Thanks @KatieWoe!  Closing.

[2019-11-04 22:12] #443 closed

[2019-11-04 22:21] KatieWoe commented on #450
QA is done

[2019-11-04 22:25] KatieWoe commented on #451
- [ ] Win 10 chrome
- [ ] Win 10 firefox
- [ ] Win 10 edge
---
- [ ] Mac 10.15 chrome
- [ ] Mac 10.15 safari
---
- [ ] Win 7 IE
- [ ] Mac 10.12 safari
---
- [ ] ChromeOS
- [ ] iPadOS 13

[2019-11-04 22:27] KatieWoe commented on #452
- [ ] Win 10 chrome
- [ ] Win 10 firefox
- [ ] Win 10 edge
---
- [ ] Mac 10.15 chrome
- [ ] Mac 10.15 safari
---
- [ ] Win 7 IE
- [ ] Mac 10.12 safari
---
- [ ] ChromeOS
- [ ] iPadOS 13

[2019-11-05 20:06] jessegreenberg opened #453 "Does iOS vibration work in a Web View on an iPhone?"
@emily-phet @liquatics @jbphet @terracoda - After a discussion with the haptics team, we want to determine if vibration can be initiated from safari when embedded in a Web View in the iOS App. `navigator.vibrate` does not work in Safari from the normal browser, but there is a chance it will work when embedded in a web view. This will help us determine platform support and how to proceed with vibra

[2019-11-05 22:50] KatieWoe commented on #453
The option we use for this testing isn't working, so we will need to wait for that to be fixed to do this.

[2019-11-05 22:54] jessegreenberg commented on #453
Understood, thanks @KatieWoe

[2019-11-05 23:41] KatieWoe commented on #451
QA is done

[2019-11-05 23:42] KatieWoe commented on #452
QA is done

[2019-11-06 00:06] emily-phet commented on #453
Thanks @KatieWoe - any idea when it might be up and running? Or who we might check in with on this if we should do that with someone else?

[2019-11-06 00:37] pixelzoom commented on #452
🎉 Thank you @KatieWoe and QA team!   Proceeding to publication of 1.0.0.

[2019-11-06 00:37] #452 closed

[2019-11-06 00:37] pixelzoom commented on #451
🎉 Thank you @KatieWoe and QA team!   Proceeding to publication of 1.0.0.

[2019-11-06 00:37] #451 closed

[2019-11-06 20:52] SaurabhTotey opened #454 "RC Test: Atomic Interactions 1.1.0-rc.5"
@KatieWoe, @arouinfar, atomic-interactions/1.0.0-rc.5 is ready for RC testing. Document issues in https://github.com/phetsims/atomic-interactions/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- Test all possible forms of input.
  - Test all mouse/trackpad inputs.

[2019-11-06 20:57] #385 closed

[2019-11-06 20:58] KatieWoe commented on #454
- [ ] Win 10 chrome
- [ ] Win 10 firefox
- [ ] Win 10 edge
---
- [ ] Mac 10.15 safari
---
- [ ] Win 7 IE
---
- [ ] ChromeOS
- [ ] iPadOS 13

[2019-11-07 17:59] KatieWoe commented on #453
Just got it up.  However, there isn't a way to add query parameters to it in the app.  Is there any way to get a dev version that doesn't need it?

[2019-11-07 20:06] jessegreenberg commented on #453
@KatieWoe will this version work?
https://phet-dev.colorado.edu/html/john-travoltage/1.6.0-testVibration.1/phet/john-travoltage_en_phet.html

[2019-11-07 20:12] KatieWoe commented on #453
Just tested on iPhone 7 with iOS 13.  It does not vibrate.  In addition, after letting go of the the first leg swing, the sim becomes non interactive and seems to freeze.

[2019-11-07 20:27] jessegreenberg commented on #453
OK thanks @KatieWoe - I am getting exactly the same behavior on my iPad Air 2. I didn't expected vibration to work on that device, but I am able to see an error report there from Safari. The report is that `navigator.vibrate` is undefined. I confirmed that there is no crash on this version on my Android phone where vibration is working.

So this verifies that we cannot use HTML5 vibration in Safar

[2019-11-07 20:29] jessegreenberg commented on #453
Thanks for testing @KatieWoe I feel we have the information we need to come back and discuss further.

[2019-11-07 20:29] #453 closed

[2019-11-07 21:27] zepumph opened #455 "Dev test: Gravity Force Lab 2.2.0-dev.16"
Hello QA!

@jessegreenberg @kathy-phet @twant, @emily-phet, @terracoda, gravity-force-lab 2.2.0-dev.16 is ready for dev testing. This dev test is trying to kill two birds with a single, quality (that's your job), stone. There are both PhET-iO and accessibility items to address in this issue.

Gravity Force Lab has undergone a large amount of development work adding sonification and interactive des

[2019-11-07 21:49] lmulhall-phet commented on #455
For QA:

- [ ] Make sure JAWS + Chrome reads alerts in fullscreen mode.
- [ ] Make sure VoiceOver + Safari reads alerts in fullscreen mode.
- [ ] Also test other supported screenreaders + platforms to see if anything is broken.

See https://github.com/phetsims/molarity/issues/155 and https://github.com/phetsims/utterance-queue/issues/1.

[2019-11-08 19:17] KatieWoe commented on #455
General lag on Win 10.  Should be acceptable.

[2019-11-11 20:36] ariel-phet commented on #450
Closing since published!

[2019-11-11 20:36] #450 closed

[2019-11-11 23:48] KatieWoe commented on #454
QA is done

[2019-11-12 16:38] jbphet opened #456 "Verify that sound still works on all sims that use it"
In https://github.com/phetsims/chipper/issues/806 I changed the way that sound is turned on or off for most simulations that use it.  I spot checked a fair number of the affected sims, but it would be good to have someone go through and verify that sound is working in the master version of all of them.  I would recommend testing one sim on all supported platforms, and then just checking that sound

[2019-11-12 17:06] KatieWoe commented on #456
In addition, John Travoltage should be checked on all of these platforms:
- [ ] Win 10 chrome
- [ ] Win 10 firefox
- [ ] Win 10 edge
---
- [ ] Win 7 chrome
- [ ] Win 7 firefox
- [ ] Win7 IE (won't have sound)
---
- [ ] Mac 10.15 chrome
- [ ] Mac 10.15 safari
---
- [ ] Mac 10.14 chrome
- [ ] Mac 10.14 safari
---
- [ ] Mac 10.13 chrome
- [ ] Mac 10.13 safari
---
- [ ] Mac 10.12 chrome
- [ ] Mac 10.1

[2019-11-12 18:43] KatieWoe commented on #456
I've noticed that on safari the first sound has a bit of a "donk" noise that I couldn't find in the published version.

[2019-11-12 20:36] KatieWoe commented on #456
The sim does not open on Mac OS 10.0, Safari 10.  I don't see an error in the console, but it does say there should be one there.  @jbphet I was on John Travoltage.

[2019-11-12 21:20] #454 closed

[2019-11-12 21:33] KatieWoe commented on #456
Had some inconsistency on iPhone iOS 12, but likely due to the phone rather than code changes.

[2019-11-12 22:16] KatieWoe commented on #456
Issues listed above.  Unsure how to check chipper or tambo.  Other than that, QA is done.

[2019-11-13 16:46] jbphet commented on #456
@KatieWoe - I have a few questions:

Which sim, browser, and OS?

Was this working prior to the code changes that we are testing here?  In other words, was there anything that made it seem to you like the sound changes are leading to this problem?

What was the nature of the inconsistency, and is it different for built master versions versus published versions?  I need to decide whether this is so

[2019-11-13 16:59] KatieWoe commented on #456
1. John Travoltage, Safari, Various Mac OS.  It wasn't consistent.
2. I believe it was.  It was working on published I believe.  I'm not certain what the cause would be.
3. Sometimes the sound wouldn't work for a bit, you'd come back to the sim and sound would work just fine for no discernible reason.  This tends to show up from time to time on iPad/Phone products and doesn't seem connected to cha

[2019-11-13 19:09] KatieWoe commented on #456
2. Update.  It seems to be most/any sim.  I found the error, it says "undefined is not a function"

[2019-11-13 21:17] KatieWoe commented on #455
I find it a bit odd that arrows this size are considered small.  Can you comment on this decision @zepumph?
![sizingseemsodd](https://user-images.githubusercontent.com/41024075/68805062-513e9f00-0620-11ea-80ca-31a0f2c14605.png)

[2019-11-13 21:40] zepumph commented on #455
Yes. I think it is reasonable to find that strange, the reason is in relation to the max range, which get's quite huge, especially when close with constant checkbox checked. In terms of a definite solution. It would be good to make an issue and assign to @terracoda to double check those regions. Note that they were looked at "recentlyish" in https://github.com/phetsims/gravity-force-lab/issues/178

[2019-11-13 22:39] jbphet opened #457 "Dev test: Number Line: Integers 1.0.0-dev.9"
@KatieWoe, @amanda-phet , number-line-integers/1.0.0-dev.9 is ready for dev testing.  This is an early dev test and will not be shared with clients, but there may be some interviews soon.  Please document issues in https://github.com/phetsims/number-line-integers/issues and link to this issue.

Assigning @KatieWoe, since we discussed it and QA team is ready for a new test of some kind.

<details>

[2019-11-14 00:12] lmulhall-phet commented on #455
Katie wanted to close this issue after I finished making https://github.com/phetsims/gravity-force-lab/issues/202. QA is done. Closing.

[2019-11-14 00:13] lmulhall-phet commented on #455
Sorry, I'll let the @zepumph close, but QA is done.

[2019-11-14 18:20] jbphet commented on #456
Tambo has a demo that tests sounds, and it should be exercised as part of this testing.

[2019-11-14 19:09] KatieWoe commented on #456
Looks good

[2019-11-14 19:25] KatieWoe commented on #457
Quick memory test shows that it might get a bit too high.

[2019-11-14 21:09] KatieWoe commented on #457
Edge has some of its typical graphical glitches.  Specifically, the green in the thermometers can partially disappear for a bit.  Can't reproduce in dev version of Edge

[2019-11-15 19:36] KatieWoe commented on #457
QA is done

[2019-11-15 20:21] jbphet commented on #457
Thanks, I'll follow up on the individual issues.  Closing.

[2019-11-15 20:21] #457 closed

[2019-11-18 18:49] jbphet commented on #456
I went ahead and verified tambo on Win 10 and Chrome, and it's fine.  Closing.

[2019-11-18 18:49] #456 closed

[2019-11-19 17:07] jonathanolson commented on #448
Thanks, moving forward with production deployments!

[2019-11-19 17:07] #448 closed

[2019-11-19 17:07] jonathanolson commented on #447
Thanks, moving forward with production deployments!

[2019-11-19 17:07] #447 closed

[2019-11-19 23:29] lmulhall-phet commented on #329
I think @jonathanolson integrated the changes into master. I mistakenly thought he needed to deploy a dev version. Sorry about that. I checked a few sims and none of them failed to load. Closing.

[2019-11-19 23:29] #329 closed

[2019-11-20 01:22] Denz1994 commented on #349
This test cycle has been completed by QA. Related issues still need work but this issue can be closed. A new RC test cycle should be done for a spot check.

[2019-11-20 01:22] #349 closed

[2019-11-21 01:15] zepumph opened #458 "Add a few items to phet-io test in rc template"
From https://github.com/phetsims/phet-io-wrappers/issues/224, bullets to come.

[2019-11-21 01:31] zepumph commented on #458
@KatieWoe. These items were added as part of review over in https://github.com/phetsims/phet-io-wrappers/issues/224. How do they sound to you?

[2019-11-21 16:21] KatieWoe commented on #458
I was not aware that IE was supported with phet-io. It was never on the test matrix that I was aware of. For that reason it isn't generally tested during dev or rc testing. If this is not the case, let me know and I can make the necessary changes to add it to the testing rotation. @zepumph

[2019-11-21 22:34] Denz1994 opened #459 "Dev test: Build-a-Molecule 0.0.0-dev.23"
@ariel-phet and @arouinfar build-a-molecule/0.0.0-dev.23 is ready for dev testing. The sim is focused around users building molecules and dropping them into various collection boxes. Please note this version is still in development and is the first dev-test cycle. It should not be shared with clients. The purpose of this dev test is to focus on performance on an assortment of devices and platforms

[2019-11-21 23:35] zepumph commented on #458
Today during PhET-iO meeting, we decided that the only thing needed for IE on PhET-iO is as follows:

* Load the wrapper index, and click the "Launch Template" button below the displayed wrapper template at the bottom of the code snippet.

This should only be done for rc test on a single device. Nothing more needs to be done with IE. I think https://github.com/phetsims/QA/commit/cbc260263d82314fba

[2019-11-21 23:37] KatieWoe commented on #458
It sounds good.  I'll leave it for the next rc, just to check a bit more thoroughly, but remove it if everything seems fine.

[2019-11-21 23:51] zepumph commented on #458
Sounds good. I'll just note that from our meeting today, it felt very clear that we don't support any of the wrappers suite wrappers on IE.

[2019-12-02 17:57] oliver-phet opened #460 "Verify zh_CN sim descriptions get added to app (12/3)"
Note: this test will need to be performed ~11am Dec 3 to allow 24 hours for the metadata to update.

A Chinese translator recently updated/added translations for the sim descriptions for zh_CN. Can QA please open the app in Chinese (Simplified) and verify the [descriptions published on the website](https://phet.colorado.edu/zh_CN/simulations/category/html) are being reflected in the app?

[2019-12-02 19:02] mattpen commented on #3
Removing assignment due to low priority.

[2019-12-03 23:09] KatieWoe commented on #460
QA is done.  Looks fine on published app.

[2019-12-03 23:27] oliver-phet commented on #460
@kathy-phet the app did indeed update with the updated Chinese descriptions Yu provided!

[2019-12-03 23:27] #460 closed

[2019-12-04 19:39] KatieWoe commented on #459
Typical graphical issues found in Edge. No action needed.

[2019-12-05 20:13] KatieWoe commented on #459
QA is done

[2019-12-12 19:18] jonathanolson commented on #354
Thanks!

[2019-12-12 19:18] #354 closed

[2019-12-13 19:46] jessegreenberg opened #461 "Dev test: Molecules and Light Interactive Descriptions"
In preparations for user interviews can you please test the interactive descriptions in this sim?
**Link to sim:** https://phet-dev.colorado.edu/html/molecules-and-light/1.5.0-dev.21/phet/molecules-and-light_en_phet.html?ea&a11y&supportsSound

Platforms to test:
- [x] Chrome (JAWS)
- [x] Firefox (NVDA)
- [x] Safari (VoiceOver)
- [x] iOS Safari (VoiceOver)

[2019-12-13 20:35] KatieWoe commented on #461
Repo: https://github.com/phetsims/molecules-and-light

[2019-12-13 21:52] KatieWoe commented on #461
Memory Test Results:
![memtests](https://user-images.githubusercontent.com/41024075/70834682-2f1f7480-1db8-11ea-999f-69e5d9dc1fd8.png)

[2019-12-17 19:32] KatieWoe opened #462 "Balancing Act Spot Check RC"
@KatieWoe, @ariel-phet, balancing-act/1.1.24-rc.1 is ready for RC testing. Document issues in https://github.com/phetsims/balancing-act/issues and link to this issue. This is a spot check

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- Test all possible forms of input.
  - Test all mouse/track

[2019-12-17 20:01] KatieWoe commented on #462
- [ ] Win 10 chrome
- [ ] Win 10 firefox
- [ ] Win 10 edge
---
- [ ] Mac 10.15 chrome
- [ ] Mac 10.15 safari
---
- [ ] Win 7 IE
- [ ] Mac 10.12 safari
---
- [ ] ChromeOS
- [ ] iPadOS 13

[2019-12-17 21:43] KatieWoe commented on #461
Calling an end here so changes can be made for tomorrow. Will likely have student workers look at it through the week to find any more hidden issues.

[2019-12-18 18:47] jonathanolson opened #463 "Maintenance spot-checks for fractions string reference change"
For https://github.com/phetsims/rosetta/issues/213, it's desired to have the fractions sims switch to use the common string (that's used in master) since rosetta is checking things in master. fraction-matcher and fractions-equality were published recently enough where this change was applied, but the three other sims in the suite needed changes.

I'd like QA to do brief checks to make sure nothing

[2019-12-18 20:25] ariel-phet commented on #463
@jonathanolson that is fine for app download, we are generally OK with small updates with that, just want to be judicious when it comes to releases affecting every sim.

[2019-12-19 01:27] twant opened #464 "RC Test: Molarity 1.5.0-rc.1"
@emily-phet, @zepumph, @jessegreenberg, @terracoda, @Matthew-phet molarity/1.5.0-rc.1 is ready for RC testing. Document issues in https://github.com/phetsims/molarity/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- Test all possible forms of input.
  - Test all m

[2019-12-19 20:12] KatieWoe commented on #464
Memory test results:
![memsults](https://user-images.githubusercontent.com/41024075/71206169-24a22680-2261-11ea-9624-e68b05f82649.png)

[2019-12-20 00:09] jbphet commented on #463
I verified this by adding special-case code to Rosetta (running locally on my machine, never committed) that substituted the RC links above for the live sim URLs from which the English string keys are usually extracted.  This worked, i.e. the "Choose your Level!" string was presented on the translation utility interface, here's a screenshot:

![image](https://user-images.githubusercontent.com/3082

[2019-12-28 01:10] jessegreenberg commented on #461
Thanks @KatieWoe, this has been great and we learned a lot from this. Closing.

[2019-12-28 01:10] #461 closed

[2020-01-03 18:56] KatieWoe commented on #464
@twant, @emily-phet, @zepumph, @jessegreenberg, @terracoda, @Matthew-phet
Do we want new screenshots taken?

[2020-01-03 20:41] zepumph commented on #464
I believe so, but we will want to tweak arrows over in https://github.com/phetsims/molarity/issues/201 first. Maybe next RC?

[2020-01-03 20:41] KatieWoe commented on #464
Ok. Make an issue when you think its ready @zepumph

[2020-01-03 20:55] zepumph commented on #464
Will do!

[2020-01-06 20:26] jbphet opened #465 "RC Test: Number Line: Integers 1.0.0-rc.1"
@amanda-phet, @ariel-phet, and @KatieWoe - number-line-integers/1.0.0-rc.1 is ready for RC testing. This is the first RC for the initial release of this simulation, so thorough testing is warranted. Please document issues in https://github.com/phetsims/number-line-integers/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summa

[2020-01-06 22:14] ariel-phet commented on #465
High priority right after #464

[2020-01-07 19:41] KatieWoe commented on #436
Can this be closed since it is in rc @zepumph

[2020-01-07 19:54] #436 closed

[2020-01-07 19:55] #455 closed

[2020-01-08 19:10] jonathanolson commented on #463
Discussed with JB last week, I believe the testing we've done is sufficient. I'm going to move forward with deployments for these sims.

[2020-01-08 19:30] jonathanolson commented on #463
Completed, closing!

[2020-01-08 19:30] #463 closed

[2020-01-08 21:30] KatieWoe commented on #464
QA is done

[2020-01-08 22:28] zepumph commented on #464
Excellent thanks! Pinging @jessegreenberg so that he knows too.

[2020-01-08 22:28] #464 closed

[2020-01-09 16:25] KatieWoe commented on #465
Lagging occurs in ChromeOS when dragging objects around.

[2020-01-10 17:54] KatieWoe commented on #465
Some graphical oddities on Win 7 where the screen seems to flash briefly when dragging objects into the play area sometimes. On firefox now. May be due to my computer, so let me know if you think it needs an issue @jbphet

[2020-01-13 22:43] KatieWoe commented on #465
QA is done

[2020-01-14 17:12] KatieWoe commented on #462
QA is done

[2020-01-20 17:19] jbphet commented on #465
Thanks @KatieWoe and team.  I'll close this issue and follow up on the individual issues logged in the NLI repo.

[2020-01-20 17:19] #465 closed

[2020-01-21 16:11] jbphet opened #466 "RC Test: Number Line: Integers 1.0.0-rc.2"
@amanda-phet, @ariel-phet, and @KatieWoe - number-line-integers/1.0.0-rc.2 is ready for RC testing. This is the second RC for the initial release of this simulation, and is meant to address all issues logged during the testing of the first RC. Please document issues in https://github.com/phetsims/number-line-integers/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<de

[2020-01-22 17:21] zepumph opened #467 "PhET-iO addition to the QA Book"
@KatieWoe, over in https://github.com/phetsims/studio/issues/35 @samreid, @chrisklus, and I added functionality such that when you press the "launch" button in studio, or conduct any other state set on a PhET-iO sim, then the resetAllButton should automatically set the state back to that configuration when pressed.

From this we would like to make sure that two things are checked
1. (I'm unsure th

[2020-01-22 21:29] KatieWoe commented on #467
QA book changes added in the above commit. @zepumph if you agree with this, please close.

[2020-01-22 22:00] zepumph commented on #467
Thanks!

[2020-01-22 22:00] #467 closed

[2020-01-22 22:02] KatieWoe commented on #466
QA is done

[2020-01-23 23:45] jbphet commented on #466
Thanks, I'll address the individual issues and create a new RC.  Closing.

[2020-01-23 23:45] #466 closed

[2020-01-24 00:21] jbphet opened #468 "RC Test: Number Line: Integers 1.0.0-rc.3"
@amanda-phet, @ariel-phet, and @KatieWoe - number-line-integers/1.0.0-rc.3 is ready for RC testing. This is the third RC for the initial release of this simulation, and is meant to address all issues logged during the testing of the previous RCs. Please document issues in https://github.com/phetsims/number-line-integers/issues and link to this issue.

Assigning to @KatieWoe so that she is aware an

[2020-01-24 23:48] jbphet opened #469 "RC Test: Number Line: Integers 1.0.0-rc.4"
@amanda-phet, @ariel-phet, and @KatieWoe - number-line-integers/1.0.0-rc.4 is ready for RC testing. This is an RC for the initial release of this simulation, and is meant to address a handful of issues found in the previous RC. I discussed this RC in person with @KatieWoe, and she said that it could probably be just a "spot check".  Please document issues in https://github.com/phetsims/number-line

[2020-01-24 23:52] KatieWoe commented on #468
rc 4 is out now. Closing

[2020-01-24 23:52] #468 closed

[2020-01-24 23:53] KatieWoe commented on #469
- [ ] Win 10 chrome
- [ ] Win 10 firefox
- [ ] Win 10 edge
- [ ] Win 10 IE
---
- [ ] Mac 10.15 chrome
- [ ] Mac 10.15 safari
---
- [ ] iOS 12
- [ ] Mac 10.12 safari
---
- [ ] ChromeOS
- [ ] iPadOS 13

[2020-01-27 21:37] jessegreenberg opened #470 "Dev test: Energy Skate Park 1.0.0-dev.6"
Could you please give this sim a dev test? There have been enough changes since the last version that this would be useful before an RC.

Changes mostly involve conservation of energy in special cases (https://github.com/phetsims/energy-skate-park/issues/172, https://github.com/phetsims/energy-skate-park/issues/45, others). So please pay special attention to the behavior of energy and make sure th

[2020-01-28 03:22] zepumph opened #471 "RC test: Gravity Force Lab 2.2.0-rc.1"
@emily-phet @terracoda @jessegreenberg @arouinfar @kathy-phet, gravity-force-lab/2.2.0-rc.1 is ready for RC testing.
Document issues in https://github.com/phetsims/gravity-force-lab/issues and link to this issue.

This simulation is outfitted with:
* All PhET-iO featured, including a designed api
* Sound
* Interactive Descriptions (alternative input and auditory descriptions)
* Gesture Accessibili

[2020-01-28 04:24] ariel-phet commented on #471
Concurrent top priority with #469

[2020-01-28 15:52] jessegreenberg commented on #464
Changes for this issue also need to be cherry picked for the RC

https://github.com/phetsims/chipper/issues/798

[2020-01-28 17:36] KatieWoe opened #472 "QA: Testing for phet-ios-app v1.3.2(70)"
This version of the app should not appear outwardly different. Most areas have been touched but only in minor ways (to catch kills and edge cases). The main areas fo concern are:

- The update process
    - The update process was moved into its own class with a number of improvements. This has the highest likelihood of introducing bugs.
- UI updates as a result of changes
    - The underlying even

[2020-01-28 17:36] KatieWoe commented on #472
From @ariel-phet
@KatieWoe I think this version would be good to do a "thorough" test on. It does not need to be as exhaustive as a test for actually releasing a new version of the app, since we will need to do such a test anyhow before the next version, but since @chris-huxtable has done a fair bit of code clean-up we want to make sure we have a good "baseline" for this version as we move forward

[2020-01-28 17:39] KatieWoe commented on #472
Original issue: https://github.com/phetsims/phet-ios-app/issues/585
Couldn't seem to transfer into a public repo

[2020-01-28 19:56] KatieWoe commented on #469
Spot check done. Not sure who is going to do the publishing, so assigning to @ariel-phet

[2020-01-29 19:05] KatieWoe commented on #471
IE performance is rather poor when dragging the masses or the sliders around. Not really worth an issue in my opinion. @zepumph let me know if you disagree and want one made.

[2020-01-29 20:42] chrisklus opened #473 "RC Test: Balancing Act 1.2.0-rc.1 PhET-iO"
@KatieWoe, @ariel-phet, @kathy-phet, balancing-act/1.2.0-rc.1 is ready for RC testing.

This is a test for specific features that we're sending to a client, not an actual standard RC test. It also only includes PhET-iO, and is not a fully instrumented version of the sim. Per the query parameters included in the wrapper links, only the second screen needs to be tested, and with the query parameter

[2020-01-29 23:11] KatieWoe commented on #471
With mobile VO, if enhanced sound is on, it can be hard to tell while the sliders are moving since three sounds are playing at once.

[2020-01-29 23:18] chrisklus commented on #469
1.0 was published today! Closing.

[2020-01-29 23:18] #469 closed

[2020-01-30 00:41] ariel-phet commented on #473
@KatieWoe concurrent top priority with #471

[2020-01-30 03:15] zepumph commented on #471
Can you describe what the three sounds are? I only hear the mass "boomp" and the force "waaaah"

[2020-01-30 03:47] emily-phet commented on #471
Since it's with VO on, maybe she's referring to the description as the third sound?

[2020-01-30 15:32] KatieWoe commented on #471
Yes. So description, boomp, and waaaah, with boomp being hard to detect in the mix.

[2020-01-30 17:33] terracoda commented on #471
@KatieWoe by boomp, do you mean the mass sound that is added when Enhanced Sound is checked? If so, that's interesting because, I think that sound has been more salient for blind users. It's been the force sound that is a little less obvious to detect.

I haven't looked too carefully at all the sound interview data for this sim, but if I am recalling correctly, several interviewees noticed that th

[2020-01-30 17:34] KatieWoe commented on #471
I was quoting @zepumph above. He was using it for the mass sound under enhanced sound.

[2020-01-30 17:36] terracoda commented on #471
And I haven't seen any interviews using mobile VO with this sim.

[2020-01-30 17:55] KatieWoe commented on #471
Memory Test results:
![memresults](https://user-images.githubusercontent.com/41024075/73476199-0a269700-434f-11ea-9a99-70c4cbaaa66f.png)

[2020-01-30 19:44] KatieWoe commented on #471
I looked at NVDA on the simulation wrapper in phet-io quickly. Didn't see any immediate problems. @zepumph let me know if you want a thorough testing screen readers and phet-io. I did wonder how they would handle changes made in studio, but I can't really check due to https://github.com/phetsims/studio/issues/92

[2020-01-31 16:35] KatieWoe commented on #471
Studio doesn't work with IE. I believe this is expected.

[2020-01-31 16:58] zepumph commented on #471
That is expected. Will you add that to the qa book.

[2020-01-31 23:10] KatieWoe commented on #473
- [ ] macOS 10.12 Safari
- [ ] macOS 10.12 Chrome
- [ ] iPad iOS 13 Safari (No Studio)
- [ ] macOS 10.15 Safari
- [ ] macOS 10.15 Firefox
- [ ] macOS 10.15 Chrome
- [ ] Win 10 (laptop) Edge
- [ ] Win 10 (laptop) Chrome
- [ ] Win 10 (laptop) Firefox
- [ ] Win 10 (laptop) IE (No Studio)
- [ ] Chromebook Chrome (latest)

[2020-01-31 23:46] lmulhall-phet commented on #471
On Firefox, the sound is quieter for the first few seconds. Let me know if you'd like an issue made @zepumph.

[2020-02-01 01:12] lmulhall-phet commented on #471
Sorry for the confusion as to who was doing macOS 10.12 + Safari. It's done now. QA is done with the testing matrices for the general RC and PhET-iO, but @KatieWoe might want further testing before we call an end.

[2020-02-02 00:15] lmulhall-phet commented on #473
Linking https://github.com/phetsims/studio/issues/92 since it affects this sim.

[2020-02-03 21:55] KatieWoe commented on #471
QA is done

[2020-02-03 21:56] zepumph commented on #471
Awesome!!! Thank you!

[2020-02-03 22:30] KatieWoe commented on #473
https://github.com/phetsims/balancing-act/issues/43 may happen here, but it is quite hard to tell.

[2020-02-04 02:18] zepumph opened #474 "Document link with bug report?"
From #471, There were many issues that came out of that test task. Many of them were on different PhET-iO wrappers. And sometimes (like for record/playback) they are the same wrapper but different link) I think for me it would helpful if the bug report can include the exact link used to produce the bug.

@KatieWoe what do you think about that? Is that alright? Something for the QA book?

[2020-02-04 16:54] KatieWoe commented on #474
Ok, but to clarify, if the issue is made in the sim's repo, is it ok to put those links in a public repo?

[2020-02-04 18:14] samreid commented on #473
Where there is a ❌next to "login", which issue (or issues) does that refer to?

[2020-02-04 18:22] KatieWoe commented on #473
@samreid https://github.com/phetsims/phet-io-wrappers/issues/320

[2020-02-04 18:38] lmulhall-phet commented on #474
@zepumph, @KatieWoe, QA used to put links in the test matrix next to the test that failed. We could do that again for tests where issues are specific to certain links.

[2020-02-04 20:17] KatieWoe commented on #473
This known issue: https://github.com/phetsims/phet-io-wrappers/issues/278. Is present with metacog on iPads.

[2020-02-04 21:52] KatieWoe commented on #474
General wording in the above commit @zepumph

[2020-02-04 22:44] zepumph commented on #474
That is a good point! If they are password protected, then maybe it ok? Let's double check with @samreid, but I think that in general these issues are often in phet-io/studio/phet-io-wrappers anyways.

@samreid do you think we should keep phet-io links (even when password protected) out of public issues?

[2020-02-04 22:51] samreid commented on #474
In my opinion, it is OK to put password protected phet-io links in public issues.  However, we would need to be careful that those links aren't made (temporarily) public for client studies.  You may wish to double check with @kathy-phet about this policy.

[2020-02-04 23:40] KatieWoe commented on #473
QA is done. Issues linked or discussed above.

[2020-02-04 23:50] zepumph commented on #474
I added it to the agenda Thursday.

[2020-02-05 00:06] samreid commented on #473
@zepumph and I reviewed the referenced issues and agreed this is ready to share with our client, but we will mention that it may not work on Chromebooks and there may be problems if you interact with an object while it's animating.

[2020-02-05 17:06] jonathanolson opened #475 "Spot checks for Java certificate updates"
As part of https://github.com/phetsims/special-ops/issues/150, we've resigned a copy of all JAR files (under https://phet.colorado.edu/sims-copy/) that we'd like to get tested before things get copied over into the correct production place.

I've verified that all JAR files should be good to go (server-side), but I'd like spot checks on a few different platforms (can we try all supported platforms

[2020-02-05 18:35] KatieWoe commented on #473
QA is done. Some uncertainty in metacog discussed in https://github.com/phetsims/balancing-act/issues/114. Not sure what causes it or the platform. Other issues linked above.

[2020-02-06 01:47] chrisklus commented on #473
In https://github.com/phetsims/balancing-act/issues/115 the phet-io team cherry picked the fix for https://github.com/phetsims/studio/issues/92 and published 1.2.1.

Can we close @samreid @zepumph?

[2020-02-06 01:50] samreid commented on #473
I'd like to leave this open until I have a chance to triage all the opened issues, if that's OK.  But if that interferes with the QA issues, let me know and I'll find another way.

[2020-02-06 01:57] chrisklus commented on #471
https://github.com/phetsims/chipper/commit/348ef4d3679e1e02e4b7ee918ffb738a7ca22573 needs to be cherry picked for the next RC. Once that's complete and `studio` is added to the list of dependencies for this RC, the `studio` sha should be changed from master to the sha of the repo at the time that the rest of the RC shas were taken.

[2020-02-06 07:40] ariel-phet commented on #470
Promoting to current top priority

[2020-02-06 07:42] ariel-phet commented on #475
Given that our Java sims are still used quite a bit, it would be good to make this issue high priority. Considering there are not many platforms (basically some Mac OS's and Windows 10) it should be fairly efficient to proceed with these checks.

[2020-02-06 17:12] zepumph commented on #473
There look to be three BA specific issues from this QA:
https://github.com/phetsims/balancing-act/issues/112
https://github.com/phetsims/balancing-act/issues/95
https://github.com/phetsims/balancing-act/issues/113

All other open issues have GFL linked to it, and will be covered by that RC process.

[2020-02-06 17:27] jessegreenberg opened #476 "RC Test: Molarity 1.5.0-rc.3"
Molarity 1.5.0-rc.3 is ready for RC testing. Please document issues in https://github.com/phetsims/molarity/issues and link to this issue.

This is the second rc, rc.2 was lost due to my local build issue. This simulation includes accessibility so please test those features. A large number of changes have been pulled into this RC, so I feel that we need to do a full RC test.

Assigning to @ariel-p

[2020-02-06 19:16] ariel-phet commented on #476
current top priority, above #470

[2020-02-06 19:18] ariel-phet commented on #470
back to high priority so that #476 is top

[2020-02-06 19:21] chrisklus commented on #474
from 02/06/20 phet-io meeting:

@kathy-phet is fine with password protected links in public issues.

[2020-02-06 20:34] zepumph commented on #474
@KatieWoe over to you for review. Does that sound good with you? Should this be updated in the QA book at all?

[2020-02-06 20:36] KatieWoe commented on #475
Molecule Shapes java keeps crashing when I try to open in (Mac 10.13.6).

[2020-02-06 20:37] jonathanolson commented on #475
Does that differ from the production version?

[2020-02-06 20:39] KatieWoe commented on #475
I would assume so. I never had reason to try and download it before this change.

[2020-02-06 20:44] KatieWoe commented on #475
It does work on my Win 10 device

[2020-02-07 16:02] jonathanolson commented on #475
Since we have an HTML5 version for the simulation, I'm not sure an issue is needed (or where it would go, other than molecule-shapes). Probably @ariel-phet's call?

[2020-02-10 16:17] jessegreenberg commented on #476
Sorry I didn't mention but we are ready for this issue in this RC as well (screenshots) https://github.com/phetsims/molarity/issues/209. QA team, let me know if I can help with this.

[2020-02-10 21:36] KatieWoe commented on #476
QA is done

[2020-02-10 21:52] KatieWoe commented on #475
Notes for Win 10:
No problems in downloading or opening. However, I was (when discussing the installer) told that there would be Digital Signatures tab when looking at the properties window for the sim. I don't see that here.
![propertiesofjava](https://user-images.githubusercontent.com/41024075/74193611-dda73080-4c14-11ea-8d74-4ada1eb3fa9d.png)
@jonathanolson if I'm misunderstanding, please let m

[2020-02-10 23:32] KatieWoe commented on #475
On Macs the sims are still from "an unidentified developer" and you still need to go through the security steps to open them.

[2020-02-10 23:41] jessegreenberg commented on #476
Thank you!

[2020-02-10 23:41] #476 closed

[2020-02-11 16:37] jessegreenberg opened #477 "RC Spot Check: Molarity 1.5.0-rc.4"
The rc.3 produced one issue that required a fix and so only spot check is necessary to make sure the fix made it into branch.

[**Simulation**](https://phet-dev.colorado.edu/html/molarity/1.5.0-rc.4/phet/molarity_en_phet.html)

Issues to verify:
 - [x] [Opening links opens two tabs](https://github.com/phetsims/molarity/issues/222)

The fix involved links within the simulation. Please make sure beh

[2020-02-11 17:53] ariel-phet commented on #477
Current top priority

[2020-02-11 19:05] KatieWoe commented on #477
- [ ] Win 10 chrome w/ Jaws
- [ ] Win 10 firefox w/ NVDA
- [ ] Win 10 edge
---
- [ ] Mac 10.15 chrome
- [ ] Mac 10.15 safari w/ VO
---
- [ ] Win 10 IE
- [ ] Mac 10.12 safari
---
- [ ] ChromeOS
- [ ] iPadOS 13 w/ VO

[2020-02-11 20:30] KatieWoe opened #478 "Sims that need new screenshots"
Balloons and static Electricity, Molecules and Light, and Resistance in a Wire have accessibility features that are visible in their nav bar when you open the sim. However, they are not visible in the icons/screenshots. Should the screenshots for these sims be updated?

[2020-02-12 06:49] ariel-phet commented on #478
@KatieWoe I don't think this is particularly high priority, the screenshot is more of a marker for people to recognize, and a way to get a sense of the simulation. We sometime have deviations due to maintenance releases and such.

Molecules and light is scheduled for republication in the near future however, so you might want to make an issue in that simulation repo suggesting adding a new screens

[2020-02-12 15:43] KatieWoe commented on #478
Ok. Closing then.

[2020-02-12 15:43] #478 closed

[2020-02-12 21:05] KatieWoe commented on #477
Kathryn Woessner:office:  1:17 PM
Quick thing I hadn't noticed about Molarity screen reader before. As you change the sliders it will sometimes say slightly concentrated or very concentrated, but some concentrations don't get such an alert. Is this intended? Can be seen in a11y view

Jesse Greenberg  1:20 PM
Hey, good question - Unfortunately I am only taking it through the publication and I am no

[2020-02-12 21:44] KatieWoe commented on #477
QA is done

[2020-02-13 00:53] Denz1994 opened #479 "Dev test: Build-a-Molecule 0.0.0-dev.58"
@arouinfar, @ariel-phet,  Build-a-Molecule/0.0.0-dev.58 is ready for dev testing.  This is the second round of dev testing and many improvements were made to the mechanisms for bonding, collection boxes, and the dialogs for modeling molecules.

Document issues in https://github.com/phetsims/build-a-molecule/issues and link to this issue.

Assigning @ariel-phet for prioritization.

<details>
<summa

[2020-02-13 00:55] Denz1994 commented on #459
Closing this issue, since a new dev test has been opened. Thanks for the work QA.

[2020-02-13 00:55] #459 closed

[2020-02-13 17:44] ariel-phet commented on #470
And back to the top priority

[2020-02-13 17:45] #418 closed

[2020-02-13 19:43] KatieWoe commented on #470
- [ ] Latest macOS, Chrome and Safari
- [ ] Latest iOS, Safari
- [ ] Windows 10, all browsers
- [ ] Latest Chrome OS, Chrome

[2020-02-13 21:36] KatieWoe commented on #475
QA is done. Potential issues discussed above.

[2020-02-13 21:47] zepumph commented on #471
Alright. Everything here is all set, I'm going to make rc.2 now.

[2020-02-13 21:47] zepumph commented on #471
Thanks QA!

[2020-02-13 21:47] #471 closed

[2020-02-13 23:21] zepumph opened #480 "RC test: Gravity Force Lab 2.2.0-rc.2"
@emily-phet @terracoda @jessegreenberg @arouinfar @kathy-phet @samreid @chrisklus, gravity-force-lab/2.2.0-rc.2 is ready for RC testing.
Document issues in https://github.com/phetsims/gravity-force-lab/issues and link to this issue.

This simulation is outfitted with:
* All PhET-iO featured, including a designed api
* Sound
* Interactive Descriptions (alternative input and auditory descriptions)
*

[2020-02-14 01:34] Denz1994 commented on #479
A note for QA:

Using the query parameter `?easyMode` will allow the user to only complete one molecule before being prompted to the next collection. It may make specific tests a bit faster.

[2020-02-14 18:27] jessegreenberg opened #481 "Spot check: quality of PhET/Keyboard buttons after changing from mipmap to image"
In https://github.com/phetsims/joist/issues/607 we are trying to use image instead of mipmap. Mipmap was originally used to improve image quality in Firefox as the PhET logo looked very pixelated on that platform.

![image](https://user-images.githubusercontent.com/6396244/74557082-6b449200-4f2d-11ea-8cd3-cffe329a9c61.png)

Can you please compare the quality of these button in this version
https:/

[2020-02-14 18:50] ariel-phet commented on #480
@KatieWoe priority supersedes #470

[2020-02-14 18:51] KatieWoe commented on #470
I believe QA is done with this dev test

[2020-02-14 21:29] KatieWoe commented on #470
QA is done

[2020-02-14 23:00] jessegreenberg commented on #477
Great, thanks @KatieWoe - We are ready to deploy.

[2020-02-14 23:00] #477 closed

[2020-02-14 23:06] jessegreenberg commented on #470
Great, thank you @KatieWoe and team -

I am not sure https://github.com/phetsims/QA/issues/470#issuecomment-585938038 covered this, can you comment on if any slower platforms were tested? Ideally we want to catch performance issues now before we create an RC branch.

[2020-02-14 23:07] KatieWoe commented on #470
Ah, sorry. I missed the bit about slowest performing. I'll reopen and take a look.

[2020-02-14 23:08] jessegreenberg commented on #470
Thank you!

[2020-02-18 17:47] KatieWoe commented on #470
ChromeOS: Fair, some noticeable lag, particularly on third screen. FPS from 30-50
iOS 9 (not supported): Poor, prone to crashing, Normal and slow look similar/same
Mac OS 10.10 Safari: Good, no problems seen

[2020-02-18 19:55] KatieWoe commented on #480
@zepumph I noticed that you can drag the ruler from behind the slider boxes. Doesn't cause any problems and I don't think it needs anything done, but if you disagree and want an issue, let me know.
![shoulddrag](https://user-images.githubusercontent.com/41024075/74772801-eec3f300-524d-11ea-8053-4ca787ffc70e.gif)

[2020-02-18 20:44] zepumph commented on #480
That seems like a bug, and an issue would be nice here.

[2020-02-19 16:29] jessegreenberg commented on #470
Great, thanks @KatieWoe -

In https://github.com/phetsims/energy-skate-park/issues/42 we decided that this release will not need to support iOS 9, we expected that platform to be problematic.

@ariel-phet can you please comment on if more time is needed to optimize for ChromeOS? Third screen is most graphically intensive as it uses griddle, and optimizations would probably start there. But "fair"

[2020-02-19 18:29] jbphet commented on #475
@KatieWoe said:

@KatieWoe - Is this any different from what we are seeing on the currently live JAR files?  If not, then it doesn't really matter - we're just trying to make sure that nothing has been broken from signing the JAR files with the new certificate.

[2020-02-19 19:23] KatieWoe commented on #475
@jbphet is not any different than the live JAR files that I can see.

[2020-02-19 23:12] ariel-phet commented on #481
Just as quick datapoint, checking this button on Win 10 FF, no observable difference (FF often being a problem platform)

[2020-02-19 23:13] ariel-phet commented on #481
@KatieWoe marking as high priority, and can probably be done in parallel with other testing when on a particular platform.

[2020-02-19 23:19] ariel-phet commented on #470
@KatieWoe for ChromeOS can you compare to the published version of ESPB for us? If things have some lag compared to published, we likely need to do some work @jessegreenberg considering the popularity of this platform.

[2020-02-19 23:35] KatieWoe commented on #470
Quick look on published ESPB ChromeOS. It looked good: 55-60 fps. Honestly, I expected to get problems from https://github.com/phetsims/energy-skate-park-basics/issues/467, but it looks pretty good.

[2020-02-20 20:34] jonathanolson opened #482 "Sanity check testing for ES6 modules"
Under https://phet-dev.colorado.edu/modules-testing/, I've manually "deployed" three simulations: build-a-molecule, john-travoltage and molarity.

Under `/phet/` should be the phet-brand links, and under `/phet-io/` should be the password-protected parts for phet-io testing. It *seems* like phet-io is operating normally.

If things seem very broken, feel free to contact @jonathanolson or @samreid

[2020-02-20 20:36] ariel-phet commented on #482
@KatieWoe next top priroity once #480 is finished off.

If you have questions, feel free to ping @jonathanolson

[2020-02-20 22:46] KatieWoe commented on #482
- [ ] iPad 10.12 Safari
     - [ ] Basic Test
     - [ ] Locale Tests
- [ ] iPad 10.13 Safari
     - [ ] Basic Test
     - [ ] String Tests
     - [ ] a11y View
     - [ ] App Test
- [ ] Mac 10.10 Safari
     - [ ] Basic Test
     - [ ] Brand Tests
- [ ] Mac 10.11 Safari
     - [ ] Basic Test
     - [ ] String Tests
- [ ] Mac 10.11 Chrome
     - [ ] Basic Test
     - [ ] iframe Test
- [ ] Mac 10.1

[2020-02-20 22:47] KatieWoe commented on #482
@jonathanolson @samreid Let me know if there any changes you want to the above test checklist.

[2020-02-21 15:54] jessegreenberg commented on #470
Interesting, that is surprising since it was reported as poor in https://github.com/phetsims/energy-skate-park-basics/issues/467. Ill open an issue in energy-skate-park to investigate more. This issue can be closed.

[2020-02-21 15:54] #470 closed

[2020-02-21 16:31] jonathanolson commented on #482
Looks good to me!

[2020-02-21 22:39] KatieWoe commented on #480
QA is done

[2020-02-22 00:11] zepumph commented on #480
I still don't see https://github.com/phetsims/balancing-act/issues/111 checked off, did you get to it? Should I reassign it to someone?

[2020-02-24 15:56] KatieWoe commented on #480
Sorry, I thought one of my workiers was looking at it, so I passed it over. I'll check quick.

[2020-02-24 16:20] jonathanolson commented on #482
Also, I think my biggest worry would be how it works on Win10 IE, is it possible to test that next?

[2020-02-24 16:21] KatieWoe commented on #482
I can do that. What aspects? @jonathanolson

[2020-02-24 16:23] KatieWoe commented on #480
Done

[2020-02-24 18:20] #425 closed

[2020-02-24 18:53] KatieWoe commented on #482
Per @samreid doing phet-io testing on Molarity

[2020-02-24 19:50] KatieWoe commented on #480
Reopening for metacog

[2020-02-24 19:57] chrisklus opened #483 "Dev test: Energy Forms and Changes 1.2.0-dev.10"
@KatieWoe, @arouinfar, @ariel-phet, @kathy-phet, energy-forms-and-changes/1.2.0-dev.10 is ready for dev testing. The phet-io brand of this version is out for review by the phet-io client, so we'd just like to test phet brand for now since there are new phet-brand features
(outlined below) and we should hear back from the client before dev testing phet-io brand. The priority of this test is medium

[2020-02-24 20:41] KatieWoe commented on #482
Noted elsewhere, but recording here. String test query parameters do not seem to be working. Non-locale query parameters should still work.

[2020-02-24 22:53] jbphet commented on #462
I've addressed, deferred, or assigned all issues noted above and will follow up there.  Closing.

[2020-02-24 22:53] #462 closed

[2020-02-25 02:37] ariel-phet commented on #483
Currently medium priority after #479

[2020-02-25 20:03] jonathanolson commented on #482
IE11 and stringTest fixes are included in https://phet-dev.colorado.edu/modules-testing2. I'll be working on other items, but can we get those tests done under that?

[2020-02-25 21:41] KatieWoe commented on #482
Dragging sliders in Molarity in IE is a bit more laggy than in published, but not really bad enough to be issue worthy.

[2020-02-26 00:08] lmulhall-phet commented on #482
The debug version of BAM doesn't open in macOS 10.10.5 + Safari 10.1.2. You get stuck at the loading page with no progress in the loading bar. This is the error in the console:

![issue](https://user-images.githubusercontent.com/31285590/75299037-44ba0d00-57f1-11ea-8fd2-71c97b9c7f89.png)

[2020-02-26 01:06] lmulhall-phet commented on #482
Blue floor and blue wall? Is this a thing that we know about?

![1](https://user-images.githubusercontent.com/31285590/75301894-60291600-57f9-11ea-9cbd-3abd8ce568f1.png)

I saw this on macOS 10.11.6 + Safari 11.1.2.

[2020-02-26 01:10] jonathanolson commented on #482
Were dev tools open in Safari or something?

[2020-02-26 01:10] lmulhall-phet commented on #482
@jonathanolson, no devtools open, but I may have had them open earlier.

[2020-02-26 01:24] lmulhall-phet commented on #482
Pending @KatieWoe's approval, QA is done.

[2020-02-26 16:05] KatieWoe commented on #482
I think https://github.com/phetsims/QA/issues/482#issuecomment-591180838 should probably have an issue. I'll make one and then we'll finish up.

[2020-02-26 16:14] KatieWoe commented on #482
QA is done

[2020-02-26 16:15] KatieWoe commented on #482
Assigning @ariel-phet since this is important for Thursday.

[2020-02-26 16:29] KatieWoe commented on #481
- [ ] iPhone Safari
- [ ] iPad 10.12 Safari
- [ ] iPad 10.13 Safari
- [ ] iPad 10.13 App
---
- [ ] Mac 10.10 Safari
---
- [ ] Mac 10.11 Safari
- [ ] Mac 10.11 Chrome
---
- [ ] Mac 10.12 Safari
- [ ] Mac 10.12 Chrome
---
- [ ] Mac 10.13 Safari
- [ ] Mac 10.13 Chrome
---
- [ ] Mac 10.14 Safari
- [ ] Mac 10.14 Chrome
---
- [ ] Mac 10.15 Safari
- [ ] Mac 10.15 Chrome
---
- [ ] Win 10 IE
- [ ] Win 10 E

[2020-02-26 17:01] ariel-phet commented on #482
@samreid @jonathanolson since QA is complete, would be good for both of you to review the found issues. Nothing here looks like show stoppers for the migration to me.

[2020-02-26 17:38] zepumph commented on #482
@samreid, @chrisklus, and @zepumph looked over all open issues this morning, and non seemed related to or blocking es6 module migration. We feel good to close, but wanted to ping @jonathanolson to see if there is anything else for this issue.

[2020-02-26 22:39] zepumph commented on #480
@samreid and I don't think that metacog testing is necessary for this second RC. We did a lot of metacog testing last RC, and the only issues that came from that were those that were general record/playback issues and could be confirmed from `localFile` recording.

[2020-02-28 18:03] KatieWoe commented on #481
QA is done. Looks good.

[2020-02-28 18:05] jessegreenberg commented on #481
Great, thanks!

[2020-02-28 18:05] #481 closed

[2020-03-02 21:22] mattpen opened #484 "Dev Test: Android App"
Version 1.1-dev.4 of the Android App is available for testing.  It is available here: https://play.google.com/apps/internaltest/4697762600441754675.  Please me send the email address for any Play Store user that wishes to test the app.

This version of the app should have the new updated layout to match the iOS app v 1.3 and should show titles, descriptions, and simulations in the locale of the de

[2020-03-02 21:26] mattpen commented on #484
Specific issues to confirm:

https://github.com/phetsims/phet-android-app/issues/56
https://github.com/phetsims/phet-android-app/issues/55

[2020-03-03 01:43] zepumph commented on #480
Alright we are ready for a third rc/spot-check. I will go ahead and close this and create a new RC.

[2020-03-03 01:43] #480 closed

[2020-03-03 03:18] zepumph opened #485 "spot check: Gravity Force Lab 2.2.0-rc.3"
@emily-phet @terracoda @jessegreenberg @arouinfar @kathy-phet @samreid @chrisklus, gravity-force-lab/2.2.0-rc.3 is ready for RC testing.  This is the third RC test, and so we just need to spot check the issues found in the previous RC.
Document issues in https://github.com/phetsims/gravity-force-lab/issues and link to this issue.

This simulation is outfitted with:
* All PhET-iO featured, includin

[2020-03-03 15:40] KatieWoe commented on #484
@ariel-phet for priority

[2020-03-03 15:46] KatieWoe commented on #485
- [ ] Win 10 chrome w/ Jaws and Phet-io
- [ ] Win 10 firefox w/ NVDA and Phet-io
- [ ] Win 10 edge  and Phet-io
---
- [ ] Mac 10.15 chrome  and Phet-io
- [ ] Mac 10.15 safari w/ VO  and Phet-io
---
- [ ] Win 10 IE  and Phet-io
- [ ] Mac 10.12 safari  and Phet-io
---
- [ ] ChromeOS  and Phet-io
- [ ] iPadOS 13 w/ VO  and Phet-io

[2020-03-03 17:41] ariel-phet commented on #485
@KatieWoe this is the current top testing priority (along with any ES-6 supporting testing that might come up)

[2020-03-03 17:42] ariel-phet commented on #484
@KatieWoe higher than #483 lower than #479

[2020-03-03 17:50] zepumph commented on #485
I made a few updates to the initial comment. Please refresh to get added issues to verify.

[2020-03-04 23:05] KatieWoe commented on #485
QA is done

[2020-03-05 02:56] zepumph commented on #485
Thanks for the speedy turn around. I'll try to get a new RC tonight over in https://github.com/phetsims/gravity-force-lab/issues/262

[2020-03-05 02:58] #485 closed

[2020-03-05 06:54] zepumph opened #486 "spot check: Gravity Force Lab 2.2.0-rc.4"
@emily-phet @terracoda @jessegreenberg @arouinfar @kathy-phet @samreid @chrisklus, gravity-force-lab/2.2.0-rc.4 is ready for RC testing. This is the fourth RC test, and so we just need to spot check the issues found in the previous RC.
Document issues in https://github.com/phetsims/gravity-force-lab/issues and link to this issue.

This simulation is outfitted with:

All PhET-iO featured, including

[2020-03-05 15:57] KatieWoe commented on #486
- [ ] Win 10 chrome w/ Jaws and Phet-io
- [ ] Win 10 firefox w/ NVDA and Phet-io
- [ ] Win 10 edge
---
- [ ] macOS 10.15 Chrome
- [ ] macOS 10.15 Safari w/ VoiceOver and PhET-iO
---
- [ ] Win 10 IE and Phet-io
- [ ] Mac 10.12 Safari
---
- [ ] ChromeOS and Phet-io
- [ ] iPadOS 13 w/ VO and Phet-io

[2020-03-05 15:59] terracoda commented on #486
@KatieWoe, we test VO on PhET-io?

[2020-03-05 16:00] KatieWoe commented on #486
No, not generally. We might have looked at it at one point. It is VO on the vanilla sim and also test phet-io.

[2020-03-06 00:02] zepumph commented on #486
Thanks you so much for such a quick turnaround!! I really appreciate it!

[2020-03-06 00:20] #486 closed

[2020-03-09 22:55] KatieWoe commented on #479
QA is done

[2020-03-11 16:15] mattpen commented on #484
@KatieWoe - When opening device specific bugs, please note the Android version used on the device. This is normally found in Settings > About {{Device}} > Android Version.

[2020-03-11 21:16] KatieWoe commented on #484
Due to https://github.com/phetsims/phet-android-app/issues/96, putting an end to this test.

[2020-03-13 16:18] wandita commented on #474
test comment
wanda

[2020-03-13 16:19] KatieWoe commented on #474
second test

[2020-03-13 16:25] KatieWoe commented on #458
I think this can be closed. @zepumph reopen if you disagree.

[2020-03-13 16:30] #474 closed

[2020-03-16 22:05] KatieWoe commented on #483
QA is done

[2020-03-18 03:57] chrisklus commented on #483
Thanks! I will close once issues that should be fixed are addressed.

[2020-03-20 22:31] KatieWoe commented on #472
QA is done for now.

[2020-03-23 21:14] pixelzoom opened #487 "Dev test: pH Scale 1.4.0-dev.15"
@arouinfar, @KatieWoe, @ariel-phet  ph-scale/1.4.0-dev.15 is ready for dev testing.

Document issues in https://github.com/phetsims/ph-scale/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General Dev Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- If there is sound, make sure it works.
- Make sure you can't lose anythin

[2020-03-23 21:22] pixelzoom commented on #487
FYI, there's one major difference between master and the published version (1.3.4).  The solutes combo box is now ordered alphabetically, see https://github.com/phetsims/ph-scale/issues/101.

[2020-03-24 17:21] ariel-phet commented on #487
Current top priority

[2020-03-24 17:32] pixelzoom commented on #482
@jonathanolson @ariel-phet can this be closed?

[2020-03-24 19:02] jonathanolson commented on #482
Yes, thank you!

[2020-03-24 19:02] #482 closed

[2020-03-24 20:13] KatieWoe commented on #487
Memory test looks good:
![memorytest](https://user-images.githubusercontent.com/41024075/77472505-a4e4a480-6dd9-11ea-9134-b8fc6d42f873.png)

[2020-03-25 18:01] chrisklus opened #488 "Dev test: Energy Forms and Changes 1.2.0-dev.12"
@KatieWoe, @arouinfar, @kathy-phet, energy-forms-and-changes/1.2.0-dev.12 is ready for dev testing. Once published, the phet-io brand version of this sim will be shared with a client, and phet brand will be the latest release for the website. Please document issues in https://github.com/phetsims/energy-forms-and-changes/issues and link to this issue.

I kept the phet brand section, but since QA ju

[2020-03-25 18:02] chrisklus commented on #483
A new dev test (https://github.com/phetsims/QA/issues/488) has been opened, closing.

[2020-03-30 21:52] #483 closed

[2020-04-01 00:05] samreid opened #489 "Dev testing for "decaf" simulations"
We ported simulations using CheerpJ 2.1 and published the results here:
https://phet-dev.colorado.edu/decaf/

@kathy-phet requested QA dev testing on these simulations to help identify the most important bugs.

Generally, we are looking to usability or technical barriers to publishing these on our website for broader use, so that we can discontinue most/all of our Java simulations.

For each simul

[2020-04-01 16:36] KatieWoe commented on #489
- [ ] battery-resistor-circuit
     - [ ] Win 10 Firefox
- [ ] battery-voltage
     - [ ] Win 10 IE
- [ ] bound-states
     - [ ] Mac 10.15 Safari
- [ ] capacitor-lab
     - [ ] Mac 10.15 Chrome
- [ ] conductivity
     - [ ] Chrome OS
- [ ] discharge-lamps
     - [ ] iPadOS 13
- [ ] eating-and-exercise
     - [ ] Win 10 Firefox
- [ ] efield
     - [ ] Win 10 IE
- [ ] electric-hockey
     - [ ] Mac

[2020-04-01 16:46] KatieWoe commented on #489
Things to keep in mind:
* Take note of how long sims take to load
* Check if in-sim problems occur in java version
* Check if problem is platform specific

[2020-04-01 22:23] mattpen opened #490 "QA Test: Google Doc submission"
@KatieWoe - it would be great if QA could test out the latest changes for activity submission on the website. This includes:

- [x] Adding Google Docs to existing activities
- [x] Creating new activities with just Google Docs, with just uploaded files, and with both.
- [x] Removing Google Docs from existing activities.

This can be tested using the interface at https://ox-dev.colorado.edu/en/teach

[2020-04-02 19:27] KatieWoe commented on #490
Most things look like they might be ok, but https://github.com/phetsims/website/issues/1015 leaves me unsure, so I'm going to pause until it is addressed.
Additionally, @mattpen should google slides and sheets also work?

[2020-04-02 19:29] oliver-phet commented on #490
@KatieWoe This process should support all of the formats listed on the submission page:

[2020-04-03 05:33] mattpen commented on #490
This should be fixed now, please resume testing.

[2020-04-03 05:39] mattpen commented on #472
I'm not sure why I'm assigned.  @KatieWoe - did you need some help here?

[2020-04-03 14:43] KatieWoe commented on #472
@mattpen https://github.com/phetsims/QA/issues/472#issuecomment-601938187
As said above. QA is done with this test flight version.

[2020-04-03 16:24] KatieWoe commented on #472
@ariel-phet to delegate when he gets back

[2020-04-03 17:51] KatieWoe commented on #490
Potential problem I noticed for people sharing from certain organizations.
The default setting for our colorado emails is anyone from University of Colorado can view. This means that if you post that link than none of the teachers will be able to open it (seen using my personal email). If you use a normal account it seems to be anyone with the link can view, but any teachers that have a similar se

[2020-04-03 17:55] kathy-phet commented on #490
Yes, we will need to keep an eye our for making sure the share settings are appropriate. Thanks, Katie!

[2020-04-03 18:45] kathy-phet commented on #490
Yep - for v2.

[2020-04-03 20:31] KatieWoe opened #491 "Activity pages with docs can't be deleted"
Thanks to @JRomero0613 for finding this one. Wasn't there a day or two ago, so I'd almost missed it. Doesn't happen with word only, but does if there is a google doc in it. When you click delete you get an internal error and the activity is not deleted. Shows up in your activities, the linked sims, and the page is still accessible. Server caching accounted for.
![nomoredeleteactivity](https://user

[2020-04-03 20:31] KatieWoe commented on #491
For https://github.com/phetsims/QA/issues/490

[2020-04-03 20:42] KatieWoe opened #492 "More than just intended docs can be posted"
For https://github.com/phetsims/QA/issues/490.
@arouinfar said on Slack:

I was able to put in a link to docs.google.com and to a google drawing.
https://ox-dev.colorado.edu/en/contributions/view/5456 and https://ox-dev.colorado.edu/en/contributions/view/5457.
This seems to imply that any file type that starts in right way would be accepted. This would include the four intended, drawings, my maps,

[2020-04-03 20:43] JRomero0613 commented on #491
In addition I edited the activity as well as approved and unapproved to see if the same "Internal Error Occurred" would pop up, it did not. However after messing around with this for a couple of minutes I deleted the activity using the same method as @KatieWoe and I did not get the "Internal Error Occurred" message to pop up. I have tried to replicate this however I still get the "Internal Error O

[2020-04-03 22:14] KatieWoe commented on #490
Things look ok. @mattpen let me know if there are any more scenarios you can come up with that you want tested. I can't think of any myself at this point.

[2020-04-06 02:58] mattpen commented on #490
This feature was deployed! Thanks for your help @KatieWoe.

[2020-04-06 02:58] #490 closed

[2020-04-06 03:06] mattpen commented on #484
We'll create a new test when these bugs are solved.

[2020-04-06 03:06] #484 closed

[2020-04-06 19:26] KatieWoe commented on #489
QA is done

[2020-04-06 19:28] samreid commented on #489
Thanks @KatieWoe and @loganbraywork!  We appreciate it.  Closing and will continue in https://github.com/phetsims/decaf/issues/15

[2020-04-06 19:28] #489 closed

[2020-04-07 21:34] KatieWoe commented on #487
QA is done

[2020-04-07 21:43] pixelzoom commented on #487
Thank you @KatieWoe and QA team.  All issue have their own GitHub issues, so I'll close this.

[2020-04-07 21:43] #487 closed

[2020-04-07 22:35] pixelzoom commented on #473
This issue sent me on a wild-goose chase related to https://github.com/phetsims/joist/issues/624.
I see 2 additional RCs (1.2.0-rc.2, 1.2.0-rc.3) and 3 published version (1.2.0, 1.2.1, 1.2.2) on phet-dev.    Can someone please document what happened here, and (if appropriate) close this issue.

[2020-04-08 02:55] oliver-phet opened #493 "Publishing new Java translations - impact on CheerpJ sims"
Just creating this issue to think through publishing any new Java sim translations that will likely come if we publish CheerpJ versions of our sims. I believe the current translation process builds a new all.jar file. Would it make sense to come up with a process to kick off the CheerpJ build from that new all.jar (so that our website can incorporate a new translation in the CheerpJ variant)? Or w

[2020-04-08 15:11] KatieWoe commented on #493
If it isn't difficult/costly, I think it would be a good idea. @oliver-phet is there any reason for me to hold off on translations while this is decided?

[2020-04-08 15:23] oliver-phet commented on #493
@KatieWoe you can continue with translations like normal for now.

[2020-04-09 00:44] ariel-phet commented on #472
Looks like things are assigned as needed. Closing

[2020-04-09 00:44] #472 closed

[2020-04-09 20:56] oliver-phet commented on #493
From design 4/9:
It sounds like it should be very doable to republish the CheerpJ versions of the simulations if a new all.jar is published.

[2020-04-14 16:16] samreid opened #494 "RC testing for Decaf Faraday 1.0.0-dev.17"
In https://github.com/phetsims/decaf/issues/50, we deployed a dev version of Decaf/Faraday, and it should be tested as if it were an RC.  There are 4 simulations in this batch.  The links are here:

https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.17/?simulation=faraday
https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.17/?simulation=magnet-and-compass
https://phet-dev.colorado.edu/decaf/

[2020-04-14 16:44] KatieWoe commented on #494
[Testing Matrix](https://docs.google.com/spreadsheets/d/1-7Py_E8C-MVr3g7ZNFmxubcyebuAzP-kdOr0MDtZMIc/edit#gid=878453071)
Normal Query parameters for rcs are not available. Check the locales instead of string tests. Note that there are 4 pages in the test matrix, one for each sim.

[2020-04-14 18:55] ariel-phet commented on #494
@KatieWoe the first simulation link should receive the majority of focus at first, since other simulations are derivative.

[2020-04-14 18:59] ariel-phet commented on #494
@KatieWoe @samreid I just tested on Windows 10, latest chrome.

@samreid - it looks like you have made a change where the sim opens at the browser window size, although that is nice in theory it absolutely TANKS performance for me.

At the default Java size, things are smooth and nice on chrome, at full screen size the sim is barely useable.

[2020-04-14 19:18] samreid commented on #494
If you reduce the browser window size manually, does the performance improve?

[2020-04-14 19:32] ariel-phet commented on #494
@samreid yes...if I reload the sim in the smaller window

[2020-04-15 16:58] KatieWoe commented on #494
Confirming that behavior seen by @ariel-phet in https://github.com/phetsims/QA/issues/494#issuecomment-613623340 seems to happen on Edge as well. I'm not too worried about it, as the performance still seems to have little if any impact on pedagogy. Seems similar to the behavior described in https://github.com/phetsims/decaf/issues/51. If we still want full screen use, it may be useful to have an a

[2020-04-17 00:19] samreid commented on #494
For https://github.com/phetsims/decaf/issues/68 I published https://phet-dev.colorado.edu/decaf/faraday/1.0.0-dev.20/index.html

No testing needs to be redone, but can future testing be done on dev.20?

[2020-04-17 19:16] kathy-phet commented on #494
@samreid - I am still having some loading cut off when loading in landscape on iPhone in dev.20. Can you work locally with your devices to see if you can debug to something that does not cut off the bottom on load?

[2020-04-18 18:10] samreid opened #495 "Test Decaf Sims that have been redeployed after AffineTransformOp fixes"
From https://github.com/phetsims/decaf/issues/9#issuecomment-615909657, this is a continuation of https://github.com/phetsims/QA/issues/489 for the sims that failed to load with the AffineTransformOp failure.  CheerpJ published a new version of CheerpJ with a fix and I redeployed these:

https://phet-dev.colorado.edu/decaf/battery-voltage/1.0.0-dev.3/index.html
https://phet-dev.colorado.edu/decaf/

[2020-04-18 20:40] kathy-phet commented on #495
Seems like there is some specific demand for reactions and rates. So if that could go through optimization steps that would be great. Thanks
Kathy

Sent from my iPhone

On Apr 18, 2020, at 12:10 PM, Sam Reid <notifications@github.com> wrote:

﻿

From phetsims/decaf#9 (comment)<https://github.com/phetsims/decaf/issues/9#issuecomment-615909657>, this is a continuation of #489<https://github.com/phet

[2020-04-19 00:24] samreid commented on #495
All of the sims listed above are published with the `cjGetRuntimeResources()` optimization which enables parallel downloads of the cheerpj files.

[2020-04-20 16:52] ariel-phet commented on #495
@KatieWoe next priority after #494 (note Reaction and Rates would be good to get to early in testing)

[2020-04-20 20:37] KatieWoe commented on #495
All links above open with Win 10 chrome

[2020-04-20 21:51] mattpen opened #496 "Android App: Dev test 1.1-dev.2"
QA, please conduct another dev test of the android app.
The internal test track version can be installed from this link: https://play.google.com/apps/internaltest/4697762600441754675.

Most of the issues should be fixed from last time.  Please check the following:

- [x] [Different background color behind sim icons type:bug](https://github.com/phetsims/phet-android-app/issues/101)
- [ ] [Search ba

[2020-04-20 22:27] lmulhall-phet commented on #495
All links open on macOS + Chrome. Reactions and Rates looks good on macOS + Chrome and macOS + Safari.

[2020-04-20 22:49] loganbraywork commented on #495
All links open with Windows 10 Firefox

[2020-04-20 23:11] ariel-phet commented on #496
@KatieWoe this would be good to address after "decaf" sim testing

[2020-04-21 19:27] KatieWoe commented on #495
On ChromeOS, Reactions and Rates can be noticeably slow when there are large numbers of atoms. This makes other aspects, such as the pump, temp controls, etc. slow to respond. Firefox on Windows was also slow when it came to sliders and buttons. IE issue noted in https://github.com/phetsims/decaf/issues/75. Otherwise, I think the basic tests for Reactions and Rates is done. @samreid @kathy-phet

[2020-04-22 06:00] samreid opened #497 "Organization and Testing for Decaf Batch"
In https://github.com/phetsims/decaf/issues/79 I published a new batch of simulations for decaf testing.

In slack, @KatieWoe said:

We should decide how to track the testing for these simulations.  We would like to make it easy to see when a simulation is ready for publication, or, if not, what the problems are, and make it easy to deploy new versions for testing.  I sketched out a spreadsheet to

[2020-04-22 20:25] KatieWoe commented on #497
Talked with Sam a bit already, added a device/platform, and chose what we would say about each (good, ok [meaning that it lags noticeably but doesn't hurt learning], and unusable).
Testing is underway.

[2020-04-22 21:10] ariel-phet commented on #497
Concurrent top priority with #494

[2020-04-22 21:56] mattpen opened #498 "Website: Dev Test the Browse and Filter Pages"
QA, please conduct a dev test of the new browse/filter pages on the website.  These are available at https://ox-dev.colorado.edu/en/simulations/browse and https://ox-dev.colorado.edu/en/simulations/filter.

Some things to verify:
- Layouts should be responsive and polished across all supported browsers/devices.
- Layouts should still look correct in other locales (not all strings are translated ye

[2020-04-22 21:57] mattpen commented on #498
@KatieWoe - please don't start on this quite yet.  It will be ready soon!

[2020-04-23 18:05] samreid opened #499 "Decaf testing for Java 7 batch"
I deployed a Java 7 batch here as part of https://github.com/phetsims/decaf/issues/89

https://phet-dev.colorado.edu/decaf/battery-resistor-circuit/1.0.0-dev.16/battery-resistor-circuit.html
https://phet-dev.colorado.edu/decaf/battery-voltage/1.0.0-dev.5/battery-voltage.html
https://phet-dev.colorado.edu/decaf/bound-states/1.0.0-dev.5/bound-states.html?simulation=band-structure
https://phet-dev.co

[2020-04-23 18:10] KatieWoe commented on #497
Now in https://github.com/phetsims/QA/issues/499. Closing

[2020-04-23 18:10] #497 closed

[2020-04-23 18:10] KatieWoe commented on #499
Spreadsheet: https://docs.google.com/spreadsheets/d/10bO1Eimm5Y7TH4o7QPebpNUaIItxYK-VnKcSe24TXmc/edit#gid=147319993

[2020-04-28 21:07] oliver-phet commented on #498
Also to test:
- If a user selects a locale on the filter page that does not match the website locale, clicking on a sim tile should take the user to the sim page with the Translations dropdown open.
- Verify that normal locale fallbacks are continuing to work as expected (example: es_MX>es>en) on sim launches.

[2020-04-29 15:12] mattpen commented on #498
@ariel-phet - please assign priority.

@KatieWoe - This dev test is ready to go!

[2020-04-29 17:49] ariel-phet commented on #494
@samreid testing is basically done here (the "spin off" sims are getting more testing as part of the main decaf testing issue)

Would you like this issue to remain open as a summary of found issues? If not, feel free to close.

[2020-04-29 17:50] ariel-phet commented on #498
Next priority after #499

[2020-04-29 17:54] samreid commented on #494
Thanks for the testing @KatieWoe and team, this can be closed.

[2020-04-29 17:54] #494 closed

[2020-04-29 18:03] ariel-phet commented on #496
@KatieWoe #498 is higher priority, but it would be good to identify 1 or 2 bugs before May 5

[2020-04-30 22:11] KatieWoe commented on #499
Spreadsheet (https://docs.google.com/spreadsheets/d/10bO1Eimm5Y7TH4o7QPebpNUaIItxYK-VnKcSe24TXmc/edit#gid=147319993) is pretty much done. There is a QA recommendation section that has Publish, No, and Publish with discussion (probably ok to publish but with issues you might want to go over). IE and Win chrome still finishing up, but I feel pretty good at this juncture. IE pretty much is not usable

[2020-05-05 21:25] samreid opened #500 "Testing new deploys microwaves and ideal gas"
I published microwaves and ideal gas (balloons and buoyancy + reversible reactions).  It seems like they should be spot checked before we give them to Oliver.

Can you please test using the phet.colorado.edu latest links?

[2020-05-05 21:26] KatieWoe commented on #500
Can you link to the issues that were fixed @samreid so other testers know what to check for?

[2020-05-05 21:30] samreid commented on #500
For ideal gas, no changes were made and hence it is just a sanity spot check

https://phet.colorado.edu/sims/cheerpj/ideal-gas/latest/ideal-gas.html?simulation=balloons-and-buoyancy
https://phet.colorado.edu/sims/cheerpj/ideal-gas/latest/ideal-gas.html?simulation=reversible-reactions

For Microwaves, it is the same as dev.4 but just a sanity check to make sure the production version is good.
https

[2020-05-05 23:01] KatieWoe commented on #500
All 3 load and look ok on Win 10 Chrome. Microwaves may be able to use the size fix in extreme circumstances, but it isn't vital.
![microwaves](https://user-images.githubusercontent.com/41024075/81124168-00827180-8ef2-11ea-968c-3e2c530d4731.png)

[2020-05-05 23:30] samreid commented on #500
Excellent, thanks!

[2020-05-05 23:30] #500 closed

[2020-05-06 17:35] samreid commented on #499
Awesome, thanks!  Closing.

[2020-05-06 17:35] #499 closed

[2020-05-07 16:15] KatieWoe commented on #498
- [ ] Win 10 Chrome
- [ ] Win 10 Firefox
- [ ] Win 10 Edge [ ]
- [ ] Win 10 IE
- [ ] Mac Chrome
- [ ] Mac Safari
- [ ] ChromeOS
- [ ] iPad Safari

[2020-05-07 23:53] jbphet opened #501 "Dev test: States of Matter 1.2.0-dev.4"
@KatieWoe and @arouinfar - States of Matter 1.2.0-dev.4 is ready for dev testing. This is being done in preparation for releasing the phet-io version of States of Matter Basics to a customer, hopefully within the next couple of weeks.  Testing the non-basics version should help to vet all changes that have been made in the process of adding phet-io to this sim. Please document issues in https://gi

[2020-05-10 13:41] levani854 opened #502 "Flexible cloudflare SSL with sitekit (wordpress)"
hope you ll help me. Hello i have problem. i installed site kit and connected to my google account i connected google search console, google analytics, adsense, and pagespeed insight, and it started work properly google tools data showed up in my dashboard. but i faced problem wen i activated flexible cloudflare SSL. google services started activating endless loop and i m still waiting and trying

[2020-05-11 16:27] ariel-phet commented on #502
Hello @levani854 we think you might have posted this question to the incorrect github repo. We are the PhET project (http://phet.colorado.edu) and we cannot help you with this issue (which sounds like a wordpress specific issue).

Closing.

[2020-05-11 16:27] #502 closed

[2020-05-11 17:22] ariel-phet commented on #496
@KatieWoe reducing priority since multiple bugs have been identified

[2020-05-11 17:23] ariel-phet commented on #501
Marking high priority for now since this project is part of fulfilling a customer requirement

[2020-05-12 15:28] jessegreenberg opened #503 "Dev Test: Molecules and Light 1.5.0-dev.50"
@ariel-phet, @katiewoe molecules-and-light/1.5.0-dev.50 is ready for dev testing. We are preparing this sim for publication with the suite of a11y features including sound, alternative input, screen reader access, and zoom. New simulation features also include new molecule "Methane" and timing controls for "slow motion" play. Please test all of these features in particular.

It would be helpful to

[2020-05-12 17:23] ariel-phet commented on #503
@KatieWoe high priority, but after #501

[2020-05-13 22:03] KatieWoe commented on #498
QA is done. More testing may be needed as fixes are done. If so, let us know @mattpen

[2020-05-14 17:43] ariel-phet commented on #501
@KatieWoe bumping to current top priority

[2020-05-14 21:25] pixelzoom opened #504 "how to communicate PhET-iO testing requirements to QA"
Over in https://github.com/phetsims/natural-selection/issues/58, we identified the need to have a general discussion about how to communicate PhET-iO testing requirements to QA.

For example, Natural Selection has a long list of client requirements, and there are some rather complicated general requirements.  Do we need a document that describes what to test and how to test? Would the PhET-iO Desi

[2020-05-14 21:29] KatieWoe commented on #504
There is a section in the test template for special instruction and specific things to test as a starting point.

[2020-05-14 21:36] pixelzoom commented on #504
Yep, I'm familiar with that section in the template.  But I don't think the full PhET-iO requirements and test instructions should live in dev/RC test issues.  I don't want to have to keep copying those things from issue to issue, since the lifetime of the PhET-iO requirements is longer than the issues. And in the case of Natural Selection, it's going to be a large amount of stuff to cram into an

[2020-05-14 21:38] KatieWoe commented on #504
When this comes up for a meeting let me know. But at the very least it needs to be easy to find in the issue when we get a testing task.

[2020-05-14 23:00] muedli commented on #504
@KatieWoe, perhaps a link in the dev or RC issue to the QA book? We could add @pixelzoom's testing requirements to the PhET-iO section of the QA book.

[2020-05-15 14:35] KatieWoe commented on #504
It sounds like he's talking about different requirements for different sims, which means the QA book wouldn't be the place.

[2020-05-15 14:54] pixelzoom commented on #504
Correct, sim-specific requirements.

[2020-05-15 15:53] arouinfar commented on #504
I'm not sure that the client guides are necessarily the most useful thing for QA. For pH Scale I created a general guide for instructional designers as well as a separate doc for the client-specific requests. The PhET-iO docs associated with ph-scale can be found here:
https://drive.google.com/drive/u/0/folders/1POGTwDdpP0YHGkslz1T0BrS9v14RbaRa

This folder is only accessible by the a subset of th

[2020-05-15 16:00] pixelzoom commented on #504
I had not previously heard about these clients guides. I had a look - very nice!  If they are going to be part of standard process in the future, perhaps they should get a quick review by the developer.

[2020-05-15 16:16] pixelzoom commented on #504
For example, https://docs.google.com/document/d/1v8A13jjUtWsmvPdqi6qdJdrTqRC5j5EuMKT93IYgZk0/edit.

Whether the customizations were complicated is not really relevant. We need to know what the requested features were, what what phetioIDs can be tested to confirm that the requested features work.  And this looks like exactly what is needed for testing client requests.

If we had something similar f

[2020-05-21 18:13] KatieWoe commented on #501
QA is done

[2020-05-21 19:20] KatieWoe commented on #503
Repo for issues: https://github.com/phetsims/molecules-and-light/issues

[2020-05-21 19:21] KatieWoe commented on #503
zoom methods:
1 - keyboard navigation with ctrl +, -
2 - Pinch to zoom with fingers
3 - ctrl + mouse wheel

[2020-05-21 21:44] jbphet commented on #501
Thanks QA team!  I'll close this one and we will tackle the individual issues from here.

[2020-05-21 21:44] #501 closed

[2020-05-26 18:16] samreid opened #505 "Dev test: gravity-and-orbits/1.2.0-dev.10"
@ariel-phet @KatieWoe @arouinfar, gravity-and-orbits/1.2.0-dev.10 is ready for dev testing. We had a milestone to release this to the client by May 22, as described in https://github.com/phetsims/gravity-and-orbits/issues/315. Also, @kathy-phet recommended to test this after States of Matter testing is complete (which looks like it wrapped up last week).
 Document issues in https://github.com/phet

[2020-05-28 21:30] KatieWoe commented on #503
QA is done

[2020-05-28 22:01] KatieWoe commented on #505
Memory test looks ok:
![Memorytestresult](https://user-images.githubusercontent.com/41024075/83198478-78f8de80-a0fc-11ea-88d1-8c2ab6cb3c97.png)

[2020-06-01 14:32] Denz1994 commented on #479
All issues have addressed above. Closing this issue. Thanks, QA!

[2020-06-01 14:32] #479 closed

[2020-06-01 14:33] Denz1994 opened #506 "Dev test: Build-a-Molecule 1.0.0-dev.75"
@ariel-phet , @arouinfar , build-a-molecule/1.0.0-dev.75 is ready for dev testing. This is the final dev-test cycle after code review. There were many refactors in the codebase and a couple of additional features added. Document issues in https://github.com/phetsims/build-a-molecule/issues and link to this issue.

Assigning @ariel-phet for prioritization.

<details>
<summary><b>General Dev Test</b

[2020-06-01 20:49] ariel-phet commented on #505
Current top testing priority

[2020-06-01 20:49] ariel-phet commented on #506
Current high priority after #505 is complete

[2020-06-02 16:34] terracoda commented on #503
@KatieWoe, I hear "unpronouncable", too, on mobile and I hear "white bullet" on MacBook Pro.

Unfortunately, removing the visual bullets with CSS removes the list semantics all together in Safari and then learners using VO lose list semantics and the list count. This is a Safari issue (https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html)

@jessegreenberg, we can discuss testing the wor

[2020-06-03 18:11] jonathanolson opened #507 "Dev test: Density 1.0.0-dev.11"
@DianaTavares, @ariel-phet, @kathy-phet density/1.0.0-dev.11 is ready for dev testing. Document issues in https://github.com/phetsims/density/issues and link to this issue.

Assigning @ariel-phet for prioritization.

<details>
<summary><b>General Dev Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- If there is sound, make sure it works.
- Make sure you can't lose anything.

[2020-06-03 20:37] ariel-phet commented on #507
Currently high priority (can be done after or in concert with #506) as both are of similar priority to publish

[2020-06-04 18:56] muedli commented on #506
I did some brief testing using the instructions outlined in https://github.com/phetsims/build-a-molecule/issues/148#issuecomment-611099900 on macOS + Chrome and macOS + Safari. Haven't seen any issues thus far.

[2020-06-04 21:32] zepumph commented on #505
As part of this issue, can you please confirm that https://github.com/phetsims/states-of-matter/issues/281 is fixed. That issue is not sim specific, and should be dealt with in this version of phet-io.

[2020-06-05 20:23] KatieWoe commented on #505
ChromeOS seemed to be a bit slow generally. Particularly in Phet-io

[2020-06-05 21:57] KatieWoe commented on #505
QA is done

[2020-06-11 21:50] #495 closed

[2020-06-12 23:29] #505 closed

[2020-06-16 18:18] zepumph opened #508 "PhET-iO Studio test"
Large amounts of work has gone into the Studio, mostly under the hood, in the past few weeks. This work centers around the structure of the tree, and how Studio keeps track of PhET-iO Elements on the wrapper side in https://github.com/phetsims/studio/issues/30. From this work, it would be great to get some QA time on Studio.

**What to test**
* [States of Matter Studio](https://phet-dev.colorado.e

[2020-06-16 18:36] KatieWoe commented on #506
QA is done

[2020-06-16 18:37] Denz1994 commented on #506
Thanks for the work QA. I'll address the remaining issues and reassign them for verification.

[2020-06-17 20:43] Denz1994 commented on #506
It looks like there is only one issue open for this dev-test and it is awaiting review. I'm going to close this one.

[2020-06-17 20:43] #506 closed

[2020-06-18 17:39] ariel-phet commented on #508
@KatieWoe this item should actually now be top priority

[2020-06-18 17:40] ariel-phet commented on #507
bumping down to high priority so #508 can be done first.

[2020-06-18 18:08] KatieWoe commented on #508
- [ ] Win 10 Chrome
- [ ] Win 10 Firefox
- [ ] Win 10 Edge
- [ ] Mac 10.15 Chrome
- [ ] Mac 10.15 Safari
- [ ] ChromeOS
@zepumph let me know if there are any other platforms you want tested

[2020-06-20 00:13] Denz1994 opened #509 "RC Test: Build A Molecule 1.0.0-rc.1"
@ariel-phet , @arouinfar , build-a-molecule/1.0.0-rc.1 is ready for RC testing. Document issues in https://github.com/phetsims/build-a-molecule/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- Test all possible forms of input.
  - Test all mouse/trackpad inputs.

[2020-06-22 15:45] mattpen opened #510 "Website: Test the Login Donation Ask"
QA, please test that the login donation dialog is looking correct on our supported devices and browsers.  For each account, this dialog will be displayed on login if it has not been shown within the past 30 days.  In addition, if the user clicks "I already donated in 2020!" it will not display again until Jan 1.

The logic on when to display will be very slow to test, this issue is just to focus o

[2020-06-22 15:46] mattpen commented on #510
This is how it should appear in most cases.  It will wrap/scale down on smaller screens.

![image](https://user-images.githubusercontent.com/11747676/85307466-2eede900-b46d-11ea-944b-ccb190ee1fe0.png)

[2020-06-22 16:31] ariel-phet commented on #509
@KatieWoe could be done a a concurrent priority to #507

[2020-06-22 16:45] KatieWoe commented on #510
@ariel-phet for priority.
Test on:
- [ ] iPhone
- [ ] iPad 12
- [ ] iPad 13
- [ ] iPad 13 VO
---
- [ ] Win 10 Chrome
- [ ] Win 10 Chrome Jaws
- [ ] Win 10 Firefox
- [ ] Win 10 Firefox NVDA
- [ ] Win 10 Edge
---
- [ ] ChromeOS
---
- [ ] Mac 10.15 Chrome
- [ ] Mac 10.15 Safari
- [ ] Mac 10.15 Safari VO
---
- [ ] Mac 10.14 Chrome
- [ ] Mac 10.14 Safari
- [ ] Mac 10.13 Chrome
- [ ] Mac 10.13 Safari
-

[2020-06-23 01:33] ariel-phet commented on #510
@KatieWoe as this should be quick and is important currently, it should be a concurrent top priority with #508 (so if you need a break from #508 test some platforms for this ask)

[2020-06-23 20:10] samreid opened #511 "Dev Test: waves-intro/1.1.0-dev.24"
@emily-phet, @jbphet, @ariel-phet, @KatieWoe, @Ashton-Morris, waves-intro/1.1.0-dev.24 is ready for dev testing. Document issues in https://github.com/phetsims/wave-interference/issues and link to this issue.  After this dev test, we would like to move toward RC testing and publication.  I reached out to @emily-phet about deadlines and clients but have not heard back yet.

Assigning @ariel-phet fo

[2020-06-23 22:47] ariel-phet commented on #511
There are several high priority items in QA currently so it would be good to hear back from @emily-phet on deadlines/milestones before assigning priority.

[2020-06-24 17:20] emily-phet commented on #511
@ariel-phet - this sim does not have a hard deadline for publication. Please weave it into the QA queue as it makes sense to you, given the other priorities.

[2020-06-24 17:21] ariel-phet commented on #511
@KatieWoe lets currently slate this work until after #507 and #509 are completed.

[2020-06-29 16:57] #498 closed

[2020-06-29 22:23] KatieWoe commented on #510
QA is done

[2020-06-29 22:39] #510 closed

[2020-07-01 16:09] #496 closed

[2020-07-01 16:17] mattpen opened #512 "Android App: Dev test 3 (1.1.26)"
QA, please conduct another dev test of the android app.
The internal test track version can be installed from this link: https://play.google.com/apps/internaltest/4697762600441754675.

NOTE: Please delete the existing "PhET" app before installing this one.  It is OK if the previous production app ("PhET Simulations") is still installed, but previous dev versions of this app can cause problems if t

[2020-07-02 17:22] KatieWoe commented on #508
From Slack:

Today I heard @KatieWoe saying that there was still more testing to be done on the studio test. I know QA is swamped, so I wanted to say that I feel like I have gotten what I want out of this test, and Studio will still need to go through an RC test before any sim is published with it. All this is to say that I don't want this blocking other, likely higher priority testing. We already

[2020-07-02 18:09] zepumph commented on #508
Thanks! This has been an excellent round of testing. Thanks for all the good bugs. Tagging @kathy-phet @samreid @chrisklus to let them know we cut things a bit short. We will pick this up next time we make an RC. There have been more changes in studio since this test version anyways, so it feels good to me!

[2020-07-02 18:09] #508 closed

[2020-07-02 19:24] oliver-phet commented on #493
This issue can be closed. If needed, we can republish CheerpJ versions.

[2020-07-02 19:24] #493 closed

[2020-07-06 15:10] ariel-phet commented on #512
Current top testing priority. @ariel-phet will try to help a bit on 7/7/2020

[2020-07-06 15:15] jessegreenberg commented on #503
Thanks QA team, this has been done for a while, closing.

[2020-07-06 15:15] #503 closed

[2020-07-09 21:15] jessegreenberg opened #513 "RC Test: Molecules and Light 1.5.0-rc.2"
@KatieWoe , @ariel-phet, @terracoda @emily-phet, molecules-and-light/1.5.0-rc.2 is ready for RC testing.
This release candidate follows the dev test in https://github.com/phetsims/QA/issues/503.

This version includes accessibility features including screen reader support, sound, iOS VoiceOver, and
magnification, so please include the "Accessibility" section in this issue.

Also, this version incl

[2020-07-09 22:41] pixelzoom opened #514 "RC test: pH Scale 1.4.0-rc.1"
@arouinfar phet-scale/1.4.0-rc.1 is ready for RC testing.

Document issues in https://github.com/phetsims/ph-scale/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- Test all possible forms of input.
  - Test all mouse/trackpad inputs.
  - Test all touchscreen input

[2020-07-09 22:44] pixelzoom opened #515 "RC test: pH Scale: Basics 1.4.0-rc.1"
@arouinfar phet-scale-basics/1.4.0-rc.1 is ready for RC testing.

This RC test should be done at the same time as https://github.com/phetsims/QA/issues/514 (pH Scale 1.4.0-rc.1).

Document issues in https://github.com/phetsims/ph-scale/issues (NOT in ph-scale-basics) and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What

[2020-07-09 22:49] pixelzoom commented on #514
@ariel-phet @KatieWoe @arouinfar The client has specific PhET-iO requirements for this sim, which should be verified by QA. I'm still unclear on how those requirements are to be communicated to QA for verification, so there's no information about this in the above issue template.  You'll need to discuss how to proceed.

[2020-07-09 22:49] pixelzoom commented on #515
@ariel-phet @KatieWoe @arouinfar The client has specific PhET-iO requirements for this sim, which should be verified by QA. I'm still unclear on how those requirements are to be communicated to QA for verification, so there's no information about this in the above issue template.  You'll need to discuss how to proceed.

[2020-07-10 00:30] ariel-phet commented on #512
@KatieWoe that looks good for this round, we should move to other testing priorities now. Leaving assigned to myself to check one or two more things on my phone.

[2020-07-10 00:31] ariel-phet commented on #513
@KatieWoe current new top testing priority

[2020-07-10 16:00] KatieWoe commented on #513
Memory test results:
![memtest](https://user-images.githubusercontent.com/41024075/87174229-1c104c80-c294-11ea-9627-f1a837551f72.png)

[2020-07-13 16:53] arouinfar commented on #515
I've uploaded temporary pdf's to the phet-io-client-guides repo: https://github.com/phetsims/phet-io-client-guides/tree/master/ph-scale. The original documentation did not separate ph-scale and ph-scale-basics.

In the future, these will be md files that exist before a dev/rc/production version gets built and they will be linked to from the Wrapper Index Page.

@KatieWoe, the client-specific custo

[2020-07-13 16:54] arouinfar commented on #514
I've uploaded temporary pdf's to the phet-io-client-guides repo: https://github.com/phetsims/phet-io-client-guides/tree/master/ph-scale. The original documentation did not separate ph-scale and ph-scale-basics.

In the future, these will be md files that exist before a dev/rc/production version gets built and they will be linked to from the Wrapper Index Page.

@KatieWoe, the client-specific custo

[2020-07-13 17:20] ariel-phet commented on #514
@KatieWoe top priority (#513 comes first, but if it makes sense to do testing of this sim while on a specific platform along with MAL, testing priority can be considered concurrent).

[2020-07-13 17:21] ariel-phet commented on #515
@KatieWoe top priority (#513 comes first, but if it makes sense to do testing of this sim while on a specific platform along with MAL, testing priority can be considered concurrent).

[2020-07-14 01:06] #512 closed

[2020-07-15 01:33] ariel-phet commented on #504
@KatieWoe when you and your team get to testing pH Scale, please put feedback in this issue as to how using the pdf of client requests provided by @arouinfar  worked in terms of communicating testing requirements. We should refine the process if needed, so please mark down any recommendations or potential improvements in this issue.

[2020-07-16 17:17] pixelzoom commented on #514
@kathy-phet said in 7/16/2020 that the milestone for publishing 1.4.0 and delivering to the client is 9/1/2020.

[2020-07-16 17:17] pixelzoom commented on #515
@kathy-phet said in 7/16/2020 that the milestone for publishing 1.4.0 and delivering to the client is 9/1/2020.

[2020-07-16 17:59] jessegreenberg opened #516 "Dev Check: Energy Skate Park 1.0.0-dev.13"
Energy Skate Park is getting ready for publication. But the graphs on the "Graphs" screen were recently completely redone to use new components in griddle. It would be helpful to have some time to test the Graphs screen in particular, looking for regressions. The rest of the sim is mostly unchanged since the last dev test and I don't believe a full dev test is necessary.

**Link to sim:** https://

[2020-07-16 19:15] chrisklus commented on #513
@KatieWoe - could you please spot check test the "IE Error" page from https://github.com/phetsims/chipper/issues/954 as part of this issue? It should just involve making sure that the following page appears for every sim deliverable when launched on IE11 (with dev tools closed). Please let me know if you have any questions and please report any problems as additional comments in https://github.com

[2020-07-16 19:35] KatieWoe commented on #513
https://github.com/phetsims/QA/issues/513#issuecomment-659615883 looks ok for the sim, the iframe, and the xhtml. @chrisklus

[2020-07-16 19:38] terracoda commented on #513
@KatieWoe, is it possible to also test the message with JAWS and NVDA. It's possible you cannot due to versioning issues.

I am just curious.

[2020-07-16 19:38] zepumph opened #517 "Investigate github issue templates instead of having out own"
It is possible to build in issue templates to the github repo itself, such that when you click "new issue", your are given a choice of what type of issue you want to create. I think it would be awesome in this repo if we added "RC" and "Dev" specific templates directly to the repo.

Benefits of this strategy:
* wouldn't need to copy paste the template from an MD file
* Would automatically assign @

[2020-07-16 19:40] KatieWoe commented on #513
I can check it out. It didn't occur to me since we only test Jaws and Nvda with chrome and firefox respectively, but I'll take a look really quick.

[2020-07-16 19:48] KatieWoe commented on #513
Looks ok with both @terracoda

[2020-07-16 20:03] chrisklus commented on #513
Awesome, thanks much!

[2020-07-16 20:11] KatieWoe commented on #517
This could be useful. I'd have to explore a bit, but it looks promising. Might be good for a dev meeting. If it does come up there let me know and I'll join in.

[2020-07-16 21:21] jessegreenberg commented on #516
Nevermind, it sounds like we may have large(ish) changes to the behavior of the graph again with respect to playback and recording that would be good to include in any behavioral testing. Closing, will create a new issue when that work is done.

[2020-07-16 21:21] #516 closed

[2020-07-16 23:01] zepumph commented on #517
I also feel like it is the type of thing that is self explanatory, and if you want to go ahead and implement, devs will catch up pretty quickly and we can do more of a PSA at dev meeting, as opposed to asking them. Whatever you most want.

[2020-07-17 17:47] KatieWoe commented on #513
QA is done. I skipped the iOS 9 and 10 for time reasons as those platforms are not supported and used for performance testing.

[2020-07-20 21:41] mattpen opened #518 "Android App: Dev test 4 (1.1-dev.4)"
QA, please conduct another dev test of the android app.
The internal test track version can be installed from this link: https://play.google.com/apps/internaltest/4697762600441754675.

NOTE: Please delete the existing "PhET" app before installing this one. It is OK if the previous production app ("PhET Simulations") is still installed, but previous dev versions of this app can cause problems if th

[2020-07-21 14:54] samreid opened #519 "Dev Test: Gravity and Orbits 1.2.0-dev.16/phet-io/"
@ariel-phet, @arouinfar, @kathy-phet, @KatieWoe, 1.2.0-dev.16/phet-io/ is ready for dev testing. If this passes testing,
this dev version will be delivered to a client. Ideally by 11/1 for a dev version and 12/15 for a published version, but sooner is best for a dev delivery.  Please be aware this is the 2nd dev version for QA, and several of the issues discovered by QA in the first dev version we

[2020-07-21 14:54] samreid commented on #519
Adding a reference to the issue where we prepared the dev version: https://github.com/phetsims/gravity-and-orbits/issues/345

[2020-07-21 22:01] jessegreenberg commented on #513
Thanks @KatieWoe and team. There are 4 remaining issues listed above which have fixes in the release branch ready for verification.  Ill prepare a spot check for those.

[2020-07-21 22:01] #513 closed

[2020-07-21 22:31] jessegreenberg opened #520 "RC Spot Check: Molecules and Light 1.5.0-rc.3"
@KatieWoe, @ariel-phet, @emily-phet, @terracoda @Matthew-Moore240 molecules-and-light/1.5.0-rc.3 is ready for an RC spot check. Please document issues in https://github.com/phetsims/molecules-and-light issues and link to this issue.

This build comes right after rc.2 in #513. Only a few issues needed to be addressed and changes for each were minimal. A full RC is not necessary, but a spot check fo

[2020-07-21 22:34] KatieWoe commented on #520
- [ ] Win 10 chrome w/ Jaws
- [ ] Win 10 firefox w/ NVDA
- [ ] Win 10 edge
---
- [ ] macOS 10.15 Chrome
- [ ] macOS 10.15 Safari w/ VoiceOver
---
- [ ] Win 10 IE
- [ ] Mac 10.12 Safari
---
- [ ] ChromeOS
- [ ] iPadOS 13 w/ VO

[2020-07-21 22:34] KatieWoe commented on #520
@jessegreenberg are these platforms ok?

[2020-07-21 22:35] jessegreenberg commented on #520
Can we change Win 10 IE to Win 10 Edge? Otherwise this looks great.

[2020-07-23 20:42] jessegreenberg commented on #520
I reviewed the list of blocks-publication issues as of today and https://github.com/phetsims/query-string-machine/issues/42 is the only one that would potentially impact this release.

@kathy-phet @ariel-phet can you please comment on whether that issue should block the release of this sim? Should the `?screens` query parameter have a graceful warning if the value is invalid for *single* screen si

[2020-07-23 22:00] jessegreenberg commented on #520
Over slack @kathy-phet said

[2020-07-28 01:21] ariel-phet commented on #520
Concurrent top priority with #514 and #515 (particularly since a spot check)

@jessegreenberg might want to consider cherrypicking the fix in:  https://github.com/phetsims/joist/issues/645

[2020-07-28 01:23] ariel-phet commented on #518
This is fairly high priority.  I will plan to help out with some testing, @phet-steele will likely be able to also contribute.

[2020-07-29 18:40] brandonLi8 opened #521 "Dev Test: Collision Lab 1.0.0-dev.31"
@arouinfar @ariel-phet, collision-lab/1.0.0-dev.31 is ready for dev testing. Unaware of any deadlines but I know @kathy-phet wanted to put up a prototype for physics faculty planning for fall labs.

Document issues in https://github.com/phetsims/collision-lab/issues and link to this issue.

Assigning @ariel-phet for prioritization.

<details>
<summary><b>General Dev Test</b></summary>

<h3>What to

[2020-07-29 19:21] pixelzoom opened #522 "Prototype test: Natural Selection 1.0.0-rc.1"
@amanda-phet, @ariel-phet, @kathy-phet, @KatieWoe, natural-selection/1.0.0-rc.1 is ready for prototype testing. This simulation will be put on the website as a prototype and will likely have more bugs than a publication-ready simulation.

Document issues in https://github.com/phetsims/natural-selection/issues and link to this issue. **Issues should focus on base usability and pedagogy.**

Assignin

[2020-07-29 21:25] jessegreenberg commented on #520
In https://github.com/phetsims/joist/issues/645 I decided not to cherry-pick changes for that issue because MAL is a single screen sim and does not display the home screen.

[2020-07-30 01:35] ariel-phet commented on #522
@KatieWoe assigning this one directly to @phet-steele as he expressed interest in performing this test as a way to "get back to the swing of things"

@phet-steele marking as medium priority as this test does not need to be extensive, but teachers will definitely be excited for the prototype version so sooner is better from that regard

[2020-07-30 01:52] ariel-phet commented on #519
Putting at medium priority at the moment, given the current QA backlog

[2020-07-30 16:07] jessegreenberg opened #523 "Dev test: Energy Skate Park 1.0.0-dev.17 Graphs Screen"
@arouinfar, @ariel-phet, @kathy-phet, @KatieWoe energy-skate-park/1.0.0-dev.17 is ready for a dev test of the **Graphs** screen. Document issues in https://github.com/phetsims/energy-skate-park/issues and link to this
issue.

Since the last dev test the Energy Graph was essentially re-written. And there are other new features on this screen too. The biggest one is skater playback after dragging th

[2020-07-30 17:50] zepumph commented on #519
Discussed today during phet-io meeting. This dev version most likely has all the same phet-io bugs as reported in https://github.com/phetsims/QA/issues/514. These are currently fixed on master, but likely we should take a GAO dev version from master now before testing this.

[2020-07-30 17:51] zepumph commented on #519
@pixelzoom mentioned that perhaps the best process is to have @KatieWoe ping @samreid when she is ready to test this. Then we can get a fresh dev version at that time.

[2020-07-30 20:41] brandonLi8 commented on #521
Decided at design meeting 7/30 to take this dev test down. Once https://github.com/phetsims/collision-lab/issues/128 and https://github.com/phetsims/collision-lab/issues/129 are addressed, I'll make a new dev test issue.

[2020-07-30 20:41] #521 closed

[2020-07-31 21:18] brandonLi8 opened #524 "Dev Test: Collision Lab 1.0.0-dev.32"
@arouinfar @ariel-phet, collision-lab/1.0.0-dev.32 is ready for dev testing (for the prototype). The goal is to release the prototype by the end of the week.

Document issues in https://github.com/phetsims/collision-lab/issues and link to this issue.

It was also decided that @arouinfar and @ariel-phet will be doing the testing, so I'm assigning to them.

<details>
<summary><b>General Dev Test</b>

[2020-07-31 22:05] jbphet opened #525 "RC test: States of Matter 1.2.0-rc.1"
@KatieWoe , @ariel-phet, @arouinfar, and @kathy-phet - states-of-matter/1.2.0-rc.1 is ready for RC testing.  This includes both phet and phet-io brand and intended to be shared with a client in mid-August.  Document issues in https://github.com/phetsims/states-of-matter/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summary>

[2020-07-31 22:25] jbphet opened #526 "RC test: States of Matter: Basics 1.2.0-rc.1"
@KatieWoe , @ariel-phet, @arouinfar, and @kathy-phet - states-of-matter-basics/1.2.0-rc.1 is ready for RC testing.  This includes both phet and phet-io brand and intended to be shared with a client in mid-August.  Document issues in https://github.com/phetsims/states-of-matter-basics/issues and link to this issue.

Since this sim is a subset of states-of-matter, and states-of-matter is also being

[2020-07-31 22:45] jbphet opened #527 "RC test: Atomic Interactions 1.2.0-rc.1"
@KatieWoe , @ariel-phet, @arouinfar, and @kathy-phet - atomic-interactions/1.2.0-rc.1 is ready for RC testing.  While its "parent" sim (states-of-matter) is having both the phet and phet-io brands released, we are only doing the phet brand for this one.

For the most part, this sim is a subset of states-of-matter, but it has a feature where heterogeneous atoms can be chosen, which can't be done in

[2020-08-03 13:08] samreid commented on #519
I agree, the dev version 1.2.0-dev.12 is stale, please reach out to me when ready for testing and I'll publish a new version.

[2020-08-03 19:44] ariel-phet commented on #525
Given the aim of getting this sim to the client by mid-August this must be top priority in testing

[2020-08-03 20:18] KatieWoe commented on #514
Phet-io Memory test:
![memtest1](https://user-images.githubusercontent.com/41024075/89223520-291f1380-d594-11ea-958d-c2649040dc40.png)

[2020-08-03 20:18] KatieWoe commented on #515
Phet-io Memory Test
![memtest2](https://user-images.githubusercontent.com/41024075/89223550-34723f00-d594-11ea-8d83-ad5796ba0d28.png)

[2020-08-03 20:56] brandonLi8 commented on #524
It was requested to publish a new dev link for the fixes implemented for the issues above: https://phet-dev.colorado.edu/html/collision-lab/1.0.0-dev.33/phet/collision-lab_en_phet.html. I changed the links in the original comment.

[2020-08-03 23:28] KatieWoe commented on #514
QA is done

[2020-08-03 23:28] KatieWoe commented on #515
QA is done

[2020-08-03 23:29] KatieWoe commented on #504
This worked really well. A better way of integrating this into the rc issue would be nice

[2020-08-03 23:39] ariel-phet commented on #526
@KatieWoe high priority but after #525 since this is a subset of that test.

[2020-08-04 00:52] arouinfar commented on #504
Thanks @KatieWoe. All future PhET-iO QA tests will include the guides on the Wrapper Index Page. For example: https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.12/phet-io/

Does that address your concerns, or is there something you would like to see added to the QA issue templates?

[2020-08-04 01:46] ariel-phet commented on #524
For a performance test I am trying the explore 2D screen with 4 balls, grid active, every option checked, more data open, and momenta diagram open.

Performance looks great on my desktop (Fast Win 10 machine)

I also checked on my phone (which is a fairly fast Android but a couple years old) - performance also looked good

[2020-08-04 04:47] ariel-phet commented on #527
@KatieWoe currently marking this test as low since it is not necessary as part of iO deliverables

[2020-08-04 04:56] ariel-phet commented on #522
In terms of important testing this prototype is basically done (thanks @phet-steele!)

I will do some cursory testing on an iPad and ask @amanda-phet and @oliver-phet to take a quick look on Mac

[2020-08-04 05:47] chrisklus opened #528 "RC test: Energy Forms and Changes 1.4.0-rc.1"
@KatieWoe, @arouinfar, @ariel-phet, @kathy-phet, energy-forms-and-changes/1.4.0-rc.1 is ready for RC testing. The phet-io version of this release will be shared with a client. The publication due date is September 1st. Please document issues in https://github.com/phetsims/energy-forms-and-changes/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>Ge

[2020-08-04 14:37] KatieWoe commented on #504
That should be enough

[2020-08-04 15:32] KatieWoe commented on #520
QA is done.

[2020-08-04 16:01] KatieWoe commented on #504
I think this can be closed. If you disagree @arouinfar ot @pixelzoom feel free to reopen.

[2020-08-04 16:01] #504 closed

[2020-08-04 16:22] pixelzoom commented on #522
The 4 issues identified by @phet-steele have been addressed, awaiting review and verification in the next RC.

Assign this issue to me when @ariel-phet and @oliver-phet have complete their "quick looks" and I'll proceed with the next RC.  The next RC can likely be a "spot check" to verify the issues that @phet-steele identified.

[2020-08-04 16:30] pixelzoom commented on #522
We'll also need to verify the model changes the @amanda-phet requested in the next RC -- https://github.com/phetsims/natural-selection/issues/152, https://github.com/phetsims/natural-selection/issues/153.

[2020-08-04 16:53] ariel-phet commented on #524
I looked at a bunch of physics tests, everything seems to be correct

[2020-08-04 16:54] ariel-phet commented on #524
@brandonLi8 I think we can call this dev test complete. Once you have addressed the critical issues, lets do another brief dev test, assign directly to me.

[2020-08-04 17:23] ariel-phet commented on #528
Currently setting at medium priority due to higher priorities for iO releases

[2020-08-04 19:10] pixelzoom commented on #514
Unfortunately, there were a lot of problems found with this RC -- mostly PhET-iO and common code.  So this is going to require another RC test cycle.  I'll leave this issue open until I've created the next RC and its associated QA issue.

[2020-08-04 19:11] pixelzoom commented on #515
Thanks @KatieWoe and QA team.

Unfortunately, there were a lot of problems found with this RC -- mostly PhET-iO and common code.  So this is going to require another RC test cycle.  I'll leave this issue open until I've created the next RC and its associated QA issue.

[2020-08-04 20:42] KatieWoe commented on #525
Memory test for normal sim:
![normalmemtest](https://user-images.githubusercontent.com/41024075/89342848-99936680-d660-11ea-8483-002119e17b78.png)
Memory test for phet-io sim:
![phetiomemtest](https://user-images.githubusercontent.com/41024075/89342937-baf45280-d660-11ea-946f-12b64535484b.png)

[2020-08-04 22:43] KatieWoe commented on #514
Looks good in https://github.com/phetsims/QA/issues/514

[2020-08-04 23:11] arouinfar commented on #523
@ariel-phet @jessegreenberg I spent some time testing the Graphs screen, and I couldn't find any issues other than a minor pixel polish unrelated to the griddle work.

[2020-08-05 03:01] ariel-phet commented on #523
@jessegreenberg I think that is good enough testing for this issue. Assigning back to you to close.

[2020-08-05 16:02] brandonLi8 commented on #524
Critical issues addressed. Closing.

[2020-08-05 16:02] #524 closed

[2020-08-05 16:07] brandonLi8 opened #529 "Dev Test: Collision Lab 1.0.0-dev.34"
@arouinfar @ariel-phet, collision-lab/1.0.0-dev.34 is ready for dev testing (for the prototype). The goal is to release the prototype by the end of the week.

Document issues in https://github.com/phetsims/collision-lab/issues and link to this issue.

Assigning @ariel-phet for prioritization.

<details>
<summary><b>General Dev Test</b></summary>

<h3>What to Test</h3>

- Click every single button.

[2020-08-05 20:24] amanda-phet commented on #522
I believe the testing matrix is complete now.

[2020-08-05 23:59] ariel-phet commented on #518
@mattpen dev test appears complete.

[2020-08-06 02:10] pixelzoom commented on #522
In retrospect we should have done a dev test first. There have been a lot of changed required for this RC. And it has become increasingly difficult (and time-consuming) to patch changes into the 1.0 branch, to the point where forward progress on master has ground to a halt.  After consulting with @ariel-phet, I'm going to give up on try to patch the 1.0 branch, and only make changes in master.  Th

[2020-08-06 03:05] pixelzoom commented on #514
Here's what I need to copy to the next RC issue:

**Issues to Verify** (brand=phet)

Sim-specific:
- [ ] [update credits for 1.4.0 release](https://github.com/phetsims/ph-scale/issues/155)
- [ ] [Switching to empty beaker disables water faucet](https://github.com/phetsims/ph-scale/issues/170)
- [ ] [rename ?autoFill to ?autofill](https://github.com/phetsims/ph-scale/issues/179)

Common Code:
- [ ]

[2020-08-06 03:06] pixelzoom commented on #515
Here's what I need to copy to the next RC issue:

**Issues to Verify** (brand=phet)

Sim-specific:
- [ ] [update credits for 1.4.0 release](https://github.com/phetsims/ph-scale/issues/155)
- [ ] [Switching to empty beaker disables water faucet](https://github.com/phetsims/ph-scale/issues/170)
- [ ] [rename ?autoFill to ?autofill](https://github.com/phetsims/ph-scale/issues/179)

Common Code:
- [ ]

[2020-08-07 20:46] KatieWoe commented on #525
I wanted to note that, while the memory tests are fine, I did notice that a few devices were running a bit harder/fans were running more than I usually see.

[2020-08-10 17:18] emily-phet commented on #511
@ariel-phet
Can you provide any estimate as to when this might get worked on? The queue looks pretty packed to me, but I don't see it much so not sure what's typical.

There's still no hard deadline for it, but I will still need to report on it's timeline, etc., in grant reports, so best if it's not hanging out in limbo where it's just low-priority enough that it won't get worked on in the foresee

[2020-08-10 18:27] jessegreenberg commented on #523
OK sounds good - thanks!

[2020-08-10 18:27] #523 closed

[2020-08-10 19:54] jessegreenberg commented on #520
OK thank you @KatieWoe and team - we are ready for deploy-production and this issue can be closed.

[2020-08-10 19:54] #520 closed

[2020-08-10 20:23] jbphet commented on #525
@KatieWoe said:

Is there a way that this can be quantified?  I'd suggest running a test where the published version is run in an incognito Chrome window and the CPU usage measured using Windows task manager, then the same test is performed with the RC version.  If the differences are measurable and significant, we can then decide if this warrants additional investigation.

[2020-08-11 22:50] KatieWoe commented on #525
Metacog recording test done for Win 10 Chrome and IPadOS 13 Safari.
Safari on iPad seemed to have jumps/small lags when making the recording. I'll leave it to @jbphet and @zepumph to decide if this needs to be addressed.

[2020-08-12 04:29] arouinfar commented on #529
@brandonLi8 dev.34 is looking really nice to me. The tagged issues above are both pixel polishes, and it would be nice to address them before publishing the prototype if they are quick changes.

[2020-08-12 15:51] jbphet commented on #525
@KatieWoe said:

I have absolutely no idea if this matters.  @zepumph - what say you?

[2020-08-12 15:56] kathy-phet commented on #525
I would say to make an issue for this to track it, but to say "deferred", not RC blocking. We should investigate in situations where we know logging will occur, which is not the case at the moment.

[2020-08-12 19:41] zepumph opened #530 "QA should test with `?phetioDebug`"
@jbphet brought a bug to the attention of the phet-io team where an RC had a very blatant assertion error when setting States of Matter for PhET-iO state. This bug was easily triggered by adding `?phetioDebug` to the state wrapper. From this conversation and from looking at the rc template/qa book for PhET-iO testing, it looks like there is no testing with `?phetioDebug` during RC. This is a query

[2020-08-13 16:02] KatieWoe commented on #530
Can we go over what this test does and I would look for in this test before I make these changes? @zepumph

[2020-08-13 16:39] zepumph commented on #530
Sure thing, adding the query parameter `?phetioDebug` in a wrapper will tell the wrapper to load an entirely different version of the sim in the frame. Instead of the traditional, built version of the sim we load the `debug` version of the sim (see screenshot below). This `debug` version has assertions enabled, and will catch more bugs. @chrisklus and I, when discussing above, felt like most bugs

[2020-08-13 17:13] KatieWoe commented on #530
So testing with this would just replace one of the tests? Or would you want me to test with and without on one of the platforms?

[2020-08-13 17:24] KatieWoe commented on #525
Something odd I noticed, but was unable to reproduce:
I was testing the "preview html" feature on studio. I made the html file on the first screen (I thought), and when I loaded up the file, it opened on the second screen. I don't know if this was a bug, I copied something wrong, or I had a forgetful moment and really did make the file on the second screen. I haven't been able to reproduce. Leavin

[2020-08-13 17:33] ariel-phet commented on #529
@brandonLi8 -- I was able to get to iPad testing. All is looking good for the prototype.

[2020-08-13 17:48] ariel-phet commented on #511
@emily-phet unlikely to get any attention until after mid-September at the earliest.

[2020-08-13 22:32] KatieWoe commented on #525
State wrapper seems a bit laggy on old Mac 10.12 device.

[2020-08-13 23:08] zepumph commented on #525
I think this may fall into the same category as described in https://github.com/phetsims/states-of-matter/issues/326#issuecomment-673676112. If these performance issues are blocking, we can potentially cherry-pick some improvements into the branch when those issue are marked as complete. But it seems like @kathy-phet may not think of them as blocking.

[2020-08-13 23:09] KatieWoe commented on #530
Documentation added. Closing

[2020-08-13 23:09] #530 closed

[2020-08-13 23:16] KatieWoe commented on #525
QA is done.

[2020-08-13 23:29] zepumph commented on #530
Looks great!

[2020-08-14 18:22] brandonLi8 commented on #529
Deployed: https://phet.colorado.edu/sims/html/collision-lab/latest/collision-lab_en.html. Closing.

[2020-08-14 18:22] #529 closed

[2020-08-14 19:17] KatieWoe commented on #509
Memory Test:
Start: 308 MB
1 min: 324
2 min: 329
3 min: 331
4 min: 332
5 min: console crashed

It looks like a fairly big memory footprint, but without an obvious leaks. Leaving it up to @Denz1994 on if it needs to be addressed.

[2020-08-14 20:45] jbphet commented on #527
I'm going to close this, since I'm about to publish SOM 1.2.0-rc.2, and it would be better to roll a new release of AI as well so that SOM and AI are using as much of the same code as possible.

[2020-08-14 20:45] #527 closed

[2020-08-14 20:46] jbphet commented on #526
I'm going to close this, since I'm about to publish SOM 1.2.0-rc.2, and it would be better to roll a new release of SOMB as well so that SOM and SOMB are using as much of the same code as possible.

[2020-08-14 20:46] #526 closed

[2020-08-14 20:47] jbphet commented on #525
Thanks @KatieWoe and team.  I'll close this and will roll a new RC shortly, since all blocking issues have been addressed.

[2020-08-14 20:47] #525 closed

[2020-08-14 22:29] jbphet opened #531 "RC test: States of Matter 1.2.0-rc.2"
@KatieWoe , @ariel-phet, @arouinfar, and @kathy-phet - states-of-matter/1.2.0-rc.2 is ready for RC testing.  This release, which includes both phet and phet-io brands and is intended to be shared with a client, addresses a number of issues that were found during the testing of 1.2.0-rc.1.  Please document issues in https://github.com/phetsims/states-of-matter/issues and link to this issue.

Assign

[2020-08-14 22:54] jbphet opened #532 "RC test: States of Matter: Basics 1.2.0-rc.2"
@KatieWoe , @ariel-phet, @arouinfar, and @kathy-phet - states-of-matter-basics/1.2.0-rc.2 is ready for RC testing.  This includes both phet and phet-io brand and intended to be shared with a client shortly.  Document issues in https://github.com/phetsims/states-of-matter-basics/issues and link to this issue.

Since this sim is a subset of states-of-matter, and states-of-matter is also being releas

[2020-08-15 05:33] arouinfar commented on #528
@chrisklus you may want to consider rebuilding this RC when QA gets to it. There have been several common code changes that have been made or are in-progress (see above issues). I've also finished the phet-io guide for this sim.

@KatieWoe please note that this RC was built before the the phet-io guide was completed. The client didn't have any specific requests, so there is not a client requests d

[2020-08-17 17:34] #518 closed

[2020-08-17 19:00] pixelzoom opened #533 "RC test: pH Scale 1.4.0-rc.2"
@arouinfar phet-scale/1.4.0-rc.2 is ready for RC testing.

⚠️ Milestone for delivering 1.4.0 to the client is 9/1/2020.

Document issues in https://github.com/phetsims/ph-scale/issues and link to this issue

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- Test all possible forms of input.
  - T

[2020-08-17 19:02] pixelzoom commented on #514
1.4.0-rc.2 is published and being tracked in https://github.com/phetsims/QA/issues/533.

[2020-08-17 19:02] #514 closed

[2020-08-17 19:07] muedli opened #534 "Figure out how to "name blind" QA tester bug report applications and resumes"
As part of this week's equity discussion, we thought it would be a good idea to "name blind", i.e. remove any identifying information, from QA tester applications. This way we won't let our unconscious biases seep into our hiring decisions.

@ariel-phet suggested having me take out any identifying info including name, place of origin, etc. and then forwarding them to Katie and Oliver for review. H

[2020-08-17 19:08] pixelzoom opened #535 "RC test: pH Scale: Basics 1.4.0-rc.2"
@arouinfar phet-scale-basics/1.4.0-rc.2 is ready for RC testing.

⚠️ Milestone for delivering 1.4.0 to the client is 9/1/2020.

This RC test should be done at the same time as https://github.com/phetsims/QA/issues/533 (pH Scale 1.4.0-rc.2).

Document issues in https://github.com/phetsims/ph-scale/issues (NOT in ph-scale-basics) and link to this issue.

Assigning to @ariel-phet for prioritization.

[2020-08-17 19:11] pixelzoom commented on #515
1.4.0-rc.2 has been published, tracking in https://github.com/phetsims/QA/issues/535.

[2020-08-17 19:11] #515 closed

[2020-08-17 19:11] KatieWoe commented on #534
This suggestion seems ok as a first step. Should we set up a discussion for specifics etc?

[2020-08-17 19:18] oliver-phet commented on #534
One quick way I thought of: We could collect "test tasks" via a Google form that is linked to a response spreadsheet. We could import those responses into another sheet that is de-identified. We'll use the de-identified spreadsheet to evaluate candidates (then identify as needed to set up an interview, ask for more information, etc.)

[2020-08-17 19:21] muedli commented on #534
As long as we'd be able to keep the test task formatting etc. intact, I think @oliver-phet's suggestion is a good one. (It's nice to be able to see how a potential tester is formatting everything, how thorough they are, etc.)

[2020-08-17 19:21] pixelzoom commented on #522
"Issues to Verify" for the next RC:

PhET-iO:
- [ ] [empty client guides published with this sim design:phet-io](https://github.com/phetsims/ph-scale/issues/167)
- [ ] [Studio search feature is broken](https://github.com/phetsims/ph-scale/issues/172)
- [ ] [Add "Item" suffix to Solute combo box items](https://github.com/phetsims/ph-scale/issues/195)

[2020-08-17 19:25] KatieWoe commented on #534
I agree with @muedli. If there is a way to keep that aspect, it might be nice, nut not necessary.

[2020-08-17 20:10] ariel-phet commented on #532
@KatieWoe to be done after #531

[2020-08-17 20:12] ariel-phet commented on #533
@KatieWoe currently a high priority given the timeline but only after #531 and #532 are complete

[2020-08-17 20:14] ariel-phet commented on #535
Ideally done concurrently or as a subset of #533 (after SOM testing concludes)

[2020-08-17 20:34] oliver-phet commented on #534
We've created a Google form to collect applications and a de-identified linked spreadsheet.

[2020-08-18 15:50] pixelzoom commented on #533
@kathy-phet requested that this RC be canceled because https://github.com/phetsims/studio/issues/183 was discovered after publication, and it's a blocking issue.

Assigning this issue to me, to be used for the creation of the next RC issue.

[2020-08-18 15:51] pixelzoom commented on #535
@kathy-phet requested that this RC be canceled because https://github.com/phetsims/studio/issues/183 was discovered after publication, and it's a blocking issue.

Assigning this issue to me, to be used for the creation of the next RC issue.

[2020-08-18 17:53] chrisklus commented on #528
Thanks for the suggestion @arouinfar. That sounds good to me, and I discussed a little more with @samreid. @KatieWoe, or any QA team member who starts testing this RC in the future, please let me know before beginning and I'll create a new RC version and update the links in the templates above.

[2020-08-18 18:28] arouinfar commented on #528
@chrisklus @KatieWoe heads up about the client request doc -- turns out the client requests were in a separate email chain, so I will be creating a client-requests.md after all. I'll have it up later today or tomorrow.

[2020-08-18 19:17] chrisklus commented on #528
Sounds great, yeah I meant to mention that I have their original list too, so was surprised to hear that there wouldn't be a client-requests.md.

[2020-08-19 00:55] samreid commented on #519
@ariel-phet or @KatieWoe can you estimate when QA may be ready for the next dev test for Gravity and Orbits?  It may help us ensure master is stable around that time.

[2020-08-19 17:20] arouinfar commented on #528
@chrisklus [client-requests.md](https://github.com/phetsims/phet-io-client-guides/blob/master/energy-forms-and-changes/client-requests.md) has been completed.

[2020-08-19 19:00] chrisklus commented on #528
Nice, thanks!

[2020-08-19 21:39] ariel-phet commented on #475
Can this be closed @jonathanolson @jbphet @Denz1994? Let's quickly discuss at dev meeting

[2020-08-19 22:39] ariel-phet commented on #519
@samreid I think around Monday Aug 31st would be my guess currently, depending on how Ph Scale testing and such goes next week

[2020-08-19 23:51] Denz1994 commented on #509
The memory footprint should be fairly large compared to other sims due to the size of the Pubchem data set. We've taken steps to optimize this in #https://github.com/phetsims/build-a-molecule/issues/115 and #https://github.com/phetsims/build-a-molecule/issues/173.

[2020-08-19 23:52] Denz1994 commented on #509
As per a discussion on Slack with @ariel-phet, this issue will be closed and BAM should move to the next RC testing for spot-checking. Though the entire test matrix was not completed in this test we are confident enough to move forward to the next test cycle.

The remaining open issues will be assigned for spot-checking in the next QA cycle. Closing this one for now.

[2020-08-19 23:52] #509 closed

[2020-08-19 23:53] jbphet opened #536 "RC Spot Check: States of Matter 1.2.0-rc.3"
@KatieWoe, @ariel-phet, @arouinfar, and @kathy-phet - states-of-matter/1.2.0-rc.3 is ready for spot-check testing.  This release, which includes both phet and phet-io brands and is intended to be shared with a client, addresses a handful of issues that were found during the testing of 1.2.0-rc.2.  Please document issues in https://github.com/phetsims/states-of-matter/issues and link to this issue.

[2020-08-19 23:57] jbphet commented on #532
Closing.  I think it makes sense to wait until the SOM 1.2.0 release is complete before setting up any mores testing for SOMB.

[2020-08-19 23:57] #532 closed

[2020-08-19 23:58] jbphet commented on #531
Version 1.2.0-rc.3 is now out, testing will continue there.  Closing.

[2020-08-19 23:58] #531 closed

[2020-08-20 14:21] Denz1994 commented on #475
I am okay with closing this one.

Regarding the installer, I checked the jar signature on alpha_decay_en.jar on the latest stable copy (peta backup) and compared it to the alpha_decay_en.jar from phet.colorado.edu. Both show a verified signature.

This was done by running:
`jarsigner -verify -verbose -certs <path_to_installer_sim>/alpha-decay_en.jar`
`jarsigner -verify -verbose -certs <path_to_dow

[2020-08-20 16:14] jonathanolson commented on #475
Seems fine to close, we presumably would have run into issues by now.

[2020-08-20 16:25] jbphet commented on #475
Yep, I'm on board with closing it too, so I'll just do so.

[2020-08-20 16:25] #475 closed

[2020-08-20 20:30] KatieWoe commented on #536
Calling an end to QA here. Issues tested and Studio hit a bit more. Rest of testing done in RC.2 earlier. If JB is satisfied with this he can move forward.

[2020-08-20 20:47] brandonLi8 opened #537 "Dev Test: Collision Lab 1.1.0-dev.2"
@arouinfar @ariel-phet, collision-lab/1.1.0-dev.2 is ready for dev testing. The intention is for this to be a quicker dev test administered by @arouinfar @ariel-phet before rc testing begins.

Document issues in https://github.com/phetsims/collision-lab/issues and link to this issue.

<details>
<summary><b>General Dev Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- If the

[2020-08-20 22:38] KatieWoe commented on #488
Recommend closing this since rcs are coming up.

[2020-08-25 20:01] #534 closed

[2020-08-25 21:15] KatieWoe commented on #507
Calling a close to this test, but more tests might be done while other rcs are worked out.

[2020-08-26 00:01] arouinfar commented on #537
@brandonLi8 I've tested this quite a bit on latest macOS/Chrome and I'm not seeing any physics issues.

I plan on doing a bit more testing on macOS/Safari tomorrow.

[2020-08-26 16:38] Denz1994 opened #538 "RC Spot Check: Build-A-Molecule 1.0.0-rc.2"
@ariel-phet , @arouinfar , Build-A-Molecule/1.0.0-rc.2 is ready for RC testing. There was already a fair amount of testing done on this sim and not a significant amount of code changes as a result. A full RC isn't required but a few issues should be verified in this spot check. This build is not expected to be shared with clients but instead moved through the production pipeline. Document issues i

[2020-08-26 17:20] ariel-phet commented on #538
Making this top priority, since it is a spot check and it would be super exciting to get this sim published

[2020-08-26 17:54] KatieWoe commented on #538
Since this is a spot check a greyed out some of the rows in the test matrix

[2020-08-26 18:34] arouinfar commented on #538
@KatieWoe can you give me edit access to the test matrix? I'll test macOS 10.15.

[2020-08-26 18:36] KatieWoe commented on #538
You should have access now.

[2020-08-26 23:07] samreid commented on #511
This version is stale, please let me know when this comes up in the QA queue and I'll post a fresh version.

[2020-08-26 23:38] pixelzoom commented on #533
1.4 release branches have been abandoned, and the RC process will be restarted with a new release branch.  See https://github.com/phetsims/ph-scale/issues/166#issuecomment-681178035.  Closing.

[2020-08-26 23:38] #533 closed

[2020-08-26 23:39] pixelzoom commented on #535
1.4 release branches have been abandoned, and the RC process will be restarted with a new release branch.  See https://github.com/phetsims/ph-scale/issues/166#issuecomment-681178035.  Closing.

[2020-08-26 23:39] #535 closed

[2020-08-27 03:33] arouinfar commented on #538
@ariel-phet I spent a lot of time testing BAM today, and unfortunately I did find a science/model bug related to double bonds sometimes showing up a single bonds. I don't have access to the remaining platforms in the test matrix, so I'll go ahead and unassign myself.

[2020-08-27 16:44] chrisklus commented on #528
@KatieWoe I've created a new RC - the links above have been updated and are ready for testing.

[2020-08-27 17:39] zepumph commented on #528
@ariel-phet is this still the right priority?

[2020-08-27 20:24] pixelzoom opened #539 "Dev test: Natural Selection 1.1.0-dev.18"
@amanda-phet, @ariel-phet, @oliver-phet, @phet-steele, natural-selection/1.1.0-dev.18 is ready for dev testing.  The intention for this dev version is to publish is as a "prototype", but with a visible sim webpage. This dev test is for `brand=phet` only, no PhET-iO.

Testing must be completed by close of business on Friday 8/28/2020, per https://github.com/phetsims/natural-selection/issues/116#iss

[2020-08-27 20:26] pixelzoom commented on #539
@KatieWoe FYI you don't need to be concerned with this issue. This dev test is going to be a bit non-standard, handled by the design team with some help from @phet-steele.  If you need clarification, contact @ariel-phet on Slack. Thanks!

[2020-08-27 20:34] pixelzoom commented on #522
There's a new plan for the prototype, see https://github.com/phetsims/natural-selection/issues/116#issuecomment-682159770.

Closing this issue.

[2020-08-27 20:34] #522 closed

[2020-08-27 22:47] KatieWoe commented on #528
Memory test for phet brand:
![memtestregular](https://user-images.githubusercontent.com/41024075/91502299-f0b5e100-e884-11ea-8f92-d1f709497122.png)
Memory test for phet-io brand:
![memtestio](https://user-images.githubusercontent.com/41024075/91502316-fa3f4900-e884-11ea-8675-0c3f4b502888.png)

[2020-08-28 00:02] ariel-phet commented on #539
String tests were passed with a minor exception for very long strings affecting the population graph layout.

[2020-08-28 00:44] pixelzoom commented on #539
@amanda-phet @ariel-phet @oliver-phet @phet-steele When you've finished your testing, please leave a comment here indicating that you've finished, which platform(s) you tested on, and any other general comments. Thanks!

[2020-08-28 01:02] ariel-phet commented on #539
Tested Win 10 latest FF, Chrome, and Edge. All looking great on my machine! (tested most extensively on Chrome)

[2020-08-28 02:34] amanda-phet commented on #539
Tested on iPad (air? it's maybe 2 years old) iOS 13.6, Safari. All looks good. It's very responsive and zippy, I think.

I noticed that the fast-forward button works really well on touch in the case where I just "tap" the button (as I observed in interviews, instead of press-and-hold), because a tap naturally lasts longer than a mouse click. Anyway, just nice to see that happen here.

[2020-08-28 02:52] phet-steele commented on #539
Tested on ChromeOS 13099.62.0, and a smattering Win 10 chrome.

Looking good, including performance. 😄

[2020-08-28 13:52] Denz1994 commented on #538
The context for this issue's resolution is noted here: https://github.com/phetsims/build-a-molecule/issues/207#issuecomment-682094494

[2020-08-28 16:42] oliver-phet commented on #539
Tested on MacOS 10.15.6 in Safari 13.1.2 and Firefox 79.0

Nothing to report!

[2020-08-28 18:58] pixelzoom commented on #539
Testing is done. Two minor issues were found:

* https://github.com/phetsims/natural-selection/issues/209 (Population graph layout issue with very long strings)
* https://github.com/phetsims/natural-selection/issues/210 (Appearance of "Zoom out to see data." is inconsistent)

Let's discuss whether to fix there for the prototype RC in the issues.

Onward to RC! Closing.

[2020-08-28 19:16] pixelzoom commented on #539
@ariel-phet also spot-checked on his Android phone, performed well.

@oliver-phet checked in the iOS app, all OK.

[2020-08-28 20:36] pixelzoom opened #540 "RC test: Natural Selection 1.1.0-rc.1"
@amanda-phet @ariel-phet, natural-selection/1.1.0-rc.1 is ready for RC testing. (@KatieWoe as with #539, you can ignore this issue. It will be spot-checked by @amanda-phet and @ariel-phet.)

The deadline to complete testing is noon on Tuesday, 9/1/2020.

Document issues in https://github.com/phetsims/natural-selection/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<d

[2020-08-28 20:53] #539 closed

[2020-08-31 17:51] arouinfar commented on #528
@KatieWoe and QA team, please assign issues to @jbphet, since he is temporarily the responsible dev for this sim.

[2020-08-31 23:13] arouinfar opened #541 "Balls can escape reflecting border if mass is changed when near the edge"
For https://github.com/phetsims/QA/issues/537

One way to reproduce:
1. Explore 1D
2. Slow motion (optional, just makes things a bit easier)
3. Press play
4. Pause sim just before ball 1 reaches the left wall
5. Increase mass of ball 1 to the max. Its radius will expand and part of the ball will now be out-of-bounds ![image](https://user-images.githubusercontent.com/8419308/91777110-31c33380-ebac-

[2020-08-31 23:56] arouinfar commented on #537
macOS/Safari looked good to me. I did find one non-platform specific bug (https://github.com/phetsims/collision-lab/issues/167) and suggested a small pixel polish (https://github.com/phetsims/collision-lab/issues/168).

[2020-09-01 03:44] ariel-phet commented on #540
I have completed my testing. Everything look good on Win browsers, and iPad Air 2,
- I also double checked that strings Tests were passed for short strings after the very long string test issue was fixed.
- verified that iFrame looked good

@pixelzoom my testing is done here. I think once @amanda-phet gives the green light,  we can proceed with a spot check. We should ask Katie to check the LoL te

[2020-09-01 13:40] amanda-phet commented on #540
I tested iPad air on Safari. I thought it was all looking good!

Was @oliver-phet going to test Mac?

[2020-09-01 13:49] pixelzoom commented on #540
@oliver-phet and @phet-steele were not going to be involved in the RC testing.

[2020-09-01 13:52] pixelzoom commented on #540
@amanda-phet do you want to have a look on Mac before I proceed with the next RC?

[2020-09-01 14:09] amanda-phet commented on #540
Yes I probably should.. Unfortunately I might not be able to until later today. But I will have it done by 2pm at the latest.

[2020-09-01 14:17] pixelzoom commented on #540
Let's move ahead with the next RC and test that one on Mac.  I'm confident that macOS is not a problem.

[2020-09-01 15:59] amanda-phet commented on #540
Sounds good. I also did a quick check on both Chrome. I've used it in Safari a ton and I know it's fine.

[2020-09-01 16:10] pixelzoom opened #542 "RC test: Natural Selection 1.1.0-rc.2"
@amanda-phet @ariel-phet, natural-selection/1.1.0-rc.2 is ready for RC testing.

Ideally, we'd like to finish this by noon on Tuesday, 9/1/2020.  It should be quick - there are only 2 issues to spot check.

Document issues in https://github.com/phetsims/natural-selection/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summary

[2020-09-01 16:10] pixelzoom commented on #540
Then onward to the next RC, in https://github.com/phetsims/QA/issues/542.

Closing.

[2020-09-01 16:10] #540 closed

[2020-09-01 16:23] KatieWoe commented on #542
Platforms to test:
- [ ] Win 10 Chrome
- [ ] Win 10 Firefox
- [ ] Win 10 Edge
- [ ] Mac 10.15 Chrome
- [ ] Mac 10.15 Safari
- [ ] iPadOS Safari
- [ ] ChromeOS

[2020-09-01 16:25] KatieWoe commented on #542
LoL looks ok on Win 10 Chrome

[2020-09-01 16:38] pixelzoom opened #543 "fix broken links to QA doc"
It looks like someone renamed QA/doc/ to QA/documentation/.  This has broken links in things like issue templates - I experienced it in the RC issue template.  So broken links need to be identified and fixed.

FYI, doc/ is more standard in software projects.

[2020-09-01 16:52] pixelzoom commented on #542
I tested LoL on macOS Safari and macOS Chrome.

[2020-09-01 18:09] amanda-phet commented on #542
The two issues to verify looked good. Also performance seemed great on the two Mac browsers I tested.

[2020-09-01 18:54] muedli commented on #543
Sorry about that, @pixelzoom. The broken links in the test templates should be fixed now.

[2020-09-01 18:54] #543 closed

[2020-09-01 19:30] ariel-phet commented on #542
All look great to me on all platforms, all issues verified. Back to @pixelzoom to publish!

[2020-09-01 20:30] pixelzoom commented on #542
👍🏻 Closing.

[2020-09-01 20:30] #542 closed

[2020-09-01 21:34] KatieWoe commented on #528
LoL had some delay in unpausing with Mac 10.14 Safari. Haven't been able to reproduce after a reload. @jbphet if you want an issue for this.

[2020-09-02 16:52] jbphet commented on #528
@KatieWoe said:

I'm not quite sure, but I think you're asking whether I want an issue for a problem that LoL reported relating to unpausing in Safari.  If so, I'd suggest logging the issue, making some notes on how you tried to reproduce it, and if you're unable to reproduce, ask them for more details.  It would be good to have a record of our efforts to track down any customer-reported problems.

[2020-09-02 17:44] jessegreenberg opened #544 "RC Test: Energy Skate Park 1.1.0-rc.1"
@ariel-phet, @arouinfar, @KatieWoe energy-skate-park/1.1.0-rc.1 is ready for RC testing. Please document issues in https://github.com/phetsims/energy-skate-park/issues and link to this issue.

This sim also includes the zoom feature, so please test that feature in this sim as part of this RC. A description of testing this feature is in the QA book.

This test is starting with 1.1 because 1.0 was p

[2020-09-02 19:16] mattpen opened #545 "Android App: Dev Test 5 (1.1.28)"
QA, please conduct another dev test of the android app.
The internal test track version can be installed from this link: https://play.google.com/apps/internaltest/4697762600441754675.

NOTE: Please delete the existing "PhET" app before installing this one. It is OK if the previous production app ("PhET Simulations") is still installed, but previous dev versions of this app can cause problems if th

[2020-09-03 03:40] ariel-phet commented on #545
@mattpen this is a high priority test to move the app forward, but will mainly be handled by @phet-steele and myself

[2020-09-03 20:10] ariel-phet commented on #538
@KatieWoe just noting that this is a top priority for me, not for you :)

[2020-09-04 00:20] zepumph commented on #528
This RC was patched as part of an MR over in https://github.com/phetsims/chipper/issues/979 and will have a new RC version published on phet-dev shortly (no steps needed for testing here necessarily).

[2020-09-04 00:20] zepumph commented on #544
This RC was patched as part of an MR over in https://github.com/phetsims/chipper/issues/979 and will have a new RC version published on phet-dev shortly (no steps needed for testing here necessarily).

[2020-09-04 04:37] zepumph opened #546 "Maintenance Release: minified intialization script"
Fixed and tracked in https://github.com/phetsims/chipper/issues/979#issuecomment-686674583. Tagging @jbphet, @jonathanolson, @ariel-phet.

 Here are the only links to test:

Release Candidate links

molecules-and-light 1.5 (https://github.com/phetsims/chipper/issues/979)

- [x] [molecules-and-light 1.5.5-rc.2](https://phet-dev.colorado.edu/html/molecules-and-light/1.5.5-rc.2/phet/molecules-and-lig

[2020-09-04 16:04] KatieWoe commented on #546
Checked on a few different platforms. Win 10 Chrome, Firefox, and Mac 10.15 Safari.

[2020-09-04 21:46] KatieWoe commented on #528
Noting here that the top screen in the State wrapper was lagging on Win 10 Chrome

[2020-09-08 16:31] zepumph commented on #546
Thanks! Closing

[2020-09-08 16:31] #546 closed

[2020-09-08 20:16] KatieWoe commented on #528
State screen had a significant amount of lag on ChromeOS. @jbphet let me know if this is issue worthy.

[2020-09-08 20:18] arouinfar commented on #528
@KatieWoe is the performance is comparable to the latest published version?

[2020-09-08 20:19] KatieWoe commented on #528
It is much worse, but just in State.

[2020-09-08 20:37] arouinfar commented on #528
If it's only in the state wrapper, I don't think it's an issue. From recent discussion in phet-io meeting, the state wrapper is really meant to be an internal testing tool (see https://github.com/phetsims/phet-io/issues/1703#issuecomment-686706729) and I wonder if we even need to be testing it on ChromeOS.

[2020-09-08 23:22] zepumph commented on #528
Yes it is an internal testing tool, but one that exposes a public feature (state). Performance in the state wrapper is only a concern depending on how many state-sets-per-second we support. The default in the state wrapper is 1 per second, but I bet that performance would improve if we made that 1 per 5 seconds (`?numberOfMillisecondsBetweenUpdates=5000`). This is all to say that in complicated si

[2020-09-10 01:36] ariel-phet commented on #3
This issue has gone quite stale. Closing

[2020-09-10 01:36] #3 closed

[2020-09-10 02:03] samreid commented on #473
This sim was published and shared with the client.  Closing.

[2020-09-10 02:03] #473 closed

[2020-09-10 05:41] ariel-phet commented on #545
I did the Spanish test, all looks correct. I think we are solid for this dev test. Looking forward to trying out the fixes!

[2020-09-10 14:47] mattpen commented on #545
Thanks @ariel-phet and @phet-steele

[2020-09-10 16:51] #545 closed

[2020-09-10 20:13] KatieWoe commented on #528
QA is done

[2020-09-11 22:40] KatieWoe commented on #538
Had the sim crash and restart on iPadOS 13.7 after 3 minutes or so, but it was on `?showPointerAreas` which lowers performance. @Denz1994 let me know if you think this is issue worthy.

[2020-09-11 22:50] KatieWoe commented on #538
Also noting that the sim may benefit from the expanded touch area for the x to get out of dialogs.

[2020-09-14 16:53] mattpen opened #547 "Android App: Dev Test 6 (1.1.30)"
QA, please conduct another dev test of the android app.
The internal test track version can be installed from this link: https://play.google.com/apps/internaltest/4697762600441754675.

NOTE: Please delete the existing "PhET" app before installing this one. It is OK if the previous production app ("PhET Simulations") is still installed, but previous dev versions of this app can cause problems if th

[2020-09-14 16:55] mattpen commented on #547
Whoops, forgot to publish, please stand by

[2020-09-14 16:59] mattpen commented on #547
OK, this test has been published, please proceed.

[2020-09-14 20:22] samreid opened #548 "PhET-iO Testing for the new iframe size feature"
From https://github.com/phetsims/studio/issues/167

I walked through this test with @KatieWoe on one platform, and it looked good.  I think it's sufficient to try 2-3 browsers on at least 2 OSes total.

[2020-09-14 22:38] KatieWoe commented on #538
QA is done.

[2020-09-14 22:57] KatieWoe commented on #548
Chrome on Win 10 looked good.

[2020-09-15 02:07] muedli commented on #548
Looking good on macOS + FF, macOS + Safari, and macOS + Chrome.

[2020-09-15 16:18] ariel-phet commented on #537
Closing this dev test - @jonathanolson has made several improvements to the performance of the sim and we should test the latest version when available.

[2020-09-15 16:18] #537 closed

[2020-09-15 16:38] samreid commented on #519
I published a fresh dev version with both brands:
https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.16/phet/
https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.16/phet-io/

[2020-09-15 17:42] KatieWoe opened #549 "iPadOS 14"
Testing the beta iPadOS 14 and how sims work with it.

[2020-09-15 17:46] ariel-phet commented on #549
@KatieWoe I suggest not having this test go too long if nothing is obviously wrong (preferably less than a day)

Definitely good to test:

- pan and zoom (for instance on Molecules and Light published version)
- a recently published sim (like Natural Selection)
- a sim that uses WebGl (like charges and fields)

[2020-09-15 22:44] KatieWoe commented on #549
Everything else seems to be alright. I also did a brief check on the app. Closing

[2020-09-15 22:44] #549 closed

[2020-09-16 16:20] samreid commented on #548
That sounds great, and sufficiently tested, thanks!  Closing.

[2020-09-16 16:20] #548 closed

[2020-09-17 00:03] Denz1994 opened #550 "RC Spot Check: Build-A-Molecule 1.0.0-rc.3"
@ariel-phet , @arouinfar, build-a-moelcule/1.0.0-rc.3 is ready for RC testing. This is not to be shared with a client as we are approaching publication. Document issues in https://github.com/phetsims/build-a-molecule/issues and link to this
issue.

This is a spot check of some minor cosmetic changes and performance on iPadOS 13.7. This sim just came out of an RC test cycle with only minor code cha

[2020-09-17 00:04] Denz1994 commented on #538
Thanks a bunch for the work QA and associates. I have opened a new spot check issue for the comments above and the one remaining opened issue.

[2020-09-17 00:04] #538 closed

[2020-09-17 02:14] ariel-phet commented on #547
This round of dev testing is complete @mattpen, looking forward to the next one!

[2020-09-17 15:15] KatieWoe commented on #550
Devices/Platforms to spot check:

- [ ] Win 10 Chrome
- [ ] Win 10 Firefox
- [ ] Mac 10.15 Safari
- [ ] iPadOS 14
- [ ] ChromeOS

@Denz1994 is this list alright?

[2020-09-17 16:06] Denz1994 commented on #550
This list looks good to me. I would just make sure to test iPadOS 14 without query parameters as described above.

[2020-09-17 19:28] pixelzoom opened #551 "RC test: Natural Selection 1.2.0-rc.1"
@amanda-phet, @kathy-phet, @ariel-phet, @oliver-phet, @KatieWoe natural-selection/1.2.0-rc.1 is ready for RC testing.

This RC is for the deliverable described in https://github.com/phetsims/natural-selection/issues/208.  Deadlines are:
* testing of this RC should be completed by 9/23/2020
* delivery of an RC version to the client by 10/1/2020

Document issues in https://github.com/phetsims/natura

[2020-09-22 15:53] mattpen opened #552 "Android App: Dev Test 7 (1.1.33)"
QA, please conduct another dev test of the android app.
The internal test track version can be installed from this link: https://play.google.com/apps/internaltest/4697762600441754675.

NOTE: Please delete the existing "PhET" app before installing this one. It is OK if the previous production app ("PhET Simulations") is still installed, but previous dev versions of this app can cause problems if th

[2020-09-22 16:20] #547 closed

[2020-09-22 16:52] KatieWoe commented on #551
Playback wrapper seems to be exceedingly slow on Mac 10.15 Chrome for both loading log and starting playback. Having trouble even getting it to start. @zepumph please advise.

[2020-09-22 17:16] mattpen commented on #552
New version coming in momentarily, please hold

[2020-09-22 17:19] mattpen commented on #552
OK, the test can proceed.

[2020-09-22 22:25] KatieWoe commented on #551
Noting a fair amount of slowdown between generations on ChromeOS when looking at a data stream (such as colorized).

[2020-09-22 22:33] pixelzoom commented on #551
@KatieWoe I don't know whether slowdown in the colorized data stream wrapper is an issue.  I think it would be expected with NS, since it's doing a massive amount of writing to the console.  If you think it's significant, please create an issue.

[2020-09-22 22:37] KatieWoe commented on #551
I don't know if it's significant. It is a massive amount of slow down, but I don't know how important performance is in that wrapper.

[2020-09-23 21:01] KatieWoe commented on #552
I'm not seeing Natural Selection show up for me. Is it not being downloaded for anyone else?

[2020-09-23 21:34] KatieWoe commented on #552
It did download after I uninstalled, rebooted, and reinstalled.

[2020-09-23 22:25] ariel-phet commented on #552
@mattpen this round of testing is complete

[2020-09-23 22:42] KatieWoe commented on #551
QA is done.

[2020-09-24 02:00] pixelzoom commented on #551
Thanks @KatieWoe.

Your comments in https://github.com/phetsims/QA/issues/551#issuecomment-696846871 and  https://github.com/phetsims/QA/issues/551#issuecomment-697014587 have been promoted to their own issues.

[2020-09-24 02:05] pixelzoom commented on #551
@KatieWoe The test matrix shows errors for `#376` and `#377`.  There are no such issues in the natural-selection repo. I eventually found them in phet-io-wrappers.  When an issue is in another repo, could you please note in the test matrix as (e.g.) `phet-io-wrappers#376` ?

[2020-09-24 15:31] KatieWoe commented on #552
Removing Priority tag if this test is done

[2020-09-24 18:26] pixelzoom opened #553 "changes to how QA is testing data stream wrappers"
In https://github.com/phetsims/natural-selection/issues/240#issuecomment-698508288:

* Please test Data: colorized and Data: JSON very lightly, only confirming that the data stream prints as expected to the console on a couple device/browser combos.
* Please test thoroughly the `data: textarea` wrapper on all devices to make sure that the cross frame messages for data stream support are running co

[2020-09-24 18:30] KatieWoe opened #554 "Getting Brooklyn Started"
- [x] GitHub Email, GitHub Account, Join Organization
- [x] Add Brooklyn to the QA Team
- [ ] _Add Brooklyn to the Google Group_
- [x] Google Calendar
- [x] Add Schedule to Calendar
- [x] Google Drive RC folder
- [x] Phases of Development
- [x] GitHub Workflow
- [x] How to Test & Tricks-of-the-Trade (simulation locations, query parameters, development tools, etc.)
- [x] Practice Creating an Issue

[2020-09-24 18:36] KatieWoe opened #555 "Getting Devon started"
- [x] GitHub Email, GitHub Account, Join Organization
- [x] Add Devon to the QA Team
- [ ] _Add Devon to the Google Group_
- [x] Google Calendar
- [x] Add Schedule to Calendar
- [x] Google Drive RC folder
- [x] Phases of Development
- [x] GitHub Workflow
- [x] How to Test & Tricks-of-the-Trade (simulation locations, query parameters, development tools, etc.)
- [x] Practice Creating an Issue
- [x]

[2020-09-24 21:08] KatieWoe commented on #553
Update made, closing

[2020-09-24 21:08] #553 closed

[2020-09-24 21:17] jbphet commented on #528
Thanks QA team.  We are dealing with the individual issues that resulted from this testing, closing this one.

[2020-09-24 21:17] #528 closed

[2020-09-24 21:29] jbphet opened #556 "RC test: Energy Forms and Changes 1.4.0-rc.2"
@KatieWoe, @arouinfar, @ariel-phet, @kathy-phet, energy-forms-and-changes/1.4.0-rc.2 is ready for RC testing. The phet-io version of this release will be shared with a client. The publication due date is October 1st. This is the 2nd release from the 1.4 release branch, but the code changes since the previous release were quite significant, so a full retest is needed.  There are also several fixed

[2020-09-24 22:35] jbphet commented on #556
One other thing to check:

- [ ] verify that https://github.com/phetsims/natural-selection/issues/243 does not occur for energy chunks

[2020-09-24 22:49] KatieWoe commented on #556
Energy chunks seem to show up fine after a quick test. I'll keep an eye out as testing goes on, but it looks like it doesn't impact this sim there.

[2020-09-25 20:12] pixelzoom opened #557 "RC test: Natural Selection 1.2.0-rc.2"
@amanda-phet, @kathy-phet, @ariel-phet, @oliver-phet, @KatieWoe natural-selection/1.2.0-rc.2 is ready for RC testing.

This RC is for the deliverable described in https://github.com/phetsims/natural-selection/issues/208.  Deadlines are:
* testing of this RC should be completed by Monday 9/28/2020
* delivery of an RC version to the client by Thursday 10/1/2020

Document issues in https://github.com

[2020-09-25 20:17] pixelzoom commented on #551
Next RC test created in #557.   Closing.

[2020-09-25 20:17] #551 closed

[2020-09-25 23:10] KatieWoe commented on #556
Memory test for PhET brand:
![Screen Shot 2020-09-25 at 4 31 58 PM](https://user-images.githubusercontent.com/41024075/94323130-d63d5900-ff51-11ea-882b-015ea618e87a.png)
Memory test for PhET-iO brand:
![Screen Shot 2020-09-25 at 5 08 39 PM](https://user-images.githubusercontent.com/41024075/94323145-e7866580-ff51-11ea-83e9-e1076a72b65a.png)
Looks like there might be a memory leak, but relatively s

[2020-09-26 17:22] KatieWoe commented on #557
QA is done with spot check

[2020-09-27 01:10] pixelzoom commented on #557
Thanks @KatieWoe and QA team!

[2020-09-27 15:06] pixelzoom commented on #557
As noted in https://github.com/phetsims/natural-selection/issues/208#issuecomment-699641109:

Closing.

[2020-09-27 15:06] #557 closed

[2020-09-28 16:42] jbphet commented on #556
@KatieWoe - yes, please log an issue for this.  We should have a separate investigation for it, and a record thereof.

[2020-09-28 18:12] KatieWoe commented on #556
Colorized seemed to be very slow on Mac 10.15 Chrome

[2020-09-29 23:47] KatieWoe commented on #556
Calling an end to QA for this round.

[2020-09-30 16:08] jbphet commented on #556
Thanks QA team.  We will disposition and address the issues listed above individually.  Closing this one.

[2020-09-30 16:08] #556 closed

[2020-09-30 22:12] mattpen opened #558 "Android App: RC Test (1.1.36)"
QA, please conduct another dev test of the android app.
The internal test track version can be installed from this link: https://play.google.com/apps/internaltest/4697762600441754675.

NOTE: Please delete the existing "PhET" app before installing this one. It is OK if the previous production app ("PhET Simulations") is still installed, but previous dev versions of this app can cause problems if th

[2020-09-30 22:13] mattpen commented on #552
Complete.

[2020-09-30 22:13] #552 closed

[2020-10-01 22:29] jonathanolson opened #559 "Charges and Fields Safari 14 patches"
The Charges and Fields workaround has been applied to two branches:

1.0: https://phet-dev.colorado.edu/html/charges-and-fields/1.0.48-rc.1/charges-and-fields_all.html
1.0-phetio: https://phet-dev.colorado.edu/html/charges-and-fields/1.0.20-rc.3/wrappers/index/

The applied patch has Safari always use the "mobile" WebGL codepath for the voltage display in the sim, instead of ever using the "deskto

[2020-10-01 23:56] jbphet opened #560 "RC test: Energy Forms and Changes 1.4.0-rc.3"
@KatieWoe, @arouinfar, @ariel-phet, @kathy-phet, energy-forms-and-changes/1.4.0-rc.3 is ready for RC testing. The phet-io version of this release will be shared with a client.  This is the 3rd release from the 1.4 release branch, and the code changes versus the previous RC are significant but not huge.  I would suggest focusing on testing the resolved issues (these are listed in two of the section

[2020-10-02 00:10] zepumph opened #561 "Updates to PhET-iO testing for QA"
From today's phet-io meeting, we would like to alter the way that QA tests PhET-iO sims in a variety of ways. I will outline the changes here, and I will leave it up to @KatieWoe to make sure that things end up in the QA book and test matrices as desired.

1. The following only needed to be tested on one platform for each test. Ideally this platform would rotate so that after N sim tests, we have

[2020-10-02 22:10] jonathanolson opened #562 "Dev test: Collision Lab 1.1.0-dev.10"
@ariel-phet, @arouinfar, collision-lab/1.1.0-dev.10 is ready for dev testing. Document issues in https://github.com/phetsims/collision-lab/issues and link to this
issue. I'll deploy a dev version once I'm informed that QA is ready!

Assigning @ariel-phet for prioritization.

<details>
<summary><b>General Dev Test</b></summary>

<h3>What to Test</h3>

- Click every single button.
- If there is soun

[2020-10-05 16:41] ariel-phet commented on #558
I have not tested all locales extensively, but Spanish was showing up for me perfectly in terms of localized app strings (as one data point).

[2020-10-05 19:58] ariel-phet commented on #559
@jonathanolson it would be good to make a QA issue. We should certainly have QA test on iPad, and desktop safari fairly heavily, and then just do a few spot checks on other main platforms.

[2020-10-07 21:47] KatieWoe commented on #560
QA is done

[2020-10-07 22:05] Denz1994 commented on #550
As per request by @ariel-phet, a new spot check should be issued for this sim because of the release of iOS 14. There was a patch that was done in https://github.com/phetsims/build-a-molecule/issues/211 that should be verified. @ariel-phet mentioned he will take a look first and then reassign to QA. Closing this one.

[2020-10-07 22:05] #550 closed

[2020-10-07 22:29] Denz1994 opened #563 "RC Spot Check: Build-A-Molecule 1.0.0-rc.4"
@ariel-phet , @arouinfar, build-a-molecule/1.0.0-rc.4 is ready for RC testing. This test is following an incomplete spot-check due to the release of iOS14. Document issues in https://github.com/phetsims/build-a-molecule/issues and link to this
issue. Assigning to @ariel-phet for prioritization.

This is a spot check to verify a few issues and special attention should be given to iOS 14.

Assigning

[2020-10-08 03:57] ariel-phet commented on #563
@KatieWoe since this is a spot check and we really want to get this sim published, lets aim to finish off the test by end of business this Friday (I feel like testing should be pretty quick to verify the current issues).

[2020-10-08 14:40] KatieWoe commented on #563
Platforms to test on:
- [ ] Win 10 Chrome
- [ ] Win 10 Firefox
- [ ] Mac 10.15 Safari
- [ ] iOS 14 Safari
- [ ] ChromeOS

[2020-10-08 15:52] jbphet commented on #560
Thanks QA team!  I'll handle the issues individually and roll the next RC soon.  Closing this one.

[2020-10-08 15:52] #560 closed

[2020-10-08 20:52] jbphet opened #564 "RC test: Energy Forms and Changes 1.4.0-rc.4"
@KatieWoe, @arouinfar, @ariel-phet, @kathy-phet, energy-forms-and-changes/1.4.0-rc.4 is ready for RC testing. The phet-io version of this release will be shared with a client.  This is the 4th release from the 1.4 release branch, and the code changes versus the previous RC are moderate and are reasonably well contained.  As a result, we probably only need to do a spot check with a strong focus on

[2020-10-08 21:15] KatieWoe commented on #564
- [ ] Win 10 Chrome
- [ ] Win 10 Firefox
- [ ] Mac 10.15 Safari
- [ ] iOS 14 Safari
- [ ] ChromeOS

[2020-10-08 22:35] KatieWoe commented on #563
QA is done

[2020-10-09 16:03] mattpen commented on #558
Is this round of testing finished?  It looks like the only thing left to test for the build to be ready for production is the zh_CN strings and possible the Basque(eu) locale.

QA, can you please provide an update? Are you still testing the app?

[2020-10-09 16:07] KatieWoe commented on #558
@phet-steele has been focusing here. He would have a better estimate than me at the moment so I'll pass this question to him.

[2020-10-09 16:16] phet-steele commented on #558
@mattpen I was hoping someone could figure out how to test Basque (my ways have failed), but otherwise yes I think this round of testing is complete.

[2020-10-09 16:31] mattpen commented on #558
@phet-steele - I was able to test it on my device by selecting "Euskara" in the languages.  Do you have this option?

[2020-10-09 20:15] Denz1994 commented on #563
Thanks a bunch, QA for the quick turnaround on the last two tests. @ariel-phet will verify https://github.com/phetsims/build-a-molecule/issues/212 and then we can close this one after verification.

[2020-10-09 21:11] phet-steele commented on #563
That issue has been verified, so I'm closing.

[2020-10-09 21:11] #563 closed

[2020-10-09 21:28] phet-steele commented on #558
@mattpen what I see when I go to "Add languages" is "Basque - euskara". That's my only option, so I select it. There is no "Euskara" on its own. After that, the next step would be to click on the kebab menu for Basque and select: "Show system text in this language", but that checkbox is not selectable on my device.

[2020-10-12 18:56] mattpen commented on #558
I tested the app in Euskara on my device and it worked fine (lots of other apps didn't!).  Let's consider this test complete.

[2020-10-12 19:47] ariel-phet commented on #559
@KatieWoe currently the live version of Charges and Fields is broken on Safari 14.0 so this would be a good spot check to complete in the near future (I think checking on just a few platforms will be fine, first checking on the iPad and do a short regression test to make sure nothing is obviously broken, and the likely Windows Chrome, Latest Mac Safari, and Chromebook)

[2020-10-12 22:55] KatieWoe commented on #564
QA is done

[2020-10-12 23:35] #555 closed

[2020-10-12 23:36] #554 closed

[2020-10-12 23:47] KatieWoe commented on #561
Commit above makes change to QA book. RC template also altered. @zepumph can this be closed?

[2020-10-12 23:48] KatieWoe commented on #558
Removing priority tag as this test id done.

[2020-10-13 15:31] jbphet commented on #564
Thanks QA team.  I'll close this issue and follow up on the things that were found.

[2020-10-13 15:31] #564 closed

[2020-10-13 16:45] zepumph commented on #561
By what commit? I don't see the changes in https://github.com/phetsims/QA/commits/master/issue-templates/rc-test-template.md.

My impression was that everything above was a change to QA process, yet I only see 1 sentence change in the commit. @KatieWoe I think it would be best if this was captured in a central place rather than a github issue.

[2020-10-13 16:54] samreid commented on #511
From https://github.com/phetsims/waves-intro/issues/19#issuecomment-707872166

[2020-10-13 19:09] KatieWoe commented on #559
@jonathanolson should zooming be enabled?

[2020-10-13 22:13] KatieWoe commented on #559
Instance proxies does not seem to work. There is no sim in the iframe and no options to select. Am I doing something wrong, or is there an issue? @jonathanolson

[2020-10-13 22:52] zepumph commented on #561
Ahh excellent, I found https://docs.google.com/spreadsheets/d/1o5txil6dVHk1BfHA3fT5LIQc19JBSOg0v-BYBQe9A7A/edit#gid=1993524520 and reviewed it.

In general it looks really good, I just have a couple of thoughts.

* Could you make this "Is phet-io.js in lib/? Is it minified and not password protected?"

* The playback wrapper deployed with each sim should be used instead of https://phet-io.colorado

[2020-10-14 03:51] samreid commented on #559
It looks like an incorrect path for the iframe URL.  I estimate it could take 1-2 hours to identify and resolve (if that is the only problem).  Also, I should mention I am not certain that is a good use of time since this is a very stale version of phet-io to begin with.

[2020-10-14 04:13] jonathanolson commented on #559
I don't know many details about how to test or look into that. It was listed as a maintained phet-io version (via the website database), perhaps we can use the previous release as a guide (to see if things worked there?)

[2020-10-14 16:15] KatieWoe commented on #559
What should I do regarding testing?

[2020-10-14 16:45] KatieWoe commented on #559
Tested PhET brand and what little I could on PhET-iO Brand on Mac and iPad Safari. Are we waiting until dev meeting to decide on what to do for phet-io?

[2020-10-14 16:47] zepumph commented on #559
@samreid and I made https://github.com/phetsims/perennial/issues/196 for investigating the general issue of phet-dev paths being incorrect for phet-io, chipper 1.0 sims.

I think we will go ahead with an attempt to fix the build over in https://github.com/phetsims/perennial/issues/196

Unmarking for meetings, for @jonathanolson and @samreid and I to take on.

[2020-10-14 19:17] KatieWoe commented on #559
QA is done aside from the phet-io issues.

[2020-10-14 20:24] KatieWoe commented on #561
Implemented some of the above suggestions. Mostly in the test matrix.

[2020-10-15 01:59] jonathanolson commented on #562
Published https://phet-dev.colorado.edu/html/collision-lab/1.1.0-dev.10/phet/collision-lab_all_phet.html for this, should be ready for testing.

[2020-10-15 18:53] DevonQui commented on #562
I just tested issue #176 on Explore 1D as well and I was able to produce about 109 million joules. In addition, the balls began slipping past each other because of the high speeds. The problem only happens with elastic collisions and a reflecting border and, as a result, I was unable to reproduce the bug in the Inelastic and Intro sections.

[2020-10-15 19:46] KatieWoe commented on #519
I've sometimes seen times where the path doesn't fade, but I can't reproduce it reliably, I just see it some times. @arouinfar if you want to go over it let me know, but I'm not always convinced I'm seeing anything and I don't know what causes it, so let me know if you want an issue for it.
To be clear, the path goes away, but it does it suddenly, rather than tapering off.

[2020-10-15 20:33] Denz1994 opened #565 "RC Test: Capacitor-Lab-Basics 1.7.0-rc.5"
@ariel-phet , @arouinfar , Capacitor-Lab-Basics/1.7.0-rc.5 is ready for RC testing. We are picking up from RC shas from mid 2019 so we would like to do a full RC test and verify some issues. This sim has gone through a few RC cycles already, but please pay attention to any platform-dependent testing since our supported platforms have changed since the last cycle.

There was also a maintenance rele

[2020-10-15 23:10] KatieWoe commented on #519
QA is done

[2020-10-15 23:52] arouinfar commented on #519
This sounds like the path occasionally has full opacity, which seems relatively minor to me. Given that it isn't reliably reproduced, I don't think it warrants an issue.

[2020-10-15 23:55] zepumph opened #566 "Update QA doc for new phettest location"
From https://github.com/phetsims/special-ops/issues/170, phettest now lives on bayes. We should update QA doc accordingly.

[2020-10-16 00:10] samreid commented on #519
All issues mentioned above are closed, ready for review or on my project board. Thanks for the great test @KatieWoe, closing.

[2020-10-16 00:10] #519 closed

[2020-10-16 00:22] zepumph commented on #566
@KatieWoe what do you think about the above? Any other thoughts about updating QA process to the new phettest?

[2020-10-19 15:03] KatieWoe commented on #566
Quick clarifying question. Will the old version of phettest be available, or is the bayes version replacing the old version?

[2020-10-20 05:50] zepumph commented on #566
Eventually we will get rid of the other one. But I'll give notice.

[2020-10-20 21:37] KatieWoe commented on #544
QA is done. Testing on the app will be done during next round.

[2020-10-21 20:27] KatieWoe commented on #566
I think this can be closed for now. @zepumph, do you agree?

[2020-10-21 23:25] #566 closed

[2020-10-23 22:31] KatieWoe commented on #562
QA is done

[2020-10-27 16:32] samreid opened #567 "RC-Lite test: Gravity and Orbits 1.2.0-rc.2 with PhET-iO"
@ariel-phet, @arouinfar, @kathy-phet, @KatieWoe, gravity-and-orbits/1.2.0-rc.2 is ready for RC-lite testing.  This is for a client, and is one of their top priority projects.  Document issues in https://github.com/phetsims/gravity-and-orbits/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

<details>
<summary><b>General RC Test</b></summary>

<h3>What to Test</h3>

- Cl

[2020-10-27 22:33] KatieWoe commented on #511
QA is done

[2020-10-28 00:14] jbphet opened #568 "Dev Test: Faraday's Law 1.4.0-dev.65"
@KatieWoe and @emily-phet - faradays-law/1.4.0-dev.65 is ready for dev testing. This test is being done in an effort to find major issues prior to starting the RC process.  Since the last major release of this simulation, sound, keyboard navigation, zoom & pan, and keyboard help have been added, and the ability to hide and show the voltmeter has been added (the voltmeter is now initially invisible

[2020-10-28 03:47] samreid commented on #511
Thanks, I'll look into the opened issues.  Closing.

[2020-10-28 03:50] samreid commented on #511
It's unclear how this issue should appear in the project board.  Should it be open or closed, and should it be moved to another column or removed from the project board?

[2020-10-28 14:43] KatieWoe commented on #511
I already moved it to "dev ready for next steps" which is where it should be now. The issue is up to you to close when you don't need it anymore. That aspect hasn't changed from before.

[2020-10-28 20:14] KatieWoe commented on #558
Can this be closed?

[2020-10-28 20:34] #558 closed

[2020-10-29 02:25] Denz1994 opened #569 "Dev Test: Desktop App"
The PhET Desktop App is available for testing. It is available [here](https://phet-dev.colorado.edu/weddell/dist/qa/):

- [MacOS](https://phet-dev.colorado.edu/weddell/dist/qa/phet-mac-app.dmg)
- [Windows](https://phet-dev.colorado.edu/weddell/dist/qa/phet-windows-app.exe)

The desktop app requires a Java JDK to be installed (found [here](https://www.oracle.com/java/technologies/javase-jdk15-downl

[2020-10-29 14:58] #511 closed

[2020-10-29 18:16] DevonQui opened #570 "Performance issues on Mac for Safari when moving the magnet"
**Test device**
MacBook Pro

**Operating System**
Catalina 10.15.1

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/QA/issues/568
When moving the magnet, the movement is very choppy and only uni-directional. This is in contrast to running this simulation in Chrome where the movement is very smooth and diagonal movement is allowed by combining the arrow keys. Com

[2020-10-29 20:08] brooklynlash opened #571 "Pixels appear to overlap and look choppy between coil and magnet"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Chrome

**Problem description**
Pixels look a bit choppy when moving a magnet on top of the coil

**Visuals**
![magnet](https://user-images.githubusercontent.com/72031637/97626713-e08ac100-19ef-11eb-84ba-9973ff8cfa8a.PNG)
![magnet2](https://user-images.githubusercontent.com/72031637/97626718-e1bbee00-19ef-11eb-9244-a4e33

[2020-10-29 20:46] #571 closed

[2020-10-30 00:09] pixelzoom opened #572 "Regression testing for enabledProperty"
In https://github.com/phetsims/sun/issues/585,  PhET UI components were converted to use the `EnabledNode` mixin, which provides a uniform API for `enabledProperty`.

The following UI components were changed, and should be regression tested:

sun
- [x] Checkbox
- [x] ComboBox
- [x] NumberSpinner
- [x] Slider

sun/buttons
- [x] push buttons
- [x] toggle buttons
- [x] momentary buttons
- [x] AquaRad

[2020-10-30 15:29] brooklynlash commented on #569
Just as a heads-up: looks as if the installer links are switched: if I press "Windows" the .dmg is downloaded and if I press "MacOS" the .exe file is downloaded

[2020-10-30 21:19] KatieWoe commented on #569
Fixed it.

[2020-10-31 03:19] ariel-phet commented on #572
Notes as I test (will take screen snips in the next comment of items that should be noted)

1. Time control node I think looks much better (and clearer contrast) with a "grayscale strategy" when disabled (Gas properties is a good example IMO). It looks like the step button got a bit smaller (when I compare to published gas properties). Gravity and Orbits might be the best comparison to adjust from

[2020-10-31 04:09] ariel-phet commented on #572
@pixelzoom I only see a few regressions worth note, in order of severity:

###TimeControlNode

Wave Interference (Published)
![WI-published](https://user-images.githubusercontent.com/4051174/97770835-7e6bb200-1afc-11eb-93a8-16ce411b09c1.PNG)

Wave Interference (Master)
![WI-mater](https://user-images.githubusercontent.com/4051174/97770840-8af00a80-1afc-11eb-9722-c561d892c407.PNG)

[2020-11-02 18:03] pixelzoom opened #573 "Dev test: Natural Selection 1.3.0-dev.1"
_**NOTE: Creation of this dev version is delayed until this issue is in the QA Active Tests list.**_

@amanda-phet, @ariel-phet, @kathy-phet, @KatieWoe, simulation-name/1.3.0-dev.1 is ready for dev testing.  The 1.3 release will be for both phet and phet-io brands, and will involve a full QA cycle.   Release plan is documented in https://github.com/phetsims/natural-selection/issues/251.

Document

[2020-11-02 18:57] pixelzoom commented on #572
Re the regressions that @ariel-phet reported in https://github.com/phetsims/QA/issues/572#issuecomment-719880346...  On Slack, we discussed how to address them.

TimeControlNode differences noted for WI and GAO appear to be related to changes to TimeControlNode or the sim, not sun buttons.  TimeControlNode looks the same in scenery-phet demo before and after sun-button changes.   So these regressi

[2020-11-02 18:57] #572 closed

[2020-11-02 21:29] jbphet opened #574 "RC Spot Check: States of Matter Basics 1.2.0-rc.3"
@KatieWoe, @ariel-phet, @arouinfar, and @kathy-phet - states-of-matter-basics/1.2.0-rc.3 is ready for spot-check testing.  This release, which includes both phet and phet-io brands and may be shared with a client, is built from the same code as the recent states-of-matter 1.2.0 release, and because that code was thoroughly tested, a spot check should be sufficient here.

Assigning to @ariel-phet f

[2020-11-02 21:47] ariel-phet commented on #565
Moving to current top priority as it would be good to finish off this test before some other high priority tests enter the pipeline

[2020-11-02 21:48] ariel-phet commented on #574
Marking as medium priority, but this should be a comparatively quick test to complete.

[2020-11-02 22:13] jbphet opened #575 "RC Spot Check: Atomic Interactions 1.2.0-rc.2"
@KatieWoe, @ariel-phet, and @arouinfar - atomic-interactions/1.2.0-rc.2 is ready for spot-check testing.  This release is phet brand only.  It is derived from the same code snapshot as the recent States of Matter 1.2 release, so a spot check should be sufficient.

For this testing, please only report issues that do not exist on the published version unless they are particularly egregious.

Assigni

[2020-11-02 23:12] KatieWoe commented on #568
QA is done

[2020-11-02 23:44] samreid commented on #567
I published 1.2.0-rc.2 and added the URLs.  I also moved it to "Active Tests".  Reassigning to @KatieWoe so she is aware this is ready, and also assigning @ariel-phet in case any changes to priority/label/assignment are necessary.

[2020-11-02 23:46] KatieWoe commented on #567
Should the accessibility section be removed? I don't think it has any of the listed features.

[2020-11-02 23:48] samreid commented on #567
Thanks, I removed the accessibility section.

[2020-11-03 04:35] ariel-phet commented on #569
Nothing to add, it will be good to get a solid shake down!

[2020-11-03 16:29] KatieWoe commented on #574
- [ ] Win 10 Chrome
- [ ] Win 10 Firefox
- [ ] Mac 10.15 Safari
- [ ] iPadOS 14
- [ ] ChromeOS

[2020-11-03 17:48] oliver-phet commented on #569
@Denz1994 Collision Lab (Flash) is giving me this dialog:
<img width="1132" alt="image" src="https://user-images.githubusercontent.com/5090275/98021734-e7378080-1dc1-11eb-8b03-357d16f08453.png">

I don't think this is an issue with the app, but I'm not entirely sure why it is notifying the user of a new version (we've only published a prototype). Note, I don't get a similar dialog for Density (whi

[2020-11-03 18:18] jbphet commented on #568
Thanks QA team.  I'll address the individual issues separately.  Closing.

[2020-11-03 18:18] #568 closed

[2020-11-03 22:23] KatieWoe commented on #567
Not sure if this is actually a bug, so let me know if you want an issue made @samreid. Some of the changes mentioned in https://github.com/phetsims/QA/issues/572 are here. Specifically the orientation of the clear button. I also noticed that the color when the buttons aren't available is different now. Is this intended?
![Screen Shot 2020-11-03 at 3 13 38 PM](https://user-images.githubusercontent.

[2020-11-03 23:13] samreid commented on #567
Can you clarify what you mean by the "orientation"?

@pixelzoom or @zepumph or @jonathanolson can you please comment on the status of grayscale for disabled buttons?

[2020-11-03 23:52] zepumph commented on #567
Tracked in https://github.com/phetsims/sun/issues/658, I'm sorta out of the conversation, and I don't know if this blocks GAO publication. @ariel-phet, what steps need to be taken to make sure that GAO can be published? Currently it uses the "opacity" strategy from master/recent work in sun. Do we need to wait on a greyscale implementation, or talk to designers?

[2020-11-04 00:22] pixelzoom commented on #567
@jonathanolson is working on filtering features (including grayscale) for scenery with high priority in https://github.com/phetsims/scenery/issues/707#issuecomment-717604465.  You'll have to ask @jonathanolson or @ariel-phet about when the scenery grayscale feature is expected to be added to sun buttons.

[2020-11-04 15:40] KatieWoe commented on #567
@samreid

It used to be centered under it's label. Now it is right justified.

[2020-11-04 16:19] arouinfar commented on #567
@KatieWoe the alignment of the Clear button was an intention change, see https://github.com/phetsims/gravity-and-orbits/issues/359#issuecomment-697054951.

[2020-11-04 18:11] samreid commented on #567
@jonathanolson indicated he is nearly ready to commit "grayscale" disabled support to master for https://github.com/phetsims/scenery/issues/707#issuecomment-717604465, should I invalidate this test and create a new one once that is ready?

[2020-11-04 18:41] samreid commented on #567
@arouinfar recommends to pause RC testing on this version until @ariel-phet or @kathy-phet comments on whether we want grayscale in the upcoming release.  Also, @jonathanolson can you comment on how modular/straightforward the changes are?  Will they invalidate testing and require significant re-testing?

[2020-11-04 18:46] samreid commented on #567
After discussion with @arouinfar, @ariel-phet recommended halting this RC testing until we have the grayscale enabled components.  I'll deprioritize and move it to another column in the project.

[2020-11-04 23:07] zepumph commented on #559
@KatieWoe, you can test the phet-io instance proxy versions by adding `&launchLocalVersion`, like https://phet-dev.colorado.edu/html/charges-and-fields/1.0.20-phetiorc.4/wrappers/instance-proxies/instance-proxies.html?sim=charges-and-fields&launchLocalVersion (new version since https://github.com/phetsims/perennial/issues/196, or https://phet-dev.colorado.edu/html/charges-and-fields/1.0.20-rc.3/wr

[2020-11-04 23:08] phet-steele commented on #574
RE phetsims/states-of-matter/issues/341, this sim wouldn't actually have Sigma or Epsilon controls, so there _shouldn't_ be anything about that in the client guide, right?

[2020-11-04 23:14] jonathanolson commented on #559
Testing for the phet-io-specific parts would be great, I can then deploy afterward.

[2020-11-05 00:47] zepumph commented on #561
Let me know when this is ready for review.

[2020-11-05 13:32] arouinfar commented on #574
Correct @phet-steele, so I suppose it should really be verifying that it <i>isn't</i> in the SOMB guide.

[2020-11-05 15:38] KatieWoe commented on #561
I think it's probably done? I think it can be closed unless there's more you wanted more?

[2020-11-05 17:11] zepumph commented on #561
All the changes are looking really good. I glanced through the matrix and saw many updates from the first half of https://github.com/phetsims/QA/issues/561#issuecomment-708052096. I didn't hear back on (4) or (5), but feel like we are at a place of diminishing returns. I'll let @KatieWoe decide what she thinks is important to document for QA.

[2020-11-05 17:11] #561 closed

[2020-11-05 17:55] samreid opened #576 "RC-Lite test: Gravity and Orbits 1.3.0-rc.2 with PhET-iO"
@ariel-phet, @arouinfar, @kathy-phet, @KatieWoe, gravity-and-orbits/1.3.0-rc.2 is ready for RC-lite testing.  This is for a client, and is one of their top priority projects.  Document issues in https://github.com/phetsims/gravity-and-orbits/issues and link to this issue.

Assigning to @ariel-phet for prioritization.

UPDATE: The prior issue https://github.com/phetsims/QA/issues/567 was top-priori

[2020-11-05 19:31] KatieWoe commented on #559
Tested first link. Making changes works fine and voltage shows up on Mac Safari. Wasn't able to launch. From Slack:

I think this means testing is done.

[2020-11-05 19:36] zepumph commented on #559
@jonathanolson please let me know when the phet-io version is published to production and I'll confirm launch still works.

[2020-11-06 15:39] jonathanolson commented on #559
phet-io version is published (it gave the link https://phet-io.colorado.edu/sims/charges-and-fields/1.0.20/, but no clue if that's accurate). Let me know how it looks?

[2020-11-06 18:42] KatieWoe commented on #559
@jonathanolson that link gives a 404 error

[2020-11-06 22:18] KatieWoe commented on #565
QA is done

[2020-11-07 00:01] zepumph commented on #559
It is chipper 1.0, so the link is https://phet-io.colorado.edu/sims/charges-and-fields/1.0.20-phetio/wrappers/index.

[2020-11-07 00:01] zepumph commented on #559
Looks like studio launch is working well there. Thanks @jonathanolson and @KatieWoe! I'm ready to close.

[2020-11-07 00:13] KatieWoe commented on #559
Looks good to me too!

[2020-11-09 16:39] ariel-phet commented on #575
@KatieWoe as this is a spot check it should be quick and would be good to finish off but it is not high priority

[2020-11-09 18:42] KatieWoe commented on #575
- [ ] Win 10 Chrome
- [ ] Win 10 Firefox
- [ ] Mac 10.15 Safari
- [ ] iPadOS 14
- [ ] ChromeOS