[2017-06-24 18:55] ariel-phet opened #1 "Add a README, LICENSE, and .gitignore."
@mattpen can you add a README, LICENSE, and .gitignore. to this repo?

[2017-06-25 03:06] mattpen commented on #1
4ef018d838f84432a30f0342518dff13a1ae36d9
d9828f76cbc2331d8aaa568c67456452b751c7d0
63b997d0e1e53b8f46338259895de3766700b053

These files were added in these commits.

[2017-06-25 03:06] #1 closed

[2017-06-26 16:55] phet-steele opened #2 "Maintenance release testing for RichText changes"
Maintenance release RCs for https://github.com/phetsims/scenery-phet/issues/312.

This was applied to all sims that contained RichText in their production version. It may not be used in some sims.

For all sims:

- Open the sim in Chrome, run through a ~30 second check to make sure the sim operates normally.

For sims that have RichText (usually subscript/superscript bits, I didn't do an exhaustiv

[2017-06-26 16:57] phet-steele opened #3 "Website QA: Team Page translatability"
@phet-steele - I've made the "Our Team" page translatable and it required a significant retooling of the entire Team Member process.  Could you please schedule a QA test for the Team Page?  The proposed changes are currently deployed to https://ox-dev.colorado.edu/en/about/team

The processes that were affected include:
- [x] Creating a new Team Member
- [x] Deleting a Team Member
- [x] Editing an

[2017-06-26 16:59] phet-steele opened #4 "RC Test: Resistance In A Wire 1.3.0-rc.1 and 1.3.0-phetiorc.1"
Phet link:
http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-rc.1/resistance-in-a-wire_en.html

PhET-iO link to wrappers index (password protected and hidden in the parent version dir):
http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-phetiorc.1/wrappers/index

These two versions were just created from master shas. The sim was newly instrumented for P

[2017-06-26 17:00] phet-steele commented on #4
We need to maintenance these shas into these releases

phetsims/scenery-phet@f210433
phetsims/scenery-phet@727d5bd

[2017-06-26 17:01] phet-steele opened #5 "RC Test: Forces and Motion Basics 2.3.0-rc.1"
( @jessegreenberg @arouinfar @oliver-phet )

2.3.0-rc.1 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-rc.1/forces-and-motion-basics_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-rc.1/forces-and-motion-basics_en-iframe.html)**

**[Test Matrix](https://docs.google.co

[2017-06-26 17:02] phet-steele opened #6 "RC Test: Forces and Motion Basics 2.3.0-phetiorc.1"
@samreid @jessegreenberg  so they know this is in the queue.

This RC is from the same shas as https://github.com/phetsims/tasks/issues/868, so it should be done after testing the phet features. Here is the link to index.

[Root Directory](http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-phetiorc.1/)

[Testing Matrix](https://docs.google.com/spreadsheets/d/1u6QGleGnexfD

[2017-06-26 17:32] mattpen opened #7 "Android App: Test app in low and no network conditions"
@phet-steele - The latest android beta version on the Play Store has fixes for exceptions raised during updates in poor network conditions.  Could you please schedule a test to verify that the app works in low and no connectivity situations?

[2017-06-26 21:06] pixelzoom opened #8 "RC test: Molarity 1.3.0-rc.1"
RC version:
http://www.colorado.edu/physics/phet/dev/html/molarity/1.3.0-rc.1/molarity_en.html

iFrame test:
http://www.colorado.edu/physics/phet/dev/html/molarity/1.3.0-rc.1/molarity_en-iframe.html

Text matrix:
https://docs.google.com/spreadsheets/d/1tb4vFUYbqCPPIDPOiV6BkamOZiZyWujxaF4al_2q4k4/edit#gid=288440115

In addition to the test matrix, please perform these specific tests on 1 or 2 platf

[2017-06-26 21:07] jbphet opened #9 "RC Test: Expression Exchange 1.1.0-rc.1"
(@amanda-phet, @ariel-phet) Expression Exchange 1.1.0-rc.1 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.1.0-rc.1/expression-exchange_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.1.0-rc.1/expression-exchange_en-iframe.html)**

**[Test Matrix](https://docs.google.com/spreadsheets/d/

[2017-06-26 21:49] pixelzoom opened #10 "RC test: Molarity 1.3.0-phetiorc.1"
1.3.0-phetiorc.1 uses the same shas as 1.3.0-rc.1, which is being tested in  https://github.com/phetsims/QA/issues/8.  Highly recommended to complete testing of 1.3.0-rc.1 first.

[Root Directory](http://www.colorado.edu/physics/phet/dev/html/molarity/1.3.0-phetiorc.1)

[Testing Matrix](https://docs.google.com/spreadsheets/d/1OG5et_umDGDNI4v9K1acaAs4fR_8c_3rMM6qn8D8hLY/edit#gid=2)

[2017-06-26 22:21] phet-steele commented on #4
Discussed with @zepumph, this sim will be given the same treatment as Molarity. The move to rc before dev was not ideal, so we will be closing this issue and starting with a 1.3.0-phetiodev.1. After that passes, we can move on to RCs for both brands. Assigning to @zepumph to deploy the needed version.

[2017-06-26 22:33] zepumph commented on #4
Taken care of in #88, closing because these rc's will be stale by the time new rc's come out. We will start with rc.2 then.

[2017-06-26 22:52] #4 closed

[2017-06-27 11:23] jonathanolson commented on #8
It looks like this RC is using SHAs that don't include all of the necessary patches for https://github.com/phetsims/scenery-phet/issues/312, specifically it references https://github.com/phetsims/scenery-phet/commit/db4bf9615e8a267169626cbc323827853b2b29de in the dependencies.json, which is missing the fix https://github.com/phetsims/scenery-phet/commit/727d5bd7ac8d93a1c6e8b78b27c9fb6a8a4e783d.

@

[2017-06-27 11:24] jonathanolson commented on #10
This RC does not have the complete RichText fixes, see https://github.com/phetsims/QA/issues/8#issuecomment-311329781 for details.

[2017-06-27 11:28] jonathanolson commented on #6
It looks like this RC is using SHAs that don't include all of the necessary patches for https://github.com/phetsims/scenery-phet/issues/312, specifically it references https://github.com/phetsims/scenery-phet/commit/12053009b222af945f6a2268868ada9ad8fa3ef8 in the dependencies.json, which is missing the fix https://github.com/phetsims/scenery-phet/commit/727d5bd7ac8d93a1c6e8b78b27c9fb6a8a4e783d.

@

[2017-06-27 11:29] jonathanolson commented on #5
This RC does not have all of the RichText fixes, see https://github.com/phetsims/QA/issues/6#issuecomment-311330798. Recommend applying the fix and releasing a new RC.

[2017-06-27 15:37] jessegreenberg commented on #6
It could, but cherry picking to a new branch might not be necessary.  Could we just update the scenery-phet SHA in forces-and-motion-basics ```2.3-phetio``` to https://github.com/phetsims/scenery-phet/commit/727d5bd7ac8d93a1c6e8b78b27c9fb6a8a4e783d?

@jonathanolson, Yes, I received the email Fri, Jun 23, 2017.

[2017-06-27 16:12] pixelzoom commented on #8
@phet-steele please stop all testing, we're starting over.

@ariel-phet fyi.

[2017-06-27 16:12] pixelzoom commented on #10
@phet-steele please stop all testing, we're starting over.

@ariel-phet fyi.

[2017-06-27 17:19] jessegreenberg commented on #5
@phet-steele please hold off on testing until the next RC is deployed to include above fixes.

[2017-06-27 17:20] jessegreenberg commented on #6
I am going to give this a shot, but might ask for some help if I run into trouble.  @phet-steele please halt testing for this issue due to the above comments.

[2017-06-27 17:22] jonathanolson commented on #6
Yes, could update the SHA directly to that, as it's the very next commit.

[2017-06-27 18:07] jessegreenberg opened #11 "RC Test: Forces and Motion Basics 2.3.0-rc.2"
( @jessegreenberg @arouinfar @oliver-phet )

2.3.0-rc.2 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-rc.2/forces-and-motion-basics_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-rc.2/forces-and-motion-basics_en-iframe.html)**

**[Test Matrix](https://docs.google.co

[2017-06-27 18:08] jessegreenberg commented on #5
https://github.com/phetsims/QA/issues/11 is a new RC with the updated scenery-phet SHA. Closing.

[2017-06-27 18:08] #5 closed

[2017-06-27 18:34] jessegreenberg opened #12 "RC Test: Forces and Motion Basics 2.3.0-phetiorc.2"
@samreid @jessegreenberg  so they know this is in the queue.

This issue is to replace #6 to catch a fix for RichText in scenery-phet.

This RC is from the same shas as https://github.com/phetsims/tasks/issues/868, so it should be done after testing the phet features. Here is the link to index.

[Root Directory](http://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-phetiorc.

[2017-06-27 18:35] jessegreenberg commented on #6
A new RC with the update to scenery-phet has been made in #12, closing this issue.

[2017-06-27 18:36] jessegreenberg commented on #6
Actually, @jonathanolson had a request for @phet-steele as part of this issue, leaving open.

[2017-06-27 21:07] pixelzoom commented on #8
@jonathanolson handled cherry-picking the fix to a new molarity-1.3 branch of scenery-phet, while I observed.  So I should now be able to proceed with creating 1.3.0-rc.1.

[2017-06-27 21:08] pixelzoom commented on #10
Similar to https://github.com/phetsims/QA/issues/8#issuecomment-311485691...

@jonathanolson handled cherry-picking the fix to a new molarity-1.3-phetio branch of scenery-phet, while I observed.  So I should now be able to proceed with creating 1.3.0-phetiorc.2.

Nothing I love better than having to do the same thing twice because of a brain-damaged process.

[2017-06-27 21:18] pixelzoom opened #13 "RC test: Molarity 1.3.0-rc.2"
RC version:
http://www.colorado.edu/physics/phet/dev/html/molarity/1.3.0-rc.2/molarity_en.html

iFrame test:
http://www.colorado.edu/physics/phet/dev/html/molarity/1.3.0-rc.2/molarity_en-iframe.html

Text matrix:
https://docs.google.com/spreadsheets/d/1tb4vFUYbqCPPIDPOiV6BkamOZiZyWujxaF4al_2q4k4/edit#gid=288440115

In addition to the test matrix, please perform these specific tests on 1 or 2 platf

[2017-06-27 21:18] pixelzoom commented on #8
Testing continues with 1.3.0-rc.2 in https://github.com/phetsims/QA/issues/13.

Closing.

[2017-06-27 21:18] #8 closed

[2017-06-27 21:33] pixelzoom opened #14 "RC test: Molarity 1.3.0-phetiorc.2"
1.3.0-phetiorc.2 uses the same shas as 1.3.0-rc.2, which is being tested in  phetsims/QA#13.  Highly recommended to complete testing of 1.3.0-rc.2 first.

Root Directory:
http://www.colorado.edu/physics/phet/dev/html/molarity/1.3.0-phetiorc.2

Wrappers (password required):
http://www.colorado.edu/physics/phet/dev/html/molarity/1.3.0-phetiorc.2/wrappers/index/

Testing Matrix:
https://docs.google.c

[2017-06-27 21:35] pixelzoom commented on #10
Testing continues with 1.3.0-phetiorc.2 in #14.

Closing.

[2017-06-27 21:35] #10 closed

[2017-06-28 15:51] phet-steele commented on #6
@jonathanolson I checked #11, #12, #13, and #14 and they have the fix.

[2017-06-28 15:51] #6 closed

[2017-06-28 17:18] phet-steele commented on #2
@jonathanolson the above list passes. Did you not see it fit to patch Chains?

[2017-06-29 16:53] jonathanolson commented on #2
@zepumph, patches were made on the release branch for plinko phet-io before I deployed, so I'll pass off deploying/testing responsibility to you (see https://github.com/phetsims/plinko-probability/commits/1.1-phetio).

Also it diverged from the plinko phet-brand branch, which I think was going to be avoided?

[2017-06-29 16:54] jonathanolson commented on #2
Unassigned, I've taken care of the other production deploys.

[2017-06-29 19:24] phet-steele commented on #9
@jbphet this is done. Ready for rc.2

[2017-06-30 17:52] zepumph commented on #2
Only one person is using this version of phet-io plinko, and I will need to do a maintenance release for this in a week or so, because of a metacog library change. I think it will be best to hold off and do one release then.

Could you explain a bit further? If I look at https://github.com/phetsims/plinko-probability/network I see that both branches have exactly the same content commits since they

[2017-06-30 18:08] jonathanolson commented on #2
Sorry, I was incorrect about divergence (missed the QA credits update on one branch)!

[2017-06-30 18:19] zepumph commented on #2
Sounds good. I will close this issue, and handle the new plinko probability release with https://github.com/phetsims/phet-io/issues/1121. Thanks for taking the lead @jonathanolson

[2017-06-30 18:19] #2 closed

[2017-06-30 19:26] jbphet opened #15 "RC Test: Expression Exchange 1.1.0-rc.2"
Expression Exchange 1.1.0-rc.2 is ready for spot checking (most of the testing was completed on rc.1, see https://github.com/phetsims/QA/issues/9).

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.1.0-rc.2/expression-exchange_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/expression-exchange/1.1.0-rc.2/expression-exchange_en-iframe.

[2017-06-30 19:29] phet-steele commented on #15
![greenlight](https://user-images.githubusercontent.com/5863899/27751137-1f4c01f0-5d98-11e7-96a2-e297c72e8093.png)

[2017-06-30 19:29] #9 closed

[2017-07-03 15:58] #15 closed

[2017-07-03 16:01] phet-steele commented on #13
@pixelzoom, finished with no issues.

[2017-07-03 16:02] pixelzoom commented on #13
Excellent, thank you @phet-steele and QA team.   I will hold off on publishing until 1.3.0-phetiorc.2 testing is completed (#14).

[2017-07-03 23:35] zepumph opened #16 "Dev test: Resistance In A Wire 1.3.0-dev.1"
This test is before moving to rcs for phet and phet-io brands. The sim was instrumented for PhET-iO a few months ago, and went through a good amount of refactoring during that. The only visually noticeable changes are the slider thumbs. Internal implementations have changes substantially since its 1.2 release to the phet website, including using HSlider now. @phet-steele please let me know if you

[2017-07-05 16:45] ariel-phet commented on #16
Should be a pretty quick dev test

[2017-07-06 18:13] jessegreenberg opened #17 "Spot Check: Drag interruption when sim is made inactive"
From https://github.com/phetsims/build-an-atom/issues/162, a fix was applied in https://github.com/phetsims/scenery/issues/619 which fixes buggy behavior when dragging is interrupted.

@phet-steele could you please verify that the issue with interrupting dragging with the "Pause" feature is fixed in https://github.com/phetsims/build-an-atom/issues/162?

In case they are needed, here are the steps

[2017-07-06 18:13] jessegreenberg commented on #17
@ariel-phet could you please prioritize the spot check?

[2017-07-06 18:57] zepumph opened #18 "Dev Test: Ohm's Law 1.4.0-phetiodev.1"
http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-phetiodev.1/wrappers/index/

This sim was just instrumented and went through a large code refactoring during the code review. The goal is to be able to use this with accessibility sonification wrapper work. It has not been phet brand dev tested, but you can access the plain sim in the above index as well. Assigning to @ariel-phet to prio

[2017-07-06 19:03] zepumph opened #19 "What should a phet-io dev test look like?"
This should be handled before #18, which is a phet-io dev test. We should solidify what is a minimal QA test that makes us feel good about delivering these versions to close partners. These dev tested sims are intented to be used during development while iterating quickly. Tagging @phet-steele and @ariel-phet to weigh in, but it will probably look similar to the matrix we have for normal phet-io,

[2017-07-06 19:03] zepumph commented on #18
We should probably hammer out https://github.com/phetsims/QA/issues/19 before this.

[2017-07-06 23:09] andrea-phet opened #20 "Dev Test: Projectile Motion 1.0.0-dev.5"
**Test Link**
http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-dev.5/projectile-motion_en.html

Known issues:
- Some of the artwork on the Lab screen, such as Arrow or Human, don't scale bigger when it gets into the 2-3 meter range for diameter
- Setting values such as a small mass and large diameter and drag coefficient that create an unphysical drag force causes the algorith

[2017-07-07 15:20] ariel-phet commented on #20
@phet-steele given that @andrea-phet would ideally like to publish this sim before the summer finishes it is time for some dev testing. You will note that I am suggesting dev testing on the iPad Air instead of the iPad 2 since there are some known performance issues.

Mainly in this test we want to uncover any sim bugs, but performance should be decent on the tested platforms.

[2017-07-07 15:24] ariel-phet commented on #19
@zepumph @phet-steele my guess is that what the test should look like depends a bit on the client

For instance, if the test is for sonification, do anything but the sonification wrappers need to be tested? Are the clients likely to break features not related to sonification? What platforms are they generally targeting?

If the test is for a data collection study, shouldn't it depend a bit on the

[2017-07-07 18:12] phet-steele commented on #14
Done, great job @pixelzoom.

[2017-07-07 18:15] pixelzoom commented on #14
Thank you @phet-steele and QA team. I'll proceed with publishing 1.3.0 for phet and phet-io brands.

[2017-07-07 18:23] #14 closed

[2017-07-07 18:23] #13 closed

[2017-07-07 20:50] ariel-phet commented on #17
@phet-steele lets make this top priority to move the legends of learning forward

[2017-07-07 21:00] phet-steele commented on #17
Already been handled in https://github.com/phetsims/scenery/issues/619#issuecomment-313760911

[2017-07-07 21:00] #17 closed

[2017-07-11 17:21] phet-steele commented on #16
@zepumph this is done.

[2017-07-11 17:23] phet-steele commented on #16
What you wrote was great! Brief explanation + a few platforms + link is great.

[2017-07-11 17:38] phet-steele commented on #19
@zepumph you make it sound like we would be delivering dev links without an RC test? We shouldn't. Only after dev + RC testing should things be delivered, which is anything but minimal testing.

Anyway, I believe this does come down to the purpose of the sim, which is what @ariel-phet was getting at. If the sim is NOT intended for general use, but has more targeted/lite instrumentation, this shoul

[2017-07-11 17:42] phet-steele commented on #19
Again this seems situational. It probably depends on how long ago the phet brand sim (after instrumentation) was tested. The longer ago, or if it has never been tested, would call for more phet brand testing. Is not the plain Simulation link in the wrapper index essentially the phet sim? We could use that when more phet brand testing is called for.

[2017-07-11 19:00] zepumph commented on #16
Thanks @phet-steele, I'll take care of those issues.

[2017-07-11 19:00] #16 closed

[2017-07-13 17:05] phet-steele commented on #20
@andrea-phet, since there have been many changes since dev.5, both in bugs and design, it might be nice to move on to another dev test. Either way, it would not be wise for QA to spend more time on this particular version. Assigning to @andrea-phet to close when she is ready. Feel free to use the list of issues referenced above as a "checklist" of things to address before the next release.

[2017-07-13 17:20] zepumph commented on #19
I think that's what we should try to do, but only for specific cases. We want another type of deployment process, when we are giving to 3rd parties that are in the development process with us. Not for general use, but just to expedite the turnaround and minimize qa. Basically the same reason we have dev testing for the phet brand.

@ariel-phet said

My understanding is that this test would not fal

[2017-07-13 17:40] phet-steele commented on #19
@zepumph it sounds like we will need different standards for dev tests based on if the sims will:

- Be delivered right after dev testing
- Go on to RC testing

@zepumph, can you outline the general scenarios for the two cases? For example, would a dev test in the first case always be targeted/for a study? Would a dev test in the second case ALWAYS be a general purpose release?

[2017-07-13 18:34] andrea-phet commented on #20
Will do. Good work, QA team. I'm going to close this issue and work with the issues referenced above individually.

[2017-07-13 18:34] #20 closed

[2017-07-13 19:33] phet-steele commented on #7
Current beta is working well in these conditions. Will check the soon to be new beta, too, then close.

[2017-07-13 20:31] zepumph commented on #19
@phet-steele,

Two types of dev tests definitely sounds reasonable. I would say that in general they would be about the same amount of work/time. I don't see the first test necessarily taking more time, but rather more focused.

I would say that the second (pre rc test) would look a lot like a phet brand dev test, but would hit all of the wrappers in the index. Maybe we should create a phet-io dev

[2017-07-14 22:53] zepumph commented on #18
Substantial work is being done in phetsims/ohms-law#62, and warrants a new dev version, also phetsims/ohms-law#64 (failed to launch) was fixed in master just after this dev release was made. I'm going to close this and make a new issue when things are ready. Thanks @phet-steele for taking a first stab at this sim.

[2017-07-14 22:53] #18 closed

[2017-07-17 16:50] pixelzoom opened #21 "Dev test: Molecule Polarity 1.0.0-dev.23"
This is the first dev test of Molecule Polarity.

Dev test:
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.23/molecule-polarity_en.html

iFrame test:
http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-dev.23/molecule-polarity_en-iframe.html

This sim was ported from Java, and consists of 3 screens.

The first 2 screens ("Two Atoms", "Three Atoms") have

[2017-07-17 16:55] pixelzoom commented on #21
Since this sim was ported in 2014, there is no "Terminology" section per se in the documentation. You might find it useful to skim through [model.md](https://github.com/phetsims/molecule-polarity/blob/master/doc/model.md), followed by [implementation-notes.md](https://github.com/phetsims/molecule-polarity/blob/master/doc/implementation-notes.md), before testing this sim.

[2017-07-17 17:00] jessegreenberg opened #22 "RC Test: Build an Atom 1.6.0-rc.1"
(@ariel-phet @samreid @phet-steele @kathy-phet), Build an Atom 1.6.0-rc.1 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.6.0-rc.1/build-an-atom_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.6.0-rc.1/build-an-atom_en-iframe.html)**

**[Test Matrix](https://docs.google.com/spreadsheets/d/1P2p3HlYj

[2017-07-17 20:46] ariel-phet commented on #22
Making this test the current top priority, since we would like to get BAM into the LoL platform

[2017-07-17 21:01] jessegreenberg commented on #22
phetsims/build-an-atom#149 needs to be included before the release, shutting down this test.  I will re-add priority labels when next task is ready.

[2017-07-17 21:01] #22 closed

[2017-07-18 17:54] jessegreenberg opened #23 "RC Test: Build an Atom 1.6.0-rc.2"
(@ariel-phet @samreid @phet-steele @kathy-phet), Build an Atom 1.6.0-rc.2 is ready for RC testing.  RC 1 was canceled because phetsims/build-an-atom#149 needed to be completed first.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.6.0-rc.2/build-an-atom_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.6.0-rc.2/build-an-atom

[2017-07-18 17:55] jessegreenberg commented on #23
In #22, @ariel-phet said

So adding the top priority label.

[2017-07-18 18:26] zepumph opened #24 "Dev Test: Ohms Law 1.4.0-phetiodev.2"
@emily-phet

This a test for the newly phet-io instrumented sim, as well as major refactoring and layout changes since the [1.4.0-phetiodev.1 dev test](https://github.com/phetsims/QA/issues/18).

http://www.colorado.edu/physics/phet/dev/html/ohms-law/1.4.0-phetiodev.2/wrappers/index/

Please check that these issues are solved:

- [x] Screen layout is scaled way too high phetsims/ohms-law#62
- [x]

[2017-07-18 18:28] zepumph commented on #24
From https://github.com/phetsims/QA/issues/19, I think this should be the type of dev test that can be delivered to Georgia Tech since there is a potential deadline for next week. I think that makes the most sense since there have been many changes to this sim, and QA may find a lot. I don't want to put extra stain by sending it to RC as well if we are really trying to get it out by next week.

[2017-07-18 22:03] jbphet commented on #23
Please pick up the update to the element names described in https://github.com/phetsims/shred/issues/22 for the final release on this branch.

[2017-07-19 19:59] mbarlow12 opened #25 "Ipad2 test for Molecules and Light"
I recently reverted some workaround code for removing the 'Return Molecule' button from the observation window (see https://github.com/phetsims/molecules-and-light/commit/672fb1d1bc555ed4f2ca043fcee9b3d85cf2ab9a and https://github.com/phetsims/molecules-and-light/commit/2feff3f3b38e6da0965b8b6d666353b23f58bc72). For optimization purposes, we were setting the opacity in an effort to better optimize

[2017-07-19 20:05] mbarlow12 commented on #25
@ariel-phet That's correct, though I'd be happy to give that a go in the office tomorrow.

[2017-07-19 20:09] ariel-phet commented on #25
@mbarlow12 when possible, always good to give a quick sanity check before handing to QA (unless urgent and no access to a device). Assigning back to you for the moment.

[2017-07-20 17:32] jessegreenberg commented on #23
@phet-steele please pause testing of this RC.  Since you found an issue with the dragging the particles, we may need a new build if the fix can't be easily patched in or is caused by a scenery change.

[2017-07-20 22:21] samreid opened #26 "Dev Test: circuit-construction-kit-dc/1.0.0-dev.87"
@kathy-phet would like a stable dev version of CCK for AAPT.  In https://github.com/phetsims/circuit-construction-kit-dc/issues/76#issuecomment-316846045 we published dev.87 with numerous fixes.  It would be good to know if there are any severe issues or "gotchas" (or new issues) for @kathy-phet to know about at the conference.  It will also be good to get some initial dev testing for this sim.  R

[2017-07-20 23:41] ariel-phet commented on #26
@phet-steele given the short timeline before AAPT this should be top priority.

Please look for "normal" use case issues first (ie don't worry about trying to find multitouch problems or such).

[2017-07-21 00:24] jessegreenberg opened #27 "RC Test: Build an Atom 1.6.0-rc.3"
(@ariel-phet @samreid @phet-steele @kathy-phet), Build an Atom 1.6.0-rc.2 is ready for RC testing.  RC 1 was canceled because phetsims/build-an-atom#149 needed to be completed first. RC 2 was canceled because of https://github.com/phetsims/build-an-atom/issues/169.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.6.0-rc.3/build-an-atom_en.html)**

**[Link to iFrame](h

[2017-07-21 00:24] jessegreenberg commented on #23
#27 is replacing this issue, closing.

[2017-07-21 00:24] #23 closed

[2017-07-21 00:27] jessegreenberg commented on #27
This version also includes https://github.com/phetsims/shred/issues/22.

[2017-07-21 01:39] phet-steele commented on #21
@pixelzoom, this testing is done.

[2017-07-21 01:47] pixelzoom commented on #21
Thank you @phet-steele and QA team - you found some good stuff.

All related issues have been addressed and are closed.  So closing this issue.

@emily-phet We're ready to proceed to RC testing as soon as https://github.com/phetsims/molecule-polarity/issues/73 is closed.

[2017-07-21 01:47] #21 closed

[2017-07-21 17:32] pixelzoom opened #28 "RC test: Molecule Polarity 1.0.0-rc.1"
@phet-steele, @emily-phet, @kathy-phet, @ariel-phet:

Molecule Polarity 1.0.0-rc.1 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-rc.1/molecule-polarity_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/molecule-polarity/1.0.0-rc.1/molecule-polarity_en-iframe.html)**

**[Test Matrix](https://docs.google.com

[2017-07-21 17:32] pixelzoom commented on #28
@ariel-phet please prioritize, keeping my vacation schedule in mind (see PhET calendar).

[2017-07-21 19:07] ariel-phet commented on #28
@phet-steele this test would be ideal to complete by EOB July 26. If it is completed with no major issues, we be able to publish it before @pixelzoom goes on vacation.

I know there are several high priority items in the queue (and the Android app will be coming up). If you don't see this test being completed by then, just let me know. It will be fine to finish off while @pixelzoom is on vacation

[2017-07-21 21:06] andrea-phet opened #29 "Dev Test: Projectile Motion 1.0.0-dev.8"
**Test Link**
http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-dev.8/projectile-motion_en.html

No known issues, but a few design pixel polishing is still expected.

Please test on the following:

- [x] iPad2
- [x] Windows Chrome
- [x] Mac Safari

[2017-07-21 21:17] arouinfar commented on #26
I've finished testing. @phet-steele it's all yours.

[2017-07-21 22:10] ariel-phet commented on #29
@phet-steele this sim can receive a "full" dev test. Ipad2 performance is now decent, but see what you think in situations where lots of options are active (all vectors and such).

@andrea-phet is going to be away until Aug 2nd, so marking as medium priority for now. We will ideally want the dev test complete by the time she returns.

[2017-07-21 22:15] phet-steele commented on #26
@ariel-phet, testing for the sake of AAPT is done. Would you like to change the priority of this test to resemble that of a "normal" timeline, or close and wait for the next dev? (testing is largely done, couple more issues left to make but I don't think I'll be spending time looking for new issues until later next week)

[2017-07-24 16:09] phet-steele commented on #24
@zepumph, aside from the issues above, this version appears to be working.

[2017-07-24 16:16] zepumph commented on #24
Thanks @phet-steele.

[2017-07-24 16:22] ariel-phet commented on #26
I think close and wait for the next dev (since we are already in the 90's dev versions)

[2017-07-24 16:22] #26 closed

[2017-07-24 21:20] phet-steele commented on #11
@jessegreenberg, done! But not done with #12

[2017-07-25 17:12] phet-steele commented on #28
![greenlight](https://user-images.githubusercontent.com/5863899/28584463-1942c136-712a-11e7-8c75-17fcba2787c8.png)

[2017-07-25 20:29] phet-steele commented on #27
@jessegreenberg, this is done with only one small little tiny itty bitty minuscule issue. Also, works fine in the LoL harness.

[2017-07-25 20:32] #24 closed

[2017-07-26 17:06] pixelzoom commented on #28
Thank you @phet-steele and QA team.

No issues found, proceeding with publication.

[2017-07-26 17:06] #28 closed

[2017-07-27 16:11] jessegreenberg commented on #27
Awesome, thank you @phet-steele.  Ill have you spot check phetsims/build-an-atom#170 once that is fixed and then I'll coordinate with @samreid to redeploy.

[2017-07-27 20:04] jessegreenberg opened #30 "Spot Check: Build an Atom 1.6.0-rc.4"
From #27, the remaining issue was phetsims/build-an-atom#170 involving an issue with the touch areas on arrow buttons for some challenges in the game.  @phet-steele can you please verify that it is fixed in

http://www.colorado.edu/physics/phet/dev/html/build-an-atom/1.6.0-rc.4/build-an-atom_en.html

Once verified, this sim can be redeployed and we can deploy as our first sim to Legends of Learnin

[2017-07-27 20:10] phet-steele commented on #30
Verified on Win 10 Chrome 60.0.3112.78.

[2017-07-27 20:10] #30 closed

[2017-07-29 00:50] zepumph commented on #19
I think that this issue has been discussed pretty well. @phet-steele how would be best to proceed. Do we want to formalize these two processes, something like a matrix or qa issue template, or should it be up to the phet-io developer to just speak to the needs of the sim testing in the issue?

[2017-07-31 21:01] samreid opened #31 "Dev Test: Circuit Construction Kit: DC 1.0.0-dev.129 (and virtual lab)"
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.129/circuit-construction-kit-dc_en.html
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc-virtual-lab/1.0.0-dev.8/circuit-construction-kit-dc-virtual-lab_en.html

These versions were prepared in https://github.com/phetsims/circuit-construction-kit-dc/issues/109.  They are based on the same c

[2017-07-31 21:25] ariel-phet commented on #25
@mbarlow12 were you able to do this test?

[2017-07-31 21:27] ariel-phet commented on #31
@phet-steele making this current top priority (along with android app testing)

[2017-07-31 22:13] samreid commented on #31
We have more changes on the way for https://github.com/phetsims/circuit-construction-kit-dc/issues/125 and https://github.com/phetsims/circuit-construction-kit-dc/issues/111

[2017-07-31 22:15] samreid commented on #31
I'll close this issue and work on the aforementioned issues.  When they are fixed, I'll open a new issue for QA testing.

[2017-07-31 22:15] #31 closed

[2017-08-01 17:17] phet-steele commented on #7
Beta 17 (I think?) is working great!

[2017-08-01 17:17] #7 closed

[2017-08-01 17:18] #11 closed

[2017-08-01 18:49] mbarlow12 commented on #25
Not yet—the question is about some notes on performance, and I currently don't know how to check that data.

[2017-08-01 18:57] ariel-phet commented on #25
@mbarlow12 Feel free to ask @phet-steele for guidance/help

[2017-08-01 22:14] phet-steele commented on #29
@ariel-phet @andrea-phet @arouinfar, this sim feels done with its dev test.

[2017-08-02 00:00] zepumph opened #32 "Dev Test: Resistance In A Wire 1.3.0-phetiodev.9"
@emily-phet

This a test for the newly phet-io instrumented sim, as well as major refactoring and layout changes. This dev test is in preparation for a dev release to be delivered to sonification collaborators to add accessibility to RIAW, so please focus on phet-io features.

This test is very similar to https://github.com/phetsims/QA/issues/24 in that this sim will be delivered to 3rd parties, b

[2017-08-02 17:05] ariel-phet commented on #32
@phet-steele this should be high priority given the proposed timeline (but App testing still takes precedence)

[2017-08-02 17:13] mbarlow12 commented on #25
Will do—I'll also start with JB and JO about how they found the issue in the first place. Thanks.

[2017-08-02 17:25] jessegreenberg commented on #25
The original issue was https://github.com/phetsims/molecules-and-light/issues/91.  We expect it to no longer be a problem because https://github.com/phetsims/scenery/issues/404 (performance issues when adding and removing drawables with gradients) has been closed.  The workaround was removed in the workaround was removed in https://github.com/phetsims/molecules-and-light/commit/2feff3f3b38e6da0965

[2017-08-02 20:07] samreid opened #33 "Dev Test: Circuit Construction Kit: DC 1.0.0-dev.135 (and virtual lab)"
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.135/circuit-construction-kit-dc_en.html
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc-virtual-lab/1.0.0-dev.9/circuit-construction-kit-dc-virtual-lab_en.html

These versions are based on the same code, but VL is supposed to have no 1st screen and no virtual ammeter.

We tested a bit prev

[2017-08-03 21:00] samreid commented on #33
@kathy-phet also requested to check this in the legends of learning harness.

[2017-08-07 15:55] #29 closed

[2017-08-07 17:10] phet-steele commented on #19
Maybe a hybrid or something? I don't think it is safe to just have a developer speak to the needs "correctly". Maybe a list of info to include (template?) is in order, something like:

---
**If this dev version is planned to go to rc, please include the following in a QA issue:**

*It is assumed, in this case, that all wrappers will be tested. At least one browser per device listed [here](https://

[2017-08-07 19:27] zepumph commented on #32
@phet-steele talked about this, and he didn't find anything but the maxWidth bug. Here is another link to parooze through. If all looks good. I'll give it out to accessibility folks.

[2017-08-07 20:17] phet-steele commented on #32
@zepumph, phetiodev.10 checks out, but I made a few commits to fix the QA credits that would be good to pick up.

[2017-08-07 21:51] zepumph commented on #19
1. I would say that it is more valuable to include a link to `/wrappers/index` than the root, but it's up to how you want it for your QA team.
2. No where is hitting the "plain simulation" part of these tests, but I assume that it is in both of them? I don't know if these templates are more to help the developer include everything necessary, or as a master list for the tester to use to make sure t

[2017-08-07 22:03] phet-steele commented on #19
You're right. I was thinking this issue was for rc testing when writing that line apparently! (rc tests need the root).

The intention of this template is to make it easier for developers to include info QA needs. I think it is better to have the dev explicitly state to test the plain sim in the second case (in case they don't want QA to test it). The first case includes plain testing in that ital

[2017-08-07 22:11] zepumph commented on #19
Sounds great. Thanks @phet-steele !

[2017-08-07 23:47] zepumph commented on #32
Alright I picked up these changes. Thanks for the help @phet-steele

http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-phetiodev.11/wrappers/index/

Closing

[2017-08-07 23:47] #32 closed

[2017-08-09 17:45] jonathanolson opened #34 "Dev test: Pendulum Lab 1.0.0-dev.14"
@ariel-phet and @arouinfar, Pendulum Lab 1.0.0-dev.14 is ready for general dev testing.

URL: http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-dev.14/pendulum-lab_en.html

There have been a lot of model/view changes (particularly with layout), so a full test would be great.

Also let me know if https://github.com/phetsims/pendulum-lab/issues/102 is still an issue.

Please test on t

[2017-08-11 01:30] andrea-phet opened #35 "Dev test: Projectile Motion 1.0.0-dev.9"
Test link:
http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-dev.9/projectile-motion_en.html

Known issues:
* https://github.com/phetsims/projectile-motion/issues/131
* https://github.com/phetsims/projectile-motion/issues/129

[2017-08-11 01:38] ariel-phet commented on #35
@phet-steele this sim should be higher priority than pendulum lab given that Andrea is only with us a bit more this summer.

[2017-08-12 22:03] samreid opened #36 "Dev Test: New Splash Screen"
From https://github.com/phetsims/joist/issues/408 https://github.com/phetsims/joist/issues/407 and https://github.com/phetsims/joist/issues/349 we have made the following changes to the splash screen:

1. It should be sized proportionally to the screen size
2. It should show a pulsing animation while downloading

I published an Energy Skate Park: Basics version here that has these changes.  It wil

[2017-08-12 22:29] samreid commented on #36
A reminder to test phetsims/joist#408 phetsims/joist#407 when this gets to the QA team.

[2017-08-14 15:27] ariel-phet commented on #36
@samreid all looks good to me

[2017-08-14 15:29] samreid commented on #36
Thanks @ariel-phet.  A reminder to the QA team during testing to test out phetsims/joist#408 phetsims/joist#407 in particular.

[2017-08-14 15:29] ariel-phet commented on #36
@samreid anything to add before @phet-steele takes over

[2017-08-14 15:29] samreid commented on #36
It's all set, let me know how it goes.

[2017-08-14 21:15] mbarlow12 commented on #25
@jessegreenberg and I tested this afternoon and found no issues. Closing.

[2017-08-14 21:15] #25 closed

[2017-08-15 00:44] samreid opened #37 "Dev Test: Charges and Fields [+PhET-iO]"
In late 2016, Charges and Fields PhET-iO went through an RC for a PhET-iO version, see https://github.com/phetsims/tasks/issues/736

5 issues were raised, 3 of which have been fixed and verified.  The remaining 2 issues are:

- [x] https://github.com/phetsims/phet-io/issues/915
- [x] https://github.com/phetsims/phet-io/issues/914

which are fixed and pending testing.

I noticed that the QA team ha

[2017-08-15 00:45] samreid commented on #37
One other point, I think we are trying to get into a pattern where we test the non-phet-io and the phet-io versions and publish them simultaneously.

[2017-08-15 00:48] zepumph commented on #37
To put it in terms of https://github.com/phetsims/QA/issues/19, this seems to be the type of phet-io dev test that will be moving on to an RC.

[2017-08-15 00:57] samreid commented on #37
From https://github.com/phetsims/QA/issues/19#issuecomment-320722872

*It is assumed, in this case, that all wrappers will be tested. At least one browser per device listed [here](https://docs.google.com/spreadsheets/d/1o5txil6dVHk1BfHA3fT5LIQc19JBSOg0v-BYBQe9A7A/edit#gid=2) will be tested.*

- Mention the appropriate designers: @arouinfar (sim) and @samreid + @zepumph (phet-io)
- Note the purpose

[2017-08-15 15:14] ariel-phet commented on #37
Medium priority until some of the current high priority items finish off (CCK, projectile motion, pendulum lab)

[2017-08-15 16:53] phet-steele commented on #36
@samreid looks good on our supported platforms. All linked issues have been taken care of as well.

[2017-08-15 18:04] samreid commented on #36
Thanks @phet-steele, I'll merge this to master and it will be ready for new deploys from master.

[2017-08-15 19:30] samreid commented on #36
I'll proceed in https://github.com/phetsims/joist/issues/391, many thanks @phet-steele

[2017-08-15 19:30] #36 closed

[2017-08-15 21:40] andrea-phet opened #38 "Dev Test: Projectile Motion 1.0.0-dev.13"
Test Link: http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-dev.12/projectile-motion_en.html

Changes since last dev version:
* Keypad ranges (https://github.com/phetsims/projectile-motion/issues/135)
* Fix objects with wrong rotation (https://github.com/phetsims/projectile-motion/issues/137)
* Add apex marker and prioritize it on the tracer tool
* Fix iPad2 bugginess (https:/

[2017-08-15 22:24] andrea-phet commented on #38
Updated test link: http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-dev.12/projectile-motion_en.html

With these updates:
* Fix algorithm for new trajectories (https://github.com/phetsims/projectile-motion/commit/2bc0291c9adf22aa8897598443cf27fd87474b0d)
* Make drag force label invisible if air resistance off (https://github.com/phetsims/projectile-motion/commit/8b37ab5a670f90

[2017-08-15 22:39] andrea-phet commented on #38
Updated test link: http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-dev.13/projectile-motion_en.html

Should bring loading splash back.

[2017-08-15 23:04] andrea-phet commented on #38
Done.

[2017-08-15 23:04] #38 closed

[2017-08-15 23:04] andrea-phet commented on #35
Done.

[2017-08-15 23:04] #35 closed

[2017-08-16 00:26] andrea-phet opened #39 "RC Test: Projectile Motion 1.0.0-rc.1"
@ariel-phet @arouinfar , Projectile Motion 1.0.0-rc.1 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-rc.1/projectile-motion_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-rc.1/projectile-motion_en-iframe.html)**

**[Test Matrix](https://docs.google.com/spreadsheets/d/1XlyFnVFVxdWv

[2017-08-16 17:05] ariel-phet commented on #39
@phet-steele this should be a high priority, right behind CCK testing (ideally in parallel with finishing off CCK testing)

[2017-08-16 17:37] jessegreenberg commented on #12
@phet-steele for phetsims/forces-and-motion-basics#235 we need new builds for 2.3 and 2.3-phetio from master so we need new RC's for both, sorry.  Closing this issue.

[2017-08-16 17:37] #12 closed

[2017-08-17 20:19] phet-steele commented on #33
@kathy-phet @samreid we can finish this dev.

[2017-08-21 03:45] samreid commented on #33
Thanks @phet-steele, we'll proceed on the code review and possibly updating the prototype.

[2017-08-21 03:45] #33 closed

[2017-08-21 19:20] samreid opened #40 "Dev Test: PhET-iO Layout changes"
In https://github.com/phetsims/phet-io/issues/749 @phet-steele discovered that full-page iframes did not lay out correctly.  I proposed a fix which was at odds with https://github.com/phetsims/phet-io/issues/507 but appears to be working in the latest version of chrome.  So the dev version published in https://github.com/phetsims/phet-io/issues/749#issuecomment-323787689 needs to be tested.

Reass

[2017-08-21 19:20] samreid commented on #40
The only things that need to be tested are the full-size iframes, such as the "recording" wrapper.  But it should be tested on all supported platforms.

[2017-08-21 19:28] phet-steele commented on #39
@pixelzoom @andrea-phet @ariel-phet @arouinfar Testing done, see above scenery-phet issue.

[2017-08-21 20:43] phet-steele commented on #34
@jonathanolson @arouinfar this sim performed pretty well!

[2017-08-21 21:34] samreid opened #41 "RC Test: Energy Skate Park: Basics for LOL"
In https://github.com/phetsims/energy-skate-park-basics/issues/375 @kathy-phet recommended publishing Energy Skate Park: Basics for Legends of Learning.  I tested that master in Mac Chrome works correctly with the "pause in 5 seconds" when dragging the skater, track or track vertices, and that pausing works correctly.  We will need to do a RC test on this sim to make sure nothing was disturbed and

[2017-08-21 22:32] andrea-phet commented on #39
Thanks @phet-steele , closing.

[2017-08-22 16:10] samreid commented on #37
I published a dev version here:
http://www.colorado.edu/physics/phet/dev/html/charges-and-fields/1.1.0-phetiodev.1/wrappers/index/

[2017-08-22 21:21] jessegreenberg opened #42 "RC test Forces and Motion: Basics 2.3.0-phetiorc.3"
@samreid @zepumph @kathy-phet @ariel-phet Forces and Motion: Basics 2.3.0-phetiorc.3 is ready for RC testing.

This RC has master SHA's so a full RC test is required (even though we are starting on rc.3).  This RC is to support adding Legends of Learning features to Forces and Motion: Basics. Since FAMB is a phetio sim, we need to deploy a phet-io version at the same time. Rather than deploy both

[2017-08-22 21:30] jessegreenberg commented on #42
Forgot to link in the issue, these issues should have been fixed from the previous RC, @phet-steele can you please verify?

- [ ] https://github.com/phetsims/forces-and-motion-basics/issues/231
- [ ] https://github.com/phetsims/forces-and-motion-basics/issues/230

[2017-08-23 01:50] pixelzoom commented on #39
Reopening.

@andrea-phet When a release candidate has not passed, we typically leave the RC test issue open until the next RC issue is created, so we can easily see which related issues need to be regressed.

We (you and I) should discuss how to proceed with the next RC.  Because of phetsims/scenery-phet#332, we could either (1) pull in master of everything and do a full test matrix, or (2) try to

[2017-08-23 16:09] phet-steele opened #43 "Getting Liam Started"
@ariel-phet @oliver-phet

- [x] GitHub email/account, join the organization
- [x] Share to google-group
- [x] Add to QA folder
- [x] Availability posted in the calendar
- [x] Go over the phases of sim development
- [x] Go over GitHub workflow
- [x] Explain the testing tricks-of-the-trade (sim locations, query params, dev tools, etc...)
- [x] Practice creating an issue
- [x] Introduce test-server
-

[2017-08-23 18:15] oliver-phet commented on #43
- [ ] Added to phetlist

[2017-08-23 18:26] phet-steele commented on #43
@oliver-phet that's in the above list!

[2017-08-23 18:27] oliver-phet commented on #43
Whoops!

[2017-08-23 21:07] pixelzoom commented on #39
@andrea-phet I believe that we're ready for the next RC (1.0.0-rc.2).

When you build 1.0.0-rc.2, you'll need to substitute the branch of scenery-phet that's mentioned in https://github.com/phetsims/scenery-phet/issues/332#issuecomment-324421158.  After the `grunt checkout-shas` step, go to scenery-phet and do `git checkout projectile-motion-1.0`.

The full steps for the build are:

[code]

When y

[2017-08-23 21:10] pixelzoom commented on #39
I just saw @andrea-phet's slack message asking me if I could publish 1.0.0-rc.2, so I'll take care of that.

[2017-08-23 21:36] pixelzoom opened #44 "RC Test: Projectile Motion 1.0.0-rc.2"
@phet-steele @andrea-phet @arouinfar Projectile Motion 1.0.0-rc.2 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-rc.2/projectile-motion_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.0-rc.2/projectile-motion_en-iframe.html)**

A full test matrix is not needed for this RC test. Spot

[2017-08-23 21:36] pixelzoom commented on #39
1.0.0-rc.2 has been created, see https://github.com/phetsims/QA/issues/44.  Closing.

[2017-08-23 21:36] #39 closed

[2017-08-23 22:01] phet-steele commented on #44
![greenlight](https://user-images.githubusercontent.com/5863899/29640442-3eb364a8-881c-11e7-9d34-e4159c05f460.png)

[2017-08-23 22:04] pixelzoom commented on #44
@andrea-phet please proceed with publishing 1.0.0, following steps in [sim_deployment.md](https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md).  After doing `grunt deploy-production`, notify @arouinfar so she can complete the steps necessary to make the sim visible on the PhET website.

[2017-08-23 22:30] andrea-phet commented on #44
Published!

https://phet.colorado.edu/sims/html/projectile-motion/latest/projectile-motion_en.html

[2017-08-23 22:30] #44 closed

[2017-08-24 21:49] samreid commented on #37
I published a new dev version as described in https://github.com/phetsims/charges-and-fields/issues/130#issuecomment-324766969

[2017-08-25 19:15] #34 closed

[2017-08-29 00:04] jonathanolson opened #45 "RC testing for Pendulum Lab 1.0.0-rc.2"
@ariel-phet, @arouinfar, @kathy-phet, Pendulum Lab 1.0.0-rc.2 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-rc.2/pendulum-lab_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-rc.2/pendulum-lab_en-iframe.html)**

**[Test Matrix](https://docs.google.com/spreadsheets/d/1RGAdl0nny_iapzsdlwvV2r4T

[2017-08-29 00:05] jonathanolson commented on #45
What are the instructions to create a testing matrix?

[2017-08-29 05:41] ariel-phet commented on #45
@phet-steele on hold briefly for some potential minor polishes

[2017-08-29 17:32] samreid commented on #42
@ariel-phet will you please iterate through the issues linked above and help identify which are essential to fix before publication, and which should be classified as "aesthetic/non-essential"?

[2017-08-29 20:05] samreid opened #46 "Test the published version of Projectile Motion in LOL harness"
@kathy-phet expressed an interest in putting Projectile Motion in the LOL platform.  It did not receive LOL testing in the last RC process.  But we should test the one on the PhET website in case it checks out.

Assigned to @ariel-phet for scheduling/prioritization/delegation/labeling.

[2017-08-29 20:05] kathy-phet opened #47 "Test Projectile Motion (1.0) for LOL"
Can you please test whether the published version of Projectile Motion works with the LOL harness? Thx.

[2017-08-29 20:09] kathy-phet commented on #47
Duplicate. Closing because I cannot figure out how to remove this.

[2017-08-29 20:09] #47 closed

[2017-08-29 22:09] jonathanolson commented on #45
1.0.0-rc.2 has the desired pixel-polishing updates.

[2017-08-29 22:15] ariel-phet commented on #45
@phet-steele current top testing priority

[2017-08-29 22:19] ariel-phet commented on #46
Marking as high, since this test should be quick

[2017-08-29 22:27] phet-steele commented on #45
@kathy-phet can you confirm you want to test this sim in the LoL harness?

[2017-08-29 22:34] kathy-phet commented on #45
yes please.

[2017-08-30 05:58] ariel-phet commented on #42
@samreid I made comments in issues I thought were non-essential currently

[2017-08-30 05:59] samreid commented on #42
Excellent, thanks!

[2017-08-30 21:28] ariel-phet commented on #19
@phet-steele sounds good, please go ahead and make the template.

When you have the markdown file, please put a link to it in this issue and resassign me to review it.

[2017-09-01 19:41] oliver-phet commented on #43
We're done. Closing!

[2017-09-01 19:42] lmulhall-phet commented on #43
Sounds good!

[2017-09-01 19:42] #43 closed

[2017-09-01 20:44] brroberts1231 commented on #46
Tested on OS X 10.10.5, Safari version 9.0.1 (10601.2.7.2).
Found no issues on the sim from the PhET website.

[2017-09-06 18:41] BryceAG commented on #46
I'm not sure how many systems or browsers should be tested, but I tested it on Windows 10, Chrome Version 60.0.3112.113 (Official Build) (64-bit).
No issues found.

[2017-09-06 20:53] lmulhall-phet commented on #46
**Test device:**

MacBook Air (13-inch, Early 2015)

**Operating System:**

macOS Sierra 10.12.6

**Browser/Issues:**

Chrome Version 60.0.3112.113

- No issues found.

Firefox 55.0.3

- I'm not sure if this is an issue, but if the "Time/Range/Height" finder is being dragged across the screen after the "Pause in 5 Seconds" button is clicked, it sometimes moves after the "Resume" button is clicked.

[2017-09-07 07:35] samreid commented on #46
@jonathanolson is that expected behavior based on the new implementation of input handler interruptions?  Can you speculate what is happening?

[2017-09-07 16:23] lmulhall-phet commented on #46
![sep-07-2017 10-22-22](https://user-images.githubusercontent.com/31285590/30173908-7a4dd1e2-93b6-11e7-97cf-8ae5982e793a.gif)

[2017-09-07 16:40] kathy-phet commented on #46
For submission of this sim to LOL, I am not concerned about this particular behavior as shown in the video. But @jonathanolson can comment on why it is doing this and whether there needs to be a fix in the main code.

[2017-09-07 19:39] samreid opened #48 "Dev Test: CCK DC 1.0.0-dev.160"
Now that the code review is complete, we would like to run another dev test for CCK DC.  I published http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.160/circuit-construction-kit-dc_en.html

Things to test in particular:
1. This version uses SVG, so we should check performance (particularly on slower devices and firefox) to see whether it is acceptable.
2. Numero

[2017-09-07 19:59] ariel-phet commented on #48
Should be top priority along with finishing #45

[2017-09-08 16:33] phet-steele commented on #45
Done! Thanks QA team!

[2017-09-08 16:37] phet-steele commented on #46
QA's work here is done. The sim works well aside from the issue above.

[2017-09-08 17:07] samreid commented on #46
Reassigned to @kathy-phet since she said she would assign a designer to send the metadata for completed LOL sims.

[2017-09-11 23:31] jonathanolson commented on #45
Thanks!

[2017-09-11 23:31] #45 closed

[2017-09-11 23:50] jonathanolson opened #49 "RC test for Pendulum Lab 1.0.0-rc.3"
@ariel-phet, @arouinfar, @kathy-phet, pendulum-lab 1.0.0-rc.3 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-rc.3/pendulum-lab_en.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.0-rc.3/pendulum-lab_en-iframe.html)**

**Issues to Verify**
(*all should be marked "status:fixed-pending-testing"*)
Ple

[2017-09-12 02:35] ariel-phet commented on #49
@phet-steele this test can be more of a "spot check" - not every platform needs to be tested. I will let you choose which ones to work on, but I would think check iPad Air, chromebook, a PC platform, and a Mac platform

[2017-09-12 15:49] samreid commented on #48
I noticed a lot of checked boxes above.  Is this issue complete?

[2017-09-12 18:19] lmulhall-phet commented on #49
phetsims/pendulum-lab#187 still seems to be an issue in Safari and Firefox on Mac. Doesn't seem to be an issue in Chrome on Mac.

[2017-09-12 18:38] jonathanolson commented on #49
Investigating.

[2017-09-12 21:25] lmulhall-phet commented on #49
@jonathanolson -- I just tested it again, and it appears to be fine in Safari and Firefox. I think I copy and pasted the link to rc.2. I hope you didn't spend to much time investigating. Sorry about that.

[2017-09-13 19:57] phet-steele commented on #49
![greenlight](https://user-images.githubusercontent.com/5863899/30397875-7ee9297a-988b-11e7-9640-bdb915599d72.png)

[2017-09-13 22:16] jonathanolson commented on #49
Thanks, 1.0.0 pushed to the website!

[2017-09-13 22:16] #49 closed

[2017-09-14 21:05] jessegreenberg commented on #42
@phet-steele just an update on this issue, changes for the above issues were small or aesthetic so we are going to try to patch fixes and do a spot check RC next (unless big things are found in the remainder of this test).

[2017-09-15 17:24] phet-steele commented on #41
@samreid @zepumph we are ready for a phet-io rc! (probably a new issue to track it?)

[2017-09-15 17:26] phet-steele commented on #48
@samreid we could do with a new dev version when you get the chance. It doesn't appear that https://github.com/phetsims/circuit-construction-kit-dc/issues/96 is fixed in master yet.

[2017-09-15 21:34] samreid commented on #41
Let me ask around if master is stable.

[2017-09-15 22:35] samreid commented on #41
I also asked: I’m supposed to publish an Energy Skate Park: Basics RC for PhET-iO and PhET brand.  Do we use 2 branches still?

[2017-09-15 22:36] samreid commented on #41
@jessegreenberg replied:

Master is stable as far as I know
And yes, my understanding is that we are still doing 2 branches for phet and phetio brands

[2017-09-15 22:46] EthanWJohnson commented on #40
All the frames are working and i'm not seeing any clipping whatsoever.

[2017-09-15 23:00] #48 closed

[2017-09-16 21:15] samreid commented on #41
In https://github.com/phetsims/energy-skate-park-basics/issues/379 I prepared the versions for testing.  Since the instructions are above, we can use this issue for testing (I think).

PhET-iO version deployed here:
http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.4.0-phetiorc.1/wrappers/index/

PhET version deployed here:
http://www.colorado.edu/physics/phet/dev/html/energ

[2017-09-16 21:44] samreid commented on #40
Excellent, thanks! Closing.

[2017-09-16 21:44] #40 closed

[2017-09-18 16:31] phet-steele commented on #41
@samreid we are going to test phet-io first and it would be good to have its own issue. I'll make it and move the priority label there and take off this one (to avoid confusion).

[2017-09-18 16:37] phet-steele opened #50 "RC Test: Energy Skate Park Basics 1.4.0-phetiorc.1"
See #41 for any details.

[Root Directory](http://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.4.0-phetiorc.1)

[Testing Matrix](https://docs.google.com/spreadsheets/d/1kaJd59mURbe9tPcHZsJPRXZH2yU9jm_AjsdPSmojTcc/edit#gid=1455522512)

If any new issues are found, please note them in https://github.com/phetsims/energy-skate-park-basics/issues and reference this issue.

[2017-09-18 16:38] phet-steele commented on #41
phet-io test is in #50. We should wait until that passes before proceeding with the phet version.

[2017-09-18 16:47] phet-steele commented on #46
This is also mentioned in phetsims/tasks/issues/890. I'm going to close this issue and reopen the linked one and assign to @kathy-phet. The tasks repo feels like a better place than the QA repo for something assigned to KP.

[2017-09-18 16:47] #46 closed

[2017-09-19 00:50] samreid commented on #48
https://github.com/phetsims/circuit-construction-kit-dc/issues/96 is fixed but I'm going to address https://github.com/phetsims/circuit-construction-kit-common/issues/404 before next dev version

[2017-09-19 01:08] samreid opened #51 "Dev Test: circuit-construction-kit-dc/1.0.0-dev.166"
In https://github.com/phetsims/QA/issues/48#issuecomment-329846175 @phet-steele said:

https://github.com/phetsims/circuit-construction-kit-dc/issues/96 is fixed and https://github.com/phetsims/circuit-construction-kit-common/issues/404 is fixed pending review.  I published a new dev version here:
SEE BELOW

Reassigned to @ariel-phet so he is aware of the status of CCK, and to set priority/schedul

[2017-09-19 15:31] samreid commented on #51
In https://github.com/phetsims/axon/issues/140 @jessegreenberg identified an issues that may lead to a memory leak.  So I'm going to post dev.162 here and update this issue to refer to it:
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.162/circuit-construction-kit-dc_en.html

[2017-09-19 16:13] ariel-phet commented on #51
@phet-steele definitely top priority

[2017-09-19 17:12] phet-steele commented on #37
@samreid @zepumph This got pretty decent coverage.  I hesitate to say this dev version is done testing though. It would probably be a better idea to get a new dev version before continuing than to keep going with this dev version. @samreid would you like to do another IOU until CCK is finished?

[2017-09-19 17:14] samreid commented on #37
Sounds good, let me know when you are ready for the next dev version.

[2017-09-19 18:42] phet-steele opened #52 "Test iOS 11"
@lmulhall-phet Please spot check with production HTML5 sims in mobile Safari:

- [x] phetsims/joist/issues/234 (just comment in that issue if it still occurs or not)
- [x] Below sims with sound have working sound
- [x] Molecule Shapes
- [x] Energy Skate Park Basics
- [x] Arithmetic
- [x] Acid Base Solutions
- [x] Charges and Fields
- [x] Color Vision
- [x] Projectile Motion
- [x] Plinko Probabilit

[2017-09-20 19:24] lmulhall-phet commented on #52
Everything looks good! Closing. :)

[2017-09-20 19:24] #52 closed

[2017-09-26 17:35] samreid commented on #51
@phet-steele can I get a status update on this issue?

[2017-09-26 21:16] phet-steele commented on #51
@samreid it's coming along pretty well. You do want https://github.com/phetsims/circuit-construction-kit-dc/issues/62 checked, right?

[2017-09-27 05:12] samreid commented on #51
Yes please.

[2017-10-05 16:39] phet-steele commented on #42
@jessegreenberg let's go ahead and get that spot check going.

[2017-10-05 16:43] jessegreenberg commented on #42
Sounds good!

[2017-10-09 21:02] phet-steele commented on #50
@samreid We can call this done, please review the above issues.

[2017-10-11 16:01] phet-steele commented on #51
@samreid, can QA get a dev.166 and a new issue (so we can stop testing on master)?

[2017-10-11 16:24] samreid commented on #51
http://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-dev.166/circuit-construction-kit-dc_en.html

[2017-10-12 21:31] jessegreenberg opened #53 "RC test Resistance in a Wire 1.3.0-phetiorc.3"
@emily-phet @terracoda @ariel-phet @phet-steele @zepumph, Resistance in a Wire 1.3.0-phetiorc.3 is ready for RC testing.

**[Root Directory](https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-phetiorc.3)**

**[Testing Matrix](https://docs.google.com/spreadsheets/d/1gTOrMepJm5-fnNVWc81_dC4AqB1GMsrQHzv8cIHRF60/edit#gid=2)**

**Keyboard Navigation**
<s>In addition to  PhET-iO,

[2017-10-13 15:16] emily-phet commented on #53
yay! one step closer to publication. :)

[2017-10-13 17:20] terracoda commented on #53
Yes, exciting! I hope the RC testing goes well.

[2017-10-13 18:01] zepumph commented on #53
@phet-steele can you confirm that https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-phetiorc.3/wrappers/index/ is working better and as expected. Please let me know if you need more from me.

[2017-10-13 18:04] phet-steele commented on #53
Beautiful @zepumph! I do not think I need you for anything else here. I'll update links to point to the new rc.

[2017-10-13 23:21] jessegreenberg commented on #42
rc.4 will need a cherry-pick for https://github.com/phetsims/special-ops/issues/82.

[2017-10-14 00:00] jessegreenberg opened #54 "RC Spot Check Forces and Motion Basics 2.3.0-phetiorc.4"
@kathy-phet @ariel-phet @zepumph @samreid Forces and Motion: Basics 2.3.0-phetiorc.4 is ready for RC testing. There were a few changes from the last RC, but all were small and "cosmetic" in nature for PhET-iO. A full RC is not necessary, but we should spot check the sim on a few platforms and verify that these issues were fixed.

This RC is to support adding Legends of Learning features for Forces

[2017-10-14 00:01] jessegreenberg commented on #42
A new RC was created in https://github.com/phetsims/QA/issues/54 this can be closed.

[2017-10-14 00:01] #42 closed

[2017-10-14 01:38] kathy-phet commented on #54
Sounds great Jesse!

Sent from my iPhone

On Oct 13, 2017, at 7:01 PM, Jesse Greenberg <notifications@github.com<mailto:notifications@github.com>> wrote:

@kathy-phet<https://github.com/kathy-phet> @ariel-phet<https://github.com/ariel-phet> @zepumph<https://github.com/zepumph> @samreid<https://github.com/samreid> Forces and Motion: Basics 2.3.0-phetiorc.4 is ready for RC testing. There were a few

[2017-10-15 07:40] samreid commented on #51
The non-deferred issues are fixed pending testing, back to you @phet-steele.

[2017-10-16 21:56] phet-steele commented on #54
@jessegreenberg spot check looks good.

Hopefully you meant "...go out [for RC Testing]..."! We still need LoL testing anyway.

[2017-10-17 16:38] phet-steele commented on #51
@samreid

RC please 🔋 ⚡️ 💡 🌞

[2017-10-17 18:39] samreid opened #55 "RC Test: Circuit Construction Kit: DC & Virtual Lab 1.0.0-rc.1"
In https://github.com/phetsims/QA/issues/51#issuecomment-337291139 @phet-steele indicated we are ready for CCK RC.  In https://github.com/phetsims/circuit-construction-kit-dc/issues/166 @mattpen and I published the following links:

https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-rc.1/circuit-construction-kit-dc_en.html
https://www.colorado.edu/physics/phet/dev/htm

[2017-10-17 18:42] arouinfar commented on #55
@samreid are we planning to send this sim to LoL? If so, I'll need to prepare descriptions and icons.

[2017-10-17 18:46] samreid commented on #55
It is a question for @kathy-phet.

[2017-10-17 23:50] zepumph commented on #53
As a reminder, final commits from https://github.com/phetsims/resistance-in-a-wire/issues/104 will need to be cherry picked into the rc branch.

[2017-10-18 16:59] jonathanolson opened #56 "Dev test: Capacitor Lab: Basics 1.5.0-dev.1"
@ariel-phet and @arouinfar, Capacitor Lab: Basics 1.5.0-dev.1 (the release will be 1.5.0 due to 1.4-phetio versions) is ready for general dev testing.

URL: https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.5.0-dev.1/capacitor-lab-basics_en.html

Please test the following platforms:

- [x] iPad2
- [x] Mac Safari
- [x] Windows Chrome
- [x] Chromebook

[2017-10-18 17:02] ariel-phet commented on #56
@phet-steele also high priority, but #53 comes first

[2017-10-18 17:23] jessegreenberg commented on #53
Thanks @phet-steele and QA team for diving into this.  In https://github.com/phetsims/resistance-in-a-wire/issues/107, we decided not to add keyboard navigation in phet-io releases. In the next RC keyboard navigation will be removed. I think that this RC can still proceed, without testing keyboard nav features in the wrappers, but @phet-steele let me know if you disagree.

[2017-10-18 19:55] jessegreenberg commented on #54
Indeed! RC for 2.3 coming up.

[2017-10-18 20:19] jessegreenberg opened #57 "RC Test Forces and Motion: Basics 2.3.0-rc.3"
@ariel-phet @phet-steele, Forces and Motion: Basics 2.3.0-rc.3 is ready for RC testing.

**[Link to sim](https://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-rc.3/forces-and-motion-basics_en.html)**

**[Link to iFrame](https://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-rc.3/forces-and-motion-basics_en-iframe.html)**

**[Test Matrix](https://docs.

[2017-10-18 20:22] phet-steele commented on #51
RC is out.

[2017-10-18 20:22] #51 closed

[2017-10-18 20:23] jessegreenberg commented on #54
Thanks for the testing @phet-steele!  Closing this issue,  RC for 2.3.0 created in #57

[2017-10-18 20:24] #54 closed

[2017-10-24 16:07] phet-steele commented on #53
@jessegreenberg @zepumph done! There is at least one cherry-pick noted above.

[2017-10-24 17:33] jessegreenberg commented on #53
Awesome thank you @phet-steele!

[2017-10-24 19:39] phet-steele commented on #55
Too late! We already tested on LoL. 😄

@samreid this RC is done, ready for the next.

[2017-10-24 20:15] kathy-phet commented on #55
Yes, this will go to lol.

Sent from my iPhone

On Oct 17, 2017, at 12:46 PM, Sam Reid <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #55<https://github.com/phetsims/QA/issues/55> to @kathy-phet<https://github.com/kathy-phet>.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/phetsims/QA/issues/55#e

[2017-10-25 22:26] jbphet opened #58 "Dev test: Gene Expression Essentials 1.0.0-dev.13"
Gene Expression Essentials v1.0.0-dev.13 is ready for development testing.  This sim is nearing the release phase, and has recently undergone a number of changes for improving performance, fixing bugs, and cleaning up the code.  The primary goal of this testing is to make sure that the simulation functions correctly on the most commonly used platforms.

URL: https://www.colorado.edu/physics/phet/d

[2017-10-25 23:06] ariel-phet commented on #58
@phet-steele this should be on par with #56

[2017-10-27 04:07] samreid opened #59 "RC Test: Circuit Construction Kit: DC & Virtual Lab 1.0.0-rc.3"
RC.1 completed in https://github.com/phetsims/QA/issues/55 and we identified the following issues to solve for RC.2 (linked below):

[2017-10-27 04:27] samreid commented on #59
RC.2 is published here:
https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-rc.2/circuit-construction-kit-dc_en.html

and here:
https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc-virtual-lab/1.0.0-rc.2/circuit-construction-kit-dc-virtual-lab_en.html

Each of the 4 fixes was minimal, so exhaustive testing should not be necessary.

Assigning @arie

[2017-10-27 16:14] samreid commented on #59
Please hold while I take a look at https://github.com/phetsims/circuit-construction-kit-common/issues/296

[2017-10-27 17:05] samreid commented on #59
I added voltmeter probe short circuiting into rc.3, let's continue there:
https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc-virtual-lab/1.0.0-rc.3/circuit-construction-kit-dc-virtual-lab_en.html
https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.0-rc.3/circuit-construction-kit-dc_en.html

[2017-10-27 19:54] samreid commented on #41
Please hold off on testing until I can patch in a joist fix.

[2017-10-27 22:02] phet-steele commented on #59
![greenlight](https://user-images.githubusercontent.com/5863899/32126859-27a866ea-bb30-11e7-85ff-f9381a43e921.png)

[2017-10-27 23:35] samreid commented on #59
Hooray, I created this issue to track publication: https://github.com/phetsims/circuit-construction-kit-dc/issues/169

[2017-10-27 23:35] #59 closed

[2017-10-29 16:53] samreid commented on #37
Next dev versions should include LOL features in joist.

[2017-10-29 17:59] samreid commented on #55
Thanks, we'll continue in https://github.com/phetsims/circuit-construction-kit-dc/issues/169

[2017-10-29 17:59] #55 closed

[2017-10-31 20:41] jbphet opened #60 "RC test Projectile Motion 1.0.2-rc.1"
A maintenance release has been done for projectile motion, and the changes are significant enough that a basic RC test should be performed.

link: https://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.2-rc.1/projectile-motion_en.html

Issues that should be verified:

- [x] https://github.com/phetsims/projectile-motion/issues/152
- [x]  https://github.com/phetsims/projectile-motion/i

[2017-10-31 20:41] jbphet commented on #60
Assigned to @ariel-phet to prioritize.

[2017-10-31 20:42] jbphet commented on #60
One other comment - since a change was made to the rendering of the trajectory, the sim should be retested on iPad 2 to verify that there wasn't a significant performance decrease.

[2017-11-01 18:47] phet-steele commented on #60
@jbphet this is good to go after addressing https://github.com/phetsims/projectile-motion/issues/152#issuecomment-341166508. Please comment when this is published, too.

[2017-11-01 19:14] phet-steele opened #61 "Getting Kerrie Started"
@ariel-phet @oliver-phet

- [x] GitHub email/account, join the organization
- [x] Share to google-group
- [x] Add to QA folder
- [x] Availability posted in the calendar
- [x] Go over the phases of sim development
- [x] Go over GitHub workflow
- [x] Explain the testing tricks-of-the-trade (sim locations, query params, dev tools, etc...)
- [x] Practice creating an issue
- [x] Introduce test-server
-

[2017-11-02 18:10] phet-steele commented on #56
@jonathanolson we are done. If you feel this is ready for rc (if https://github.com/phetsims/capacitor-lab-basics/issues/197 doesn't become too crazy), go for it.

[2017-11-02 20:23] phet-steele commented on #57
On hold until #58 is done and both GEE and CLB are published.

[2017-11-03 04:03] jonathanolson commented on #56
Thanks! Will set up another test when things are verified as looking good.

[2017-11-03 04:03] #56 closed

[2017-11-03 17:53] jonathanolson opened #62 "RC (maintenance) test for Pendulum Lab 1.0.1-rc.1"
@arouinfar and @ariel-phet , Pendulum Lab 1.0.1-rc.1 is ready for maintenance testing for https://github.com/phetsims/pendulum-lab/issues/197.

**[Link to sim](https://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.1-rc.1/pendulum-lab_en.html)**

**Issues to Verify**
Please test the following issues and check them off after addressing. If they are resolved, close them.  If not, they shoul

[2017-11-03 18:37] jonathanolson opened #63 "Dev test for Capacitor Lab: Basics 1.5.0-dev.2"
Test URL: https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.5.0-dev.2/capacitor-lab-basics_en.html

Please test:

- [x] Performance on platforms that would have the worst performance
- [x] https://github.com/phetsims/capacitor-lab-basics/issues/202
- [x] https://github.com/phetsims/capacitor-lab-basics/issues/201
- [x] https://github.com/phetsims/capacitor-lab-basics/issues/198

[2017-11-03 20:40] jonathanolson commented on #62
https://www.colorado.edu/physics/phet/dev/html/pendulum-lab/1.0.1-rc.2/pendulum-lab_en.html includes the fix for 180-degree angles (noted at bottom of https://github.com/phetsims/pendulum-lab/issues/195).

Let me know if it's OK to test in this issue, or if I should create another one. There should not be any other differences with this and rc.1.

[2017-11-03 20:52] phet-steele commented on #62
@jonathanolson the fix in https://github.com/phetsims/pendulum-lab/issues/195 is fine. You can publish this.

[2017-11-03 21:12] jonathanolson commented on #62
Publishing, closing.

[2017-11-03 21:12] #62 closed

[2017-11-07 17:24] phet-steele commented on #58
Testing done.

[2017-11-07 20:05] phet-steele commented on #63
This is done with dev.

[2017-11-07 20:41] jonathanolson commented on #63
Thanks!

[2017-11-07 20:41] #63 closed

[2017-11-08 00:18] jonathanolson opened #64 "RC test for Capacitor Lab: Basics 1.5.0-rc.1"
@arouinfar and @ariel-phet, Capacitor Lab: Basics 1.5.0-rc.1 is ready for RC testing.

**[Link to sim](https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.5.0-rc.1/capacitor-lab-basics_en.html)**

**[Link to iFrame](https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.5.0-rc.1/capacitor-lab-basics_en-iframe.html)**

**[Test Matrix](https://docs.google.com/spreads

[2017-11-08 00:19] jonathanolson commented on #64
@phet-steele, let me know if there is a way to create the text matrix (last time I tried it ended up with incorrect permissions, so I wasn't proactive about it here).

[2017-11-08 00:43] ariel-phet commented on #64
@phet-steele current top testing priority!

[2017-11-08 03:43] jessegreenberg opened #65 "RC test Resistance in a Wire 1.3.0-phetiorc.4"
@emily-phet @terracoda @ariel-phet @phet-steele @zepumph, Resistance in a Wire 1.3.0-phetiorc.4 is ready for RC testing.

[Root Directory](https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.3.0-phetiorc.4)

A full RC should not be required, please verify that the following issues found in the previous RC have been resolved:
- [x] Keyboard navigation not enabled in this version

[2017-11-08 03:50] jessegreenberg commented on #53
Next RC deployed, closing.

[2017-11-08 03:50] #53 closed

[2017-11-08 15:30] ariel-phet commented on #65
@phet-steele this test would be ideal to finish today, but at worst by EOB Thursday.

[2017-11-08 19:44] phet-steele commented on #65
@jessegreenberg @ariel-phet spot testing done.

[2017-11-08 19:44] #65 closed

[2017-11-09 21:21] jessegreenberg opened #66 "RC Test: Resistance in a Wire 1.4.0-rc.1"
@ariel-phet @emily-phet @phet-steele @zepumph, Resistance in a Wire 1.4.0-rc.1 is ready for RC testing. This sim has identical SHAs to 1.3-phetio, but keyboard navigation is enabled. This deviation seems enough to not synchronize minor version numbers. But still using same "stable" shas from that version.

This simulation includes keyboard navigation and those features need to be tested as part of

[2017-11-09 21:25] jessegreenberg commented on #66
Once testing is complete, we will need to update https://github.com/phetsims/resistance-in-a-wire/issues/114.

[2017-11-09 21:34] ariel-phet commented on #66
@phet-steele similar priority to #64

[2017-11-10 18:00] brroberts1231 commented on #66
@jessegreenberg the link to the testing matrix is giving me a 404 error

[2017-11-10 18:05] jessegreenberg commented on #66
Sorry @brroberts1231, I meant to remove that link entirely, I don't have permissions to create a matrix. If you have access could you please create a matrix for this test?  Otherwise, @phet-steele can you please create a matrix?

[2017-11-10 18:32] phet-steele commented on #66
After #64

[2017-11-10 19:12] Denz1994 opened #67 "Dev Test: Masses and Springs 1.0.0-dev.28"
@ariel-phet and @arouinfar Masses and Springs is ready for general dev testing. This is the first round of dev testing. There are no specific details regarding what should be tested. Please report any bugs to https://github.com/phetsims/masses-and-springs/issues.

URL to Test: https://www.colorado.edu/physics/phet/dev/html/masses-and-springs/1.0.0-dev.28/masses-and-springs_en.html

Please test on

[2017-11-10 19:38] ariel-phet commented on #67
@phet-steele this does not need the "fine-toothed comb" treatment yet. It would be good to identify if there are any glaring bugs or performance issues. A more thorough dev test will occur later, but it would be good to know any major issues early.

[2017-11-10 19:43] phet-steele commented on #64
Moving forward without testing iPad Air 2 iOS 10.3.3 (platform currently unavailable). @jonathanolson testing this rc is done.

[2017-11-10 19:52] phet-steele commented on #66
Matrix is linked above.

[2017-11-11 16:50] samreid commented on #50
Thanks for testing, I'll continue in https://github.com/phetsims/energy-skate-park-basics/issues/375

[2017-11-13 16:11] jonathanolson commented on #64
Thanks!

[2017-11-13 16:11] #64 closed

[2017-11-13 18:11] phet-steele commented on #67
@ariel-phet @Denz1994 should I be making issues about the energy graph in this version if those issues do not apply to the common energy graph still being worked on?

[2017-11-13 18:40] ariel-phet commented on #67
@phet-steele go ahead and make issues, @Denz1994 can decide if they are sim specific or should be made into larger common issues

[2017-11-14 01:20] jbphet opened #68 "RC Test: Gene Expression Essentials 1.0.0-rc.1"
Gene Expression Essentials v1.0.0 is ready for RC testing.  This is the first RC test for this simulation, so this should be thoroughly tested on all supported platforms

**[Link to sim](https://www.colorado.edu/physics/phet/dev/html/gene-expression-essentials/1.0.0-rc.1/gene-expression-essentials_en.html)**

**[Link to iFrame](https://www.colorado.edu/physics/phet/dev/html/gene-expression-essenti

[2017-11-14 01:28] jonathanolson opened #69 "RC test: Capacitor Lab Basics: 1.5.0-rc.2"
@arouinfar and @ariel-phet, Capacitor Lab: Basics 1.5.0-rc.2 is ready for RC testing (minor spot-checks for issues only).

**[Link to sim](https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.5.0-rc.2/capacitor-lab-basics_en.html)**

**[Link to iFrame](https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.5.0-rc.2/capacitor-lab-basics_en-iframe.html)**

**Issues to

[2017-11-14 04:30] ariel-phet commented on #69
On par with #66

[2017-11-14 04:32] ariel-phet commented on #68
Should be worked on after #66 and #69 are complete

@phet-steele, after #66 and #69 are complete please move this test to top priority and make the sole focus of the QA team until it is finished (unless RIAW or CL:B need another round)

[2017-11-14 16:51] phet-steele commented on #68
Still need to cover all our bases in rc!

[2017-11-14 17:11] phet-steele commented on #69
![greenlight](https://user-images.githubusercontent.com/5863899/32793777-1fb34d18-c924-11e7-9b0d-4899e365ba61.png)

[2017-11-14 18:33] mattpen opened #70 "QA test for registration/edit-profile/school-admin pages"
@phet-steele - Can you please do a QA test on the new pages for the registration changes.  These pages should be mobile friendly.

These are the pages that need to be tested.
https://ox-dev.colorado.edu/en/register (Need to be signed out)
https://ox-dev.colorado.edu/en/edit-profile (Need to be signed in)
https://ox-dev.colorado.edu/admin/schools (Need to be signed in as admin)
https://ox-dev.color

[2017-11-14 21:18] ariel-phet commented on #70
on par with #68

[2017-11-14 22:15] jbphet opened #71 "RC test: Projectile Motion 1.0.2-rc.2"
A second RC has been published for the 1.0.2 maintenance release.  For detailed info about this maintenance release, please see https://github.com/phetsims/projectile-motion/issues/160.

link: https://www.colorado.edu/physics/phet/dev/html/projectile-motion/1.0.2-rc.2/projectile-motion_en.html

The only intended change for this RC versus the previous one is to incorporate some additional fixes for

[2017-11-14 22:37] #60 closed

[2017-11-14 23:39] ariel-phet commented on #71
@phet-steele marking medium, but should be quick so would be good to get to this week

[2017-11-15 02:22] jonathanolson commented on #69
Thanks!

[2017-11-15 02:22] #69 closed

[2017-11-16 16:50] phet-steele commented on #66
@jessegreenberg everything is fine here other than https://github.com/phetsims/john-travoltage/issues/252 and https://github.com/phetsims/balloons-and-static-electricity/issues/320

[2017-11-16 17:00] phet-steele commented on #71
Good to go @jbphet.

[2017-11-16 18:15] jbphet commented on #71
Thanks team.  Closing.

[2017-11-16 18:15] #71 closed

[2017-11-17 00:48] jessegreenberg commented on #66
Thanks @phet-steele!  Commits have been cherry picked for phetsims/john-travoltage#252 and phetsims/molecules-and-light#160. Once I know the status of phetsims/balloons-and-static-electricity#320, we will  be ready to spot check phetsims/john-travoltage#252.

[2017-11-17 00:49] jessegreenberg commented on #66
Closing this issue, thanks!

[2017-11-17 00:49] #66 closed

[2017-11-18 02:28] jonathanolson opened #72 "Maintenance release testing for _all.html"
Main issue is https://github.com/phetsims/chipper/issues/563 (for Chipper 2.0)

For the actual maintenance release, can I first get quick checks to make sure the following sims were not broken (RCs for the maintenance release, ~10-30 seconds of testing each)

- [x] https://www.colorado.edu/physics/phet/dev/html/acid-base-solutions/1.2.11-rc.1/acid-base-solutions_en.html
- [x] https://www.colorado.

[2017-11-18 02:30] jonathanolson commented on #72
Ack, one second. Looks like build-server failed for least-squares-regression, molecule-shapes and molecule-shapes-basics (looks like a chronological failure). @mattpen can you look into that? I'll re-send deployments.

[2017-11-18 02:32] jonathanolson commented on #72
molecules-and-light also failed build-server, but didn't send a failure email (probably due to its chipper SHA)

[2017-11-18 02:47] jonathanolson commented on #72
Ok, the 4 RCs that failed above have been successfully re-deployed. Should be ready again for testing.

[2017-11-18 17:31] ariel-phet commented on #72
@phet-steele #70 needs to come first, but it would be good to mix in some of this spot checking early to see if there are any major issues

[2017-11-20 17:26] phet-steele commented on #70
@mattpen please remove the on-hold label when ox-dev is stable again so we know when we can continue testing.

[2017-11-27 18:21] jessegreenberg opened #73 "RC Spot Check Resistance and a Wire 1.4.0-rc.2"
Resistance in a Wire 1.4.0-rc.2 is ready for an RC spot check. Differences from the last RC include updates to the look of the keyboard help dialog, and a patch to fix https://github.com/phetsims/john-travoltage/issues/252.

**Link to sim:** https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.4.0-rc.2/resistance-in-a-wire_en.html

**Link to iframe:** https://www.colorado.edu/phys

[2017-11-28 19:29] phet-steele commented on #73
Testing done @jessegreenberg.

[2017-11-28 20:23] jessegreenberg commented on #73
Thank you @phet-steele! Will cherry-pick changes for https://github.com/phetsims/resistance-in-a-wire/issues/119 and https://github.com/phetsims/resistance-in-a-wire/issues/118.

[2017-11-28 20:23] #73 closed

[2017-11-28 20:58] jessegreenberg opened #74 "RC Spot Check Resistance in a Wire 1.4.0-rc.3"
Resistance in a Wire 1.4.0-rc.3 is ready for an RC spot check. This RC includes fixes for two issues, listed below.

Link to sim: https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.4.0-rc.3/resistance-in-a-wire_en.html

Link to iframe: https://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.4.0-rc.3/resistance-in-a-wire_en-iframe.html (in case it is required)

@phe

[2017-11-28 21:28] phet-steele commented on #74
Do it.

[2017-11-28 22:04] jessegreenberg commented on #74
Thanks @phet-steele! Done!

[2017-11-28 22:04] #74 closed

[2017-11-28 23:13] mattpen commented on #70
@phet-steele - ox-dev is now stable again, please resume testing.

[2017-11-29 19:07] CWilson4960 commented on #72
@jonathanolson Resistance in a Wire was recently published, new branch. The changes in this issue should be done on that new branch.

[2017-11-29 20:19] jonathanolson commented on #72
I'll double-check RIAW, but it should be new enough that it would include the feature.

[2017-11-29 22:21] phet-steele commented on #68
RC done, Mr. @jbphet

[2017-11-30 16:22] jbphet commented on #68
Okay, thanks to the team for their efforts.  I'll start tackling the issues.

[2017-11-30 16:23] #68 closed

[2017-11-30 17:59] phet-steele commented on #72
@jonathanolson this was a dooozy! Spot checking `?locale=` never failed when doing `en` and two other random locales. Spending 30 seconds on each RC revealed no new issues.

[2017-11-30 19:05] phet-steele commented on #57
Briefly top priority until GEE is back.

[2017-12-04 20:22] phet-steele commented on #57
Off to @jessegreenberg.

[2017-12-05 09:10] jonathanolson commented on #72
Thanks! Maintenance releases finished (deployed to production)

[2017-12-05 09:10] #72 closed

[2017-12-05 18:30] zepumph opened #75 "RC Test: Friction 1.4.0-rc.2 for Keyboard Navigation"
@emily-phet @terracoda @mbarlow12 @jessegreenberg  Friction 1.4.0-rc.2 is ready for RC testing. RC.1 was quickly updated to support accessibility features by default, without the need for a query flag.

**[Link to sim](https://www.colorado.edu/physics/phet/dev/html/friction/1.4.0-rc.2/friction_en.html)**

**[Link to iFrame](https://www.colorado.edu/physics/phet/dev/html/friction/1.4.0-rc.2/frictio

[2017-12-08 23:26] phet-steele commented on #75
@jessegreenberg @zepumph, testing is done here.

[2017-12-08 23:41] phet-steele opened #76 "Investigate GEE performance"
All hands on deck for this one, please. We need to figure out everything we can about https://github.com/phetsims/gene-expression-essentials/issues/111 as soon as possible.

See https://github.com/phetsims/gene-expression-essentials/issues/111#issuecomment-350051657 for a table of occurrences (could be inaccurate, that's the point of this investigation).

See https://github.com/phetsims/gene-expre

[2017-12-11 22:15] arnabp commented on #76
Nothing concrete, but I'll put some findings that'll hopefully help other people not waste time. All of this is in Mac 10.11: I've found no increase in the probability of this happening over time (no apparent memory leaks, I've left the sim running for 20 minutes without the issue appearing). When the problem comes up, sometimes restarting safari makes the issue go away and sometimes it doesn't. C

[2017-12-12 22:08] arnabp commented on #76
The best way I've come up with to reproduce this so far is just to try again and again one tab after another. The rate at which the bug comes up seems to be about 40% (I've tested 33 tabs and come up positive on 13 of them).

Note that this doesn't work by simply refreshing a single tab. In fact, if a tab does (or does not) have the bug, refreshing it will not change that status. Bugged tabs will

[2017-12-13 00:10] jessegreenberg opened #77 "RC Test Forces and Motion Basics 2.3.0-rc.5"
@ariel-phet @phet-steele, Forces and Motion: Basics 2.3.0-rc.5 is ready for a spot check for RC testing.

**[Link to sim](https://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-rc.5/forces-and-motion-basics_en.html)**

**[Link to iFrame](https://www.colorado.edu/physics/phet/dev/html/forces-and-motion-basics/2.3.0-rc.5/forces-and-motion-basics_en-iframe.html)**

**Issues to

[2017-12-13 00:12] jessegreenberg commented on #77
During deploy-rc I received an error notification from build-server, and want to  check in with @mattpen before reassigning for testing.

Sim and iframe test made it to spot but dependencies.json is missing, and maybe other things are missing too.

[2017-12-13 00:15] jessegreenberg commented on #77
I just want to verify that  this built version is OK, or determine if we need a new build for rc testing and then deploy-production.

@jonathanolson also recommended to check build server logs and said there were steps in sim_deployment.md.

[2017-12-13 05:54] jessegreenberg commented on #57
RC.4 was made in #77, closing this issue.

Thanks very much @phet-steele and team!

[2017-12-13 05:54] #57 closed

[2017-12-13 16:47] phet-steele commented on #76
The above procedure has never revealed an issue in later Safari versions (@arnabp was using Safari 9). I think we should just recommend to users to update. Thanks team.

[2017-12-13 16:47] #76 closed

[2017-12-13 17:14] phet-steele commented on #67
I think we are generally ready for next steps. iPad 2 performance was borderline imo.

[2017-12-13 17:14] #67 closed

[2017-12-13 17:14] #61 closed

[2017-12-13 17:59] jessegreenberg commented on #77
@mattpen fixed the problem and asked me to rebuild. Everything looks great. Ill update issue title and links since I updated rc version number for new build.

[2017-12-13 18:02] jessegreenberg commented on #77
Thanks for the help @mattpen, assigning to @phet-steele.

[2017-12-13 19:30] zepumph opened #78 "RC Test: Friction 1.4.0-rc.4 for Keyboard Navigation"
previous rc test: https://github.com/phetsims/QA/issues/75
@emily-phet @terracoda @jessegreenberg, Friction 1.4.0-rc.4 is ready for RC testing.

**[Link to sim](https://www.colorado.edu/physics/phet/dev/html/friction/1.4.0-rc.4/friction_en.html)**

**[Link to iFrame](https://www.colorado.edu/physics/phet/dev/html/friction/1.4.0-rc.4/friction_en-iframe.html)**

**[Testing Matrix](https://docs.googl

[2017-12-13 19:48] phet-steele commented on #75
Next rc up.

[2017-12-13 19:48] #75 closed

[2017-12-13 20:01] phet-steele commented on #77
@jessegreenberg you can go ahead and release this version. @arouinfar please notify LoL.

[2017-12-14 04:14] jbphet opened #79 "RC Test: Gene Expression Essentials 1.0.0-rc.2"
Gene Expression Essentials v1.0.0-rc.2 is ready for RC testing.  This is the 2nd RC for this sim, and resolves a handful of issues found during the first RC.  The changes to the code were fairly localized, so verification of these issue and a spot test on our major platforms may suffice, but I'll leave it to @ariel-phet and @phet-steele to determine the scope.

**[Link to sim](https://www.colorado

[2017-12-14 16:09] zepumph opened #80 "Installer Builder: Test all.html features"
The all.html appears to be working well in the installer, though I think that @phet-steele should get his hands on it before we call it good.

Notes about testing:
The changes I have made seem to be isolated to how we handle the html sims, but bugs could have crept in.
- [x] Please verify that the normal testing that takes place on a weekly basis is successful for the installers below.
- [x]  Work

[2017-12-14 19:04] ariel-phet commented on #79
on par with #78

[2017-12-14 19:55] lmulhall-phet opened #81 "can"

[2017-12-14 20:04] jessegreenberg commented on #81
can can can you do the can can

[2017-12-14 20:08] phet-steele commented on #81
https://youtu.be/BzZg9rMoXWA?t=43s

[2017-12-14 20:19] lmulhall-phet commented on #81
can

[2017-12-14 20:19] #81 closed

[2017-12-18 18:07] jessegreenberg commented on #78
@phet-steele pointed out that the  version id still read as 1.4.0-rc.2 in the about dialog, so we wanted to make sure that the correct build is being tested. Looking at the order of commits, it looks like the build steps might have been
- grunt
- bump package.json
- grunt deploy-rc

And build-server uses the dependencies.json in the build directory so it would miss the update to version. Seems saf

[2017-12-18 18:19] jessegreenberg commented on #78
Re-built and updated version id to rc.4. Thanks @phet-steele, back to you.

[2017-12-19 18:54] phet-steele commented on #78
Ready to be published

[2017-12-19 18:56] terracoda commented on #78
Woo! Hoo!

[2017-12-20 20:01] phet-steele commented on #79
Testing ready for next rc

[2017-12-20 20:01] #79 closed

[2017-12-20 20:29] jbphet opened #82 "RC Test: Gene Expression Essentials 1.0.0-rc.3"
Gene Expression Essentials v1.0.0-rc.3 is ready for RC testing. This is the 3rd RC for this sim, and resolves a couple minor issues found during the preceding RCs.  The changes to the code were quite localized, so verification of these issue and a spot test on our major platforms should suffice.

**[Link to sim](https://www.colorado.edu/physics/phet/dev/html/gene-expression-essentials/1.0.0-rc.3/g

[2017-12-20 21:58] phet-steele commented on #82
![greenlight](https://user-images.githubusercontent.com/5863899/34230678-164285b2-e596-11e7-9324-6abcf036803c.png)

[2017-12-20 23:38] jessegreenberg commented on #77
Thanks @phet-steele FAMB 2.3.0 deployed with LoL support:
https://phet.colorado.edu/sims/html/forces-and-motion-basics/latest/forces-and-motion-basics_en.html

Next need to deploy 2.3-phet-io.

[2017-12-20 23:56] jessegreenberg commented on #77
2.3-phetio has been deployed. Thanks for the testing @phet-steele and team, great to have this done :)

[2017-12-20 23:56] #77 closed

[2017-12-21 00:45] jessegreenberg commented on #78
Sim deployed, thank you @phet-steele and team!

https://phet.colorado.edu/sims/html/friction/latest/friction_en.html

[2017-12-21 00:45] #78 closed

[2017-12-28 17:33] jbphet commented on #82
Thanks! Closing.

[2017-12-28 17:33] #82 closed

[2018-01-10 18:33] jessegreenberg opened #83 "Dev test: Gravity Force Lab: Basics 1.0.0-dev.13"
@ariel-phet @emily-phet @samreid @mbarlow12 Gravity Force Lab: Basics is ready for an initial dev test. Test is motivated by https://github.com/phetsims/gravity-force-lab-basics/issues/22, but this sim is ready for a dev test anyway.

This sim now includes phet-io instrumentation and keyboard navigation. Keyboard navigation is not meant to be tested with phet-io yet.

**Link to sim (with keyboard

[2018-01-11 18:24] phet-steele commented on #83
Updated to dev.13 to reflect fixes in https://github.com/phetsims/phet-io-wrappers/issues/44

[2018-01-15 23:29] jessegreenberg opened #84 "RC Test: Molecules and Light 1.4.0-rc.1"
@emily-phet @ariel-phet @phet-steele, Molecules and Light 1.4.0-rc.1 is ready for RC testing. This version of the sim includes keyboard navigation. Instructions for how to interact with each sim component with a keyboard can be found in the "Keyboard Help Dialog".

**[Link to sim](https://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.4.0-rc.1/molecules-and-light_en.html)**

**[Link

[2018-01-16 21:14] phet-steele commented on #80
@zepumph going to close this in favor of the next iteration.

[2018-01-16 21:14] #80 closed

[2018-01-17 02:06] samreid opened #85 "Dev Test: Capacitor Lab: Basics phet/phet-io"
Published here:
https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.6.0-dev.3/phet/capacitor-lab-basics_en_phet.html
https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.6.0-dev.3/phet-io/wrappers/index/

The development was done in https://github.com/phetsims/capacitor-lab-basics/issues/218 in preparation for an upcoming study by Stanford and also Visualizing En

[2018-01-17 03:40] ariel-phet commented on #85
making co-top-priority with #83

[2018-01-19 17:52] lmulhall-phet commented on #85
Looked at events colorized and JSON wrappers. Nothing to report. Also performed string tests. Nothing to report. Pointer areas look good. No bugs to report.

[2018-01-21 23:43] samreid commented on #85
@phet-steele anything else to do here?

[2018-01-22 16:55] samreid commented on #50
Pinging @ariel-phet as a reminder to read through the open issues from Sep 19 above and see which need further testing or work before the next Dev test.

[2018-01-22 20:30] phet-steele commented on #83
@jessegreenberg @mbarlow12 testing is done. New dev version please!

[2018-01-23 18:24] samreid commented on #85
I don't think we'll have the PhET-iO redesign before RC, but we probably need https://github.com/phetsims/capacitor-lab-basics/issues/223 in the next version.  Closing and continuing in that issue.

[2018-01-23 18:24] #85 closed

[2018-01-23 21:10] phet-steele commented on #85
If possible, it would be great if these two issues were also addressed:

[2018-01-24 17:23] #83 closed

[2018-01-24 20:12] mattpen commented on #70
@phet-steele - Is QA complete for this task?  There are currently no open issues.

[2018-01-24 20:57] phet-steele commented on #70
You bet!

[2018-01-24 20:57] #70 closed

[2018-01-26 14:49] samreid opened #86 ""RC" Testing for Capacitor Lab Basics 1.6.1"
There is an upcoming large-scale data-driven study for Capacitor Lab Basics, details are in
https://github.com/phetsims/phet-io-wrappers/issues/49
and
https://github.com/phetsims/capacitor-lab-basics/issues/218

Dev testing already completed in #85

Since then, @jonathanolson reworked the model to include the identity of things in contact with the probes in https://github.com/phetsims/capacitor-la

[2018-01-26 16:30] ariel-phet commented on #86
Lots hinging on this test....making top priority

[2018-01-26 17:39] jonathanolson commented on #86
I published 1.6.2, which has the fix for the "Bar Graph" => "Bar Graphs" for the 1st screen (see https://github.com/phetsims/capacitor-lab-basics/issues/225).

[2018-01-26 17:40] samreid commented on #86
This doesn't invalidate any tests already run, but new tests should be on 1.6.2.  I'll post URLs in a new private comment.

[2018-01-26 22:09] lmulhall-phet commented on #84
Is it normal for the molecule strings to be unchanged under stringTest=xss?

![screen shot 2018-01-26 at 3 07 38 pm](https://user-images.githubusercontent.com/31285590/35462773-b544b276-02aa-11e8-97b9-59d494b551c6.png)

[2018-01-26 22:40] lmulhall-phet commented on #84
Other than the above comment, looks good.

[2018-01-29 16:13] phet-steele commented on #84
@lmulhall-phet yes this is normal. Those string are written in RichText, which does not change with `?stringTest=xss`

[2018-01-29 19:00] jonathanolson commented on #86
Published 1.6.4 with fixes for battery voltage snapping (phetsims/capacitor-lab-basics#227) and current indicator arrows fixes (phetsims/capacitor-lab-basics#228). @samreid I updated the versions in the links, let me know if that is sufficient or if there is anything else in the links that needs to change.

URLs are at:
https://github.com/phetsims/phet-io-wrappers/issues/49#issuecomment-361349280

[2018-01-29 23:24] mbarlow12 opened #87 "Dev test: Coulomb's Law 1.0.0-dev.13"
@ariel-phet @emily-phet @jessegreenberg @arouinfar Coulomb's Law is ready for its initial dev testing. There is still some pixel polishing/scaling to be done (see https://github.com/phetsims/coulombs-law/issues/39), but that will not affect the functionality of the sim.

**Link to sim (with keyboard nav)**:  https://www.colorado.edu/physics/phet/dev/html/coulombs-law/1.0.0-dev.13/phet/coulombs-law

[2018-01-29 23:49] ariel-phet commented on #87
Next up after #84 is complete

[2018-01-30 21:34] jonathanolson commented on #86
Pushed 1.6.5 with a regression fix for the current indicator arrow. URLs are at: https://github.com/phetsims/phet-io-wrappers/issues/49#issuecomment-361741640

I'm looking into adjusting permissions to make it like 1.6.4.

[2018-01-30 21:54] mbarlow12 opened #88 "Dev test: Gravity Force Lab: Basics 1.0.0-dev.18"
@ariel-phet @jessegreenberg @samreid @emily-phet After the latest updates to https://github.com/phetsims/gravity-force-lab-basics/issues/22 and https://github.com/phetsims/QA/issues/83, we're ready for a second round of dev testing.

@phet-steele below are links to the issues raised by the first round to verify that they're fixed:

- [x]  https://github.com/phetsims/gravity-force-lab-basics/issues

[2018-01-30 23:08] jonathanolson commented on #86
Adjusted permissions, 1.6.5 wrappers should be public.

[2018-01-31 00:18] mbarlow12 commented on #88
Forgot to actually deploy! Thanks @jessegreenberg for pointing that out.

Keyboard Navigation: https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.18/phet/gravity-force-lab-basics_all_phet.html?accessibility

[2018-01-31 16:42] phet-steele commented on #86
Links were delivered this morning, nothing else for QA to do here. @samreid @jonathanolson I believe we wanted to move forward with phet brand?

[2018-01-31 16:52] phet-steele commented on #84
El fin.

[2018-02-01 16:43] mbarlow12 commented on #88
Found another issue to add to dev testing:

[ ] https://github.com/phetsims/gravity-force-lab-basics/issues/41

[2018-02-01 18:11] jonathanolson commented on #86
So, we should look into making a phet-branded RC (1.6.6-rc.1?) to look for a 1.6.6 phet-brand production deployment?

[2018-02-01 20:07] jessegreenberg commented on #84
Thank you @phet-steele and team! https://github.com/phetsims/molecules-and-light/issues/175 was the only issue and it has been resolved. Closing we will have a spot check RC out soon.

[2018-02-01 20:07] #84 closed

[2018-02-02 00:23] samreid commented on #86
@jonathanolson that sounds correct to me.

[2018-02-02 17:57] jonathanolson commented on #86
@phet-steele, https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.6.6-rc.1/phet/capacitor-lab-basics_en_phet.html is ready for testing. Let me know if you want a fresh issue/etc.

[2018-02-06 20:25] phet-steele commented on #86
Yes please, for @ariel-phet's sake.

[2018-02-06 23:17] phet-steele commented on #87
Dev done.

[2018-02-07 00:30] jessegreenberg opened #89 "RC Spot Check: Molecules and Light 1.4.0-rc.2"
After #84, Molecules and Light 1.4.0-rc.2 is ready for a spot check.

[Link to sim](https://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.4.0-rc.2/molecules-and-light_en.html)

[Link to iFrame](https://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.4.0-rc.2/molecules-and-light_en-iframe.html)

**Issues to Verify**
Please test the following issues and check them off aft

[2018-02-07 18:20] jessegreenberg commented on #89
As mentioned in https://github.com/phetsims/molecules-and-light/issues/175, @phet-steele noticed that performance in Edge still tanks when hovering over other buttons in the UI. I tried rendering the whole sim with SVG and performance really improves dramatically. I don't see any strange rendering artifacts that have been reported in other sims. I am going to prepare a new RC with this Edge specif

[2018-02-07 18:20] #89 closed

[2018-02-07 18:25] jessegreenberg commented on #89
We also want to look into https://github.com/phetsims/perennial/issues/79 before the next Rc

[2018-02-07 19:09] jessegreenberg opened #90 "RC Spot Check: Molecules and Light 1.4.0-rc.3"
After #84 and #89, Molecules and Light 1.4.0-rc.3 is ready for a spot check. @mattpen and @jonathanolson helped look into https://github.com/phetsims/perennial/issues/79, and the correct images are now being generated.

[Link to sim](https://www.colorado.edu/physics/phet/dev/html/molecules-and-light/1.4.0-rc.3/molecules-and-light_en.html)

[Link to iFrame](https://www.colorado.edu/physics/phet/dev

[2018-02-07 19:58] phet-steele commented on #90
Good to go.

[2018-02-07 21:03] phet-steele commented on #88
Dev testing for these brands are done. Mostly good except for the one issue above.

[2018-02-07 22:40] mattpen opened #91 "confirm latest changes for website profile pages"
@phet-steele - Can QA please confirm that the most recent changes for the profile pages haven't introduced any new bugs?

The issues are:
- [x] phetsims/website-meteor#48
- [x] phetsims/website-meteor#49
- [x] phetsims/website-meteor#50
- [x] phetsims/website#669

The components affected are the admin page tables for schools/orgs, the Add Your School/Org dialog, the School/Org autosuggest input, a

[2018-02-08 21:29] phet-steele commented on #91
@mattpen good to go.

[2018-02-08 21:29] #91 closed

[2018-02-09 21:25] jessegreenberg opened #92 "Dev test: Resistance in a Wire 1.5.0-dev.1"
@emily-phet @terracoda Accessible Resistance in a Wire is ready for a dev test. This version includes keyboard navigation and auditory description. This task is mostly to test screen reader behavior, but please verify that the sim works correctly in general.

Before beginning, familiarize yourself with how a screen reader works. Here is a page with information about PhET's supported screen readers

[2018-02-09 21:52] terracoda commented on #92
@jessegreenberg, sounds awesome in Voice Over and Safari (Mac 10.13.2, Safari 11.02)

It all works great for me.
It is also easy to jump back and forth between PDOM and alerts to compare the state of the equation with the alerts.

The only description that I was  not expecting was this one where there are three explicit "much much larger than"'s. All three sliders are different,  and R is so huge

[2018-02-09 21:54] terracoda commented on #92
Also, I get the added "a lot" at the appropriate times, I think.

[2018-02-09 22:41] jessegreenberg commented on #92
Thanks @terracoda! Sorry I forgot to mention, we usually track progress in qa repository issues but create new bug reports in the sim repo. Ill create an issue in resistance-in-a-wire for the above bug and if you notice anything else please create an issue there.

[2018-02-09 23:04] jessegreenberg commented on #90
Thanks @phet-steele and team. Sim has been redeployed.

[2018-02-09 23:04] #90 closed

[2018-02-12 21:06] jbphet opened #93 "Test installers produced by updated installer builder"
The installer builder has been updated to use the _all.html files (see https://github.com/phetsims/installer-builder/issues/54).  The builds are currently succeeding, so it would be good for them to get some testing before starting to deploy these to the production sever.  The installers that should be tested are currently available at https://ox-dev.colorado.edu/en/offline-access.

[2018-02-13 22:42] #87 closed

[2018-02-13 22:42] #88 closed

[2018-02-13 23:11] phet-steele opened #94 "RC Test: Capacitor Lab: Basics 1.6.6-rc.1"
@arouinfar, Capacitor Lab: Basics 1.6.6-rc.1 is ready for RC testing.

**[Link to sim](https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.6.6-rc.1/phet/capacitor-lab-basics_all_phet.html)**

**[Link to iFrame](https://www.colorado.edu/physics/phet/dev/html/capacitor-lab-basics/1.6.6-rc.1/phet/capacitor-lab-basics_all_iframe_phet.html)**

**[Test Matrix](https://docs.google.com/s

[2018-02-13 23:11] phet-steele commented on #86
Okay....I made the testing issue in https://github.com/phetsims/QA/issues/94.

[2018-02-13 23:11] #86 closed

[2018-02-14 18:14] ariel-phet commented on #94
@phet-steele perfromance "as is" is unacceptable on Edge in the situation you showed me. However it seemed like changing the renderer to svg solved the performance issues. It seems the sim should be tested with SVG on edge and firefox, if no issues are found with using that solution, the SVG solution should be used.

[2018-02-15 18:11] mbarlow12 opened #95 "Dev test: Gravity Force Lab: Basics 1.0.0-dev.19"
Issues to test:

[ ] https://github.com/phetsims/phet-io-wrappers/issues/56
[ ] https://github.com/phetsims/gravity-force-lab-basics/issues/22

Links:

https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.19/phet/gravity-force-lab-basics_en_phet.html?ea

a11y:

https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.19/phet/gravity-force-lab-b

[2018-02-15 18:16] mbarlow12 commented on #95
Assigning @ariel-phet for prioritization.

[2018-02-16 01:05] ariel-phet commented on #95
Looks fast...and nearly done!

[2018-02-19 17:19] phet-steele commented on #95
Done, one new issue noted above.

[2018-02-20 03:12] mbarlow12 opened #96 "Dev test: Gravity Force Lab: Basics 1.1.0-dev.1"
Issues to test:

- [ ] https://github.com/phetsims/gravity-force-lab-basics/issues/46
- [ ] https://github.com/phetsims/gravity-force-lab-basics/issues/47 (not sure if the credits need to be included for dev testing)

a11y:
https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.1.0-dev.1/phet/gravity-force-lab-basics_en_phet.html?ea&accessibility

PhET-IO:
https://www.colorado.e

[2018-02-20 16:59] phet-steele commented on #96
@mbarlow12 QA was actually going to test this in https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-rc.1/phet/gravity-force-lab-basics_en_phet.html. Is it incorrect to go to RC right now?

[2018-02-20 17:50] lmulhall-phet commented on #94
QA is done.

[2018-02-20 18:29] ariel-phet commented on #96
@mbarlow12 @phet-steele

I am a bit confused...why is there a 1.1.0 dev version? We have not yet published 1.0.0, something seems amiss here.

[2018-02-20 19:24] mbarlow12 opened #97 "Dev test: Gravity Force Lab: Basics 1.0.0-dev.20"
We fixed the version number snafu from https://github.com/phetsims/gravity-force-lab-basics/issues/48. So we can move on to code review and the following:

Issues to test:

- [x] https://github.com/phetsims/gravity-force-lab-basics/issues/46
- [x] https://github.com/phetsims/gravity-force-lab-basics/issues/47 (not sure if the credits need to be included for dev testing)

a11y:
https://www.colorado

[2018-02-20 19:26] mbarlow12 commented on #96
@ariel-phet We fixed the dev version issue, and there's a new release at:
https://www.colorado.edu/physics/phet/dev/html/gravity-force-lab-basics/1.0.0-dev.20/phet/gravity-force-lab-basics_en_phet.html

Closing.

[2018-02-20 19:26] #96 closed

[2018-02-20 21:56] ariel-phet opened #98 "Strategy for handling QA issue reporting for sim "suites""
One issue that was raised in the CCK postmortem was we don't have a clear strategy for dealing with how to report issues for sims that have multiple flavors/repos. For instance, a sim suite like Area Model will have multiple flavors and a common repo. What should be the guidelines for what should be reported where? Examples of current "suites":

- Area Model sims
- Inverse Square law sims
- CCK va

[2018-02-21 19:11] jonathanolson commented on #94
Did you want me to push out this release, or wait for investigation to see if the SVG default would work on Edge for this sim?

[2018-02-22 01:13] samreid commented on #98
Ideally, the issue will be created in the repo where a commit will solve the problem.  There problems with this are (a) we don't always know which repo will need the commit until doing a lot of research/experimentation and (b) sometimes there will be commits in several repos that are necessary to address the problem.

My recommendation is for people creating issues to be at least operationally fam

[2018-02-22 01:31] ariel-phet commented on #94
@jonathanolson no, we should not yet push out this release. I would like to at least investigate the Edge performance issue.

[2018-02-22 01:32] ariel-phet commented on #94
Closing this issue for the moment, since we will likely do another RC or punt on the performance issues.

[2018-02-22 01:32] #94 closed

[2018-02-22 17:13] jonathanolson commented on #98
For area-model, I've been handling almost all issues in area-model-common, as this is where at least               95%+ of the code exists (almost all fixes/changes will be changes to area-model-common).

For sim-specific bugs, I don't mind issues in the sim-specific repos at all.

[2018-02-22 17:16] pixelzoom commented on #98
My recommendation is to make the QA issue in the repo for the sim that is being QA tested.  If it's appropriate to move it to another repository (common code or "sim family"), then the developer can move it.

[2018-02-22 17:35] samreid commented on #98
*Consensus* create the issue in the repo where the problem was observed, unless you know a more specific repo (then create it there).

[2018-02-22 17:36] #98 closed

[2018-02-23 22:03] phet-steele commented on #92
This is done..finally. Screen readers are hard!

[2018-02-23 22:39] jonathanolson opened #99 "Dev test: Area Model: Algebra 1.0.0-dev.7"
Sim available at https://www.colorado.edu/physics/phet/dev/html/area-model-algebra/1.0.0-dev.7/phet/area-model-algebra_en_phet.html.

Would be great to get an initial "dev" test done (with whatever platforms would be appropriate, maybe just one with a mouse, and one with touch?)

For this testing, please create issues in https://github.com/phetsims/area-model-common/issues (ideally noting what scr

[2018-02-23 22:39] jonathanolson opened #100 "Dev test: Area Model: Decimals 1.0.0-dev.5"
Sim available at https://www.colorado.edu/physics/phet/dev/html/area-model-decimals/1.0.0-dev.5/phet/area-model-decimals_en_phet.html.

Would be great to get an initial "dev" test done (with whatever platforms would be appropriate, maybe just one with a mouse, and one with touch?)

For this testing, please create issues in https://github.com/phetsims/area-model-common/issues (ideally noting what s

[2018-02-23 22:40] jonathanolson opened #101 "Dev test: Area Model: Introduction 1.0.0-dev.10"
Sim available at https://www.colorado.edu/physics/phet/dev/html/area-model-introduction/1.0.0-dev.10/phet/area-model-introduction_en_phet.html.

Would be great to get an initial "dev" test done (with whatever platforms would be appropriate, maybe just one with a mouse, and one with touch?)

NOTE: For this sim in particular, it is designed to work for a11y with the ?accessibility query parameter. I

[2018-02-23 22:41] jonathanolson opened #102 "Dev test: Area Model: Multiplication 1.0.0-dev.23"
Sim available at https://www.colorado.edu/physics/phet/dev/html/area-model-multiplication/1.0.0-dev.23/phet/area-model-multiplication_en_phet.html.

Would be great to get an initial "dev" test done (with whatever platforms would be appropriate, maybe just one with a mouse, and one with touch?)

For this testing, please create issues in https://github.com/phetsims/area-model-common/issues (ideally

[2018-02-26 05:04] ariel-phet commented on #37
Closing this issue. iO has changed quite a bit, and this issue is stale.

[2018-02-26 05:04] #37 closed

[2018-02-26 17:57] jessegreenberg commented on #92
Excellent, thank you @phet-steele and team. Closing issue.

[2018-02-26 17:57] #92 closed

[2018-02-27 20:01] Denz1994 opened #103 "Dev Test: Masses and Springs 1.0.0-dev.81"
Masses and Springs is ready for the second round of dev testing. The first round of dev testing was more general as seen in this [issue](https://github.com/phetsims/QA/issues/67). Any added details regarding performance on mobile platforms would be appreciated. Please report any bugs to https://github.com/phetsims/masses-and-springs/issues. Thanks, @ariel-phet and @arouinfar for the design input.

[2018-02-27 20:16] ariel-phet commented on #103
@phet-steele this is a co-top priority with Area model testing.

I have tried it out on iPad 2 more recently and did not seeing any glaring performance issues, but it would be good to hammer that platform fairly hard as my testing was not exhaustive.

[2018-02-27 20:55] phet-steele commented on #103
Just noting this is the second QA dev test and we are at the 81st dev version.

[2018-02-28 21:42] phet-steele commented on #93
@jbphet, the installer from 2/28/2018 is looking great. You have been notified that this can probably go live.

[2018-02-28 21:42] #93 closed

[2018-02-28 21:47] ariel-phet commented on #50
@samreid will do....I had been ignoring for a bit since it seemed like other things were taking precedence

[2018-02-28 22:01] phet-steele commented on #50
@samreid I appreciate getting AP on this, but I'm going to remove priority on this issue. Priority labels in this repo are used as a to-do list for the QA team. I don't want to cause confusion when the team thinks they are meant to test this sim. Besides, looks like AP is aware of the urgency now!

[2018-03-02 16:38] ariel-phet commented on #50
@samreid @phet-steele all of the open issues have been reviewed, it looks to me like all open issues need further testing (most of them have further questions for the QA team that have not been answered). Back to @phet-steele and @samreid

[2018-03-02 17:52] phet-steele commented on #50
@samreid I did what I could, but master is not that stable for this sim. It's hard to verify fixes for past problems 😢. @ariel-phet @samreid would you recommend QA take a pass at logging errors for this sim before getting much farther?

[2018-03-02 18:10] jessegreenberg commented on #50
Very sorry, the break was my fault - @phet-steele isolated that the break was accidentally introduced in a commit I made. While adding some JSDoc I accidentally modified a variable name. I will review commits I made to ESPB and make sure nothing else was introduced.

Will further  testing for this issue be off of master or 1.4.0-phetiorc.1?

[2018-03-02 19:29] #97 closed

[2018-03-02 22:02] oliver-phet opened #104 "Test school search"
- [ ] “EL”: Elementary
- [x] “ELEM”: Elementary
- [ ] “Sch”: School
- [ ] “H S”: High School
- [ ] "HS": High School
- [ ] “MS”: Middle School
- [ ] “Mdle”: Middle
- [ ] “J H”: Junior High
- [ ] “CTR”: Center
- [ ] "jr" ->"junior"
- [ ] "sr"->"senior".

For 3. the sorting order is now :

- [ ] a. Does the school name include the search string as an exact (case-insensitive) substring?
- [ ] b. alph

[2018-03-02 22:04] oliver-phet commented on #104
Report search issues here: https://github.com/phetsims/website-meteor/issues

[2018-03-02 23:49] jbphet opened #105 "Test the installers that are live on the site as of 3/5/2018"
The installers are now being built using the _all.html files.  A number of other issues have been fixed, and the code has been revised to use ES6 features such as async/await.  All platforms and configurations (i.e. with activities and without) should be tested.

The installer builder will be set to run at 1am on Sunday, 3/4/2018, after which I'll disable it until the results of this testing are c

[2018-03-05 21:18] phet-steele commented on #99
Dev done.

[2018-03-05 21:18] phet-steele commented on #100
Dev done.

[2018-03-05 21:18] phet-steele commented on #101
Dev done.

[2018-03-05 21:18] phet-steele commented on #102
Dev done.

[2018-03-05 21:46] ariel-phet commented on #50
@phet-steele I recommend getting master stable, and then testing off rc.2

[2018-03-05 23:28] jbphet commented on #105
Note to self and @zepumph: If and when QA gives the thumbs up on this, we should delete the branch on which the development for the _all.html files was done and close the related issue, see https://github.com/phetsims/installer-builder/issues/137.

[2018-03-06 01:40] ariel-phet opened #106 "Update Surface tablet to Win 10"
https://github.com/phetsims/tasks/issues/889 was closed and issue moved here

@oliver-phet said:

[2018-03-06 17:32] lmulhall-phet commented on #106
@oliver-phet @ariel-phet I assume you're talking about Hutchins? (The Surface tablet on the green shelf.) If so, I just checked and it looks like it's running Windows 10.

[2018-03-06 17:46] oliver-phet commented on #106
Thanks, @lmulhall-phet. I'll close this for now, then.

[2018-03-06 17:46] #106 closed

[2018-03-06 19:49] phet-steele commented on #105
@jbphet tested these on win chrome and mac chrome (the 4 versions) and they worked fine.

[2018-03-06 21:55] zepumph commented on #105
This is awesome @phet-steele thanks for the hard work. I'm going to go delete the branch now. Closing.

[2018-03-06 21:55] #105 closed

[2018-03-06 23:35] jonathanolson commented on #102
Thanks!

[2018-03-06 23:35] #102 closed

[2018-03-06 23:35] jonathanolson commented on #101
Thanks!

[2018-03-06 23:35] #101 closed

[2018-03-06 23:35] jonathanolson commented on #100
Thanks!

[2018-03-06 23:35] #100 closed

[2018-03-06 23:36] jonathanolson commented on #99
Thanks!

[2018-03-06 23:36] #99 closed

[2018-03-07 20:14] phet-steele commented on #103
Dev done,

[2018-03-08 04:50] #103 closed

[2018-03-09 14:39] samreid opened #107 "Test CCK DC and DC-Virtual Lab 1.0.1-rc.1"
See https://github.com/phetsims/circuit-construction-kit-common/issues/432

It was requested we change the max number of wires from 20 to 25.  I made the change and published RCs:

https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc/1.0.1-rc.1/circuit-construction-kit-dc_en.html

https://www.colorado.edu/physics/phet/dev/html/circuit-construction-kit-dc-virtual-lab/1.0.1-rc.

[2018-03-09 15:06] samreid commented on #107
I used

cat circuit-construction-kit-dc_en-rc.html | tr \" \\n > out-quote.txt
cat circuit-construction-kit-dc_en_1.html | tr \" \\n > out-quote.txt

and a diff confirmed that the changes are as desired:
![image](https://user-images.githubusercontent.com/679486/37213944-c0e79274-2370-11e8-97b8-44d45d49dab7.png)

[2018-03-09 23:36] jessegreenberg opened #108 "RC Test: Resistance in a Wire 1.5.0-rc.1"
@ariel-phet, @emily-phet, @terracoda, @phet-steele, Resistance in a Wire 1.5.0-rc.1 is ready for RC testing.

**[Link to sim](http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.5.0-rc.1/phet/resistance-in-a-wire_all_phet.html)**

**[Link to iFrame](http://www.colorado.edu/physics/phet/dev/html/resistance-in-a-wire/1.5.0-rc.1/phet/resistance-in-a-wire_all_iframe_phet.html)**

**[T

[2018-03-09 23:50] lmulhall-phet commented on #107
@samreid I played with the sim for a few hours on Chrome and Firefox on a Windows machine and I didn't notice anything out of the ordinary.

[2018-03-10 02:28] samreid commented on #107
That sounds good enough to me, @phet-steele or @ariel-phet did you want anything further before publication?

[2018-03-10 02:41] phet-steele commented on #107
@samreid go for it.

[2018-03-10 02:41] samreid commented on #107
Thanks, I'll continue in https://github.com/phetsims/circuit-construction-kit-common/issues/432

[2018-03-10 02:41] #107 closed

[2018-03-21 16:02] ariel-phet opened #109 "Testing Java 10"
@phet-steele Java 10 came out today. It would be good to download, and test a few sims with, just to make sure nothing catastrophic is occuring.

[2018-03-21 16:12] ariel-phet commented on #109
Maybe not actually a bug....but labeling legacy-bug since Java is kind of a hassle :)

[2018-03-21 20:06] phet-steele opened #110 "Document Steele's mind"
Started here: https://docs.google.com/document/d/1Fr-B66SD-6Xt7egNv9ZeSXdcsK6k8Lkc0nqR853_eJ4/edit?usp=sharing

Final draft due first week of May.

[2018-03-22 15:54] phet-steele commented on #109
http://www.oracle.com/technetwork/java/javase/downloads/jdk10-downloads-4416644.html

[2018-03-22 16:09] jonathanolson commented on #109
Does this mean we should encourage use of the JAR files more?

[2018-03-22 18:47] ariel-phet commented on #110
I see no section on the proper use of gifs....but otherwise looking good.

I am going to mark for dev meeting next week, to see if devs think there are any topics missing from the table of contents.

[2018-03-22 19:57] ariel-phet commented on #109
Marking for dev meeting, as I have lots of questions....

One the current JRE recommended for my computer to update is still "Java 8"

[2018-03-24 00:55] samreid commented on #50
Let's continue in https://github.com/phetsims/energy-skate-park-basics/issues/411

[2018-03-24 00:55] #50 closed

[2018-03-26 13:49] samreid commented on #109
I skimmed through http://mail.openjdk.java.net/pipermail/discuss/2017-November/thread.html#4586 and did not see a timeline for removal of WebStart support.

I'm not sure, but at the time of writing https://java.com/en/download/ is pointing to Version 8 Update 161

Perhaps one day we will need to provide instructions on how to access older versions of JREs.

[2018-03-26 16:22] jessegreenberg commented on #110
Looking good. The "what to do" section under "Dev Testing" is very valuable, will something similar be added under the "RC Testing" section?

[2018-03-26 19:08] lmulhall-phet commented on #110
@jessegreenberg Yeah, it'll be fairly comprehensive when we're done with it.

[2018-03-28 16:19] lmulhall-phet commented on #108
@jessegreenberg QA is done!

[2018-03-28 22:29] pixelzoom commented on #109
This isn't new to Java 10. WebStart was deprecated in Java 9.  See http://www.oracle.com/technetwork/java/javase/9-deprecated-features-3745636.html, search for "Java Deployment Technologies are deprecated".

[2018-03-28 22:33] pixelzoom commented on #109
Looks like Java 8 may be the only version that does include WebStart.  See [Oracle Java SE Support Roadmap](http://www.oracle.com/us/technologies/java/eol-135779.html):

The web deployment technology, consisting of the Java Plugin and Web Start technologies, has a shorter support lifecycle. For major releases through Java SE 7, and for the Java SE 8 Plugin, Oracle provides five (5) years of Premie

[2018-03-28 22:44] pixelzoom commented on #109
According to the above, "Java SE 8 is the recommended and only supported version of the deployment stack".  To run from the PhET website, PhET legacy sims require Java WebStart. And I don't think PhET wants to spend time/resources trying to make unsupported versions of WebStart play nice.  So I recommend that PhET change system requirements for legacy sims to Java 8, and only Java 8.

[2018-03-29 15:29] Denz1994 commented on #110
+1 to adding a tutorial on the use of gifs in issues. I've always found them really helpful. Seems like a good read for newer devs as well.

[2018-03-29 16:33] jonathanolson commented on #110
Didn't see references to continuous testing or phettest?

[2018-03-29 17:51] samreid commented on #109
@mattpen can you please add a Help Center entry about this issue, with the recommendation to use Java 8?  If a client is unable to run WebStart using Java 6/7/9/10, we will let them know about this issue and recommend that they get Java 8.

@ariel-phet also points out that we could remove the "Run Now" button for Java sims, and recommend clients use the "Download" button.

@oliver-phet points out

[2018-03-29 18:01] samreid commented on #109
Also leaving open and assigned to @phet-steele to see how sims run on Java 10 (using JARs).

[2018-04-03 17:27] samreid opened #111 "Test energy-skate-park-basics/1.3.2-phetiorc.1 with floating control panels"
From https://github.com/phetsims/energy-skate-park-basics/issues/412 we published https://www.colorado.edu/physics/phet/dev/html/energy-skate-park-basics/1.3.2-phetiorc.1/wrappers/index/

This will need testing on 3-4 platforms with a sampling of the following query parameters:

[no query parameters]
&controlPanelLocation=floating
&controlPanelLocation=fixed
&controlPanelLocation=floating&webgl=fa

[2018-04-03 18:13] phet-steele commented on #111
For reference, the last time 1.3 was tested: phetsims/tasks/issues/763.

Issues there should be verified. There was another rc after that linked task, but no new issues were found.

[2018-04-03 19:08] phet-steele commented on #111
Initial testing of the query parameters on macOS 10.13.3 Chrome looked kosher.

[2018-04-04 18:42] jessegreenberg opened #112 "Dev test: Balloons and Static Electricity"
@emily-phet @terracoda @ariel-phet @phet-steele, Balloons and Static Electricity 1.4.0-dev.21 is ready for dev testing. This version includes accessibility features that are compatible with a screen reader.

Before beginning, familiarize yourself with how a screen reader works. Here is a page with information about PhET's supported screen readers and documentation about how to use them:
[Screen re

[2018-04-04 18:52] jessegreenberg commented on #112
@phet-steele mentioned that there is not enough context to understand this. I will add information about this to the "Screen Reader Intro".

[2018-04-04 18:57] phet-steele commented on #112
@jessegreenberg it might be useful to link the github issues that led to us writing the "critical information". So, what issue caused us to realize the JAWS may not switch to forms mode, etc.?

[2018-04-04 19:10] jessegreenberg commented on #112
Good idea @phet-steele, I added examples to the screen reader quirks in the issue  and a11y test templates.

[2018-04-04 19:13] samreid commented on #111
I published 1.3.2 here: https://phet-io.colorado.edu/sims/energy-skate-park-basics/1.3.2-phetio/wrappers/index/

If the build process worked properly, the only changes will be in the new query parameter--so mainly we need to test the query parameter and spot check that nothing went wrong.

[2018-04-04 22:10] phet-steele commented on #111
@samreid this has passed testing.

[2018-04-05 17:43] samreid commented on #111
Thanks @phet-steele, I notified the client.

[2018-04-05 17:43] #111 closed

[2018-04-05 18:15] zepumph commented on #109
Installer Builder issue in https://github.com/phetsims/installer-builder/issues/168, unassigning.

[2018-04-13 20:16] lmulhall-phet commented on #104
@oliver-phet and @mattpen have managed to get the school created to school found ratio down to where they want it. Closing this issue for now.

[2018-04-13 20:16] #104 closed

[2018-04-13 21:08] #108 closed

[2018-04-14 00:38] terracoda commented on #108
Way to go team!

[2018-04-17 16:14] phet-steele commented on #109
I did this awhile ago on Mac and Windows and didn't have any concerns.

[2018-04-17 16:14] #109 closed

[2018-04-19 17:38] jessegreenberg commented on #108
This RC branch will need to get the updates for  https://github.com/phetsims/scenery/issues/770

[2018-04-21 02:53] jonathanolson opened #113 "RC test: Area Model: Algebra 1.0.0-rc.3"
@ariel-phet @amanda-phet @kathy-phet, Area Model: Algebra 1.0.0-rc.1 is ready for RC testing.

**[Link to sim](https://bayes.colorado.edu/dev/html/area-model-algebra/1.0.0-rc.1/phet/area-model-algebra_all_phet.html)**

**[Link to iFrame](https://bayes.colorado.edu/dev/html/area-model-algebra/1.0.0-rc.1/phet/area-model-algebra_all_iframe_phet.html)**

**[Test Matrix](https://docs.google.com/spreads

[2018-04-21 02:53] jonathanolson opened #114 "RC test: Area Model: Decimals 1.0.0-rc.3"
@ariel-phet @amanda-phet @kathy-phet, Area Model: Decimals 1.0.0-rc.1 is ready for RC testing.

**[Link to sim](https://bayes.colorado.edu/dev/html/area-model-decimals/1.0.0-rc.1/phet/area-model-decimals_all_phet.html)**

**[Link to iFrame](https://bayes.colorado.edu/dev/html/area-model-decimals/1.0.0-rc.1/phet/area-model-decimals_all_iframe_phet.html)**

**[Test Matrix](https://docs.google.com/sp

[2018-04-21 02:55] jonathanolson opened #115 "RC test: Area Model: Multiplication 1.0.0-rc.3"
@ariel-phet @amanda-phet @kathy-phet, Area Model: Multiplication 1.0.0-rc.1 is ready for RC testing.

**[Link to sim](https://bayes.colorado.edu/dev/html/area-model-multiplication/1.0.0-rc.1/phet/area-model-multiplication_all_phet.html)**

**[Link to iFrame](https://bayes.colorado.edu/dev/html/area-model-multiplication/1.0.0-rc.1/phet/area-model-multiplication_all_iframe_phet.html)**

**[Test Matr

[2018-04-21 02:56] jonathanolson opened #116 "RC test: Area Model: Introduction 1.0.0-rc.3"
@ariel-phet @amanda-phet @kathy-phet, Area Model: Introduction 1.0.0-rc.1 is ready for RC testing.

**[Link to sim](https://bayes.colorado.edu/dev/html/area-model-introduction/1.0.0-rc.1/phet/area-model-introduction_all_phet.html)**

**[Link to iFrame](https://bayes.colorado.edu/dev/html/area-model-introduction/1.0.0-rc.1/phet/area-model-introduction_all_iframe_phet.html)**

**[Test Matrix](https:

[2018-04-24 00:47] jonathanolson opened #117 "Maintenance release testing for Safari input"
Main issue is https://github.com/phetsims/scenery/issues/770 (Working around Safari's iOS 11.3+ passive events changes and lack of touch-action:none).

NOTE: Please go through one of the bottom "exemplar" sims first to see if there are any problems before testing other sims. If there is a problem with that one sim (or really any regression), please interrupt testing and let me know.

The main prob

[2018-04-24 17:58] jonathanolson commented on #113
Preempted by rc.2: https://bayes.colorado.edu/dev/html/area-model-algebra/1.0.0-rc.2/phet/area-model-algebra_en_phet.html

The changes on the branches were:

- Changes fonts on the screen/navbar icons, see https://github.com/phetsims/area-model-common/issues/114
- Fix for where a non-IE11 supported function was used, see https://github.com/phetsims/area-model-common/issues/137
- Fix unreported iss

[2018-04-24 17:59] jonathanolson commented on #114
Preempted by rc.2: https://bayes.colorado.edu/dev/html/area-model-decimals/1.0.0-rc.2/phet/area-model-decimals_en_phet.html

The changes on the branches were:

- Changes fonts on the screen/navbar icons, see https://github.com/phetsims/area-model-common/issues/114
- Fix for where a non-IE11 supported function was used, see https://github.com/phetsims/area-model-common/issues/137
- Fix unreported i

[2018-04-24 17:59] jonathanolson commented on #115
Preempted by rc.2: https://bayes.colorado.edu/dev/html/area-model-multiplication/1.0.0-rc.2/phet/area-model-multiplication_en_phet.html

The changes on the branches were:

- Changes fonts on the screen/navbar icons, see https://github.com/phetsims/area-model-common/issues/114
- Fix for where a non-IE11 supported function was used, see https://github.com/phetsims/area-model-common/issues/137
- Fix

[2018-04-24 18:00] jonathanolson commented on #116
Preempted by rc.2: https://bayes.colorado.edu/dev/html/area-model-introduction/1.0.0-rc.2/phet/area-model-introduction_en_phet.html

The changes on the branches were:

- Changes fonts on the screen/navbar icons, see https://github.com/phetsims/area-model-common/issues/114
- Fix for where a non-IE11 supported function was used, see https://github.com/phetsims/area-model-common/issues/137
- Fix unre

[2018-04-24 18:11] ariel-phet commented on #117
Since this bug renders sims pretty unusable in our app, seems like next priority after Area Model 1.0

[2018-04-24 21:10] jonathanolson commented on #113
Preempted by rc.3: https://bayes.colorado.edu/dev/html/area-model-algebra/1.0.0-rc.3/phet/area-model-algebra_en_phet.html

The changes on the branches were:

- Yellow "enter" button, see https://github.com/phetsims/area-model-common/issues/142
- Don't use Number.parseInt, see https://github.com/phetsims/area-model-common/issues/141

Presumably verify the above fixes (see @phet-steele for details),

[2018-04-24 21:11] jonathanolson commented on #114
Preempted by rc.3: https://bayes.colorado.edu/dev/html/area-model-decimals/1.0.0-rc.3/phet/area-model-decimals_en_phet.html

The changes on the branches were:

- Yellow "enter" button, see https://github.com/phetsims/area-model-common/issues/142
- Don't use Number.parseInt, see https://github.com/phetsims/area-model-common/issues/141

Presumably verify the above fixes (see @phet-steele for details

[2018-04-24 21:11] jonathanolson commented on #115
Preempted by rc.3: https://bayes.colorado.edu/dev/html/area-model-multiplication/1.0.0-rc.3/phet/area-model-multiplication_en_phet.html

The changes on the branches were:

- Yellow "enter" button, see https://github.com/phetsims/area-model-common/issues/142
- Don't use Number.parseInt, see https://github.com/phetsims/area-model-common/issues/141

Presumably verify the above fixes (see @phet-steele

[2018-04-24 21:12] jonathanolson commented on #116
Preempted by rc.3: https://bayes.colorado.edu/dev/html/area-model-introduction/1.0.0-rc.3/phet/area-model-introduction_en_phet.html

The changes on the branches were:

- Yellow "enter" button, see https://github.com/phetsims/area-model-common/issues/142
- Don't use Number.parseInt, see https://github.com/phetsims/area-model-common/issues/141

Presumably verify the above fixes (see @phet-steele for

[2018-04-24 21:31] phet-steele commented on #116
![greenlight](https://user-images.githubusercontent.com/5863899/39215252-6f61543e-47d4-11e8-9bf6-6775e7a075f1.png)

[2018-04-24 21:31] phet-steele commented on #115
![greenlight](https://user-images.githubusercontent.com/5863899/39215252-6f61543e-47d4-11e8-9bf6-6775e7a075f1.png)

[2018-04-24 21:31] phet-steele commented on #114
![greenlight](https://user-images.githubusercontent.com/5863899/39215252-6f61543e-47d4-11e8-9bf6-6775e7a075f1.png)

[2018-04-24 21:31] phet-steele commented on #113
![greenlight](https://user-images.githubusercontent.com/5863899/39215252-6f61543e-47d4-11e8-9bf6-6775e7a075f1.png)

[2018-04-25 00:15] jonathanolson commented on #113
Deployed, closing.

[2018-04-25 00:15] #113 closed

[2018-04-25 00:15] jonathanolson commented on #116
Deployed, closing.

[2018-04-25 00:15] #116 closed

[2018-04-25 00:15] jonathanolson commented on #115
Deployed, closing.

[2018-04-25 00:15] #115 closed

[2018-04-25 00:15] jonathanolson commented on #114
Deployed, closing.

[2018-04-25 00:15] #114 closed

[2018-04-25 03:07] kathy-phet commented on #114
Yay! Thanks for the great work getting this out for NCTM!

Kathy

Sent from my iPhone

On Apr 24, 2018, at 6:16 PM, Jonathan Olson <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #114<https://github.com/phetsims/QA/issues/114>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/phetsims/QA/issues/114#e

[2018-04-26 19:36] zepumph opened #118 "RC Test: Resistance In A Wire 1.5.0-rc.3"
@jessegreenberg, @ariel-phet, @emily-phet, @terracoda, @phet-steele, Resistance in a Wire 1.5.0-rc.2 is ready for RC testing.

NOTE: This is the SECOND rc, despite the naming (#buildproblems).

**[Link to sim](https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.5.0-rc.3/phet/resistance-in-a-wire_all_phet.html)**

**[Link to iFrame](https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.5.

[2018-04-26 21:17] phet-steele commented on #117
@jonathanolson @ariel-phet we have too many sims.

I tested on iOS 11.3, iOS 11.2.5, iOS 9.3.5, Win 10 all four browsers, macOS 10.13.14 Safari and Chrome, and our Android tablet. No regressions form this patch and the sims work correctly on iOS 11.3.

[2018-04-26 21:18] phet-steele commented on #117
Oh and @lmulhall-phet did an iPad Pro iOS 11.3 with a stylus and didn't report any problems.

[2018-04-27 22:02] jonathanolson commented on #117
Thanks!

[2018-04-27 22:02] #117 closed

[2018-05-11 21:02] lmulhall-phet commented on #110
View the finished version of the "QA Handbook" here: https://docs.google.com/document/d/1Fr-B66SD-6Xt7egNv9ZeSXdcsK6k8Lkc0nqR853_eJ4/edit#heading=h.oz7vdnbiq4ni.

[2018-05-11 21:08] lmulhall-phet commented on #110
I'm happy to copy and paste the above into a Google doc, if anyone wants.

[2018-05-15 16:24] lmulhall-phet opened #119 "keyboard navigation focus is missing after Remove Wall is pressed"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

10.13.4

<b>Browser</b>

Safari 11.1

<b>Problem Description</b>

I used VoiceOver to guide me to the "Remove Wall" button. The "Remove Wall" button initially had keyboard navigation focus, i.e. the purple outline. When the "Remove Wall" button was pressed, the keyboard navigation focus disappeared.

This does not occur when I navigate to t

[2018-05-15 16:43] lmulhall-phet commented on #119
The same thing happens with the "Two-Balloon Experiments" checkbox and the "Reset Balloons" button.

[2018-05-15 16:55] lmulhall-phet commented on #119
Happens with the "Reset All" button, but it does not occur with the keyboard navigation icon or the PhET menu button.

[2018-05-15 16:56] lmulhall-phet commented on #119
Testing on dev version.

[2018-05-15 16:57] jessegreenberg commented on #119
I see, thanks. I just tried on BOSE with VO Safari 11.0.3 I am not able to reproduce on master. Ill try the dev version.

[2018-05-15 16:58] lmulhall-phet commented on #119
OK, thanks. Also, not sure why I put this in the QA repo.

[2018-05-15 16:59] jessegreenberg commented on #119
Ah, didn't even notice!

[2018-05-15 16:59] lmulhall-phet commented on #119
I'm going to move this over to the correct repo and label this one a duplicate.

[2018-05-15 17:08] #119 closed

[2018-05-15 18:27] lmulhall-phet commented on #110
Assigning to @ariel-phet. I finished my QA Handbook. (Maybe go over it in a dev meeting?) Clara's handbook is for student workers, not the QA team lead.

[2018-05-17 23:00] lmulhall-phet commented on #110
I think we can close this issue at this point.

[2018-05-17 23:00] #110 closed

[2018-05-18 01:55] jonathanolson opened #121 "MathML Screen reader testing"
Can https://phet-dev.colorado.edu/html/area-model-introduction/1.1.0-a11y.1/phet/area-model-introduction_en_phet.html be tested across screen readers, specifically testing two pieces of the parallel dom:

The paragraph inside of the Factors H3 (either screen):
<img width="558" alt="screen shot 2018-05-17 at 7 46 09 pm" src="https://user-images.githubusercontent.com/480878/40212035-32c61fd4-5a0b-11

[2018-05-18 17:43] ariel-phet commented on #121
@lmulhall-phet #112 and #118 certainly come before this test, but might be nice to squeeze in after those if not too many other competing priorities

[2018-05-18 18:19] lmulhall-phet commented on #121
@ariel-phet @jonathanolson After I'm done with #112 and #118, this what I'll be working on.

[2018-05-21 18:29] Denz1994 opened #122 "Dev Test: Masses and Springs 1.0.0-dev.102"
As suggested by @ariel-phet, it would be best to put M&S in a 3rd round of dev testing before prepping for RC. Any added details regarding performance on  lower-performance devices can be noted in this [issue](https://github.com/phetsims/masses-and-springs/issues/259). Please report any other bugs to https://github.com/phetsims/masses-and-springs/issues.

URL to Test: https://bayes.colorado.edu/de

[2018-05-21 18:40] ariel-phet commented on #122
@lmulhall-phet similar priority to #118

[2018-05-21 20:19] lmulhall-phet commented on #112
QA is done.

[2018-05-22 00:54] jessegreenberg commented on #112
Excellent, thanks for the hard work @lmulhall-phet and team, closing this issue.

[2018-05-22 00:54] #112 closed

[2018-05-23 17:03] jonathanolson opened #123 "Spot checks for Scenery input changes"
I've made some changes and refactoring to how Scenery input handling works that generally should NOT cause any changes in behavior. @ariel-phet noted this would be good to get some testing. Changes generally stemmed from https://github.com/phetsims/balloons-and-static-electricity/issues/406, but it included some fixes (to temporarily broken behavior) and general code improvements.

I've done snaps

[2018-05-25 15:03] lmulhall-phet commented on #118
QA is done.

[2018-05-25 15:38] terracoda commented on #118
Awesome! Liam!

[2018-05-25 16:22] phet-steele commented on #123
@lmulhall-phet can you do some iPads and the Android tablet. That's what I don't have.

[2018-05-29 17:19] phet-steele commented on #123
My devices are fine. They are macOS 10.13.4 and Win 10 browsers. Could only use Chrome dev tools to emulate touch.

[2018-05-29 19:18] lmulhall-phet opened #124 "Getting Jacob Started"
@ariel-phet @oliver-phet

- [x] GitHub Email, GitHub Account, Join Organization
- [x] Add Jacob to the QA Team
- [x] Add Jacob to the Google Group
- [x] Google Calendar
- [x] Phases of Development
- [x] GitHub Workflow
- [x] How to Test & Tricks-of-the-Trade (simulation locations, query parameters, development tools, etc.)
- [x] Practice Creating an Issue
- [x] Introduce Test Server
- [x] Introduc

[2018-05-31 01:26] zepumph commented on #118
Thanks @lmulhall-phet, new rc (spot check) coming up!

[2018-05-31 01:26] #118 closed

[2018-05-31 01:34] zepumph opened #125 "RC Test: Resistance In A Wire 1.5.0-rc.5"
@jessegreenberg, @ariel-phet, @emily-phet, @terracoda, @phet-steele, Resistance in a Wire 1.5.0-rc.5 is ready for RC testing.

NOTE: This is the **THIRD** rc, despite the naming. The last round of rc testing only found 2 issues, and only one needed to be fixed for this rc, so in my mind this seems more like a spot check than another fully round of rc testing, although I defer to @ariel-phet's judg

[2018-05-31 01:46] phet-steele commented on #125
I think you meant to mention @lmulhall-phet!

[2018-05-31 16:17] ariel-phet commented on #125
@lmulhall-phet please make this the current top testing priority

[2018-05-31 17:55] phet-steele commented on #125
@zepumph you asked for (and labeled this) as a spot check, yet still linked a desire for a test matrix. We only use a test matrix for a full RC, so can we remove this?

[2018-05-31 18:53] zepumph commented on #125
@lmulhall-phet @phet-steele, @jessegreenberg and I think that this is good for just a spot check, I removed the matrix above. Thanks for all the patience as I learn the qa work flow.

[2018-05-31 20:46] lmulhall-phet commented on #122
@Denz1994, QA is done.

[2018-05-31 23:28] jonathanolson commented on #121
What does NVDA say?

[2018-05-31 23:45] jonathanolson commented on #123
Thanks!

[2018-05-31 23:45] #123 closed

[2018-05-31 23:57] lmulhall-phet commented on #121
@jonathanolson, I Slacked you two .m4a files instead of trying to transcribe what I hear. I think this is A) easier and B) slightly less confusing. It's unfortunate that GitHub doesn't allow the uploading of .m4a's...

[2018-06-01 00:00] lmulhall-phet commented on #121
Here's the Factors .m4a:
https://drive.google.com/open?id=1Jm_bMipi_PEn5Fhw7GF231j_z1ZXqBBu
Here's the Calculation .m4a:
https://drive.google.com/open?id=194uXSySO9bJw2JxIyYfYHQvkAMTsHiAm

[2018-06-01 20:16] zepumph commented on #125
I will copy commits from https://github.com/phetsims/chipper/issues/673 to fix this rc branches a11y view, sorr that it is broken.

[2018-06-04 17:38] jonathanolson commented on #121
Thanks for the testing!

I'll forward the results to see if it's acceptable for use.

[2018-06-04 17:38] #121 closed

[2018-06-04 21:14] Denz1994 opened #126 "Dev Test: Masses and Springs 1.0.0-dev.109"
After discussion with @ariel-phet, we thought it would be good to have this sim go through one more quick spot check. Some changes and bug fixes were made to the period trace recently and may affect performance.

This dev test should be focused on the period trace and performance on low-end devices. It would be worth doing a quick run through to make sure performance is acceptable. Please report a

[2018-06-05 18:45] lmulhall-phet commented on #125
QA is done.

[2018-06-05 19:27] ariel-phet commented on #126
Looks like nothing else has a priority label currently, so giving this top billing!

[2018-06-06 17:32] jbphet opened #127 "Dev Test: Friction 1.5.0-dev.6"
Due to some work to address https://github.com/phetsims/friction/issues/71 and https://github.com/phetsims/friction/issues/70, as well as miscellaneous cleanup to the code, the code for the Friction sim has undergone some significant changes.  It would be good to test the sim and make sure no problems were introduced.

Please test the sim for correct behavior.  Note that it will look a bit differe

[2018-06-06 18:55] lmulhall-phet commented on #126
@JRomero0613 and I tested the performance on the following:
- iPad 2, iOS 9.3.5, Safari
- Windows 7, all browsers
- Windows 8, all browsers
- Android tablet, Chrome

The performance was acceptable on all devices, and we haven't seen any new bugs.

Passing over to @Denz1994.

[2018-06-06 18:58] lmulhall-phet commented on #127
@ariel-phet, I'm labeling this top since there's nothing else to test at the moment.

[2018-06-06 18:58] Denz1994 commented on #126
Thank you very much, QA team for the work. Closing this issue.

[2018-06-06 18:58] #126 closed

[2018-06-06 19:17] lmulhall-phet commented on #127
I'm guessing @jbphet wants https://bayes.colorado.edu/dev/html/friction/1.5.0-dev.6/phet/friction_all_phet.html tested. @JRomero0613, we're going to test on the following:
- [ ] macOS: Safari, FF, Chrome
- [ ] Windows 10: Edge, IE, FF, Chrome
- [ ] iOS: Safari
- [ ] Android: Chrome
- [ ] Chrome OS: Chrome

[2018-06-06 21:06] zepumph opened #128 "Maintenance Release: PhET-iO sims for scenery#770"
@jonathanolson @samreid @kathy-phet, we are ready for the RC testing of phet-io sims that have the maintenance patch applied for phetsims/scenery#770.

See https://github.com/phetsims/phet-io/issues/1329#issuecomment-395073989 for steps to complete this issue, all rc versions and links to PhET-iO wrappers are there.

We are keeping links in that issue because it is in a private repo, and we speak

[2018-06-06 23:59] ariel-phet commented on #128
@lmulhall-phet current top testing priority. Definitely ask the @zepumph @jonathanolson or @samreid if questions arise

[2018-06-08 19:33] Denz1994 opened #129 "RC Test: Masses and Springs 1.0.0-rc.1"
@ariel-phet, @arouinfar, Masses And Springs 1.0.0-rc.1 is ready for RC testing.

[Link to Sim](https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-rc.1/phet/masses-and-springs_all_phet.html)

[Link to iFrame](https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-rc.1/phet/masses-and-springs_all_iframe_phet.html)

[Test Matrix](https://docs.google.com/spreadsheets/d/1fMXI4Ew_xnyb4oj

[2018-06-08 19:44] ariel-phet commented on #129
Just to note, @kathy-phet has mentioned she has a few small potential pixel polishes (spacing, font size changes). We are making the decision that these changes can be done on the release branch if they are deemed appropriate, since they are unlikely to cause any unexpected bugs/behavior. So just a heads up that there will almost certainly been an RC.2, but hopefully it will be more in the "spot-c

[2018-06-08 20:05] lmulhall-phet commented on #127
QA is done.

[2018-06-08 22:16] jbphet commented on #127
@lmulhall-phet - can you provide a summary conclusion?  Do we have confidence that my recent changes didn't introduce any new issues that would require further effort other than the "about" dialog issue above?

[2018-06-08 22:55] zepumph commented on #125
Alright it looks like we are ready for a new version to test. I think I will add fixes for  https://github.com/phetsims/resistance-in-a-wire/issues/150 and https://github.com/phetsims/chipper/issues/673 and ask for a spot check test next. @jessegreenberg @phet-steele @lmulhall-phet let me know if you think this warrants a 4th rc test.

[2018-06-11 16:04] lmulhall-phet commented on #127
@jbphet, aside from the About dialogue issue, I didn't see anything that would warrant further effort. Closing this issue.

[2018-06-11 16:04] #127 closed

[2018-06-12 15:55] lmulhall-phet commented on #125
@zepumph, I'd like to do one more RC before we publish just to make sure it's spick and span. Just my two cents.

[2018-06-12 16:13] jessegreenberg commented on #125
I think another spot check like this one sounds good, in particular to hammer away at changing the letter sizes for https://github.com/phetsims/resistance-in-a-wire/issues/150.

[2018-06-13 13:11] terracoda commented on #125
Spot check sounds good, and is there a time frame? I assume this sim is still priority 1.

[2018-06-14 20:40] zepumph commented on #125
see https://github.com/phetsims/resistance-in-a-wire/issues/154

[2018-06-14 20:40] #125 closed

[2018-06-14 20:59] zepumph opened #130 "RC Test: Resistance In A Wire 1.5.0-rc.6"
@jessegreenberg, @ariel-phet, @emily-phet, @terracoda, @phet-steele, @lmulhall-phet, Resistance in a Wire 1.5.0-rc.6 is ready for RC testing.

NOTE: This is the **FORTH** rc, despite the naming. Like last time, I think it will be mostly rc test with a little spot check in there too

**[Link to sim](https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.5.0-rc.6/phet/resistance-in-a-wire_all_phe

[2018-06-14 20:59] zepumph commented on #130
Previous qa test #125.

[2018-06-15 17:51] ariel-phet commented on #130
@lmulhall-phet since this is a spot check, putting on par with #129

[2018-06-18 12:11] terracoda commented on #130
Ok, @zepumph an @lmulhall-phet re https://github.com/phetsims/QA/issues/130#issuecomment-397732623 . Let's hope for smooth RC sailing. This sim should be in good shape!

[2018-06-18 16:18] lmulhall-phet commented on #128
@zepumph, QA has looked at everything in https://github.com/phetsims/phet-io/issues/1329#issuecomment-395490539. The issues we've found are referenced in this issue. Passing this over to you. If you need any more testing done, let me know.

[2018-06-18 17:13] jonathanolson commented on #128
I'll wait on phet-io people to tell me when to do the production deployments.

[2018-06-18 18:35] pixelzoom opened #131 "Dev Test: Equality Explorer 1.0.0-dev.125"
This issue is for the first round of dev testing on the Equality Explorer family of sims.  The majority of testing during implementation has been on Chrome, Safari and Mobile Safari.   Please do a thorough shakedown on a few platforms, including iPad and Edge.   There is no need for a test matrix, unless you'd like to create one.

[Equality Explorer 1.0.0-dev.125](https://phet-dev.colorado.edu/htm

[2018-06-18 18:51] pixelzoom commented on #131
Please create any GitHub issues in the equality-explorer repository, regardless of which sim you find them in.

[2018-06-18 19:02] lmulhall-phet opened #132 "Dev Test: Equality Explorer: Basics 1.0.0-dev.12"
This issue is for the first round of dev testing on the Equality Explorer family of sims.  The majority of testing during implementation has been on Chrome, Safari and Mobile Safari.   Please do a thorough shakedown on a few platforms, including iPad and Edge.   There is no need for a test matrix, unless you'd like to create one.

[Equality Explorer: Basics 1.0.0-dev.12](https://phet-dev.colorado.

[2018-06-18 19:05] lmulhall-phet opened #133 "Dev Test: Equality Explorer: Two Variables 1.0.0-dev.4"
This issue is for the first round of dev testing on the Equality Explorer family of sims.  The majority of testing during implementation has been on Chrome, Safari and Mobile Safari.   Please do a thorough shakedown on a few platforms, including iPad and Edge.   There is no need for a test matrix, unless you'd like to create one.

[Equality Explorer: Two Variables 1.0.0-dev.4](https://phet-dev.col

[2018-06-18 22:43] pixelzoom commented on #132
From https://github.com/phetsims/QA/issues/131#issuecomment-398157620:

[2018-06-18 22:43] pixelzoom commented on #133
From https://github.com/phetsims/QA/issues/131#issuecomment-398157620:

[2018-06-18 23:04] ariel-phet commented on #133
@lmulhall-phet marking as medium for the moment, as there are a few things that would be good to be finished up first. However, this must be complete by 7/5 so priority will get bumped up at some point.

[2018-06-18 23:04] ariel-phet commented on #132
@lmulhall-phet marking as medium for the moment, as there are a few things that would be good to be finished up first. However, this must be complete by 7/5 so priority will get bumped up at some point.

[2018-06-18 23:05] ariel-phet commented on #131
@lmulhall-phet marking as medium for the moment, as there are a few things that would be good to be finished up first. However, this must be complete by 7/5 so priority will get bumped up at some point.  However, this sim should be tested first as Basics and Two Variables are really variants overall.

[2018-06-19 20:05] lmulhall-phet commented on #130
@zepumph, QA has checked each of the platforms indicated in the issue. We also did query parameter and screen reader testing. Passing over to you. Let me know you need more testing done.

[2018-06-20 00:12] jessegreenberg commented on #19
I could use a template for for PhET-iO dev testing for https://github.com/phetsims/energy-skate-park-basics/issues/411. @lmulhall-phet what is the status of this issue?

[2018-06-20 00:30] jessegreenberg opened #134 "Dev test: Energy Skate Park Basics 1.4.0-dev.1"
@samreid @zepumph @ariel-phet @kathy-phet, Energy Skate Park Basics 1.4.0-dev.1 is ready for dev testing. The sim has gone through significant changes since the last publication so it would be good to do a thorough dev test before republishing for LoL and PhET-iO. In particular, this sim hasn't been tested since the transition from PropertySet to Property, and that was complicated enough to deserv

[2018-06-20 15:14] lmulhall-phet commented on #19
@jessegreenberg, this issue has been backlogged for quite a while. I'll get a template ready.

[2018-06-20 17:12] jessegreenberg opened #135 "RC Test: Balloons and Static Electricity 1.4.0-rc.1"
@emily-phet @terracoda @ariel-phet, Balloons and Static Electricity 1.4.0-rc.1 is ready for RC testing.

**[Link to sim](https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.4.0-rc.1/phet/balloons-and-static-electricity_all_phet_debug.html)**

**[Link to iFrame](https://phet-dev.colorado.edu/html/balloons-and-static-electricity/1.4.0-rc.1/phet/balloons-and-static-electricity_all_if

[2018-06-20 19:05] ariel-phet commented on #135
@lmulhall-phet as you can tell from the liberal use of emojis by @terracoda this is kind of a big deal. Current top testing priority

[2018-06-20 19:10] ariel-phet commented on #129
Downgrading priority for the moment, as there are several "grant sensitive" items in the queue (EqEx and BASE)

[2018-06-20 19:11] ariel-phet commented on #134
Marking as low priority for the moment since EqEx and BASE need to get done first

[2018-06-20 19:20] ariel-phet commented on #131
Bumping to high priority

[2018-06-20 19:45] JRomero0613 commented on #135
I'm not sure what happened but the sim link now directs to the testing matrix google sheet, is someone able to fix this so that the link directs to the sim?

[2018-06-20 19:46] lmulhall-phet commented on #135
@JRomero0613, you can edit the issue to fix things like this in the future.

[2018-06-22 23:05] lmulhall-phet commented on #135
@jessegreenberg, QA is done!

[2018-06-23 10:22] terracoda commented on #135
@lmulhall-phet, are you serious? That was super quick! This is fabulous news! Thanks for all the hard work!

@emily-phet , @jessegreenberg, @ariel-phet, QA is done, and we just have one issue!

[2018-06-26 23:41] jessegreenberg opened #136 "RC Test: Balloons and Static Electricity 1.4.0-rc.2"
@terracoda @emily-phet @lmulhall-phet Ballons and Static Electricity 1.4.0-rc.2 is ready for rc testing. The last rc only found one issue that required a minor fix so this is only a spot check.

[Link to Sim](https://bayes.colorado.edu/dev/html/balloons-and-static-electricity/1.4.0-rc.2/phet/balloons-and-static-electricity_all_phet_debug.html)

[Link to iframe](https://bayes.colorado.edu/dev/html/

[2018-06-27 15:39] lmulhall-phet commented on #136
@jessegreenberg, after refreshing 20+ times, I wasn't able to reproduce.

Looks good on:
- [ ] macOS + FF
- [ ] macOS + Chrome
- [ ] macOS + Safari
- [ ] Win10 + FF
- [ ] Win10 + Chrome
- [ ] Win10 + Edge
- [ ] iOS + Safari
- [ ] Chrome OS + Chrome
- [ ] Android + Chrome

[2018-06-27 16:59] jessegreenberg commented on #136
Awesome, thanks @lmulhall-phet. Is there anything else or is this issue complete?

[2018-06-27 18:34] lmulhall-phet commented on #136
@jessegreenberg, as long as you think the fixes you made in https://github.com/phetsims/balloons-and-static-electricity/commit/75ca2b772300fdf28129a2933dc8a3a7406be561 aren't likely to affect anything other than the way the charges are drawn, then I think this issue is complete.

[2018-06-28 15:43] jessegreenberg commented on #136
Awesome, thanks. It was a 5 line change private to MinusChargesCanvasNode, I am confident that it didn't affect anything other than the charges in the wall. Your tests in https://github.com/phetsims/QA/issues/136#issuecomment-400722324 seem very sufficient. I think we are ready to deploy this sim.

[2018-06-28 18:41] zepumph commented on #128
It looks like https://github.com/phetsims/function-builder/issues/119 is the only issue that needs investigating for this maintenance release.

[2018-06-28 23:35] zepumph opened #137 "RC Spot Check: Resistance In A Wire 1.5.0-rc.7"
@jessegreenberg, @ariel-phet, @emily-phet, @terracoda, @phet-steele, @lmulhall-phet, Resistance in a Wire 1.5.0-rc.7 is ready for RC testing.

I think this is a spot check on the issues below, but I defer to @ariel-phet's judgement. This is the 5th round of QA for RC.

**[Link to sim](https://phet-dev.colorado.edu/html/resistance-in-a-wire/1.5.0-rc.7/phet/resistance-in-a-wire_all_phet.html)**

**[

[2018-06-28 23:36] zepumph commented on #130
Thanks all, see https://github.com/phetsims/QA/issues/137 for next steps.

[2018-06-28 23:36] #130 closed

[2018-06-29 13:40] ariel-phet commented on #131
Looks like this can be top priority again

[2018-06-29 13:40] ariel-phet commented on #137
Putting at high priority since this is a spot check and should be on the quicker side

[2018-06-29 13:41] ariel-phet commented on #129
Moving back up to medium priority

[2018-06-29 15:37] lmulhall-phet opened #138 "Getting Megan Started"
@ariel-phet @oliver-phet

- [x] GitHub Email, GitHub Account, Join Organization
- [x] Add Megan to the QA Team
- [x] Add Megan to the Google Group
- [x] Google Calendar
- [x] Phases of Development
- [x] GitHub Workflow
- [x] How to Test & Tricks-of-the-Trade (simulation locations, query parameters, development tools, etc.)
- [x] Practice Creating an Issue
- [x] Introduce Test Server
- [x] Introduc

[2018-06-29 16:43] jessegreenberg commented on #136
Sim was redeployed: https://phet.colorado.edu/sims/html/balloons-and-static-electricity/latest/balloons-and-static-electricity_en.html

Closing this issue.

[2018-06-29 16:43] #136 closed

[2018-06-29 17:08] terracoda commented on #136
@jessegreenberg, you rock!

[2018-07-05 16:40] lmulhall-phet commented on #131
QA is done.

[2018-07-05 16:42] lmulhall-phet commented on #137
@ariel-phet, I'm bumping this to top since we're done with EqEx.

[2018-07-05 16:44] pixelzoom commented on #132
In https://github.com/phetsims/QA/issues/131#issuecomment-402783023, @lmulhall-phet said:

Is QA also done for this sim?

[2018-07-05 16:44] pixelzoom commented on #133
In https://github.com/phetsims/QA/issues/131#issuecomment-402783023, @lmulhall-phet said:

Is QA also done for this sim?

[2018-07-05 16:44] pixelzoom commented on #131
Thank you QA team.  I'll self-assign until related issue are closed.

[2018-07-05 16:45] lmulhall-phet commented on #133
@pixelzoom, yes.

[2018-07-05 16:45] lmulhall-phet commented on #132
Yes.

[2018-07-05 16:46] jonathanolson opened #139 "ES6 babel browser compatibility tests"
As part of https://github.com/phetsims/chipper/issues/551, I'd love testing of https://phet-dev.colorado.edu/html/wilder/1.0.0-es6.1/phet/wilder_en_phet.html on our main supported platforms.

It is a "pass" if the sim loads normally, and a "failure" if it gets stuck on the loading screen (presumably errored out in the console).

If it fails, I'd love to get console/debugger information from the br

[2018-07-05 16:47] pixelzoom commented on #132
All related issues are linked to https://github.com/phetsims/QA/issues/131#issuecomment-402783023, so closing this issue.

[2018-07-05 16:47] #132 closed

[2018-07-05 16:47] pixelzoom commented on #133
All related issues are linked to https://github.com/phetsims/QA/issues/131#issuecomment-402783023, so closing this issue.

[2018-07-05 16:47] #133 closed

[2018-07-06 05:17] samreid commented on #128
https://github.com/phetsims/function-builder/issues/119 is also assigned to @jonathanolson, so I'll assign this issue to him as well.

[2018-07-09 16:28] lmulhall-phet opened #140 "Getting Katie Started"
@ariel-phet @oliver-phet

- [x] GitHub Email, GitHub Account, Join Organization
- [x] Add Katie to the QA Team
- [x] Make Katie Owner
- [x] Add Katie to the Google Group
- [x] Google Calendar
- [x] Phases of Development
- [x] GitHub Workflow
- [x] How to Test & Tricks-of-the-Trade (simulation locations, query parameters, development tools, etc.)
- [x] Practice Creating an Issue
- [x] Introduce Tes

[2018-07-10 15:16] lmulhall-phet commented on #137
phetsims/resistance-in-a-wire/issues/159 is not going to be tested for this RC. See https://github.com/phetsims/resistance-in-a-wire/issues/162#issuecomment-403593961.

[2018-07-10 16:23] KatieWoe commented on #128
The labeling system in the QA repository is to remove the priority tags when QA testing is finished.  Removing priority:2-high.  Thank you.

[2018-07-10 16:24] samreid commented on #128
Thanks @KatieWoe!

[2018-07-10 17:18] #131 closed

[2018-07-10 22:23] lmulhall-phet commented on #139
On macOS 10.12 + Safari 10.0, I get the following error:
[code]
![screen shot 2018-07-10 at 4 15 17 pm](https://user-images.githubusercontent.com/31285590/42540907-85943c06-845d-11e8-9b54-cb79153869dd.png)

[2018-07-11 19:01] phet-steele opened #141 "Energy Forms and Changes, Java version"
Sim found here: https://phet.colorado.edu/en/simulation/energy-forms-and-changes

About 2 years ago I was asked to be on the lookout for prime-time Java testing for this sim. Since porting to HTML5 is well underway, I think that time is now. We want to test the Java version thoroughly to identify any bugs that are currently present and may be unintentionally ported.

Please report any issues in ht

[2018-07-11 19:06] ariel-phet commented on #141
Marking "low" at the moment, as this will be best as a background task.

[2018-07-11 22:47] lmulhall-phet commented on #129
@Denz1994, QA is done with this round of RC testing!

[2018-07-11 22:57] samreid commented on #139
The error in https://github.com/phetsims/QA/issues/139#issuecomment-403985195 seems like the wrong URL was typed in (pasted twice).  Can you double check it?

[2018-07-11 23:19] lmulhall-phet commented on #139
![giphy](https://user-images.githubusercontent.com/31285590/42604153-8884e8b2-852e-11e8-9c29-4a930185397c.gif)

Well, it wouldn't be a normal week if I didn't do something completely embarrassing.

Thanks, @samreid!

The link works fine on macOS 10.12 + Safari 10.0.

[2018-07-12 15:41] lmulhall-phet opened #142 "JAWS + Firefox 60 Test"
For some reason JAWS + Firefox 60 isn't reading alerts 100% of the time. See phetsims/resistance-in-a-wire/issues/165.

@jessegreenberg, please provide the JSFiddle link.

To test this, and to help get a better understanding of the problem, please test this [JSFiddle](http://jsfiddle.net/4znve8cr/34/).

1. Make sure all other applications are closed.
2. Use the latest version of Firefox.
3. Make s

[2018-07-12 16:09] lmulhall-phet commented on #124
Looks like you're all set up! Closing.

[2018-07-12 16:09] #124 closed

[2018-07-12 16:34] jessegreenberg commented on #142
In terms of priority, we will have to figure this out before publishing resistance-in-a-wire. There is a chance this won't even show up at all in a JSFiddle. This will just help us determine whether this is a Browser/AT bug, or whether the original issue is related to performance in the PhET sim.

[2018-07-12 18:16] lmulhall-phet commented on #134
@ariel-phet, moving this to top since there are no other testing tasks in the repo other than Java EF&C.

[2018-07-12 20:57] zepumph opened #143 "checkin reader-intro used for learning how to use AT"
Currently, a11y qa issue templates include a link to https://bayes.colorado.edu/dev/html/jg-tests/reader-intro.html. I think this is a nice document for teaching screen reader use and I think it should be checked into github instead of hidden in phet-dev.

I was thinking either in the qa repo or phet-info, but a11y-research could also be a good place for it. What do you think @jessegreenberg?

[2018-07-12 21:02] lmulhall-phet commented on #143
Is there a downside to having it in multiple places? Does GitHub discourage that sort of thing?

[2018-07-12 21:48] jessegreenberg commented on #142
I updated the link in the original ticket with a link to a JSFiddle that tests this. We should here something like
"New value for the slider is #".
"Alert: Slider value changed to #."

Testing it with JAWS on FF 61.0.1, I get both statements 100% of the time. This indicates that this is caused by performance in RIAW. @lmulhall-phet @JRomero0613 feel free to test if you wish but I believe that this

[2018-07-12 21:49] jessegreenberg commented on #142
Thanks for opening this issue @lmulhall-phet, feel free to close if you agree.

[2018-07-12 21:51] zepumph commented on #143
I don't think it matters where it is; I think it only needs one spot, right now it isn't anywhere on github. Do you have a preference?

[2018-07-12 22:03] lmulhall-phet commented on #143
I would prefer to have it in the QA repo.

[2018-07-12 22:11] jessegreenberg commented on #143
Good idea @zepumph. I agree that it would be best in one spot so that we don't have to update a few copies of documentation.  Ill add it here, maybe in a new directory like `accessibility`, or `doc`?

[2018-07-12 22:16] jessegreenberg commented on #143
Added, @zepumph and @lmulhall-phet could you please review? Feel free to add/update this content or move it somewhere else.

[2018-07-12 22:22] lmulhall-phet commented on #143
Looks good to me @jessegreenberg!

[2018-07-12 22:36] #143 closed

[2018-07-13 14:45] JRomero0613 commented on #142
@jessegreenberg I have just tested the fiddle and I am also getting both statements 100% of the time. I agree that this is an issue caused by the RIAW sim.

[2018-07-13 15:05] lmulhall-phet commented on #142
Sounds good! Thanks, @JRomero0613. Closing.

[2018-07-13 15:05] #142 closed

[2018-07-13 21:27] pixelzoom opened #144 "RC Test: Equality Explorer 1.0.0-rc.1"
Equality Explorer 1.0.0-rc.1 is ready for RC testing.   According to the schedule, RC1 testing needs to be completed by Wednesday 7/18, so labeling this issue as "priority:1-top".

**[Link to sim](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-rc.1/phet/equality-explorer_en_phet.html)**

**[Link to iFrame](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-rc.1/phet/equality-ex

[2018-07-13 21:31] pixelzoom opened #145 "RC Test: Equality Explorer: Basics 1.0.0-rc.1"
Equality Explorer: Basics 1.0.0-rc.1 is ready for RC testing.   According to the schedule, RC1 testing needs to be completed by Wednesday 7/18, so labeling this issue as "priority:1-top".

**[Link to sim](https://phet-dev.colorado.edu/html/equality-explorer-basics/1.0.0-rc.1/phet/equality-explorer-basics_en_phet.html)**

**[Link to iFrame](https://phet-dev.colorado.edu/html/equality-explorer-basic

[2018-07-13 21:34] lmulhall-phet commented on #134
@ariel-phet, moving down to medium B/C EqEx.

[2018-07-13 21:37] pixelzoom opened #146 "RC Test: Equality Explorer: Two Variables 1.0.0-rc.1"
Equality Explorer: Two Variables 1.0.0-rc.1 is ready for RC testing.   According to the schedule, RC1 testing needs to be completed by Wednesday 7/18, so labeling this issue as "priority:1-top".

**[Link to sim](https://phet-dev.colorado.edu/html/equality-explorer-two-variables/1.0.0-rc.1/phet/equality-explorer-two-variables_en_phet.html)**

**[Link to iFrame](https://bayes.colorado.edu/dev/html/e

[2018-07-13 21:37] lmulhall-phet commented on #145
We don't have multiple top priorities.

[2018-07-13 21:39] lmulhall-phet commented on #146
We don't have multiple top priorities.

[2018-07-13 22:44] jonathanolson commented on #128
Thanks for the testing!

Additional discussion will be in https://github.com/phetsims/phet-io/issues/1329 since testing is done.

[2018-07-13 22:44] #128 closed

[2018-07-16 17:53] JRomero0613 commented on #144
@pixelzoom Do you want any testing to be done on Windows 10 machines on Internet Explorer?

[2018-07-16 18:12] pixelzoom commented on #144
@JRomero0613 If Windows 10 + IE is still a supported platform, then yes.  To confirm, ask @lmulhall-phet and/or @ariel-phet.

[2018-07-16 18:14] pixelzoom commented on #144
Looking at the test matrix, it looks like we're only supporting IE on Win7, since Edge is an option on Win10.  If that's true, then there is no need to test on Win10 + IE.

[2018-07-16 18:15] lmulhall-phet commented on #144
@JRomero0613, I'm fairly certain we only test Edge on Windows 10, but if you'd like to test IE, it wouldn't hurt.

[2018-07-16 18:36] pixelzoom commented on #144
If that's the case... Please skip testing on Win10+IE11.  We're under a tight deadline, so let's test only what we need to test.

[2018-07-16 18:51] JRomero0613 commented on #144
Sounds good, if I have some time available before the deadline I'll test it a bit

[2018-07-17 19:59] KatieWoe opened #147 "Testing My Permissions"
Blah

[2018-07-17 19:59] #147 closed

[2018-07-17 20:01] KatieWoe commented on #144
QA is Finished with this task.

[2018-07-17 20:03] KatieWoe commented on #145
QA is done with these test.

[2018-07-17 20:09] lmulhall-phet commented on #146
QA is done!

[2018-07-17 20:12] pixelzoom commented on #144
Thank you QA!

All issues have been addressed or deferred.  There are 2 issues that will need to be verified in RC2, phetsims/equality-explorer/#138 and phetsims/equality-explorer/#144.  I'll create a QA issue for RC2, then close this issue.

[2018-07-17 20:13] pixelzoom commented on #145
Excellent, thank you QA team!

[2018-07-17 20:13] #145 closed

[2018-07-17 20:13] pixelzoom commented on #146
Excellent, thank you QA team!

Next steps in https://github.com/phetsims/QA/issues/144#issuecomment-405712424.

[2018-07-17 20:13] #146 closed

[2018-07-17 20:37] pixelzoom opened #148 "RC Test: Equality Explorer 1.0.0-rc.2"
Equality Explorer 1.0.0-rc.2 is ready for RC testing.

**[Link to sim](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-rc.2/phet/equality-explorer_en_phet.html)**

**[Link to iFrame](https://phet-dev.colorado.edu/html/equality-explorer/1.0.0-rc.2/phet/equality-explorer_en_iframe_phet.html)**

**Test Matrix** - A test matrix is not necessary for this RC test.  It is only necessary to ver

[2018-07-17 20:38] pixelzoom commented on #144
RC2 issue created, https://github.com/phetsims/QA/issues/148.

Closing.

[2018-07-17 20:38] #144 closed

[2018-07-17 20:47] pixelzoom commented on #145
Note that there is no need for 1.0.0-rc.2 for this sim.  The 2 issues to be verified (phetsims/equality-explorer#138 and phetsims/equality-explorer#144) are for features that are not present in _Equality Explorer: Basics_.

[2018-07-17 20:49] pixelzoom commented on #146
Note that only phetsims/equality-explorer#138 needs to be verified in RC2. phetsims/equality-explorer#144 is specific to the game (_Solve It!_ screen), which this sim does not have.

[2018-07-17 20:59] pixelzoom opened #149 "RC Test: Equality Explorer: Two Variables 1.0.0-rc.2"
Equality Explorer: Two Variables 1.0.0-rc.2 is ready for RC testing.

**[Link to sim](https://phet-dev.colorado.edu/html/equality-explorer-two-variables/1.0.0-rc.2/phet/equality-explorer-two-variables_en_phet.html)**

**[Link to iFrame](
https://phet-dev.colorado.edu/html/equality-explorer-two-variables/1.0.0-rc.2/phet/equality-explorer-two-variables_en_iframe_phet.html)**

**Test Matrix** - A tes

[2018-07-17 21:01] lmulhall-phet commented on #148
phetsims/equality-explorer#138 seems to be fixed on macOS + Chrome, but I'll wait for further verification before checking the checkbox.

[2018-07-17 21:05] pixelzoom commented on #148
Note to self... To deploy this RC, I did:

[code]

[2018-07-17 21:06] lmulhall-phet commented on #148
@EthanWJohnson checked on his device, so we're marking 138 as fixed.

[2018-07-17 21:06] pixelzoom commented on #149
Note to self... To deploy this RC, I needed to update dependencies.json to use equality-explorer 1.0 HEAD.  Steps to do that:

[code]

[2018-07-17 21:18] pixelzoom commented on #145
Following this RC test, I needed to make equality-explorer-basics dependent on equality-explorer 1.0 HEAD, so that we're using the same code in all 3 sims, the credits are the same, etc.  Here are the steps that I used to update the dependencies:

[code]

[2018-07-17 21:18] lmulhall-phet commented on #148
Looks like 144 is also fixed!

[2018-07-17 21:19] KatieWoe commented on #148
QA is Finished!

[2018-07-17 21:21] pixelzoom commented on #148
Thanks you QA team for the speedy turnaround!

We are ready to publish, pending completion of the screenshots in https://github.com/phetsims/equality-explorer/issues/125.

Closing.

[2018-07-17 21:21] #148 closed

[2018-07-17 21:22] KatieWoe commented on #149
QA is Finished!

[2018-07-17 21:24] pixelzoom commented on #149
Thank you QA team! Onward to publication.

[2018-07-17 21:24] #149 closed

[2018-07-17 21:40] KatieWoe opened #150 "Thermometers on Water"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome 67.0.3396.99
**Problem description:**
For phetsims/QA#141
On Java
The water can unintentionally pick up thermometers in the Intro Screen.  The thermometers can easily be removed.  This does not seem to occur with the Steel or the Brick.
**Steps to reproduce:**

1. Go to the intro screen
2. Remove a thermometer and pl

[2018-07-17 21:41] KatieWoe opened #151 "Thermometers on water"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome 67.0.3396.99
**Problem description:**
For phetsims/QA#141
On Java
The water can unintentionally pick up thermometers in the Intro Screen.  The thermometers can easily be removed.  This does not seem to occur with the Steel or the Brick.
**Steps to reproduce:**

1. Go to the intro screen
2. Remove a thermometer and pl

[2018-07-17 21:43] KatieWoe opened #152 "Thermometers Will Attach to Water"
**Test device:**
Dell Laptop
**Operating System:**
Windows 10
**Browser:**
Chrome 67.0.3396.99
**Problem description:**
For phetsims/QA#141
On Java
The water can unintentionally pick up thermometers in the Intro Screen.  The thermometers can easily be removed.  This does not seem to occur with the Steel or the Brick.
**Steps to reproduce:**

1. Go to the intro screen
2. Remove a thermometer and pl

[2018-07-17 21:52] #150 closed

[2018-07-17 21:52] #151 closed

[2018-07-17 21:53] #152 closed

[2018-07-18 16:53] KatieWoe commented on #134
Issue is also present on iOS 9.3.5 on the iPad Air 2.

[2018-07-19 16:49] lmulhall-phet commented on #140
I think we're done, closing.

[2018-07-19 16:49] #140 closed

[2018-07-19 16:50] lmulhall-phet commented on #134
Moving back to top for the moment, @ariel-phet.

[2018-07-24 17:19] Denz1994 commented on #129
M&S is ready for a second RC test. @ariel-phet mentioned that https://github.com/phetsims/masses-and-springs/issues/301 isn't sim blocking and we should proceed pending the fixes pushed from https://github.com/phetsims/joist/issues/470. @jonathanolson mentioned on slack that the changes were pushed as needed and we can continue in M&S. I am closing this issue and opening a new RC test issue for QA

[2018-07-24 17:19] #129 closed

[2018-07-24 17:19] Denz1994 opened #153 "RC Test: Masses and Springs 1.0.0-rc.2"
@ariel-phet, @arouinfar, Masses And Springs 1.0.0-rc.2 is ready for RC testing.

[Link to Sim](https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-rc.2/phet/masses-and-springs_all_phet.html)

[Link to iFrame
](https://bayes.colorado.edu/dev/html/masses-and-springs/1.0.0-rc.2/phet/masses-and-springs_all_iframe_phet.html)
[Test Matrix
](https://docs.google.com/spreadsheets/d/1fMXI4Ew_xnyb4o

[2018-07-24 19:54] ariel-phet commented on #153
@KatieWoe this sim should be current top testing priority

As noted, the fix for https://github.com/phetsims/joist/issues/470 has been included in this sim, so it should be thoroughly vetted by QA during this RC test

[2018-07-24 19:54] ariel-phet commented on #134
Moving to high priority since #153 takes precedence

[2018-07-24 21:06] arouinfar commented on #153
@Denz1994 rc.2 doesn't appear to include any of the pixel polishing done in https://github.com/phetsims/masses-and-springs/issues/292, though the changes still appear in master. @KatieWoe also reopened https://github.com/phetsims/masses-and-springs/issues/289 noting that things were fixed in master, but not rc.2. Is it possible that rc.2 was improperly built?

[2018-07-24 21:10] arouinfar commented on #153
@KatieWoe it's probably best if the QA team holds off on testing rc.2 until we hear back from @Denz1994. I'm seeing lots of changes that were made post-rc.1 that for whatever reason haven't made it into rc.2

[2018-07-24 21:34] KatieWoe commented on #153
Yeah, @lmulhall-phet and I have been noticing this too.

[2018-07-25 04:14] Denz1994 commented on #153
A revised rc.2 has been deployed with the appropriate changes. The old rc.2 was not merged from master before the build so the changes did not get applied. The above links have been updated. Sorry for the build error.

[2018-07-25 20:44] jonathanolson opened #154 "Maintenance release testing for vibe/joist/chipper patches"
Please mainly see https://github.com/phetsims/special-ops/issues/112 (tracked there since some of the phet-io information is private).

This is the first (automated) maintenance release with full chipper 2.0 and phet-io support, so definitely let me know about how we should handle QA/releases in the future (@KatieWoe or @ariel-phet if you have any suggestions, I want to try to minimize the time we

[2018-07-25 23:07] ariel-phet commented on #154
@KatieWoe this seems like a good issue to chip away at in parallel with some other testing (or if someone just needs something a bit more mindless to do for awhile). There is plenty to test but each test is short, so putting at medium priority for the moment.

I would suggest wrapping @lmulhall-phet into this testing a bit so you two can discuss if there might be ways to streamline in the future.

[2018-07-26 14:49] KatieWoe opened #155 "Testing Tambo Load Times"
See phetsims/tambo/issues/18.

We need to test how Tambo changes load time on all of our devices.

**[Testing Matrix](https://docs.google.com/spreadsheets/d/1UJJBD0PAYkta0b1EaWktToXwPZm3e3sXWN1ktcUEmfE/edit?usp=sharing)**

There are two sims to look at, each with two snapshots. The first snapshot is before the merge with the sound control branch, the second snapshot is after the merge with the sou

[2018-07-26 17:33] jonathanolson opened #156 "Firefox testing for Pointer Events change"
For https://github.com/phetsims/scenery/issues/837 (https://github.com/phetsims/equality-explorer/issues/141), I'd like to have the workaround change tested on all Firefox platforms to make sure it didn't introduce any additional input issues.

Can https://phet-dev.colorado.edu/html/area-model-algebra/1.1.0-dev.1/phet/area-model-algebra_en_phet.html (and the iframe test at https://phet-dev.colorad

[2018-07-26 17:52] KatieWoe commented on #156
Actually, on second thought, a bunch of these that I just listed we don't have touch screens for.  We don't support firefox on ipads, I don't believe, but I can check them as well.

[2018-07-26 17:58] KatieWoe commented on #156
It looks like it might just be windows 10 with firefox and a touchscreen.  In which case, done.

[2018-07-26 18:46] jonathanolson commented on #156
I'd like mouse testing also, so mouse+Firefox on those other platforms would be good to test (the change will affect it).

[2018-07-26 18:59] KatieWoe commented on #156
Ok.  Sounds good.

[2018-07-26 19:12] jessegreenberg commented on #19
After https://github.com/phetsims/QA/issues/134 I think it makes most sense to create a new dev version for the phet-io testing, and I would guess that will start next week. After reading this issue I will need "case 1". @lmulhall-phet @ariel-phet @KatieWoe can I take that template for a test drive while testing that version?

[2018-07-26 19:49] jonathanolson opened #157 "Area Model dev testing for 1.1"
@amanda-phet and @ariel-phet, Area Model is ready for its 1.1 dev testing (since the Firefox issue is patched).

I'd like the following 4 sims to have normal dev testing done:

- https://phet-dev.colorado.edu/html/area-model-algebra/1.1.0-dev.1/phet/area-model-algebra_en_phet.html
- https://phet-dev.colorado.edu/html/area-model-decimals/1.1.0-dev.1/phet/area-model-decimals_en_phet.html
- https://p

[2018-07-26 20:55] KatieWoe commented on #153
QA is finished

[2018-07-26 22:43] jbphet commented on #155
The list above looks good, but I want to make sure that you also build in finding the difference so that we can clearly see how much longer it takes to load the sims with the sound features in place.  This could probably be automated - just a formula in the spreadsheet - but would make it much easier for us to interpret the results.

[2018-07-26 23:45] KatieWoe commented on #155
It should be in the testing matrix.

[2018-07-27 19:42] ariel-phet commented on #153
@Denz1994 back to you. Looks like this sim might need one more RC, but can probably be more of a spot check. Let's discuss once you address the final issues.

[2018-07-27 19:44] ariel-phet commented on #155
Looks like this testing is well underway, but good to finish up early next week (before next dev meeting on Thursday)

[2018-07-27 21:42] jonathanolson commented on #156
Thanks!

[2018-07-27 21:42] #156 closed

[2018-07-30 15:14] lmulhall-phet commented on #19
Please do. Make any changes/additions you feel are necessary.

[2018-07-30 15:24] lmulhall-phet commented on #139
QA is finished with this spot check.

[2018-07-30 15:33] KatieWoe commented on #155
QA is finished.  Results are in the testing matrix

[2018-07-30 17:39] ariel-phet commented on #157
Marking as current top testing priority

[2018-07-30 19:10] jessegreenberg commented on #134
Great, thanks @KatieWoe. A number of issues came out of this test, so I think we should fix or resolve those issues and then proceed with a PhET-io dev test at thata time. Closing this issue, thanks for the good work team.

[2018-07-30 19:10] #134 closed

[2018-07-30 19:21] jessegreenberg opened #158 "Performance Check: Energy Skate Park: Basics"
This issue is from https://github.com/phetsims/energy-skate-park-basics/issues/431#issuecomment-408950041, but enough needs to be done that thought a QA issue was appropriate.

**Link to version to test**: https://bayes.colorado.edu/dev/html/energy-skate-park-basics/1.4.0-trackCanvasInChrome.1/phet/energy-skate-park-basics_en_phet.html

There was an issue where on certain Chromium platforms, track

[2018-07-30 19:40] KatieWoe commented on #158
Windows 10 Chrome.  Performance seems mostly ok on this device so far.  I have noticed an increase in lag when dragging objects, particularly when dragging the tracks on the playground screen.

[2018-07-30 20:29] KatieWoe commented on #158
iPad 2 + Chrome
Worked well for a short time.  However, the sim began to slow, show lag, and then crashed as described in the issue.  The problem seems to come from changing screens.  The first time a screen is changed it seems to handle it, but it crashes after a second attempt to change screens.

[2018-07-30 20:34] jessegreenberg commented on #158
Thanks @KatieWoe, if that is already the case I think there is no need to keep testing for the moment.

[2018-07-30 20:34] jessegreenberg commented on #158
I am going to close this issue and we will keep thinking and maybe make another one here soon.

[2018-07-30 20:35] KatieWoe commented on #158
Just tested on the same device on safari and the same thing happened, so I don't think that issue is Chrome exclusive.  Hope that helps.

[2018-07-30 20:38] jessegreenberg commented on #158
Wait, it crashed in Safari? The change we made should only impact Chrome. @KatieWoe can you please see if https://phet-dev.colorado.edu/html/energy-skate-park-basics/1.4.0-dev.1/phet/energy-skate-park-basics_en_phet.html also crashes?

[2018-07-30 20:59] KatieWoe commented on #158
It does, though a bit less.  Liam says that the iPad2 tends to crash quite a bit, so it may be an issue with the device.

[2018-07-30 22:06] KatieWoe commented on #158
Looking through it on both links a second time it is quite bad on iPad2, more so than it usually is.  Sorry we didn't catch it earlier in dev testing.

[2018-07-30 22:08] jessegreenberg commented on #158
Interesting. @KatieWoe can you please see if this is happening with the published version on the PhET website?

[2018-07-30 22:11] KatieWoe commented on #158
It seems much better on the website.  I talked to Liam and he said that it was better during the previous round of dev testing as well.

[2018-07-31 16:17] jessegreenberg commented on #158
Thanks @KatieWoe. In that case, we should look through other changes and see if any would have caused this. Otherwise it might be common code changes. I will create an issue in energy-skate-park-basics to look into this and continue there, this issue can be closed.

[2018-07-31 16:17] #158 closed

[2018-08-02 18:32] mattpen opened #159 "Test changes for admin profile edit page"
There were recently some changes to the edit profile page requested by the website admins, see phetsims/website#721.  We should test registration, user profile edits, and admin profile edits to verify that the changes did not affect the user's registration experience.  We specifically need to verify that when users edit their own account, that they are not able to navigate through the process by c

[2018-08-02 18:36] KatieWoe commented on #159
Assigning Ariel for priority.

[2018-08-02 18:44] KatieWoe commented on #157
QA is finished testing.

[2018-08-02 18:58] #138 closed

[2018-08-02 20:00] JRomero0613 commented on #159
I have done some testing and when inputting an empty value for the primary email address the alert that pops up is: "This email address has already been registered. Please check your inbox for a confirmation email.". Obviously there is no email in the box so I'm not sure why it says the email is already in use, maybe we should make a different alert message when no string has been input.

[2018-08-02 20:14] lmulhall-phet commented on #159
On macOS+Chrome+FF+Safari, the ability to click directly to the "Admin Only" tab seems to be working.

[2018-08-02 22:30] KatieWoe commented on #159
When registering it asks to input your email address a second time.  However, when autofill comes up for this section it tries to fill in a physical address.  The blurred out section is my parents address.
![image](https://user-images.githubusercontent.com/41024075/43614615-60422d98-9671-11e8-9e90-4f8debc37594.jpg)

[2018-08-03 15:53] KatieWoe commented on #159
QA is finished

[2018-08-03 15:56] mattpen commented on #159
@KatieWoe - These elements are created by the browser and are dependent on your local settings.  When I test this in Win 10/Firefox, the pickers look much larger than in your screenshot and roughly the same size as in chrome.  There is no way to style these specifically, I would need to create a custom component from scratch or just hide them altogether.

[2018-08-03 15:58] mattpen commented on #159
I'm unable to recreate this bug, can you post a screenshot?

[2018-08-03 16:05] KatieWoe commented on #159
![screen1](https://user-images.githubusercontent.com/41024075/43653183-8da3de42-9704-11e8-8f91-cfdb40148a4d.PNG)
![screen2](https://user-images.githubusercontent.com/41024075/43653192-9197d102-9704-11e8-88e7-462e7f2cd53d.PNG)

This time around it signed me out and when I signed in and edited it, the name was what it was before hand.  I think I copied a bit more this time, so that might be a differ

[2018-08-03 16:07] KatieWoe commented on #159
Here we go.
![screen3](https://user-images.githubusercontent.com/41024075/43653329-f3195c66-9704-11e8-8e36-a7f548ce6b49.PNG)
Only seems to work if you copy a certain amount.  This was just scene 1 from Hamlet.

[2018-08-03 16:22] mattpen commented on #159
I thought you meant just "Hamlet", not the entire play.  We have a 255 character limit on strings in the DB, I'll add a check for this to validation.

[2018-08-03 17:16] mattpen commented on #159
We aren't actually using these for anything, and there is no plan to add auto-validation at this time.

[2018-08-03 17:44] jbphet opened #160 "Verify that new sonification lib (tambo) generates sound on supported platforms"
The tambo repo contains some new code for generating and controlling sound.  There hasn't been much testing yet to verify that it works on our supported platforms, and I think we're at a good point to do such testing.  Please set up a test matrix and verify that sound generation works in the tambo demo on all platforms with the exception of IE11 - it will definitely not work there.  More specifica

[2018-08-03 18:00] mattpen commented on #159
You can actually enter any 5 digit string for the zip code.  I don't think we're planning to do any postal validation on these, but I'll change the acceptable range to only numeric strings 00000-99999.

[2018-08-03 18:28] ariel-phet commented on #160
@KatieWoe current top testing priority

[2018-08-03 18:41] jonathanolson opened #161 "Molarity 1.4.0-rc.1 RC test"
@ariel-phet, Molarity 1.4.0-rc.1 is ready for RC testing.

**[Link to sim _en.html](https://phet-dev.colorado.edu/html/molarity/1.4.0-rc.1/phet/molarity_en_phet.html)**
**[Link to sim _all.html](https://phet-dev.colorado.edu/html/molarity/1.4.0-rc.1/phet/molarity_all_phet.html)**
**[Link to sim iframe](https://phet-dev.colorado.edu/html/molarity/1.4.0-rc.1/phet/molarity_all_iframe_phet.html)**
**[

[2018-08-03 18:49] KatieWoe commented on #160
I noticed that the loop seems to have a gap when played in Windows 10 Firefox.

[2018-08-03 20:10] lmulhall-phet commented on #160
Weird scraping/static noise during/after sounds play on our iPad 2 with iOS 9.3.5 (Tycho). Occurs with speakers and headphones.

Sound isn't working on our iPad Air 2 with iOS 11.4.1 (Pauling). See https://github.com/phetsims/vibe/issues/35. However, with https://phet-dev.colorado.edu/html/tambo/1.0.0-dev.4/phet/tambo_en_phet.html, sound is working fine with headphones.

[2018-08-03 20:27] mattpen commented on #159
This was the original behavior but we switched to a through process in order to encourage people to fill in all of the missing data.

[2018-08-03 20:27] mattpen commented on #159
No, the limit is 255.

[2018-08-03 20:28] mattpen commented on #159
I added an autofill attribute which should fix this in most cases.

[2018-08-03 20:28] mattpen commented on #159
I added string length checking to all fields, nothing can be more than 255 characters now.

[2018-08-03 20:30] mattpen commented on #159
This is intentional but maybe not ideal.  We discussed it during the initial deploy and decided it was acceptable.

[2018-08-03 20:31] mattpen commented on #159
Will do.

[2018-08-03 20:31] #159 closed

[2018-08-03 20:53] jonathanolson opened #162 "RC test: Reactants, Products and Leftovers 1.2.0-rc.1"
@ariel-phet, Reactants, Products and Leftovers 1.2.0-rc.1 is ready for RC testing.

**[Link to sim _en.html](https://phet-dev.colorado.edu/html/reactants-products-and-leftovers/1.2.0-rc.1/phet/reactants-products-and-leftovers_en_phet.html)**
**[Link to sim _all.html](https://phet-dev.colorado.edu/html/reactants-products-and-leftovers/1.2.0-rc.1/phet/reactants-products-and-leftovers_all_phet.html)*

[2018-08-03 21:13] lmulhall-phet commented on #160
Got this while testing iPad Air 2 with iOS 11.4.1:

[code]

[2018-08-03 23:16] lmulhall-phet commented on #160
Similar error on macOS 10.11.6 + Safari:

[code]

[2018-08-06 14:43] KatieWoe commented on #160
QA is done.  Issues are linked, or posted in comments if short.

[2018-08-06 16:27] KatieWoe commented on #161
@samreid and @zepumph would you like us to test all of the phet-io wrappers for this test, or just add these two wrappers to the regular rc?

[2018-08-06 16:31] samreid commented on #161
PhET-iO testing for a sim should include testing all of the wrappers linked from the landing page:
https://phet-dev.colorado.edu/html/molarity/1.4.0-rc.1/phet-io/

@jonathanolson is there a template you used to create this issue that I should update?

[2018-08-06 16:33] samreid commented on #161
Also, @KatieWoe a reminder to reassign issues when asking a question, to make sure the intended recipients don't miss it.

[2018-08-06 16:37] jonathanolson commented on #161
I modified the main RC template in the QA repo.

[2018-08-06 16:41] KatieWoe commented on #161
@samreid so just to be clear, this a phet-io test, and not a normal rc, or is it both?

[2018-08-06 16:44] jonathanolson commented on #161
It is testing both the phet and phet-io brands, so it is essentially both.

[2018-08-06 16:45] samreid commented on #161
We are striving to get to a point where RC's normally test PhET brand and PhET-iO brand at the same time.  I don't recall 100% of the conversation around Molarity but it seems we want to publish it for PhET and PhET-iO.

[2018-08-06 18:43] #137 closed

[2018-08-06 21:45] jbphet commented on #155
Thanks.  We reviewed this in last week's meeting and concluded that the numbers look reasonable and there is no need to invest effort in reducing the load times.  Closing.

[2018-08-06 21:45] #155 closed

[2018-08-07 21:38] KatieWoe opened #163 "Getting Kelly Started"
@ariel-phet @oliver-phet

- [x] GitHub Email, GitHub Account, Join Organization
- [x] Add Kelly to the QA Team
- [x] Add Kelly to the Google Group
- [x] Google Calendar
- [x] Phases of Development
- [x] GitHub Workflow
- [x] How to Test & Tricks-of-the-Trade (simulation locations, query parameters, development tools, etc.)
- [x] Practice Creating an Issue
- [x] Introduce Test Server
- [x] Introduc